/*
Pulp 3 API

Fetch, Upload, Organize, and Distribute Software Packages

API version: v3
Contact: pulp-list@redhat.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package pulpbindings

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"reflect"
)


// ContentReleaseArchitecturesAPIService ContentReleaseArchitecturesAPI service
type ContentReleaseArchitecturesAPIService service

type ContentReleaseArchitecturesAPIContentDebReleaseArchitecturesCreateRequest struct {
	ctx context.Context
	ApiService *ContentReleaseArchitecturesAPIService
	debReleaseArchitecture *DebReleaseArchitecture
	xTaskDiagnostics *[]string
}

func (r ContentReleaseArchitecturesAPIContentDebReleaseArchitecturesCreateRequest) DebReleaseArchitecture(debReleaseArchitecture DebReleaseArchitecture) ContentReleaseArchitecturesAPIContentDebReleaseArchitecturesCreateRequest {
	r.debReleaseArchitecture = &debReleaseArchitecture
	return r
}

// List of profilers to use on tasks.
func (r ContentReleaseArchitecturesAPIContentDebReleaseArchitecturesCreateRequest) XTaskDiagnostics(xTaskDiagnostics []string) ContentReleaseArchitecturesAPIContentDebReleaseArchitecturesCreateRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

func (r ContentReleaseArchitecturesAPIContentDebReleaseArchitecturesCreateRequest) Execute() (*AsyncOperationResponse, *http.Response, error) {
	return r.ApiService.ContentDebReleaseArchitecturesCreateExecute(r)
}

/*
ContentDebReleaseArchitecturesCreate Create a release architecture

Trigger an asynchronous task to create content,optionally create new repository version.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ContentReleaseArchitecturesAPIContentDebReleaseArchitecturesCreateRequest
*/
func (a *ContentReleaseArchitecturesAPIService) ContentDebReleaseArchitecturesCreate(ctx context.Context) ContentReleaseArchitecturesAPIContentDebReleaseArchitecturesCreateRequest {
	return ContentReleaseArchitecturesAPIContentDebReleaseArchitecturesCreateRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return AsyncOperationResponse
func (a *ContentReleaseArchitecturesAPIService) ContentDebReleaseArchitecturesCreateExecute(r ContentReleaseArchitecturesAPIContentDebReleaseArchitecturesCreateRequest) (*AsyncOperationResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AsyncOperationResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentReleaseArchitecturesAPIService.ContentDebReleaseArchitecturesCreate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v3/content/deb/release_architectures/"
	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.debReleaseArchitecture == nil {
		return localVarReturnValue, nil, reportError("debReleaseArchitecture is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	// body params
	localVarPostBody = r.debReleaseArchitecture
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ContentReleaseArchitecturesAPIContentDebReleaseArchitecturesListRequest struct {
	ctx context.Context
	ApiService *ContentReleaseArchitecturesAPIService
	xTaskDiagnostics *[]string
	architecture *string
	distribution *string
	limit *int32
	offset *int32
	ordering *[]string
	orphanedFor *float32
	prnIn *[]string
	pulpHrefIn *[]string
	pulpIdIn *[]string
	pulpLabelSelect *string
	q *string
	repositoryVersion *string
	repositoryVersionAdded *string
	repositoryVersionRemoved *string
	fields *[]string
	excludeFields *[]string
}

// List of profilers to use on tasks.
func (r ContentReleaseArchitecturesAPIContentDebReleaseArchitecturesListRequest) XTaskDiagnostics(xTaskDiagnostics []string) ContentReleaseArchitecturesAPIContentDebReleaseArchitecturesListRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

// Filter results where architecture matches value
func (r ContentReleaseArchitecturesAPIContentDebReleaseArchitecturesListRequest) Architecture(architecture string) ContentReleaseArchitecturesAPIContentDebReleaseArchitecturesListRequest {
	r.architecture = &architecture
	return r
}

// Filter results where distribution matches value
func (r ContentReleaseArchitecturesAPIContentDebReleaseArchitecturesListRequest) Distribution(distribution string) ContentReleaseArchitecturesAPIContentDebReleaseArchitecturesListRequest {
	r.distribution = &distribution
	return r
}

// Number of results to return per page.
func (r ContentReleaseArchitecturesAPIContentDebReleaseArchitecturesListRequest) Limit(limit int32) ContentReleaseArchitecturesAPIContentDebReleaseArchitecturesListRequest {
	r.limit = &limit
	return r
}

// The initial index from which to return the results.
func (r ContentReleaseArchitecturesAPIContentDebReleaseArchitecturesListRequest) Offset(offset int32) ContentReleaseArchitecturesAPIContentDebReleaseArchitecturesListRequest {
	r.offset = &offset
	return r
}

// Ordering* &#x60;pulp_id&#x60; - Pulp id* &#x60;-pulp_id&#x60; - Pulp id (descending)* &#x60;pulp_created&#x60; - Pulp created* &#x60;-pulp_created&#x60; - Pulp created (descending)* &#x60;pulp_last_updated&#x60; - Pulp last updated* &#x60;-pulp_last_updated&#x60; - Pulp last updated (descending)* &#x60;pulp_type&#x60; - Pulp type* &#x60;-pulp_type&#x60; - Pulp type (descending)* &#x60;upstream_id&#x60; - Upstream id* &#x60;-upstream_id&#x60; - Upstream id (descending)* &#x60;pulp_labels&#x60; - Pulp labels* &#x60;-pulp_labels&#x60; - Pulp labels (descending)* &#x60;timestamp_of_interest&#x60; - Timestamp of interest* &#x60;-timestamp_of_interest&#x60; - Timestamp of interest (descending)* &#x60;distribution&#x60; - Distribution* &#x60;-distribution&#x60; - Distribution (descending)* &#x60;architecture&#x60; - Architecture* &#x60;-architecture&#x60; - Architecture (descending)* &#x60;pk&#x60; - Pk* &#x60;-pk&#x60; - Pk (descending)
func (r ContentReleaseArchitecturesAPIContentDebReleaseArchitecturesListRequest) Ordering(ordering []string) ContentReleaseArchitecturesAPIContentDebReleaseArchitecturesListRequest {
	r.ordering = &ordering
	return r
}

// Minutes Content has been orphaned for. -1 uses ORPHAN_PROTECTION_TIME.
func (r ContentReleaseArchitecturesAPIContentDebReleaseArchitecturesListRequest) OrphanedFor(orphanedFor float32) ContentReleaseArchitecturesAPIContentDebReleaseArchitecturesListRequest {
	r.orphanedFor = &orphanedFor
	return r
}

// Multiple values may be separated by commas.
func (r ContentReleaseArchitecturesAPIContentDebReleaseArchitecturesListRequest) PrnIn(prnIn []string) ContentReleaseArchitecturesAPIContentDebReleaseArchitecturesListRequest {
	r.prnIn = &prnIn
	return r
}

// Multiple values may be separated by commas.
func (r ContentReleaseArchitecturesAPIContentDebReleaseArchitecturesListRequest) PulpHrefIn(pulpHrefIn []string) ContentReleaseArchitecturesAPIContentDebReleaseArchitecturesListRequest {
	r.pulpHrefIn = &pulpHrefIn
	return r
}

// Multiple values may be separated by commas.
func (r ContentReleaseArchitecturesAPIContentDebReleaseArchitecturesListRequest) PulpIdIn(pulpIdIn []string) ContentReleaseArchitecturesAPIContentDebReleaseArchitecturesListRequest {
	r.pulpIdIn = &pulpIdIn
	return r
}

// Filter labels by search string
func (r ContentReleaseArchitecturesAPIContentDebReleaseArchitecturesListRequest) PulpLabelSelect(pulpLabelSelect string) ContentReleaseArchitecturesAPIContentDebReleaseArchitecturesListRequest {
	r.pulpLabelSelect = &pulpLabelSelect
	return r
}

// Filter results by using NOT, AND and OR operations on other filters
func (r ContentReleaseArchitecturesAPIContentDebReleaseArchitecturesListRequest) Q(q string) ContentReleaseArchitecturesAPIContentDebReleaseArchitecturesListRequest {
	r.q = &q
	return r
}

// Repository Version referenced by HREF/PRN
func (r ContentReleaseArchitecturesAPIContentDebReleaseArchitecturesListRequest) RepositoryVersion(repositoryVersion string) ContentReleaseArchitecturesAPIContentDebReleaseArchitecturesListRequest {
	r.repositoryVersion = &repositoryVersion
	return r
}

// Repository Version referenced by HREF/PRN
func (r ContentReleaseArchitecturesAPIContentDebReleaseArchitecturesListRequest) RepositoryVersionAdded(repositoryVersionAdded string) ContentReleaseArchitecturesAPIContentDebReleaseArchitecturesListRequest {
	r.repositoryVersionAdded = &repositoryVersionAdded
	return r
}

// Repository Version referenced by HREF/PRN
func (r ContentReleaseArchitecturesAPIContentDebReleaseArchitecturesListRequest) RepositoryVersionRemoved(repositoryVersionRemoved string) ContentReleaseArchitecturesAPIContentDebReleaseArchitecturesListRequest {
	r.repositoryVersionRemoved = &repositoryVersionRemoved
	return r
}

// A list of fields to include in the response.
func (r ContentReleaseArchitecturesAPIContentDebReleaseArchitecturesListRequest) Fields(fields []string) ContentReleaseArchitecturesAPIContentDebReleaseArchitecturesListRequest {
	r.fields = &fields
	return r
}

// A list of fields to exclude from the response.
func (r ContentReleaseArchitecturesAPIContentDebReleaseArchitecturesListRequest) ExcludeFields(excludeFields []string) ContentReleaseArchitecturesAPIContentDebReleaseArchitecturesListRequest {
	r.excludeFields = &excludeFields
	return r
}

func (r ContentReleaseArchitecturesAPIContentDebReleaseArchitecturesListRequest) Execute() (*PaginateddebReleaseArchitectureResponseList, *http.Response, error) {
	return r.ApiService.ContentDebReleaseArchitecturesListExecute(r)
}

/*
ContentDebReleaseArchitecturesList List release architectures

A ReleaseArchitecture represents a single dpkg architecture string.Associated artifacts: None; contains only metadata.Every ReleaseArchitecture is always associated with exactly one Release. This indicates thatthe release/distribution in question supports this architecture.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ContentReleaseArchitecturesAPIContentDebReleaseArchitecturesListRequest
*/
func (a *ContentReleaseArchitecturesAPIService) ContentDebReleaseArchitecturesList(ctx context.Context) ContentReleaseArchitecturesAPIContentDebReleaseArchitecturesListRequest {
	return ContentReleaseArchitecturesAPIContentDebReleaseArchitecturesListRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return PaginateddebReleaseArchitectureResponseList
func (a *ContentReleaseArchitecturesAPIService) ContentDebReleaseArchitecturesListExecute(r ContentReleaseArchitecturesAPIContentDebReleaseArchitecturesListRequest) (*PaginateddebReleaseArchitectureResponseList, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PaginateddebReleaseArchitectureResponseList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentReleaseArchitecturesAPIService.ContentDebReleaseArchitecturesList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v3/content/deb/release_architectures/"
	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.architecture != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "architecture", r.architecture, "form", "")
	}
	if r.distribution != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "distribution", r.distribution, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	}
	if r.ordering != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ordering", r.ordering, "form", "csv")
	}
	if r.orphanedFor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "orphaned_for", r.orphanedFor, "form", "")
	}
	if r.prnIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "prn__in", r.prnIn, "form", "csv")
	}
	if r.pulpHrefIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pulp_href__in", r.pulpHrefIn, "form", "csv")
	}
	if r.pulpIdIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pulp_id__in", r.pulpIdIn, "form", "csv")
	}
	if r.pulpLabelSelect != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pulp_label_select", r.pulpLabelSelect, "form", "")
	}
	if r.q != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "q", r.q, "form", "")
	}
	if r.repositoryVersion != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repository_version", r.repositoryVersion, "form", "")
	}
	if r.repositoryVersionAdded != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repository_version_added", r.repositoryVersionAdded, "form", "")
	}
	if r.repositoryVersionRemoved != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repository_version_removed", r.repositoryVersionRemoved, "form", "")
	}
	if r.fields != nil {
		t := *r.fields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "fields", t, "form", "multi")
		}
	}
	if r.excludeFields != nil {
		t := *r.excludeFields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ContentReleaseArchitecturesAPIContentDebReleaseArchitecturesReadRequest struct {
	ctx context.Context
	ApiService *ContentReleaseArchitecturesAPIService
	debReleaseArchitectureHref string
	xTaskDiagnostics *[]string
	fields *[]string
	excludeFields *[]string
}

// List of profilers to use on tasks.
func (r ContentReleaseArchitecturesAPIContentDebReleaseArchitecturesReadRequest) XTaskDiagnostics(xTaskDiagnostics []string) ContentReleaseArchitecturesAPIContentDebReleaseArchitecturesReadRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

// A list of fields to include in the response.
func (r ContentReleaseArchitecturesAPIContentDebReleaseArchitecturesReadRequest) Fields(fields []string) ContentReleaseArchitecturesAPIContentDebReleaseArchitecturesReadRequest {
	r.fields = &fields
	return r
}

// A list of fields to exclude from the response.
func (r ContentReleaseArchitecturesAPIContentDebReleaseArchitecturesReadRequest) ExcludeFields(excludeFields []string) ContentReleaseArchitecturesAPIContentDebReleaseArchitecturesReadRequest {
	r.excludeFields = &excludeFields
	return r
}

func (r ContentReleaseArchitecturesAPIContentDebReleaseArchitecturesReadRequest) Execute() (*DebReleaseArchitectureResponse, *http.Response, error) {
	return r.ApiService.ContentDebReleaseArchitecturesReadExecute(r)
}

/*
ContentDebReleaseArchitecturesRead Inspect a release architecture

A ReleaseArchitecture represents a single dpkg architecture string.Associated artifacts: None; contains only metadata.Every ReleaseArchitecture is always associated with exactly one Release. This indicates thatthe release/distribution in question supports this architecture.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param debReleaseArchitectureHref
 @return ContentReleaseArchitecturesAPIContentDebReleaseArchitecturesReadRequest
*/
func (a *ContentReleaseArchitecturesAPIService) ContentDebReleaseArchitecturesRead(ctx context.Context, debReleaseArchitectureHref string) ContentReleaseArchitecturesAPIContentDebReleaseArchitecturesReadRequest {
	return ContentReleaseArchitecturesAPIContentDebReleaseArchitecturesReadRequest{
		ApiService: a,
		ctx: ctx,
		debReleaseArchitectureHref: debReleaseArchitectureHref,
	}
}

// Execute executes the request
//  @return DebReleaseArchitectureResponse
func (a *ContentReleaseArchitecturesAPIService) ContentDebReleaseArchitecturesReadExecute(r ContentReleaseArchitecturesAPIContentDebReleaseArchitecturesReadRequest) (*DebReleaseArchitectureResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *DebReleaseArchitectureResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentReleaseArchitecturesAPIService.ContentDebReleaseArchitecturesRead")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{deb_release_architecture_href}"
	localVarPath = strings.Replace(localVarPath, "{"+"deb_release_architecture_href"+"}", url.PathEscape(parameterValueToString(r.debReleaseArchitectureHref, "debReleaseArchitectureHref")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.fields != nil {
		t := *r.fields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "fields", t, "form", "multi")
		}
	}
	if r.excludeFields != nil {
		t := *r.excludeFields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ContentReleaseArchitecturesAPIContentDebReleaseArchitecturesSetLabelRequest struct {
	ctx context.Context
	ApiService *ContentReleaseArchitecturesAPIService
	debReleaseArchitectureHref string
	setLabel *SetLabel
	xTaskDiagnostics *[]string
}

func (r ContentReleaseArchitecturesAPIContentDebReleaseArchitecturesSetLabelRequest) SetLabel(setLabel SetLabel) ContentReleaseArchitecturesAPIContentDebReleaseArchitecturesSetLabelRequest {
	r.setLabel = &setLabel
	return r
}

// List of profilers to use on tasks.
func (r ContentReleaseArchitecturesAPIContentDebReleaseArchitecturesSetLabelRequest) XTaskDiagnostics(xTaskDiagnostics []string) ContentReleaseArchitecturesAPIContentDebReleaseArchitecturesSetLabelRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

func (r ContentReleaseArchitecturesAPIContentDebReleaseArchitecturesSetLabelRequest) Execute() (*SetLabelResponse, *http.Response, error) {
	return r.ApiService.ContentDebReleaseArchitecturesSetLabelExecute(r)
}

/*
ContentDebReleaseArchitecturesSetLabel Set a label

Set a single pulp_label on the object to a specific value or null.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param debReleaseArchitectureHref
 @return ContentReleaseArchitecturesAPIContentDebReleaseArchitecturesSetLabelRequest
*/
func (a *ContentReleaseArchitecturesAPIService) ContentDebReleaseArchitecturesSetLabel(ctx context.Context, debReleaseArchitectureHref string) ContentReleaseArchitecturesAPIContentDebReleaseArchitecturesSetLabelRequest {
	return ContentReleaseArchitecturesAPIContentDebReleaseArchitecturesSetLabelRequest{
		ApiService: a,
		ctx: ctx,
		debReleaseArchitectureHref: debReleaseArchitectureHref,
	}
}

// Execute executes the request
//  @return SetLabelResponse
func (a *ContentReleaseArchitecturesAPIService) ContentDebReleaseArchitecturesSetLabelExecute(r ContentReleaseArchitecturesAPIContentDebReleaseArchitecturesSetLabelRequest) (*SetLabelResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SetLabelResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentReleaseArchitecturesAPIService.ContentDebReleaseArchitecturesSetLabel")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{deb_release_architecture_href}set_label/"
	localVarPath = strings.Replace(localVarPath, "{"+"deb_release_architecture_href"+"}", url.PathEscape(parameterValueToString(r.debReleaseArchitectureHref, "debReleaseArchitectureHref")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.setLabel == nil {
		return localVarReturnValue, nil, reportError("setLabel is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	// body params
	localVarPostBody = r.setLabel
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ContentReleaseArchitecturesAPIContentDebReleaseArchitecturesUnsetLabelRequest struct {
	ctx context.Context
	ApiService *ContentReleaseArchitecturesAPIService
	debReleaseArchitectureHref string
	unsetLabel *UnsetLabel
	xTaskDiagnostics *[]string
}

func (r ContentReleaseArchitecturesAPIContentDebReleaseArchitecturesUnsetLabelRequest) UnsetLabel(unsetLabel UnsetLabel) ContentReleaseArchitecturesAPIContentDebReleaseArchitecturesUnsetLabelRequest {
	r.unsetLabel = &unsetLabel
	return r
}

// List of profilers to use on tasks.
func (r ContentReleaseArchitecturesAPIContentDebReleaseArchitecturesUnsetLabelRequest) XTaskDiagnostics(xTaskDiagnostics []string) ContentReleaseArchitecturesAPIContentDebReleaseArchitecturesUnsetLabelRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

func (r ContentReleaseArchitecturesAPIContentDebReleaseArchitecturesUnsetLabelRequest) Execute() (*UnsetLabelResponse, *http.Response, error) {
	return r.ApiService.ContentDebReleaseArchitecturesUnsetLabelExecute(r)
}

/*
ContentDebReleaseArchitecturesUnsetLabel Unset a label

Unset a single pulp_label on the object.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param debReleaseArchitectureHref
 @return ContentReleaseArchitecturesAPIContentDebReleaseArchitecturesUnsetLabelRequest
*/
func (a *ContentReleaseArchitecturesAPIService) ContentDebReleaseArchitecturesUnsetLabel(ctx context.Context, debReleaseArchitectureHref string) ContentReleaseArchitecturesAPIContentDebReleaseArchitecturesUnsetLabelRequest {
	return ContentReleaseArchitecturesAPIContentDebReleaseArchitecturesUnsetLabelRequest{
		ApiService: a,
		ctx: ctx,
		debReleaseArchitectureHref: debReleaseArchitectureHref,
	}
}

// Execute executes the request
//  @return UnsetLabelResponse
func (a *ContentReleaseArchitecturesAPIService) ContentDebReleaseArchitecturesUnsetLabelExecute(r ContentReleaseArchitecturesAPIContentDebReleaseArchitecturesUnsetLabelRequest) (*UnsetLabelResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *UnsetLabelResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentReleaseArchitecturesAPIService.ContentDebReleaseArchitecturesUnsetLabel")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{deb_release_architecture_href}unset_label/"
	localVarPath = strings.Replace(localVarPath, "{"+"deb_release_architecture_href"+"}", url.PathEscape(parameterValueToString(r.debReleaseArchitectureHref, "debReleaseArchitectureHref")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.unsetLabel == nil {
		return localVarReturnValue, nil, reportError("unsetLabel is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	// body params
	localVarPostBody = r.unsetLabel
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
