/*
Pulp 3 API

Fetch, Upload, Organize, and Distribute Software Packages

API version: v3
Contact: pulp-list@redhat.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package pulpbindings

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"reflect"
)


// PulpAnsibleDefaultPluginAnsibleContentCollectionsIndexAPIService PulpAnsibleDefaultPluginAnsibleContentCollectionsIndexAPI service
type PulpAnsibleDefaultPluginAnsibleContentCollectionsIndexAPIService service

type PulpAnsibleDefaultPluginAnsibleContentCollectionsIndexAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentCollectionsIndexDeleteRequest struct {
	ctx context.Context
	ApiService *PulpAnsibleDefaultPluginAnsibleContentCollectionsIndexAPIService
	distroBasePath string
	name string
	namespace string
	xTaskDiagnostics *[]string
}

// List of profilers to use on tasks.
func (r PulpAnsibleDefaultPluginAnsibleContentCollectionsIndexAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentCollectionsIndexDeleteRequest) XTaskDiagnostics(xTaskDiagnostics []string) PulpAnsibleDefaultPluginAnsibleContentCollectionsIndexAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentCollectionsIndexDeleteRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

func (r PulpAnsibleDefaultPluginAnsibleContentCollectionsIndexAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentCollectionsIndexDeleteRequest) Execute() (*AsyncOperationResponse, *http.Response, error) {
	return r.ApiService.PulpAnsibleGalaxyDefaultPluginAnsibleContentCollectionsIndexDeleteExecute(r)
}

/*
PulpAnsibleGalaxyDefaultPluginAnsibleContentCollectionsIndexDelete Method for PulpAnsibleGalaxyDefaultPluginAnsibleContentCollectionsIndexDelete

Trigger an asynchronous delete task

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param distroBasePath
 @param name
 @param namespace
 @return PulpAnsibleDefaultPluginAnsibleContentCollectionsIndexAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentCollectionsIndexDeleteRequest
*/
func (a *PulpAnsibleDefaultPluginAnsibleContentCollectionsIndexAPIService) PulpAnsibleGalaxyDefaultPluginAnsibleContentCollectionsIndexDelete(ctx context.Context, distroBasePath string, name string, namespace string) PulpAnsibleDefaultPluginAnsibleContentCollectionsIndexAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentCollectionsIndexDeleteRequest {
	return PulpAnsibleDefaultPluginAnsibleContentCollectionsIndexAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentCollectionsIndexDeleteRequest{
		ApiService: a,
		ctx: ctx,
		distroBasePath: distroBasePath,
		name: name,
		namespace: namespace,
	}
}

// Execute executes the request
//  @return AsyncOperationResponse
func (a *PulpAnsibleDefaultPluginAnsibleContentCollectionsIndexAPIService) PulpAnsibleGalaxyDefaultPluginAnsibleContentCollectionsIndexDeleteExecute(r PulpAnsibleDefaultPluginAnsibleContentCollectionsIndexAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentCollectionsIndexDeleteRequest) (*AsyncOperationResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AsyncOperationResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PulpAnsibleDefaultPluginAnsibleContentCollectionsIndexAPIService.PulpAnsibleGalaxyDefaultPluginAnsibleContentCollectionsIndexDelete")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/pulp_ansible/galaxy/default/api/v3/plugin/ansible/content/{distro_base_path}/collections/index/{namespace}/{name}/"
	localVarPath = strings.Replace(localVarPath, "{"+"distro_base_path"+"}", url.PathEscape(parameterValueToString(r.distroBasePath, "distroBasePath")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterValueToString(r.name, "name")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarPath = strings.Replace(localVarPath, "{"+"namespace"+"}", url.PathEscape(parameterValueToString(r.namespace, "namespace")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type PulpAnsibleDefaultPluginAnsibleContentCollectionsIndexAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentCollectionsIndexListRequest struct {
	ctx context.Context
	ApiService *PulpAnsibleDefaultPluginAnsibleContentCollectionsIndexAPIService
	distroBasePath string
	xTaskDiagnostics *[]string
	deprecated *bool
	limit *int32
	name *string
	namespace *string
	offset *int32
	ordering *[]string
	prnIn *[]string
	pulpHrefIn *[]string
	pulpIdIn *[]string
	q *string
	fields *[]string
	excludeFields *[]string
}

// List of profilers to use on tasks.
func (r PulpAnsibleDefaultPluginAnsibleContentCollectionsIndexAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentCollectionsIndexListRequest) XTaskDiagnostics(xTaskDiagnostics []string) PulpAnsibleDefaultPluginAnsibleContentCollectionsIndexAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentCollectionsIndexListRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

func (r PulpAnsibleDefaultPluginAnsibleContentCollectionsIndexAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentCollectionsIndexListRequest) Deprecated(deprecated bool) PulpAnsibleDefaultPluginAnsibleContentCollectionsIndexAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentCollectionsIndexListRequest {
	r.deprecated = &deprecated
	return r
}

// Number of results to return per page.
func (r PulpAnsibleDefaultPluginAnsibleContentCollectionsIndexAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentCollectionsIndexListRequest) Limit(limit int32) PulpAnsibleDefaultPluginAnsibleContentCollectionsIndexAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentCollectionsIndexListRequest {
	r.limit = &limit
	return r
}

func (r PulpAnsibleDefaultPluginAnsibleContentCollectionsIndexAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentCollectionsIndexListRequest) Name(name string) PulpAnsibleDefaultPluginAnsibleContentCollectionsIndexAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentCollectionsIndexListRequest {
	r.name = &name
	return r
}

func (r PulpAnsibleDefaultPluginAnsibleContentCollectionsIndexAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentCollectionsIndexListRequest) Namespace(namespace string) PulpAnsibleDefaultPluginAnsibleContentCollectionsIndexAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentCollectionsIndexListRequest {
	r.namespace = &namespace
	return r
}

// The initial index from which to return the results.
func (r PulpAnsibleDefaultPluginAnsibleContentCollectionsIndexAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentCollectionsIndexListRequest) Offset(offset int32) PulpAnsibleDefaultPluginAnsibleContentCollectionsIndexAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentCollectionsIndexListRequest {
	r.offset = &offset
	return r
}

// Ordering* &#x60;pulp_id&#x60; - Pulp id* &#x60;-pulp_id&#x60; - Pulp id (descending)* &#x60;pulp_created&#x60; - Pulp created* &#x60;-pulp_created&#x60; - Pulp created (descending)* &#x60;pulp_last_updated&#x60; - Pulp last updated* &#x60;-pulp_last_updated&#x60; - Pulp last updated (descending)* &#x60;namespace&#x60; - Namespace* &#x60;-namespace&#x60; - Namespace (descending)* &#x60;name&#x60; - Name* &#x60;-name&#x60; - Name (descending)* &#x60;pk&#x60; - Pk* &#x60;-pk&#x60; - Pk (descending)
func (r PulpAnsibleDefaultPluginAnsibleContentCollectionsIndexAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentCollectionsIndexListRequest) Ordering(ordering []string) PulpAnsibleDefaultPluginAnsibleContentCollectionsIndexAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentCollectionsIndexListRequest {
	r.ordering = &ordering
	return r
}

// Multiple values may be separated by commas.
func (r PulpAnsibleDefaultPluginAnsibleContentCollectionsIndexAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentCollectionsIndexListRequest) PrnIn(prnIn []string) PulpAnsibleDefaultPluginAnsibleContentCollectionsIndexAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentCollectionsIndexListRequest {
	r.prnIn = &prnIn
	return r
}

// Multiple values may be separated by commas.
func (r PulpAnsibleDefaultPluginAnsibleContentCollectionsIndexAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentCollectionsIndexListRequest) PulpHrefIn(pulpHrefIn []string) PulpAnsibleDefaultPluginAnsibleContentCollectionsIndexAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentCollectionsIndexListRequest {
	r.pulpHrefIn = &pulpHrefIn
	return r
}

// Multiple values may be separated by commas.
func (r PulpAnsibleDefaultPluginAnsibleContentCollectionsIndexAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentCollectionsIndexListRequest) PulpIdIn(pulpIdIn []string) PulpAnsibleDefaultPluginAnsibleContentCollectionsIndexAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentCollectionsIndexListRequest {
	r.pulpIdIn = &pulpIdIn
	return r
}

// Filter results by using NOT, AND and OR operations on other filters
func (r PulpAnsibleDefaultPluginAnsibleContentCollectionsIndexAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentCollectionsIndexListRequest) Q(q string) PulpAnsibleDefaultPluginAnsibleContentCollectionsIndexAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentCollectionsIndexListRequest {
	r.q = &q
	return r
}

// A list of fields to include in the response.
func (r PulpAnsibleDefaultPluginAnsibleContentCollectionsIndexAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentCollectionsIndexListRequest) Fields(fields []string) PulpAnsibleDefaultPluginAnsibleContentCollectionsIndexAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentCollectionsIndexListRequest {
	r.fields = &fields
	return r
}

// A list of fields to exclude from the response.
func (r PulpAnsibleDefaultPluginAnsibleContentCollectionsIndexAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentCollectionsIndexListRequest) ExcludeFields(excludeFields []string) PulpAnsibleDefaultPluginAnsibleContentCollectionsIndexAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentCollectionsIndexListRequest {
	r.excludeFields = &excludeFields
	return r
}

func (r PulpAnsibleDefaultPluginAnsibleContentCollectionsIndexAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentCollectionsIndexListRequest) Execute() (*PaginatedCollectionResponseList, *http.Response, error) {
	return r.ApiService.PulpAnsibleGalaxyDefaultPluginAnsibleContentCollectionsIndexListExecute(r)
}

/*
PulpAnsibleGalaxyDefaultPluginAnsibleContentCollectionsIndexList Method for PulpAnsibleGalaxyDefaultPluginAnsibleContentCollectionsIndexList

ViewSet for Collections.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param distroBasePath
 @return PulpAnsibleDefaultPluginAnsibleContentCollectionsIndexAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentCollectionsIndexListRequest
*/
func (a *PulpAnsibleDefaultPluginAnsibleContentCollectionsIndexAPIService) PulpAnsibleGalaxyDefaultPluginAnsibleContentCollectionsIndexList(ctx context.Context, distroBasePath string) PulpAnsibleDefaultPluginAnsibleContentCollectionsIndexAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentCollectionsIndexListRequest {
	return PulpAnsibleDefaultPluginAnsibleContentCollectionsIndexAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentCollectionsIndexListRequest{
		ApiService: a,
		ctx: ctx,
		distroBasePath: distroBasePath,
	}
}

// Execute executes the request
//  @return PaginatedCollectionResponseList
func (a *PulpAnsibleDefaultPluginAnsibleContentCollectionsIndexAPIService) PulpAnsibleGalaxyDefaultPluginAnsibleContentCollectionsIndexListExecute(r PulpAnsibleDefaultPluginAnsibleContentCollectionsIndexAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentCollectionsIndexListRequest) (*PaginatedCollectionResponseList, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PaginatedCollectionResponseList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PulpAnsibleDefaultPluginAnsibleContentCollectionsIndexAPIService.PulpAnsibleGalaxyDefaultPluginAnsibleContentCollectionsIndexList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/pulp_ansible/galaxy/default/api/v3/plugin/ansible/content/{distro_base_path}/collections/index/"
	localVarPath = strings.Replace(localVarPath, "{"+"distro_base_path"+"}", url.PathEscape(parameterValueToString(r.distroBasePath, "distroBasePath")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.deprecated != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deprecated", r.deprecated, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.name != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "form", "")
	}
	if r.namespace != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "namespace", r.namespace, "form", "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	}
	if r.ordering != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ordering", r.ordering, "form", "csv")
	}
	if r.prnIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "prn__in", r.prnIn, "form", "csv")
	}
	if r.pulpHrefIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pulp_href__in", r.pulpHrefIn, "form", "csv")
	}
	if r.pulpIdIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pulp_id__in", r.pulpIdIn, "form", "csv")
	}
	if r.q != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "q", r.q, "form", "")
	}
	if r.fields != nil {
		t := *r.fields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "fields", t, "form", "multi")
		}
	}
	if r.excludeFields != nil {
		t := *r.excludeFields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type PulpAnsibleDefaultPluginAnsibleContentCollectionsIndexAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentCollectionsIndexReadRequest struct {
	ctx context.Context
	ApiService *PulpAnsibleDefaultPluginAnsibleContentCollectionsIndexAPIService
	distroBasePath string
	name string
	namespace string
	xTaskDiagnostics *[]string
	fields *[]string
	excludeFields *[]string
}

// List of profilers to use on tasks.
func (r PulpAnsibleDefaultPluginAnsibleContentCollectionsIndexAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentCollectionsIndexReadRequest) XTaskDiagnostics(xTaskDiagnostics []string) PulpAnsibleDefaultPluginAnsibleContentCollectionsIndexAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentCollectionsIndexReadRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

// A list of fields to include in the response.
func (r PulpAnsibleDefaultPluginAnsibleContentCollectionsIndexAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentCollectionsIndexReadRequest) Fields(fields []string) PulpAnsibleDefaultPluginAnsibleContentCollectionsIndexAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentCollectionsIndexReadRequest {
	r.fields = &fields
	return r
}

// A list of fields to exclude from the response.
func (r PulpAnsibleDefaultPluginAnsibleContentCollectionsIndexAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentCollectionsIndexReadRequest) ExcludeFields(excludeFields []string) PulpAnsibleDefaultPluginAnsibleContentCollectionsIndexAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentCollectionsIndexReadRequest {
	r.excludeFields = &excludeFields
	return r
}

func (r PulpAnsibleDefaultPluginAnsibleContentCollectionsIndexAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentCollectionsIndexReadRequest) Execute() (*CollectionResponse, *http.Response, error) {
	return r.ApiService.PulpAnsibleGalaxyDefaultPluginAnsibleContentCollectionsIndexReadExecute(r)
}

/*
PulpAnsibleGalaxyDefaultPluginAnsibleContentCollectionsIndexRead Method for PulpAnsibleGalaxyDefaultPluginAnsibleContentCollectionsIndexRead

ViewSet for Collections.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param distroBasePath
 @param name
 @param namespace
 @return PulpAnsibleDefaultPluginAnsibleContentCollectionsIndexAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentCollectionsIndexReadRequest
*/
func (a *PulpAnsibleDefaultPluginAnsibleContentCollectionsIndexAPIService) PulpAnsibleGalaxyDefaultPluginAnsibleContentCollectionsIndexRead(ctx context.Context, distroBasePath string, name string, namespace string) PulpAnsibleDefaultPluginAnsibleContentCollectionsIndexAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentCollectionsIndexReadRequest {
	return PulpAnsibleDefaultPluginAnsibleContentCollectionsIndexAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentCollectionsIndexReadRequest{
		ApiService: a,
		ctx: ctx,
		distroBasePath: distroBasePath,
		name: name,
		namespace: namespace,
	}
}

// Execute executes the request
//  @return CollectionResponse
func (a *PulpAnsibleDefaultPluginAnsibleContentCollectionsIndexAPIService) PulpAnsibleGalaxyDefaultPluginAnsibleContentCollectionsIndexReadExecute(r PulpAnsibleDefaultPluginAnsibleContentCollectionsIndexAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentCollectionsIndexReadRequest) (*CollectionResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CollectionResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PulpAnsibleDefaultPluginAnsibleContentCollectionsIndexAPIService.PulpAnsibleGalaxyDefaultPluginAnsibleContentCollectionsIndexRead")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/pulp_ansible/galaxy/default/api/v3/plugin/ansible/content/{distro_base_path}/collections/index/{namespace}/{name}/"
	localVarPath = strings.Replace(localVarPath, "{"+"distro_base_path"+"}", url.PathEscape(parameterValueToString(r.distroBasePath, "distroBasePath")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterValueToString(r.name, "name")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarPath = strings.Replace(localVarPath, "{"+"namespace"+"}", url.PathEscape(parameterValueToString(r.namespace, "namespace")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.fields != nil {
		t := *r.fields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "fields", t, "form", "multi")
		}
	}
	if r.excludeFields != nil {
		t := *r.excludeFields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type PulpAnsibleDefaultPluginAnsibleContentCollectionsIndexAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentCollectionsIndexUpdateRequest struct {
	ctx context.Context
	ApiService *PulpAnsibleDefaultPluginAnsibleContentCollectionsIndexAPIService
	distroBasePath string
	name string
	namespace string
	patchedCollection *PatchedCollection
	xTaskDiagnostics *[]string
}

func (r PulpAnsibleDefaultPluginAnsibleContentCollectionsIndexAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentCollectionsIndexUpdateRequest) PatchedCollection(patchedCollection PatchedCollection) PulpAnsibleDefaultPluginAnsibleContentCollectionsIndexAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentCollectionsIndexUpdateRequest {
	r.patchedCollection = &patchedCollection
	return r
}

// List of profilers to use on tasks.
func (r PulpAnsibleDefaultPluginAnsibleContentCollectionsIndexAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentCollectionsIndexUpdateRequest) XTaskDiagnostics(xTaskDiagnostics []string) PulpAnsibleDefaultPluginAnsibleContentCollectionsIndexAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentCollectionsIndexUpdateRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

func (r PulpAnsibleDefaultPluginAnsibleContentCollectionsIndexAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentCollectionsIndexUpdateRequest) Execute() (*AsyncOperationResponse, *http.Response, error) {
	return r.ApiService.PulpAnsibleGalaxyDefaultPluginAnsibleContentCollectionsIndexUpdateExecute(r)
}

/*
PulpAnsibleGalaxyDefaultPluginAnsibleContentCollectionsIndexUpdate Method for PulpAnsibleGalaxyDefaultPluginAnsibleContentCollectionsIndexUpdate

Trigger an asynchronous update task

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param distroBasePath
 @param name
 @param namespace
 @return PulpAnsibleDefaultPluginAnsibleContentCollectionsIndexAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentCollectionsIndexUpdateRequest
*/
func (a *PulpAnsibleDefaultPluginAnsibleContentCollectionsIndexAPIService) PulpAnsibleGalaxyDefaultPluginAnsibleContentCollectionsIndexUpdate(ctx context.Context, distroBasePath string, name string, namespace string) PulpAnsibleDefaultPluginAnsibleContentCollectionsIndexAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentCollectionsIndexUpdateRequest {
	return PulpAnsibleDefaultPluginAnsibleContentCollectionsIndexAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentCollectionsIndexUpdateRequest{
		ApiService: a,
		ctx: ctx,
		distroBasePath: distroBasePath,
		name: name,
		namespace: namespace,
	}
}

// Execute executes the request
//  @return AsyncOperationResponse
func (a *PulpAnsibleDefaultPluginAnsibleContentCollectionsIndexAPIService) PulpAnsibleGalaxyDefaultPluginAnsibleContentCollectionsIndexUpdateExecute(r PulpAnsibleDefaultPluginAnsibleContentCollectionsIndexAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentCollectionsIndexUpdateRequest) (*AsyncOperationResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AsyncOperationResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PulpAnsibleDefaultPluginAnsibleContentCollectionsIndexAPIService.PulpAnsibleGalaxyDefaultPluginAnsibleContentCollectionsIndexUpdate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/pulp_ansible/galaxy/default/api/v3/plugin/ansible/content/{distro_base_path}/collections/index/{namespace}/{name}/"
	localVarPath = strings.Replace(localVarPath, "{"+"distro_base_path"+"}", url.PathEscape(parameterValueToString(r.distroBasePath, "distroBasePath")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterValueToString(r.name, "name")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarPath = strings.Replace(localVarPath, "{"+"namespace"+"}", url.PathEscape(parameterValueToString(r.namespace, "namespace")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.patchedCollection == nil {
		return localVarReturnValue, nil, reportError("patchedCollection is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	// body params
	localVarPostBody = r.patchedCollection
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
