/*
Pulp 3 API

Fetch, Upload, Organize, and Distribute Software Packages

API version: v3
Contact: pulp-list@redhat.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package pulpbindings

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"os"
	"reflect"
)


// ContentGenericContentsAPIService ContentGenericContentsAPI service
type ContentGenericContentsAPIService service

type ContentGenericContentsAPIContentDebGenericContentsCreateRequest struct {
	ctx context.Context
	ApiService *ContentGenericContentsAPIService
	relativePath *string
	xTaskDiagnostics *[]string
	repository *string
	pulpLabels *map[string]string
	artifact *string
	file *os.File
	upload *string
	fileUrl *string
}

// Path where the artifact is located relative to distributions base_path
func (r ContentGenericContentsAPIContentDebGenericContentsCreateRequest) RelativePath(relativePath string) ContentGenericContentsAPIContentDebGenericContentsCreateRequest {
	r.relativePath = &relativePath
	return r
}

// List of profilers to use on tasks.
func (r ContentGenericContentsAPIContentDebGenericContentsCreateRequest) XTaskDiagnostics(xTaskDiagnostics []string) ContentGenericContentsAPIContentDebGenericContentsCreateRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

// A URI of a repository the new content unit should be associated with.
func (r ContentGenericContentsAPIContentDebGenericContentsCreateRequest) Repository(repository string) ContentGenericContentsAPIContentDebGenericContentsCreateRequest {
	r.repository = &repository
	return r
}

// A dictionary of arbitrary key/value pairs used to describe a specific Content instance.
func (r ContentGenericContentsAPIContentDebGenericContentsCreateRequest) PulpLabels(pulpLabels map[string]string) ContentGenericContentsAPIContentDebGenericContentsCreateRequest {
	r.pulpLabels = &pulpLabels
	return r
}

// Artifact file representing the physical content
func (r ContentGenericContentsAPIContentDebGenericContentsCreateRequest) Artifact(artifact string) ContentGenericContentsAPIContentDebGenericContentsCreateRequest {
	r.artifact = &artifact
	return r
}

// An uploaded file that may be turned into the content unit.
func (r ContentGenericContentsAPIContentDebGenericContentsCreateRequest) File(file *os.File) ContentGenericContentsAPIContentDebGenericContentsCreateRequest {
	r.file = file
	return r
}

// An uncommitted upload that may be turned into the content unit.
func (r ContentGenericContentsAPIContentDebGenericContentsCreateRequest) Upload(upload string) ContentGenericContentsAPIContentDebGenericContentsCreateRequest {
	r.upload = &upload
	return r
}

// A url that Pulp can download and turn into the content unit.
func (r ContentGenericContentsAPIContentDebGenericContentsCreateRequest) FileUrl(fileUrl string) ContentGenericContentsAPIContentDebGenericContentsCreateRequest {
	r.fileUrl = &fileUrl
	return r
}

func (r ContentGenericContentsAPIContentDebGenericContentsCreateRequest) Execute() (*AsyncOperationResponse, *http.Response, error) {
	return r.ApiService.ContentDebGenericContentsCreateExecute(r)
}

/*
ContentDebGenericContentsCreate Create a generic content

Trigger an asynchronous task to create content,optionally create new repository version.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ContentGenericContentsAPIContentDebGenericContentsCreateRequest
*/
func (a *ContentGenericContentsAPIService) ContentDebGenericContentsCreate(ctx context.Context) ContentGenericContentsAPIContentDebGenericContentsCreateRequest {
	return ContentGenericContentsAPIContentDebGenericContentsCreateRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return AsyncOperationResponse
func (a *ContentGenericContentsAPIService) ContentDebGenericContentsCreateExecute(r ContentGenericContentsAPIContentDebGenericContentsCreateRequest) (*AsyncOperationResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AsyncOperationResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentGenericContentsAPIService.ContentDebGenericContentsCreate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v3/content/deb/generic_contents/"
	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.relativePath == nil {
		return localVarReturnValue, nil, reportError("relativePath is required and must be specified")
	}
	if strlen(*r.relativePath) < 1 {
		return localVarReturnValue, nil, reportError("relativePath must have at least 1 elements")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"multipart/form-data", "application/x-www-form-urlencoded"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	if r.repository != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "repository", r.repository, "", "")
	}
	if r.pulpLabels != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "pulp_labels", r.pulpLabels, "", "")
	}
	if r.artifact != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "artifact", r.artifact, "", "")
	}
	parameterAddToHeaderOrQuery(localVarFormParams, "relative_path", r.relativePath, "", "")
	var fileLocalVarFormFileName string
	var fileLocalVarFileName     string
	var fileLocalVarFileBytes    []byte

	fileLocalVarFormFileName = "file"


	fileLocalVarFile := r.file

	if fileLocalVarFile != nil {
		fbs, _ := io.ReadAll(fileLocalVarFile)

		fileLocalVarFileBytes = fbs
		fileLocalVarFileName = fileLocalVarFile.Name()
		fileLocalVarFile.Close()
		formFiles = append(formFiles, formFile{fileBytes: fileLocalVarFileBytes, fileName: fileLocalVarFileName, formFileName: fileLocalVarFormFileName})
	}
	if r.upload != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "upload", r.upload, "", "")
	}
	if r.fileUrl != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "file_url", r.fileUrl, "", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ContentGenericContentsAPIContentDebGenericContentsListRequest struct {
	ctx context.Context
	ApiService *ContentGenericContentsAPIService
	xTaskDiagnostics *[]string
	limit *int32
	offset *int32
	ordering *[]string
	orphanedFor *float32
	prnIn *[]string
	pulpHrefIn *[]string
	pulpIdIn *[]string
	pulpLabelSelect *string
	q *string
	relativePath *string
	repositoryVersion *string
	repositoryVersionAdded *string
	repositoryVersionRemoved *string
	sha256 *string
	fields *[]string
	excludeFields *[]string
}

// List of profilers to use on tasks.
func (r ContentGenericContentsAPIContentDebGenericContentsListRequest) XTaskDiagnostics(xTaskDiagnostics []string) ContentGenericContentsAPIContentDebGenericContentsListRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

// Number of results to return per page.
func (r ContentGenericContentsAPIContentDebGenericContentsListRequest) Limit(limit int32) ContentGenericContentsAPIContentDebGenericContentsListRequest {
	r.limit = &limit
	return r
}

// The initial index from which to return the results.
func (r ContentGenericContentsAPIContentDebGenericContentsListRequest) Offset(offset int32) ContentGenericContentsAPIContentDebGenericContentsListRequest {
	r.offset = &offset
	return r
}

// Ordering* &#x60;pulp_id&#x60; - Pulp id* &#x60;-pulp_id&#x60; - Pulp id (descending)* &#x60;pulp_created&#x60; - Pulp created* &#x60;-pulp_created&#x60; - Pulp created (descending)* &#x60;pulp_last_updated&#x60; - Pulp last updated* &#x60;-pulp_last_updated&#x60; - Pulp last updated (descending)* &#x60;pulp_type&#x60; - Pulp type* &#x60;-pulp_type&#x60; - Pulp type (descending)* &#x60;upstream_id&#x60; - Upstream id* &#x60;-upstream_id&#x60; - Upstream id (descending)* &#x60;pulp_labels&#x60; - Pulp labels* &#x60;-pulp_labels&#x60; - Pulp labels (descending)* &#x60;timestamp_of_interest&#x60; - Timestamp of interest* &#x60;-timestamp_of_interest&#x60; - Timestamp of interest (descending)* &#x60;relative_path&#x60; - Relative path* &#x60;-relative_path&#x60; - Relative path (descending)* &#x60;sha256&#x60; - Sha256* &#x60;-sha256&#x60; - Sha256 (descending)* &#x60;pk&#x60; - Pk* &#x60;-pk&#x60; - Pk (descending)
func (r ContentGenericContentsAPIContentDebGenericContentsListRequest) Ordering(ordering []string) ContentGenericContentsAPIContentDebGenericContentsListRequest {
	r.ordering = &ordering
	return r
}

// Minutes Content has been orphaned for. -1 uses ORPHAN_PROTECTION_TIME.
func (r ContentGenericContentsAPIContentDebGenericContentsListRequest) OrphanedFor(orphanedFor float32) ContentGenericContentsAPIContentDebGenericContentsListRequest {
	r.orphanedFor = &orphanedFor
	return r
}

// Multiple values may be separated by commas.
func (r ContentGenericContentsAPIContentDebGenericContentsListRequest) PrnIn(prnIn []string) ContentGenericContentsAPIContentDebGenericContentsListRequest {
	r.prnIn = &prnIn
	return r
}

// Multiple values may be separated by commas.
func (r ContentGenericContentsAPIContentDebGenericContentsListRequest) PulpHrefIn(pulpHrefIn []string) ContentGenericContentsAPIContentDebGenericContentsListRequest {
	r.pulpHrefIn = &pulpHrefIn
	return r
}

// Multiple values may be separated by commas.
func (r ContentGenericContentsAPIContentDebGenericContentsListRequest) PulpIdIn(pulpIdIn []string) ContentGenericContentsAPIContentDebGenericContentsListRequest {
	r.pulpIdIn = &pulpIdIn
	return r
}

// Filter labels by search string
func (r ContentGenericContentsAPIContentDebGenericContentsListRequest) PulpLabelSelect(pulpLabelSelect string) ContentGenericContentsAPIContentDebGenericContentsListRequest {
	r.pulpLabelSelect = &pulpLabelSelect
	return r
}

// Filter results by using NOT, AND and OR operations on other filters
func (r ContentGenericContentsAPIContentDebGenericContentsListRequest) Q(q string) ContentGenericContentsAPIContentDebGenericContentsListRequest {
	r.q = &q
	return r
}

// Filter results where relative_path matches value
func (r ContentGenericContentsAPIContentDebGenericContentsListRequest) RelativePath(relativePath string) ContentGenericContentsAPIContentDebGenericContentsListRequest {
	r.relativePath = &relativePath
	return r
}

// Repository Version referenced by HREF/PRN
func (r ContentGenericContentsAPIContentDebGenericContentsListRequest) RepositoryVersion(repositoryVersion string) ContentGenericContentsAPIContentDebGenericContentsListRequest {
	r.repositoryVersion = &repositoryVersion
	return r
}

// Repository Version referenced by HREF/PRN
func (r ContentGenericContentsAPIContentDebGenericContentsListRequest) RepositoryVersionAdded(repositoryVersionAdded string) ContentGenericContentsAPIContentDebGenericContentsListRequest {
	r.repositoryVersionAdded = &repositoryVersionAdded
	return r
}

// Repository Version referenced by HREF/PRN
func (r ContentGenericContentsAPIContentDebGenericContentsListRequest) RepositoryVersionRemoved(repositoryVersionRemoved string) ContentGenericContentsAPIContentDebGenericContentsListRequest {
	r.repositoryVersionRemoved = &repositoryVersionRemoved
	return r
}

// Filter results where sha256 matches value
func (r ContentGenericContentsAPIContentDebGenericContentsListRequest) Sha256(sha256 string) ContentGenericContentsAPIContentDebGenericContentsListRequest {
	r.sha256 = &sha256
	return r
}

// A list of fields to include in the response.
func (r ContentGenericContentsAPIContentDebGenericContentsListRequest) Fields(fields []string) ContentGenericContentsAPIContentDebGenericContentsListRequest {
	r.fields = &fields
	return r
}

// A list of fields to exclude from the response.
func (r ContentGenericContentsAPIContentDebGenericContentsListRequest) ExcludeFields(excludeFields []string) ContentGenericContentsAPIContentDebGenericContentsListRequest {
	r.excludeFields = &excludeFields
	return r
}

func (r ContentGenericContentsAPIContentDebGenericContentsListRequest) Execute() (*PaginateddebGenericContentResponseList, *http.Response, error) {
	return r.ApiService.ContentDebGenericContentsListExecute(r)
}

/*
ContentDebGenericContentsList List generic contents

GenericContent is a catch all category for storing files not covered by any other type.Associated artifacts: Exactly one arbitrary file that does not match any other type.This is needed to store arbitrary files for use with the verbatim publisher. If you are notusing the verbatim publisher, you may ignore this type.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ContentGenericContentsAPIContentDebGenericContentsListRequest
*/
func (a *ContentGenericContentsAPIService) ContentDebGenericContentsList(ctx context.Context) ContentGenericContentsAPIContentDebGenericContentsListRequest {
	return ContentGenericContentsAPIContentDebGenericContentsListRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return PaginateddebGenericContentResponseList
func (a *ContentGenericContentsAPIService) ContentDebGenericContentsListExecute(r ContentGenericContentsAPIContentDebGenericContentsListRequest) (*PaginateddebGenericContentResponseList, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PaginateddebGenericContentResponseList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentGenericContentsAPIService.ContentDebGenericContentsList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v3/content/deb/generic_contents/"
	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	}
	if r.ordering != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ordering", r.ordering, "form", "csv")
	}
	if r.orphanedFor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "orphaned_for", r.orphanedFor, "form", "")
	}
	if r.prnIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "prn__in", r.prnIn, "form", "csv")
	}
	if r.pulpHrefIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pulp_href__in", r.pulpHrefIn, "form", "csv")
	}
	if r.pulpIdIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pulp_id__in", r.pulpIdIn, "form", "csv")
	}
	if r.pulpLabelSelect != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pulp_label_select", r.pulpLabelSelect, "form", "")
	}
	if r.q != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "q", r.q, "form", "")
	}
	if r.relativePath != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "relative_path", r.relativePath, "form", "")
	}
	if r.repositoryVersion != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repository_version", r.repositoryVersion, "form", "")
	}
	if r.repositoryVersionAdded != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repository_version_added", r.repositoryVersionAdded, "form", "")
	}
	if r.repositoryVersionRemoved != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repository_version_removed", r.repositoryVersionRemoved, "form", "")
	}
	if r.sha256 != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sha256", r.sha256, "form", "")
	}
	if r.fields != nil {
		t := *r.fields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "fields", t, "form", "multi")
		}
	}
	if r.excludeFields != nil {
		t := *r.excludeFields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ContentGenericContentsAPIContentDebGenericContentsReadRequest struct {
	ctx context.Context
	ApiService *ContentGenericContentsAPIService
	debGenericContentHref string
	xTaskDiagnostics *[]string
	fields *[]string
	excludeFields *[]string
}

// List of profilers to use on tasks.
func (r ContentGenericContentsAPIContentDebGenericContentsReadRequest) XTaskDiagnostics(xTaskDiagnostics []string) ContentGenericContentsAPIContentDebGenericContentsReadRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

// A list of fields to include in the response.
func (r ContentGenericContentsAPIContentDebGenericContentsReadRequest) Fields(fields []string) ContentGenericContentsAPIContentDebGenericContentsReadRequest {
	r.fields = &fields
	return r
}

// A list of fields to exclude from the response.
func (r ContentGenericContentsAPIContentDebGenericContentsReadRequest) ExcludeFields(excludeFields []string) ContentGenericContentsAPIContentDebGenericContentsReadRequest {
	r.excludeFields = &excludeFields
	return r
}

func (r ContentGenericContentsAPIContentDebGenericContentsReadRequest) Execute() (*DebGenericContentResponse, *http.Response, error) {
	return r.ApiService.ContentDebGenericContentsReadExecute(r)
}

/*
ContentDebGenericContentsRead Inspect a generic content

GenericContent is a catch all category for storing files not covered by any other type.Associated artifacts: Exactly one arbitrary file that does not match any other type.This is needed to store arbitrary files for use with the verbatim publisher. If you are notusing the verbatim publisher, you may ignore this type.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param debGenericContentHref
 @return ContentGenericContentsAPIContentDebGenericContentsReadRequest
*/
func (a *ContentGenericContentsAPIService) ContentDebGenericContentsRead(ctx context.Context, debGenericContentHref string) ContentGenericContentsAPIContentDebGenericContentsReadRequest {
	return ContentGenericContentsAPIContentDebGenericContentsReadRequest{
		ApiService: a,
		ctx: ctx,
		debGenericContentHref: debGenericContentHref,
	}
}

// Execute executes the request
//  @return DebGenericContentResponse
func (a *ContentGenericContentsAPIService) ContentDebGenericContentsReadExecute(r ContentGenericContentsAPIContentDebGenericContentsReadRequest) (*DebGenericContentResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *DebGenericContentResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentGenericContentsAPIService.ContentDebGenericContentsRead")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{deb_generic_content_href}"
	localVarPath = strings.Replace(localVarPath, "{"+"deb_generic_content_href"+"}", url.PathEscape(parameterValueToString(r.debGenericContentHref, "debGenericContentHref")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.fields != nil {
		t := *r.fields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "fields", t, "form", "multi")
		}
	}
	if r.excludeFields != nil {
		t := *r.excludeFields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ContentGenericContentsAPIContentDebGenericContentsSetLabelRequest struct {
	ctx context.Context
	ApiService *ContentGenericContentsAPIService
	debGenericContentHref string
	setLabel *SetLabel
	xTaskDiagnostics *[]string
}

func (r ContentGenericContentsAPIContentDebGenericContentsSetLabelRequest) SetLabel(setLabel SetLabel) ContentGenericContentsAPIContentDebGenericContentsSetLabelRequest {
	r.setLabel = &setLabel
	return r
}

// List of profilers to use on tasks.
func (r ContentGenericContentsAPIContentDebGenericContentsSetLabelRequest) XTaskDiagnostics(xTaskDiagnostics []string) ContentGenericContentsAPIContentDebGenericContentsSetLabelRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

func (r ContentGenericContentsAPIContentDebGenericContentsSetLabelRequest) Execute() (*SetLabelResponse, *http.Response, error) {
	return r.ApiService.ContentDebGenericContentsSetLabelExecute(r)
}

/*
ContentDebGenericContentsSetLabel Set a label

Set a single pulp_label on the object to a specific value or null.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param debGenericContentHref
 @return ContentGenericContentsAPIContentDebGenericContentsSetLabelRequest
*/
func (a *ContentGenericContentsAPIService) ContentDebGenericContentsSetLabel(ctx context.Context, debGenericContentHref string) ContentGenericContentsAPIContentDebGenericContentsSetLabelRequest {
	return ContentGenericContentsAPIContentDebGenericContentsSetLabelRequest{
		ApiService: a,
		ctx: ctx,
		debGenericContentHref: debGenericContentHref,
	}
}

// Execute executes the request
//  @return SetLabelResponse
func (a *ContentGenericContentsAPIService) ContentDebGenericContentsSetLabelExecute(r ContentGenericContentsAPIContentDebGenericContentsSetLabelRequest) (*SetLabelResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SetLabelResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentGenericContentsAPIService.ContentDebGenericContentsSetLabel")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{deb_generic_content_href}set_label/"
	localVarPath = strings.Replace(localVarPath, "{"+"deb_generic_content_href"+"}", url.PathEscape(parameterValueToString(r.debGenericContentHref, "debGenericContentHref")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.setLabel == nil {
		return localVarReturnValue, nil, reportError("setLabel is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	// body params
	localVarPostBody = r.setLabel
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ContentGenericContentsAPIContentDebGenericContentsUnsetLabelRequest struct {
	ctx context.Context
	ApiService *ContentGenericContentsAPIService
	debGenericContentHref string
	unsetLabel *UnsetLabel
	xTaskDiagnostics *[]string
}

func (r ContentGenericContentsAPIContentDebGenericContentsUnsetLabelRequest) UnsetLabel(unsetLabel UnsetLabel) ContentGenericContentsAPIContentDebGenericContentsUnsetLabelRequest {
	r.unsetLabel = &unsetLabel
	return r
}

// List of profilers to use on tasks.
func (r ContentGenericContentsAPIContentDebGenericContentsUnsetLabelRequest) XTaskDiagnostics(xTaskDiagnostics []string) ContentGenericContentsAPIContentDebGenericContentsUnsetLabelRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

func (r ContentGenericContentsAPIContentDebGenericContentsUnsetLabelRequest) Execute() (*UnsetLabelResponse, *http.Response, error) {
	return r.ApiService.ContentDebGenericContentsUnsetLabelExecute(r)
}

/*
ContentDebGenericContentsUnsetLabel Unset a label

Unset a single pulp_label on the object.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param debGenericContentHref
 @return ContentGenericContentsAPIContentDebGenericContentsUnsetLabelRequest
*/
func (a *ContentGenericContentsAPIService) ContentDebGenericContentsUnsetLabel(ctx context.Context, debGenericContentHref string) ContentGenericContentsAPIContentDebGenericContentsUnsetLabelRequest {
	return ContentGenericContentsAPIContentDebGenericContentsUnsetLabelRequest{
		ApiService: a,
		ctx: ctx,
		debGenericContentHref: debGenericContentHref,
	}
}

// Execute executes the request
//  @return UnsetLabelResponse
func (a *ContentGenericContentsAPIService) ContentDebGenericContentsUnsetLabelExecute(r ContentGenericContentsAPIContentDebGenericContentsUnsetLabelRequest) (*UnsetLabelResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *UnsetLabelResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentGenericContentsAPIService.ContentDebGenericContentsUnsetLabel")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{deb_generic_content_href}unset_label/"
	localVarPath = strings.Replace(localVarPath, "{"+"deb_generic_content_href"+"}", url.PathEscape(parameterValueToString(r.debGenericContentHref, "debGenericContentHref")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.unsetLabel == nil {
		return localVarReturnValue, nil, reportError("unsetLabel is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	// body params
	localVarPostBody = r.unsetLabel
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
