/*
Pulp 3 API

Fetch, Upload, Organize, and Distribute Software Packages

API version: v3
Contact: pulp-list@redhat.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package pulpbindings

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"os"
	"reflect"
)


// PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIService PulpAnsibleDefaultPluginAnsibleContentNamespacesAPI service
type PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIService service

type PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesCreateRequest struct {
	ctx context.Context
	ApiService *PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIService
	distroBasePath string
	name *string
	xTaskDiagnostics *[]string
	company *string
	email *string
	description *string
	resources *string
	links *[]NamespaceLink
	avatar *os.File
}

// Required named, only accepts lowercase, numbers and underscores.
func (r PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesCreateRequest) Name(name string) PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesCreateRequest {
	r.name = &name
	return r
}

// List of profilers to use on tasks.
func (r PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesCreateRequest) XTaskDiagnostics(xTaskDiagnostics []string) PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesCreateRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

// Optional namespace company owner.
func (r PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesCreateRequest) Company(company string) PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesCreateRequest {
	r.company = &company
	return r
}

// Optional namespace contact email.
func (r PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesCreateRequest) Email(email string) PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesCreateRequest {
	r.email = &email
	return r
}

// Optional short description.
func (r PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesCreateRequest) Description(description string) PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesCreateRequest {
	r.description = &description
	return r
}

// Optional resource page in markdown format.
func (r PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesCreateRequest) Resources(resources string) PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesCreateRequest {
	r.resources = &resources
	return r
}

// Labeled related links.
func (r PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesCreateRequest) Links(links []NamespaceLink) PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesCreateRequest {
	r.links = &links
	return r
}

// Optional avatar image for Namespace
func (r PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesCreateRequest) Avatar(avatar *os.File) PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesCreateRequest {
	r.avatar = avatar
	return r
}

func (r PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesCreateRequest) Execute() (*AsyncOperationResponse, *http.Response, error) {
	return r.ApiService.PulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesCreateExecute(r)
}

/*
PulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesCreate Method for PulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesCreate

Provides the authentication and permission classes from settings.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param distroBasePath
 @return PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesCreateRequest
*/
func (a *PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIService) PulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesCreate(ctx context.Context, distroBasePath string) PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesCreateRequest {
	return PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesCreateRequest{
		ApiService: a,
		ctx: ctx,
		distroBasePath: distroBasePath,
	}
}

// Execute executes the request
//  @return AsyncOperationResponse
func (a *PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIService) PulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesCreateExecute(r PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesCreateRequest) (*AsyncOperationResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AsyncOperationResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIService.PulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesCreate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/pulp_ansible/galaxy/default/api/v3/plugin/ansible/content/{distro_base_path}/namespaces/"
	localVarPath = strings.Replace(localVarPath, "{"+"distro_base_path"+"}", url.PathEscape(parameterValueToString(r.distroBasePath, "distroBasePath")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.name == nil {
		return localVarReturnValue, nil, reportError("name is required and must be specified")
	}
	if strlen(*r.name) < 3 {
		return localVarReturnValue, nil, reportError("name must have at least 3 elements")
	}
	if strlen(*r.name) > 64 {
		return localVarReturnValue, nil, reportError("name must have less than 64 elements")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"multipart/form-data", "application/x-www-form-urlencoded"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	parameterAddToHeaderOrQuery(localVarFormParams, "name", r.name, "", "")
	if r.company != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "company", r.company, "", "")
	}
	if r.email != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "email", r.email, "", "")
	}
	if r.description != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "description", r.description, "", "")
	}
	if r.resources != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "resources", r.resources, "", "")
	}
	if r.links != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "links", r.links, "", "csv")
	}
	var avatarLocalVarFormFileName string
	var avatarLocalVarFileName     string
	var avatarLocalVarFileBytes    []byte

	avatarLocalVarFormFileName = "avatar"


	avatarLocalVarFile := r.avatar

	if avatarLocalVarFile != nil {
		fbs, _ := io.ReadAll(avatarLocalVarFile)

		avatarLocalVarFileBytes = fbs
		avatarLocalVarFileName = avatarLocalVarFile.Name()
		avatarLocalVarFile.Close()
		formFiles = append(formFiles, formFile{fileBytes: avatarLocalVarFileBytes, fileName: avatarLocalVarFileName, formFileName: avatarLocalVarFormFileName})
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesDeleteRequest struct {
	ctx context.Context
	ApiService *PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIService
	distroBasePath string
	name string
	xTaskDiagnostics *[]string
}

// List of profilers to use on tasks.
func (r PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesDeleteRequest) XTaskDiagnostics(xTaskDiagnostics []string) PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesDeleteRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

func (r PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesDeleteRequest) Execute() (*AsyncOperationResponse, *http.Response, error) {
	return r.ApiService.PulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesDeleteExecute(r)
}

/*
PulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesDelete Method for PulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesDelete

Try to remove the Namespace if no Collections under Namespace are present.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param distroBasePath
 @param name
 @return PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesDeleteRequest
*/
func (a *PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIService) PulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesDelete(ctx context.Context, distroBasePath string, name string) PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesDeleteRequest {
	return PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesDeleteRequest{
		ApiService: a,
		ctx: ctx,
		distroBasePath: distroBasePath,
		name: name,
	}
}

// Execute executes the request
//  @return AsyncOperationResponse
func (a *PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIService) PulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesDeleteExecute(r PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesDeleteRequest) (*AsyncOperationResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AsyncOperationResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIService.PulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesDelete")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/pulp_ansible/galaxy/default/api/v3/plugin/ansible/content/{distro_base_path}/namespaces/{name}/"
	localVarPath = strings.Replace(localVarPath, "{"+"distro_base_path"+"}", url.PathEscape(parameterValueToString(r.distroBasePath, "distroBasePath")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterValueToString(r.name, "name")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesListRequest struct {
	ctx context.Context
	ApiService *PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIService
	distroBasePath string
	xTaskDiagnostics *[]string
	company *string
	companyContains *string
	companyIcontains *string
	companyIexact *string
	companyIn *[]string
	companyIregex *string
	companyIstartswith *string
	companyRegex *string
	companyStartswith *string
	limit *int32
	metadataSha256 *string
	metadataSha256In *[]string
	name *string
	nameContains *string
	nameIcontains *string
	nameIexact *string
	nameIn *[]string
	nameIregex *string
	nameIstartswith *string
	nameRegex *string
	nameStartswith *string
	offset *int32
	ordering *[]string
	prnIn *[]string
	pulpHrefIn *[]string
	pulpIdIn *[]string
	q *string
	fields *[]string
	excludeFields *[]string
}

// List of profilers to use on tasks.
func (r PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesListRequest) XTaskDiagnostics(xTaskDiagnostics []string) PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesListRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

// Filter results where company matches value
func (r PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesListRequest) Company(company string) PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesListRequest {
	r.company = &company
	return r
}

// Filter results where company contains value
func (r PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesListRequest) CompanyContains(companyContains string) PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesListRequest {
	r.companyContains = &companyContains
	return r
}

// Filter results where company contains value
func (r PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesListRequest) CompanyIcontains(companyIcontains string) PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesListRequest {
	r.companyIcontains = &companyIcontains
	return r
}

// Filter results where company matches value
func (r PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesListRequest) CompanyIexact(companyIexact string) PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesListRequest {
	r.companyIexact = &companyIexact
	return r
}

// Filter results where company is in a comma-separated list of values
func (r PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesListRequest) CompanyIn(companyIn []string) PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesListRequest {
	r.companyIn = &companyIn
	return r
}

// Filter results where company matches regex value
func (r PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesListRequest) CompanyIregex(companyIregex string) PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesListRequest {
	r.companyIregex = &companyIregex
	return r
}

// Filter results where company starts with value
func (r PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesListRequest) CompanyIstartswith(companyIstartswith string) PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesListRequest {
	r.companyIstartswith = &companyIstartswith
	return r
}

// Filter results where company matches regex value
func (r PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesListRequest) CompanyRegex(companyRegex string) PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesListRequest {
	r.companyRegex = &companyRegex
	return r
}

// Filter results where company starts with value
func (r PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesListRequest) CompanyStartswith(companyStartswith string) PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesListRequest {
	r.companyStartswith = &companyStartswith
	return r
}

// Number of results to return per page.
func (r PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesListRequest) Limit(limit int32) PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesListRequest {
	r.limit = &limit
	return r
}

// Filter results where metadata_sha256 matches value
func (r PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesListRequest) MetadataSha256(metadataSha256 string) PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesListRequest {
	r.metadataSha256 = &metadataSha256
	return r
}

// Filter results where metadata_sha256 is in a comma-separated list of values
func (r PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesListRequest) MetadataSha256In(metadataSha256In []string) PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesListRequest {
	r.metadataSha256In = &metadataSha256In
	return r
}

// Filter results where name matches value
func (r PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesListRequest) Name(name string) PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesListRequest {
	r.name = &name
	return r
}

// Filter results where name contains value
func (r PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesListRequest) NameContains(nameContains string) PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesListRequest {
	r.nameContains = &nameContains
	return r
}

// Filter results where name contains value
func (r PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesListRequest) NameIcontains(nameIcontains string) PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesListRequest {
	r.nameIcontains = &nameIcontains
	return r
}

// Filter results where name matches value
func (r PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesListRequest) NameIexact(nameIexact string) PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesListRequest {
	r.nameIexact = &nameIexact
	return r
}

// Filter results where name is in a comma-separated list of values
func (r PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesListRequest) NameIn(nameIn []string) PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesListRequest {
	r.nameIn = &nameIn
	return r
}

// Filter results where name matches regex value
func (r PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesListRequest) NameIregex(nameIregex string) PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesListRequest {
	r.nameIregex = &nameIregex
	return r
}

// Filter results where name starts with value
func (r PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesListRequest) NameIstartswith(nameIstartswith string) PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesListRequest {
	r.nameIstartswith = &nameIstartswith
	return r
}

// Filter results where name matches regex value
func (r PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesListRequest) NameRegex(nameRegex string) PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesListRequest {
	r.nameRegex = &nameRegex
	return r
}

// Filter results where name starts with value
func (r PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesListRequest) NameStartswith(nameStartswith string) PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesListRequest {
	r.nameStartswith = &nameStartswith
	return r
}

// The initial index from which to return the results.
func (r PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesListRequest) Offset(offset int32) PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesListRequest {
	r.offset = &offset
	return r
}

// Ordering* &#x60;pulp_id&#x60; - Pulp id* &#x60;-pulp_id&#x60; - Pulp id (descending)* &#x60;pulp_created&#x60; - Pulp created* &#x60;-pulp_created&#x60; - Pulp created (descending)* &#x60;pulp_last_updated&#x60; - Pulp last updated* &#x60;-pulp_last_updated&#x60; - Pulp last updated (descending)* &#x60;pulp_type&#x60; - Pulp type* &#x60;-pulp_type&#x60; - Pulp type (descending)* &#x60;upstream_id&#x60; - Upstream id* &#x60;-upstream_id&#x60; - Upstream id (descending)* &#x60;pulp_labels&#x60; - Pulp labels* &#x60;-pulp_labels&#x60; - Pulp labels (descending)* &#x60;timestamp_of_interest&#x60; - Timestamp of interest* &#x60;-timestamp_of_interest&#x60; - Timestamp of interest (descending)* &#x60;name&#x60; - Name* &#x60;-name&#x60; - Name (descending)* &#x60;company&#x60; - Company* &#x60;-company&#x60; - Company (descending)* &#x60;email&#x60; - Email* &#x60;-email&#x60; - Email (descending)* &#x60;description&#x60; - Description* &#x60;-description&#x60; - Description (descending)* &#x60;resources&#x60; - Resources* &#x60;-resources&#x60; - Resources (descending)* &#x60;links&#x60; - Links* &#x60;-links&#x60; - Links (descending)* &#x60;avatar_sha256&#x60; - Avatar sha256* &#x60;-avatar_sha256&#x60; - Avatar sha256 (descending)* &#x60;metadata_sha256&#x60; - Metadata sha256* &#x60;-metadata_sha256&#x60; - Metadata sha256 (descending)* &#x60;pk&#x60; - Pk* &#x60;-pk&#x60; - Pk (descending)
func (r PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesListRequest) Ordering(ordering []string) PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesListRequest {
	r.ordering = &ordering
	return r
}

// Multiple values may be separated by commas.
func (r PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesListRequest) PrnIn(prnIn []string) PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesListRequest {
	r.prnIn = &prnIn
	return r
}

// Multiple values may be separated by commas.
func (r PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesListRequest) PulpHrefIn(pulpHrefIn []string) PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesListRequest {
	r.pulpHrefIn = &pulpHrefIn
	return r
}

// Multiple values may be separated by commas.
func (r PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesListRequest) PulpIdIn(pulpIdIn []string) PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesListRequest {
	r.pulpIdIn = &pulpIdIn
	return r
}

// Filter results by using NOT, AND and OR operations on other filters
func (r PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesListRequest) Q(q string) PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesListRequest {
	r.q = &q
	return r
}

// A list of fields to include in the response.
func (r PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesListRequest) Fields(fields []string) PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesListRequest {
	r.fields = &fields
	return r
}

// A list of fields to exclude from the response.
func (r PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesListRequest) ExcludeFields(excludeFields []string) PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesListRequest {
	r.excludeFields = &excludeFields
	return r
}

func (r PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesListRequest) Execute() (*PaginatedansibleAnsibleNamespaceMetadataResponseList, *http.Response, error) {
	return r.ApiService.PulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesListExecute(r)
}

/*
PulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesList Method for PulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesList

Provides the authentication and permission classes from settings.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param distroBasePath
 @return PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesListRequest
*/
func (a *PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIService) PulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesList(ctx context.Context, distroBasePath string) PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesListRequest {
	return PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesListRequest{
		ApiService: a,
		ctx: ctx,
		distroBasePath: distroBasePath,
	}
}

// Execute executes the request
//  @return PaginatedansibleAnsibleNamespaceMetadataResponseList
func (a *PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIService) PulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesListExecute(r PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesListRequest) (*PaginatedansibleAnsibleNamespaceMetadataResponseList, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PaginatedansibleAnsibleNamespaceMetadataResponseList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIService.PulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/pulp_ansible/galaxy/default/api/v3/plugin/ansible/content/{distro_base_path}/namespaces/"
	localVarPath = strings.Replace(localVarPath, "{"+"distro_base_path"+"}", url.PathEscape(parameterValueToString(r.distroBasePath, "distroBasePath")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.company != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "company", r.company, "form", "")
	}
	if r.companyContains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "company__contains", r.companyContains, "form", "")
	}
	if r.companyIcontains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "company__icontains", r.companyIcontains, "form", "")
	}
	if r.companyIexact != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "company__iexact", r.companyIexact, "form", "")
	}
	if r.companyIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "company__in", r.companyIn, "form", "csv")
	}
	if r.companyIregex != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "company__iregex", r.companyIregex, "form", "")
	}
	if r.companyIstartswith != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "company__istartswith", r.companyIstartswith, "form", "")
	}
	if r.companyRegex != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "company__regex", r.companyRegex, "form", "")
	}
	if r.companyStartswith != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "company__startswith", r.companyStartswith, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.metadataSha256 != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "metadata_sha256", r.metadataSha256, "form", "")
	}
	if r.metadataSha256In != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "metadata_sha256__in", r.metadataSha256In, "form", "csv")
	}
	if r.name != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "form", "")
	}
	if r.nameContains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name__contains", r.nameContains, "form", "")
	}
	if r.nameIcontains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name__icontains", r.nameIcontains, "form", "")
	}
	if r.nameIexact != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name__iexact", r.nameIexact, "form", "")
	}
	if r.nameIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name__in", r.nameIn, "form", "csv")
	}
	if r.nameIregex != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name__iregex", r.nameIregex, "form", "")
	}
	if r.nameIstartswith != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name__istartswith", r.nameIstartswith, "form", "")
	}
	if r.nameRegex != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name__regex", r.nameRegex, "form", "")
	}
	if r.nameStartswith != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name__startswith", r.nameStartswith, "form", "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	}
	if r.ordering != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ordering", r.ordering, "form", "csv")
	}
	if r.prnIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "prn__in", r.prnIn, "form", "csv")
	}
	if r.pulpHrefIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pulp_href__in", r.pulpHrefIn, "form", "csv")
	}
	if r.pulpIdIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pulp_id__in", r.pulpIdIn, "form", "csv")
	}
	if r.q != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "q", r.q, "form", "")
	}
	if r.fields != nil {
		t := *r.fields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "fields", t, "form", "multi")
		}
	}
	if r.excludeFields != nil {
		t := *r.excludeFields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesPartialUpdateRequest struct {
	ctx context.Context
	ApiService *PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIService
	distroBasePath string
	name string
	xTaskDiagnostics *[]string
	name2 *string
	company *string
	email *string
	description *string
	resources *string
	links *[]NamespaceLink
	avatar *os.File
}

// List of profilers to use on tasks.
func (r PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesPartialUpdateRequest) XTaskDiagnostics(xTaskDiagnostics []string) PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesPartialUpdateRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

// Required named, only accepts lowercase, numbers and underscores.
func (r PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesPartialUpdateRequest) Name2(name2 string) PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesPartialUpdateRequest {
	r.name2 = &name2
	return r
}

// Optional namespace company owner.
func (r PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesPartialUpdateRequest) Company(company string) PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesPartialUpdateRequest {
	r.company = &company
	return r
}

// Optional namespace contact email.
func (r PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesPartialUpdateRequest) Email(email string) PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesPartialUpdateRequest {
	r.email = &email
	return r
}

// Optional short description.
func (r PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesPartialUpdateRequest) Description(description string) PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesPartialUpdateRequest {
	r.description = &description
	return r
}

// Optional resource page in markdown format.
func (r PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesPartialUpdateRequest) Resources(resources string) PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesPartialUpdateRequest {
	r.resources = &resources
	return r
}

// Labeled related links.
func (r PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesPartialUpdateRequest) Links(links []NamespaceLink) PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesPartialUpdateRequest {
	r.links = &links
	return r
}

// Optional avatar image for Namespace
func (r PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesPartialUpdateRequest) Avatar(avatar *os.File) PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesPartialUpdateRequest {
	r.avatar = avatar
	return r
}

func (r PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesPartialUpdateRequest) Execute() (*AsyncOperationResponse, *http.Response, error) {
	return r.ApiService.PulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesPartialUpdateExecute(r)
}

/*
PulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesPartialUpdate Method for PulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesPartialUpdate

Provides the authentication and permission classes from settings.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param distroBasePath
 @param name
 @return PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesPartialUpdateRequest
*/
func (a *PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIService) PulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesPartialUpdate(ctx context.Context, distroBasePath string, name string) PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesPartialUpdateRequest {
	return PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesPartialUpdateRequest{
		ApiService: a,
		ctx: ctx,
		distroBasePath: distroBasePath,
		name: name,
	}
}

// Execute executes the request
//  @return AsyncOperationResponse
func (a *PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIService) PulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesPartialUpdateExecute(r PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesPartialUpdateRequest) (*AsyncOperationResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AsyncOperationResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIService.PulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesPartialUpdate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/pulp_ansible/galaxy/default/api/v3/plugin/ansible/content/{distro_base_path}/namespaces/{name}/"
	localVarPath = strings.Replace(localVarPath, "{"+"distro_base_path"+"}", url.PathEscape(parameterValueToString(r.distroBasePath, "distroBasePath")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterValueToString(r.name, "name")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"multipart/form-data", "application/x-www-form-urlencoded"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	if r.name2 != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "name", r.name2, "", "")
	}
	if r.company != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "company", r.company, "", "")
	}
	if r.email != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "email", r.email, "", "")
	}
	if r.description != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "description", r.description, "", "")
	}
	if r.resources != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "resources", r.resources, "", "")
	}
	if r.links != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "links", r.links, "", "csv")
	}
	var avatarLocalVarFormFileName string
	var avatarLocalVarFileName     string
	var avatarLocalVarFileBytes    []byte

	avatarLocalVarFormFileName = "avatar"


	avatarLocalVarFile := r.avatar

	if avatarLocalVarFile != nil {
		fbs, _ := io.ReadAll(avatarLocalVarFile)

		avatarLocalVarFileBytes = fbs
		avatarLocalVarFileName = avatarLocalVarFile.Name()
		avatarLocalVarFile.Close()
		formFiles = append(formFiles, formFile{fileBytes: avatarLocalVarFileBytes, fileName: avatarLocalVarFileName, formFileName: avatarLocalVarFormFileName})
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesReadRequest struct {
	ctx context.Context
	ApiService *PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIService
	distroBasePath string
	name string
	xTaskDiagnostics *[]string
	fields *[]string
	excludeFields *[]string
}

// List of profilers to use on tasks.
func (r PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesReadRequest) XTaskDiagnostics(xTaskDiagnostics []string) PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesReadRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

// A list of fields to include in the response.
func (r PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesReadRequest) Fields(fields []string) PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesReadRequest {
	r.fields = &fields
	return r
}

// A list of fields to exclude from the response.
func (r PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesReadRequest) ExcludeFields(excludeFields []string) PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesReadRequest {
	r.excludeFields = &excludeFields
	return r
}

func (r PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesReadRequest) Execute() (*AnsibleAnsibleNamespaceMetadataResponse, *http.Response, error) {
	return r.ApiService.PulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesReadExecute(r)
}

/*
PulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesRead Method for PulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesRead

Provides the authentication and permission classes from settings.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param distroBasePath
 @param name
 @return PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesReadRequest
*/
func (a *PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIService) PulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesRead(ctx context.Context, distroBasePath string, name string) PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesReadRequest {
	return PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesReadRequest{
		ApiService: a,
		ctx: ctx,
		distroBasePath: distroBasePath,
		name: name,
	}
}

// Execute executes the request
//  @return AnsibleAnsibleNamespaceMetadataResponse
func (a *PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIService) PulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesReadExecute(r PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesReadRequest) (*AnsibleAnsibleNamespaceMetadataResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AnsibleAnsibleNamespaceMetadataResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PulpAnsibleDefaultPluginAnsibleContentNamespacesAPIService.PulpAnsibleGalaxyDefaultPluginAnsibleContentNamespacesRead")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/pulp_ansible/galaxy/default/api/v3/plugin/ansible/content/{distro_base_path}/namespaces/{name}/"
	localVarPath = strings.Replace(localVarPath, "{"+"distro_base_path"+"}", url.PathEscape(parameterValueToString(r.distroBasePath, "distroBasePath")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterValueToString(r.name, "name")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.fields != nil {
		t := *r.fields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "fields", t, "form", "multi")
		}
	}
	if r.excludeFields != nil {
		t := *r.excludeFields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
