/*
Pulp 3 API

Fetch, Upload, Organize, and Distribute Software Packages

API version: v3
Contact: pulp-list@redhat.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package pulpbindings

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"reflect"
)


// ContentReleaseComponentsAPIService ContentReleaseComponentsAPI service
type ContentReleaseComponentsAPIService service

type ContentReleaseComponentsAPIContentDebReleaseComponentsCreateRequest struct {
	ctx context.Context
	ApiService *ContentReleaseComponentsAPIService
	debReleaseComponent *DebReleaseComponent
	xTaskDiagnostics *[]string
}

func (r ContentReleaseComponentsAPIContentDebReleaseComponentsCreateRequest) DebReleaseComponent(debReleaseComponent DebReleaseComponent) ContentReleaseComponentsAPIContentDebReleaseComponentsCreateRequest {
	r.debReleaseComponent = &debReleaseComponent
	return r
}

// List of profilers to use on tasks.
func (r ContentReleaseComponentsAPIContentDebReleaseComponentsCreateRequest) XTaskDiagnostics(xTaskDiagnostics []string) ContentReleaseComponentsAPIContentDebReleaseComponentsCreateRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

func (r ContentReleaseComponentsAPIContentDebReleaseComponentsCreateRequest) Execute() (*AsyncOperationResponse, *http.Response, error) {
	return r.ApiService.ContentDebReleaseComponentsCreateExecute(r)
}

/*
ContentDebReleaseComponentsCreate Create a release component

Trigger an asynchronous task to create content,optionally create new repository version.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ContentReleaseComponentsAPIContentDebReleaseComponentsCreateRequest
*/
func (a *ContentReleaseComponentsAPIService) ContentDebReleaseComponentsCreate(ctx context.Context) ContentReleaseComponentsAPIContentDebReleaseComponentsCreateRequest {
	return ContentReleaseComponentsAPIContentDebReleaseComponentsCreateRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return AsyncOperationResponse
func (a *ContentReleaseComponentsAPIService) ContentDebReleaseComponentsCreateExecute(r ContentReleaseComponentsAPIContentDebReleaseComponentsCreateRequest) (*AsyncOperationResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AsyncOperationResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentReleaseComponentsAPIService.ContentDebReleaseComponentsCreate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v3/content/deb/release_components/"
	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.debReleaseComponent == nil {
		return localVarReturnValue, nil, reportError("debReleaseComponent is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	// body params
	localVarPostBody = r.debReleaseComponent
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ContentReleaseComponentsAPIContentDebReleaseComponentsListRequest struct {
	ctx context.Context
	ApiService *ContentReleaseComponentsAPIService
	xTaskDiagnostics *[]string
	component *string
	distribution *string
	limit *int32
	offset *int32
	ordering *[]string
	orphanedFor *float32
	package_ *string
	prnIn *[]string
	pulpHrefIn *[]string
	pulpIdIn *[]string
	pulpLabelSelect *string
	q *string
	repositoryVersion *string
	repositoryVersionAdded *string
	repositoryVersionRemoved *string
	fields *[]string
	excludeFields *[]string
}

// List of profilers to use on tasks.
func (r ContentReleaseComponentsAPIContentDebReleaseComponentsListRequest) XTaskDiagnostics(xTaskDiagnostics []string) ContentReleaseComponentsAPIContentDebReleaseComponentsListRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

// Filter results where component matches value
func (r ContentReleaseComponentsAPIContentDebReleaseComponentsListRequest) Component(component string) ContentReleaseComponentsAPIContentDebReleaseComponentsListRequest {
	r.component = &component
	return r
}

// Filter results where distribution matches value
func (r ContentReleaseComponentsAPIContentDebReleaseComponentsListRequest) Distribution(distribution string) ContentReleaseComponentsAPIContentDebReleaseComponentsListRequest {
	r.distribution = &distribution
	return r
}

// Number of results to return per page.
func (r ContentReleaseComponentsAPIContentDebReleaseComponentsListRequest) Limit(limit int32) ContentReleaseComponentsAPIContentDebReleaseComponentsListRequest {
	r.limit = &limit
	return r
}

// The initial index from which to return the results.
func (r ContentReleaseComponentsAPIContentDebReleaseComponentsListRequest) Offset(offset int32) ContentReleaseComponentsAPIContentDebReleaseComponentsListRequest {
	r.offset = &offset
	return r
}

// Ordering* &#x60;pulp_id&#x60; - Pulp id* &#x60;-pulp_id&#x60; - Pulp id (descending)* &#x60;pulp_created&#x60; - Pulp created* &#x60;-pulp_created&#x60; - Pulp created (descending)* &#x60;pulp_last_updated&#x60; - Pulp last updated* &#x60;-pulp_last_updated&#x60; - Pulp last updated (descending)* &#x60;pulp_type&#x60; - Pulp type* &#x60;-pulp_type&#x60; - Pulp type (descending)* &#x60;upstream_id&#x60; - Upstream id* &#x60;-upstream_id&#x60; - Upstream id (descending)* &#x60;pulp_labels&#x60; - Pulp labels* &#x60;-pulp_labels&#x60; - Pulp labels (descending)* &#x60;timestamp_of_interest&#x60; - Timestamp of interest* &#x60;-timestamp_of_interest&#x60; - Timestamp of interest (descending)* &#x60;distribution&#x60; - Distribution* &#x60;-distribution&#x60; - Distribution (descending)* &#x60;component&#x60; - Component* &#x60;-component&#x60; - Component (descending)* &#x60;pk&#x60; - Pk* &#x60;-pk&#x60; - Pk (descending)
func (r ContentReleaseComponentsAPIContentDebReleaseComponentsListRequest) Ordering(ordering []string) ContentReleaseComponentsAPIContentDebReleaseComponentsListRequest {
	r.ordering = &ordering
	return r
}

// Minutes Content has been orphaned for. -1 uses ORPHAN_PROTECTION_TIME.
func (r ContentReleaseComponentsAPIContentDebReleaseComponentsListRequest) OrphanedFor(orphanedFor float32) ContentReleaseComponentsAPIContentDebReleaseComponentsListRequest {
	r.orphanedFor = &orphanedFor
	return r
}

//     Must be a comma-separated string: \&quot;package_href,repository_or_repository_version_href\&quot;    package_href: Filter results where ReleaseComponent contains Package    repository_or_repository_version_href: The RepositoryVersion href to filter by, or Repository        href (assume latest version)    
func (r ContentReleaseComponentsAPIContentDebReleaseComponentsListRequest) Package_(package_ string) ContentReleaseComponentsAPIContentDebReleaseComponentsListRequest {
	r.package_ = &package_
	return r
}

// Multiple values may be separated by commas.
func (r ContentReleaseComponentsAPIContentDebReleaseComponentsListRequest) PrnIn(prnIn []string) ContentReleaseComponentsAPIContentDebReleaseComponentsListRequest {
	r.prnIn = &prnIn
	return r
}

// Multiple values may be separated by commas.
func (r ContentReleaseComponentsAPIContentDebReleaseComponentsListRequest) PulpHrefIn(pulpHrefIn []string) ContentReleaseComponentsAPIContentDebReleaseComponentsListRequest {
	r.pulpHrefIn = &pulpHrefIn
	return r
}

// Multiple values may be separated by commas.
func (r ContentReleaseComponentsAPIContentDebReleaseComponentsListRequest) PulpIdIn(pulpIdIn []string) ContentReleaseComponentsAPIContentDebReleaseComponentsListRequest {
	r.pulpIdIn = &pulpIdIn
	return r
}

// Filter labels by search string
func (r ContentReleaseComponentsAPIContentDebReleaseComponentsListRequest) PulpLabelSelect(pulpLabelSelect string) ContentReleaseComponentsAPIContentDebReleaseComponentsListRequest {
	r.pulpLabelSelect = &pulpLabelSelect
	return r
}

// Filter results by using NOT, AND and OR operations on other filters
func (r ContentReleaseComponentsAPIContentDebReleaseComponentsListRequest) Q(q string) ContentReleaseComponentsAPIContentDebReleaseComponentsListRequest {
	r.q = &q
	return r
}

// Repository Version referenced by HREF/PRN
func (r ContentReleaseComponentsAPIContentDebReleaseComponentsListRequest) RepositoryVersion(repositoryVersion string) ContentReleaseComponentsAPIContentDebReleaseComponentsListRequest {
	r.repositoryVersion = &repositoryVersion
	return r
}

// Repository Version referenced by HREF/PRN
func (r ContentReleaseComponentsAPIContentDebReleaseComponentsListRequest) RepositoryVersionAdded(repositoryVersionAdded string) ContentReleaseComponentsAPIContentDebReleaseComponentsListRequest {
	r.repositoryVersionAdded = &repositoryVersionAdded
	return r
}

// Repository Version referenced by HREF/PRN
func (r ContentReleaseComponentsAPIContentDebReleaseComponentsListRequest) RepositoryVersionRemoved(repositoryVersionRemoved string) ContentReleaseComponentsAPIContentDebReleaseComponentsListRequest {
	r.repositoryVersionRemoved = &repositoryVersionRemoved
	return r
}

// A list of fields to include in the response.
func (r ContentReleaseComponentsAPIContentDebReleaseComponentsListRequest) Fields(fields []string) ContentReleaseComponentsAPIContentDebReleaseComponentsListRequest {
	r.fields = &fields
	return r
}

// A list of fields to exclude from the response.
func (r ContentReleaseComponentsAPIContentDebReleaseComponentsListRequest) ExcludeFields(excludeFields []string) ContentReleaseComponentsAPIContentDebReleaseComponentsListRequest {
	r.excludeFields = &excludeFields
	return r
}

func (r ContentReleaseComponentsAPIContentDebReleaseComponentsListRequest) Execute() (*PaginateddebReleaseComponentResponseList, *http.Response, error) {
	return r.ApiService.ContentDebReleaseComponentsListExecute(r)
}

/*
ContentDebReleaseComponentsList List release components

A ReleaseComponent represents a single APT repository component.Associated artifacts: None; contains only metadata.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ContentReleaseComponentsAPIContentDebReleaseComponentsListRequest
*/
func (a *ContentReleaseComponentsAPIService) ContentDebReleaseComponentsList(ctx context.Context) ContentReleaseComponentsAPIContentDebReleaseComponentsListRequest {
	return ContentReleaseComponentsAPIContentDebReleaseComponentsListRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return PaginateddebReleaseComponentResponseList
func (a *ContentReleaseComponentsAPIService) ContentDebReleaseComponentsListExecute(r ContentReleaseComponentsAPIContentDebReleaseComponentsListRequest) (*PaginateddebReleaseComponentResponseList, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PaginateddebReleaseComponentResponseList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentReleaseComponentsAPIService.ContentDebReleaseComponentsList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v3/content/deb/release_components/"
	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.component != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "component", r.component, "form", "")
	}
	if r.distribution != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "distribution", r.distribution, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	}
	if r.ordering != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ordering", r.ordering, "form", "csv")
	}
	if r.orphanedFor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "orphaned_for", r.orphanedFor, "form", "")
	}
	if r.package_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "package", r.package_, "form", "")
	}
	if r.prnIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "prn__in", r.prnIn, "form", "csv")
	}
	if r.pulpHrefIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pulp_href__in", r.pulpHrefIn, "form", "csv")
	}
	if r.pulpIdIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pulp_id__in", r.pulpIdIn, "form", "csv")
	}
	if r.pulpLabelSelect != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pulp_label_select", r.pulpLabelSelect, "form", "")
	}
	if r.q != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "q", r.q, "form", "")
	}
	if r.repositoryVersion != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repository_version", r.repositoryVersion, "form", "")
	}
	if r.repositoryVersionAdded != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repository_version_added", r.repositoryVersionAdded, "form", "")
	}
	if r.repositoryVersionRemoved != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repository_version_removed", r.repositoryVersionRemoved, "form", "")
	}
	if r.fields != nil {
		t := *r.fields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "fields", t, "form", "multi")
		}
	}
	if r.excludeFields != nil {
		t := *r.excludeFields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ContentReleaseComponentsAPIContentDebReleaseComponentsReadRequest struct {
	ctx context.Context
	ApiService *ContentReleaseComponentsAPIService
	debReleaseComponentHref string
	xTaskDiagnostics *[]string
	fields *[]string
	excludeFields *[]string
}

// List of profilers to use on tasks.
func (r ContentReleaseComponentsAPIContentDebReleaseComponentsReadRequest) XTaskDiagnostics(xTaskDiagnostics []string) ContentReleaseComponentsAPIContentDebReleaseComponentsReadRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

// A list of fields to include in the response.
func (r ContentReleaseComponentsAPIContentDebReleaseComponentsReadRequest) Fields(fields []string) ContentReleaseComponentsAPIContentDebReleaseComponentsReadRequest {
	r.fields = &fields
	return r
}

// A list of fields to exclude from the response.
func (r ContentReleaseComponentsAPIContentDebReleaseComponentsReadRequest) ExcludeFields(excludeFields []string) ContentReleaseComponentsAPIContentDebReleaseComponentsReadRequest {
	r.excludeFields = &excludeFields
	return r
}

func (r ContentReleaseComponentsAPIContentDebReleaseComponentsReadRequest) Execute() (*DebReleaseComponentResponse, *http.Response, error) {
	return r.ApiService.ContentDebReleaseComponentsReadExecute(r)
}

/*
ContentDebReleaseComponentsRead Inspect a release component

A ReleaseComponent represents a single APT repository component.Associated artifacts: None; contains only metadata.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param debReleaseComponentHref
 @return ContentReleaseComponentsAPIContentDebReleaseComponentsReadRequest
*/
func (a *ContentReleaseComponentsAPIService) ContentDebReleaseComponentsRead(ctx context.Context, debReleaseComponentHref string) ContentReleaseComponentsAPIContentDebReleaseComponentsReadRequest {
	return ContentReleaseComponentsAPIContentDebReleaseComponentsReadRequest{
		ApiService: a,
		ctx: ctx,
		debReleaseComponentHref: debReleaseComponentHref,
	}
}

// Execute executes the request
//  @return DebReleaseComponentResponse
func (a *ContentReleaseComponentsAPIService) ContentDebReleaseComponentsReadExecute(r ContentReleaseComponentsAPIContentDebReleaseComponentsReadRequest) (*DebReleaseComponentResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *DebReleaseComponentResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentReleaseComponentsAPIService.ContentDebReleaseComponentsRead")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{deb_release_component_href}"
	localVarPath = strings.Replace(localVarPath, "{"+"deb_release_component_href"+"}", url.PathEscape(parameterValueToString(r.debReleaseComponentHref, "debReleaseComponentHref")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.fields != nil {
		t := *r.fields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "fields", t, "form", "multi")
		}
	}
	if r.excludeFields != nil {
		t := *r.excludeFields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ContentReleaseComponentsAPIContentDebReleaseComponentsSetLabelRequest struct {
	ctx context.Context
	ApiService *ContentReleaseComponentsAPIService
	debReleaseComponentHref string
	setLabel *SetLabel
	xTaskDiagnostics *[]string
}

func (r ContentReleaseComponentsAPIContentDebReleaseComponentsSetLabelRequest) SetLabel(setLabel SetLabel) ContentReleaseComponentsAPIContentDebReleaseComponentsSetLabelRequest {
	r.setLabel = &setLabel
	return r
}

// List of profilers to use on tasks.
func (r ContentReleaseComponentsAPIContentDebReleaseComponentsSetLabelRequest) XTaskDiagnostics(xTaskDiagnostics []string) ContentReleaseComponentsAPIContentDebReleaseComponentsSetLabelRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

func (r ContentReleaseComponentsAPIContentDebReleaseComponentsSetLabelRequest) Execute() (*SetLabelResponse, *http.Response, error) {
	return r.ApiService.ContentDebReleaseComponentsSetLabelExecute(r)
}

/*
ContentDebReleaseComponentsSetLabel Set a label

Set a single pulp_label on the object to a specific value or null.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param debReleaseComponentHref
 @return ContentReleaseComponentsAPIContentDebReleaseComponentsSetLabelRequest
*/
func (a *ContentReleaseComponentsAPIService) ContentDebReleaseComponentsSetLabel(ctx context.Context, debReleaseComponentHref string) ContentReleaseComponentsAPIContentDebReleaseComponentsSetLabelRequest {
	return ContentReleaseComponentsAPIContentDebReleaseComponentsSetLabelRequest{
		ApiService: a,
		ctx: ctx,
		debReleaseComponentHref: debReleaseComponentHref,
	}
}

// Execute executes the request
//  @return SetLabelResponse
func (a *ContentReleaseComponentsAPIService) ContentDebReleaseComponentsSetLabelExecute(r ContentReleaseComponentsAPIContentDebReleaseComponentsSetLabelRequest) (*SetLabelResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SetLabelResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentReleaseComponentsAPIService.ContentDebReleaseComponentsSetLabel")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{deb_release_component_href}set_label/"
	localVarPath = strings.Replace(localVarPath, "{"+"deb_release_component_href"+"}", url.PathEscape(parameterValueToString(r.debReleaseComponentHref, "debReleaseComponentHref")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.setLabel == nil {
		return localVarReturnValue, nil, reportError("setLabel is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	// body params
	localVarPostBody = r.setLabel
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ContentReleaseComponentsAPIContentDebReleaseComponentsUnsetLabelRequest struct {
	ctx context.Context
	ApiService *ContentReleaseComponentsAPIService
	debReleaseComponentHref string
	unsetLabel *UnsetLabel
	xTaskDiagnostics *[]string
}

func (r ContentReleaseComponentsAPIContentDebReleaseComponentsUnsetLabelRequest) UnsetLabel(unsetLabel UnsetLabel) ContentReleaseComponentsAPIContentDebReleaseComponentsUnsetLabelRequest {
	r.unsetLabel = &unsetLabel
	return r
}

// List of profilers to use on tasks.
func (r ContentReleaseComponentsAPIContentDebReleaseComponentsUnsetLabelRequest) XTaskDiagnostics(xTaskDiagnostics []string) ContentReleaseComponentsAPIContentDebReleaseComponentsUnsetLabelRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

func (r ContentReleaseComponentsAPIContentDebReleaseComponentsUnsetLabelRequest) Execute() (*UnsetLabelResponse, *http.Response, error) {
	return r.ApiService.ContentDebReleaseComponentsUnsetLabelExecute(r)
}

/*
ContentDebReleaseComponentsUnsetLabel Unset a label

Unset a single pulp_label on the object.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param debReleaseComponentHref
 @return ContentReleaseComponentsAPIContentDebReleaseComponentsUnsetLabelRequest
*/
func (a *ContentReleaseComponentsAPIService) ContentDebReleaseComponentsUnsetLabel(ctx context.Context, debReleaseComponentHref string) ContentReleaseComponentsAPIContentDebReleaseComponentsUnsetLabelRequest {
	return ContentReleaseComponentsAPIContentDebReleaseComponentsUnsetLabelRequest{
		ApiService: a,
		ctx: ctx,
		debReleaseComponentHref: debReleaseComponentHref,
	}
}

// Execute executes the request
//  @return UnsetLabelResponse
func (a *ContentReleaseComponentsAPIService) ContentDebReleaseComponentsUnsetLabelExecute(r ContentReleaseComponentsAPIContentDebReleaseComponentsUnsetLabelRequest) (*UnsetLabelResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *UnsetLabelResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentReleaseComponentsAPIService.ContentDebReleaseComponentsUnsetLabel")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{deb_release_component_href}unset_label/"
	localVarPath = strings.Replace(localVarPath, "{"+"deb_release_component_href"+"}", url.PathEscape(parameterValueToString(r.debReleaseComponentHref, "debReleaseComponentHref")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.unsetLabel == nil {
		return localVarReturnValue, nil, reportError("unsetLabel is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	// body params
	localVarPostBody = r.unsetLabel
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
