/*
Pulp 3 API

Fetch, Upload, Organize, and Distribute Software Packages

API version: v3
Contact: pulp-list@redhat.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package pulpbindings

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"os"
)


// PulpAnsibleArtifactsCollectionsV3APIService PulpAnsibleArtifactsCollectionsV3API service
type PulpAnsibleArtifactsCollectionsV3APIService service

type PulpAnsibleArtifactsCollectionsV3APIPulpAnsibleGalaxyArtifactsCollectionsCreateRequest struct {
	ctx context.Context
	ApiService *PulpAnsibleArtifactsCollectionsV3APIService
	path string
	file *os.File
	xTaskDiagnostics *[]string
	sha256 *string
	expectedNamespace *string
	expectedName *string
	expectedVersion *string
}

// The Collection tarball.
func (r PulpAnsibleArtifactsCollectionsV3APIPulpAnsibleGalaxyArtifactsCollectionsCreateRequest) File(file *os.File) PulpAnsibleArtifactsCollectionsV3APIPulpAnsibleGalaxyArtifactsCollectionsCreateRequest {
	r.file = file
	return r
}

// List of profilers to use on tasks.
func (r PulpAnsibleArtifactsCollectionsV3APIPulpAnsibleGalaxyArtifactsCollectionsCreateRequest) XTaskDiagnostics(xTaskDiagnostics []string) PulpAnsibleArtifactsCollectionsV3APIPulpAnsibleGalaxyArtifactsCollectionsCreateRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

// An optional sha256 checksum of the uploaded file.
func (r PulpAnsibleArtifactsCollectionsV3APIPulpAnsibleGalaxyArtifactsCollectionsCreateRequest) Sha256(sha256 string) PulpAnsibleArtifactsCollectionsV3APIPulpAnsibleGalaxyArtifactsCollectionsCreateRequest {
	r.sha256 = &sha256
	return r
}

// The expected &#39;namespace&#39; of the Collection to be verified against the metadata during import.
func (r PulpAnsibleArtifactsCollectionsV3APIPulpAnsibleGalaxyArtifactsCollectionsCreateRequest) ExpectedNamespace(expectedNamespace string) PulpAnsibleArtifactsCollectionsV3APIPulpAnsibleGalaxyArtifactsCollectionsCreateRequest {
	r.expectedNamespace = &expectedNamespace
	return r
}

// The expected &#39;name&#39; of the Collection to be verified against the metadata during import.
func (r PulpAnsibleArtifactsCollectionsV3APIPulpAnsibleGalaxyArtifactsCollectionsCreateRequest) ExpectedName(expectedName string) PulpAnsibleArtifactsCollectionsV3APIPulpAnsibleGalaxyArtifactsCollectionsCreateRequest {
	r.expectedName = &expectedName
	return r
}

// The expected version of the Collection to be verified against the metadata during import.
func (r PulpAnsibleArtifactsCollectionsV3APIPulpAnsibleGalaxyArtifactsCollectionsCreateRequest) ExpectedVersion(expectedVersion string) PulpAnsibleArtifactsCollectionsV3APIPulpAnsibleGalaxyArtifactsCollectionsCreateRequest {
	r.expectedVersion = &expectedVersion
	return r
}

func (r PulpAnsibleArtifactsCollectionsV3APIPulpAnsibleGalaxyArtifactsCollectionsCreateRequest) Execute() (*AsyncOperationResponse, *http.Response, error) {
	return r.ApiService.PulpAnsibleGalaxyArtifactsCollectionsCreateExecute(r)
}

/*
PulpAnsibleGalaxyArtifactsCollectionsCreate Upload a collection

Create an artifact and trigger an asynchronous task to create Collection content from it.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param path
 @return PulpAnsibleArtifactsCollectionsV3APIPulpAnsibleGalaxyArtifactsCollectionsCreateRequest

Deprecated
*/
func (a *PulpAnsibleArtifactsCollectionsV3APIService) PulpAnsibleGalaxyArtifactsCollectionsCreate(ctx context.Context, path string) PulpAnsibleArtifactsCollectionsV3APIPulpAnsibleGalaxyArtifactsCollectionsCreateRequest {
	return PulpAnsibleArtifactsCollectionsV3APIPulpAnsibleGalaxyArtifactsCollectionsCreateRequest{
		ApiService: a,
		ctx: ctx,
		path: path,
	}
}

// Execute executes the request
//  @return AsyncOperationResponse
// Deprecated
func (a *PulpAnsibleArtifactsCollectionsV3APIService) PulpAnsibleGalaxyArtifactsCollectionsCreateExecute(r PulpAnsibleArtifactsCollectionsV3APIPulpAnsibleGalaxyArtifactsCollectionsCreateRequest) (*AsyncOperationResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AsyncOperationResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PulpAnsibleArtifactsCollectionsV3APIService.PulpAnsibleGalaxyArtifactsCollectionsCreate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/pulp_ansible/galaxy/{path}/api/v3/artifacts/collections/"
	localVarPath = strings.Replace(localVarPath, "{"+"path"+"}", url.PathEscape(parameterValueToString(r.path, "path")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.file == nil {
		return localVarReturnValue, nil, reportError("file is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"multipart/form-data", "application/x-www-form-urlencoded"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	var fileLocalVarFormFileName string
	var fileLocalVarFileName     string
	var fileLocalVarFileBytes    []byte

	fileLocalVarFormFileName = "file"


	fileLocalVarFile := r.file

	if fileLocalVarFile != nil {
		fbs, _ := io.ReadAll(fileLocalVarFile)

		fileLocalVarFileBytes = fbs
		fileLocalVarFileName = fileLocalVarFile.Name()
		fileLocalVarFile.Close()
		formFiles = append(formFiles, formFile{fileBytes: fileLocalVarFileBytes, fileName: fileLocalVarFileName, formFileName: fileLocalVarFormFileName})
	}
	if r.sha256 != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "sha256", r.sha256, "", "")
	}
	if r.expectedNamespace != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "expected_namespace", r.expectedNamespace, "", "")
	}
	if r.expectedName != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "expected_name", r.expectedName, "", "")
	}
	if r.expectedVersion != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "expected_version", r.expectedVersion, "", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type PulpAnsibleArtifactsCollectionsV3APIPulpAnsibleGalaxyDefaultArtifactsCollectionsCreateRequest struct {
	ctx context.Context
	ApiService *PulpAnsibleArtifactsCollectionsV3APIService
	file *os.File
	xTaskDiagnostics *[]string
	sha256 *string
	expectedNamespace *string
	expectedName *string
	expectedVersion *string
}

// The Collection tarball.
func (r PulpAnsibleArtifactsCollectionsV3APIPulpAnsibleGalaxyDefaultArtifactsCollectionsCreateRequest) File(file *os.File) PulpAnsibleArtifactsCollectionsV3APIPulpAnsibleGalaxyDefaultArtifactsCollectionsCreateRequest {
	r.file = file
	return r
}

// List of profilers to use on tasks.
func (r PulpAnsibleArtifactsCollectionsV3APIPulpAnsibleGalaxyDefaultArtifactsCollectionsCreateRequest) XTaskDiagnostics(xTaskDiagnostics []string) PulpAnsibleArtifactsCollectionsV3APIPulpAnsibleGalaxyDefaultArtifactsCollectionsCreateRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

// An optional sha256 checksum of the uploaded file.
func (r PulpAnsibleArtifactsCollectionsV3APIPulpAnsibleGalaxyDefaultArtifactsCollectionsCreateRequest) Sha256(sha256 string) PulpAnsibleArtifactsCollectionsV3APIPulpAnsibleGalaxyDefaultArtifactsCollectionsCreateRequest {
	r.sha256 = &sha256
	return r
}

// The expected &#39;namespace&#39; of the Collection to be verified against the metadata during import.
func (r PulpAnsibleArtifactsCollectionsV3APIPulpAnsibleGalaxyDefaultArtifactsCollectionsCreateRequest) ExpectedNamespace(expectedNamespace string) PulpAnsibleArtifactsCollectionsV3APIPulpAnsibleGalaxyDefaultArtifactsCollectionsCreateRequest {
	r.expectedNamespace = &expectedNamespace
	return r
}

// The expected &#39;name&#39; of the Collection to be verified against the metadata during import.
func (r PulpAnsibleArtifactsCollectionsV3APIPulpAnsibleGalaxyDefaultArtifactsCollectionsCreateRequest) ExpectedName(expectedName string) PulpAnsibleArtifactsCollectionsV3APIPulpAnsibleGalaxyDefaultArtifactsCollectionsCreateRequest {
	r.expectedName = &expectedName
	return r
}

// The expected version of the Collection to be verified against the metadata during import.
func (r PulpAnsibleArtifactsCollectionsV3APIPulpAnsibleGalaxyDefaultArtifactsCollectionsCreateRequest) ExpectedVersion(expectedVersion string) PulpAnsibleArtifactsCollectionsV3APIPulpAnsibleGalaxyDefaultArtifactsCollectionsCreateRequest {
	r.expectedVersion = &expectedVersion
	return r
}

func (r PulpAnsibleArtifactsCollectionsV3APIPulpAnsibleGalaxyDefaultArtifactsCollectionsCreateRequest) Execute() (*AsyncOperationResponse, *http.Response, error) {
	return r.ApiService.PulpAnsibleGalaxyDefaultArtifactsCollectionsCreateExecute(r)
}

/*
PulpAnsibleGalaxyDefaultArtifactsCollectionsCreate Upload a collection

Create an artifact and trigger an asynchronous task to create Collection content from it.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return PulpAnsibleArtifactsCollectionsV3APIPulpAnsibleGalaxyDefaultArtifactsCollectionsCreateRequest

Deprecated
*/
func (a *PulpAnsibleArtifactsCollectionsV3APIService) PulpAnsibleGalaxyDefaultArtifactsCollectionsCreate(ctx context.Context) PulpAnsibleArtifactsCollectionsV3APIPulpAnsibleGalaxyDefaultArtifactsCollectionsCreateRequest {
	return PulpAnsibleArtifactsCollectionsV3APIPulpAnsibleGalaxyDefaultArtifactsCollectionsCreateRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return AsyncOperationResponse
// Deprecated
func (a *PulpAnsibleArtifactsCollectionsV3APIService) PulpAnsibleGalaxyDefaultArtifactsCollectionsCreateExecute(r PulpAnsibleArtifactsCollectionsV3APIPulpAnsibleGalaxyDefaultArtifactsCollectionsCreateRequest) (*AsyncOperationResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AsyncOperationResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PulpAnsibleArtifactsCollectionsV3APIService.PulpAnsibleGalaxyDefaultArtifactsCollectionsCreate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/pulp_ansible/galaxy/default/api/v3/artifacts/collections/"
	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.file == nil {
		return localVarReturnValue, nil, reportError("file is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"multipart/form-data", "application/x-www-form-urlencoded"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	var fileLocalVarFormFileName string
	var fileLocalVarFileName     string
	var fileLocalVarFileBytes    []byte

	fileLocalVarFormFileName = "file"


	fileLocalVarFile := r.file

	if fileLocalVarFile != nil {
		fbs, _ := io.ReadAll(fileLocalVarFile)

		fileLocalVarFileBytes = fbs
		fileLocalVarFileName = fileLocalVarFile.Name()
		fileLocalVarFile.Close()
		formFiles = append(formFiles, formFile{fileBytes: fileLocalVarFileBytes, fileName: fileLocalVarFileName, formFileName: fileLocalVarFormFileName})
	}
	if r.sha256 != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "sha256", r.sha256, "", "")
	}
	if r.expectedNamespace != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "expected_namespace", r.expectedNamespace, "", "")
	}
	if r.expectedName != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "expected_name", r.expectedName, "", "")
	}
	if r.expectedVersion != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "expected_version", r.expectedVersion, "", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type PulpAnsibleArtifactsCollectionsV3APIPulpAnsibleGalaxyDefaultPluginAnsibleContentCollectionsArtifactsCreateRequest struct {
	ctx context.Context
	ApiService *PulpAnsibleArtifactsCollectionsV3APIService
	distroBasePath string
	file *os.File
	xTaskDiagnostics *[]string
	sha256 *string
	expectedNamespace *string
	expectedName *string
	expectedVersion *string
}

// The Collection tarball.
func (r PulpAnsibleArtifactsCollectionsV3APIPulpAnsibleGalaxyDefaultPluginAnsibleContentCollectionsArtifactsCreateRequest) File(file *os.File) PulpAnsibleArtifactsCollectionsV3APIPulpAnsibleGalaxyDefaultPluginAnsibleContentCollectionsArtifactsCreateRequest {
	r.file = file
	return r
}

// List of profilers to use on tasks.
func (r PulpAnsibleArtifactsCollectionsV3APIPulpAnsibleGalaxyDefaultPluginAnsibleContentCollectionsArtifactsCreateRequest) XTaskDiagnostics(xTaskDiagnostics []string) PulpAnsibleArtifactsCollectionsV3APIPulpAnsibleGalaxyDefaultPluginAnsibleContentCollectionsArtifactsCreateRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

// An optional sha256 checksum of the uploaded file.
func (r PulpAnsibleArtifactsCollectionsV3APIPulpAnsibleGalaxyDefaultPluginAnsibleContentCollectionsArtifactsCreateRequest) Sha256(sha256 string) PulpAnsibleArtifactsCollectionsV3APIPulpAnsibleGalaxyDefaultPluginAnsibleContentCollectionsArtifactsCreateRequest {
	r.sha256 = &sha256
	return r
}

// The expected &#39;namespace&#39; of the Collection to be verified against the metadata during import.
func (r PulpAnsibleArtifactsCollectionsV3APIPulpAnsibleGalaxyDefaultPluginAnsibleContentCollectionsArtifactsCreateRequest) ExpectedNamespace(expectedNamespace string) PulpAnsibleArtifactsCollectionsV3APIPulpAnsibleGalaxyDefaultPluginAnsibleContentCollectionsArtifactsCreateRequest {
	r.expectedNamespace = &expectedNamespace
	return r
}

// The expected &#39;name&#39; of the Collection to be verified against the metadata during import.
func (r PulpAnsibleArtifactsCollectionsV3APIPulpAnsibleGalaxyDefaultPluginAnsibleContentCollectionsArtifactsCreateRequest) ExpectedName(expectedName string) PulpAnsibleArtifactsCollectionsV3APIPulpAnsibleGalaxyDefaultPluginAnsibleContentCollectionsArtifactsCreateRequest {
	r.expectedName = &expectedName
	return r
}

// The expected version of the Collection to be verified against the metadata during import.
func (r PulpAnsibleArtifactsCollectionsV3APIPulpAnsibleGalaxyDefaultPluginAnsibleContentCollectionsArtifactsCreateRequest) ExpectedVersion(expectedVersion string) PulpAnsibleArtifactsCollectionsV3APIPulpAnsibleGalaxyDefaultPluginAnsibleContentCollectionsArtifactsCreateRequest {
	r.expectedVersion = &expectedVersion
	return r
}

func (r PulpAnsibleArtifactsCollectionsV3APIPulpAnsibleGalaxyDefaultPluginAnsibleContentCollectionsArtifactsCreateRequest) Execute() (*AsyncOperationResponse, *http.Response, error) {
	return r.ApiService.PulpAnsibleGalaxyDefaultPluginAnsibleContentCollectionsArtifactsCreateExecute(r)
}

/*
PulpAnsibleGalaxyDefaultPluginAnsibleContentCollectionsArtifactsCreate Upload a collection

Create an artifact and trigger an asynchronous task to create Collection content from it.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param distroBasePath
 @return PulpAnsibleArtifactsCollectionsV3APIPulpAnsibleGalaxyDefaultPluginAnsibleContentCollectionsArtifactsCreateRequest
*/
func (a *PulpAnsibleArtifactsCollectionsV3APIService) PulpAnsibleGalaxyDefaultPluginAnsibleContentCollectionsArtifactsCreate(ctx context.Context, distroBasePath string) PulpAnsibleArtifactsCollectionsV3APIPulpAnsibleGalaxyDefaultPluginAnsibleContentCollectionsArtifactsCreateRequest {
	return PulpAnsibleArtifactsCollectionsV3APIPulpAnsibleGalaxyDefaultPluginAnsibleContentCollectionsArtifactsCreateRequest{
		ApiService: a,
		ctx: ctx,
		distroBasePath: distroBasePath,
	}
}

// Execute executes the request
//  @return AsyncOperationResponse
func (a *PulpAnsibleArtifactsCollectionsV3APIService) PulpAnsibleGalaxyDefaultPluginAnsibleContentCollectionsArtifactsCreateExecute(r PulpAnsibleArtifactsCollectionsV3APIPulpAnsibleGalaxyDefaultPluginAnsibleContentCollectionsArtifactsCreateRequest) (*AsyncOperationResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AsyncOperationResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PulpAnsibleArtifactsCollectionsV3APIService.PulpAnsibleGalaxyDefaultPluginAnsibleContentCollectionsArtifactsCreate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/pulp_ansible/galaxy/default/api/v3/plugin/ansible/content/{distro_base_path}/collections/artifacts/"
	localVarPath = strings.Replace(localVarPath, "{"+"distro_base_path"+"}", url.PathEscape(parameterValueToString(r.distroBasePath, "distroBasePath")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.file == nil {
		return localVarReturnValue, nil, reportError("file is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"multipart/form-data", "application/x-www-form-urlencoded"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	var fileLocalVarFormFileName string
	var fileLocalVarFileName     string
	var fileLocalVarFileBytes    []byte

	fileLocalVarFormFileName = "file"


	fileLocalVarFile := r.file

	if fileLocalVarFile != nil {
		fbs, _ := io.ReadAll(fileLocalVarFile)

		fileLocalVarFileBytes = fbs
		fileLocalVarFileName = fileLocalVarFile.Name()
		fileLocalVarFile.Close()
		formFiles = append(formFiles, formFile{fileBytes: fileLocalVarFileBytes, fileName: fileLocalVarFileName, formFileName: fileLocalVarFormFileName})
	}
	if r.sha256 != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "sha256", r.sha256, "", "")
	}
	if r.expectedNamespace != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "expected_namespace", r.expectedNamespace, "", "")
	}
	if r.expectedName != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "expected_name", r.expectedName, "", "")
	}
	if r.expectedVersion != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "expected_version", r.expectedVersion, "", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type PulpAnsibleArtifactsCollectionsV3APIPulpAnsibleGalaxyPluginAnsibleContentCollectionsArtifactsCreateRequest struct {
	ctx context.Context
	ApiService *PulpAnsibleArtifactsCollectionsV3APIService
	distroBasePath string
	path string
	file *os.File
	xTaskDiagnostics *[]string
	sha256 *string
	expectedNamespace *string
	expectedName *string
	expectedVersion *string
}

// The Collection tarball.
func (r PulpAnsibleArtifactsCollectionsV3APIPulpAnsibleGalaxyPluginAnsibleContentCollectionsArtifactsCreateRequest) File(file *os.File) PulpAnsibleArtifactsCollectionsV3APIPulpAnsibleGalaxyPluginAnsibleContentCollectionsArtifactsCreateRequest {
	r.file = file
	return r
}

// List of profilers to use on tasks.
func (r PulpAnsibleArtifactsCollectionsV3APIPulpAnsibleGalaxyPluginAnsibleContentCollectionsArtifactsCreateRequest) XTaskDiagnostics(xTaskDiagnostics []string) PulpAnsibleArtifactsCollectionsV3APIPulpAnsibleGalaxyPluginAnsibleContentCollectionsArtifactsCreateRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

// An optional sha256 checksum of the uploaded file.
func (r PulpAnsibleArtifactsCollectionsV3APIPulpAnsibleGalaxyPluginAnsibleContentCollectionsArtifactsCreateRequest) Sha256(sha256 string) PulpAnsibleArtifactsCollectionsV3APIPulpAnsibleGalaxyPluginAnsibleContentCollectionsArtifactsCreateRequest {
	r.sha256 = &sha256
	return r
}

// The expected &#39;namespace&#39; of the Collection to be verified against the metadata during import.
func (r PulpAnsibleArtifactsCollectionsV3APIPulpAnsibleGalaxyPluginAnsibleContentCollectionsArtifactsCreateRequest) ExpectedNamespace(expectedNamespace string) PulpAnsibleArtifactsCollectionsV3APIPulpAnsibleGalaxyPluginAnsibleContentCollectionsArtifactsCreateRequest {
	r.expectedNamespace = &expectedNamespace
	return r
}

// The expected &#39;name&#39; of the Collection to be verified against the metadata during import.
func (r PulpAnsibleArtifactsCollectionsV3APIPulpAnsibleGalaxyPluginAnsibleContentCollectionsArtifactsCreateRequest) ExpectedName(expectedName string) PulpAnsibleArtifactsCollectionsV3APIPulpAnsibleGalaxyPluginAnsibleContentCollectionsArtifactsCreateRequest {
	r.expectedName = &expectedName
	return r
}

// The expected version of the Collection to be verified against the metadata during import.
func (r PulpAnsibleArtifactsCollectionsV3APIPulpAnsibleGalaxyPluginAnsibleContentCollectionsArtifactsCreateRequest) ExpectedVersion(expectedVersion string) PulpAnsibleArtifactsCollectionsV3APIPulpAnsibleGalaxyPluginAnsibleContentCollectionsArtifactsCreateRequest {
	r.expectedVersion = &expectedVersion
	return r
}

func (r PulpAnsibleArtifactsCollectionsV3APIPulpAnsibleGalaxyPluginAnsibleContentCollectionsArtifactsCreateRequest) Execute() (*AsyncOperationResponse, *http.Response, error) {
	return r.ApiService.PulpAnsibleGalaxyPluginAnsibleContentCollectionsArtifactsCreateExecute(r)
}

/*
PulpAnsibleGalaxyPluginAnsibleContentCollectionsArtifactsCreate Upload a collection

Create an artifact and trigger an asynchronous task to create Collection content from it.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param distroBasePath
 @param path
 @return PulpAnsibleArtifactsCollectionsV3APIPulpAnsibleGalaxyPluginAnsibleContentCollectionsArtifactsCreateRequest
*/
func (a *PulpAnsibleArtifactsCollectionsV3APIService) PulpAnsibleGalaxyPluginAnsibleContentCollectionsArtifactsCreate(ctx context.Context, distroBasePath string, path string) PulpAnsibleArtifactsCollectionsV3APIPulpAnsibleGalaxyPluginAnsibleContentCollectionsArtifactsCreateRequest {
	return PulpAnsibleArtifactsCollectionsV3APIPulpAnsibleGalaxyPluginAnsibleContentCollectionsArtifactsCreateRequest{
		ApiService: a,
		ctx: ctx,
		distroBasePath: distroBasePath,
		path: path,
	}
}

// Execute executes the request
//  @return AsyncOperationResponse
func (a *PulpAnsibleArtifactsCollectionsV3APIService) PulpAnsibleGalaxyPluginAnsibleContentCollectionsArtifactsCreateExecute(r PulpAnsibleArtifactsCollectionsV3APIPulpAnsibleGalaxyPluginAnsibleContentCollectionsArtifactsCreateRequest) (*AsyncOperationResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AsyncOperationResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PulpAnsibleArtifactsCollectionsV3APIService.PulpAnsibleGalaxyPluginAnsibleContentCollectionsArtifactsCreate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/pulp_ansible/galaxy/{path}/api/v3/plugin/ansible/content/{distro_base_path}/collections/artifacts/"
	localVarPath = strings.Replace(localVarPath, "{"+"distro_base_path"+"}", url.PathEscape(parameterValueToString(r.distroBasePath, "distroBasePath")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarPath = strings.Replace(localVarPath, "{"+"path"+"}", url.PathEscape(parameterValueToString(r.path, "path")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.file == nil {
		return localVarReturnValue, nil, reportError("file is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"multipart/form-data", "application/x-www-form-urlencoded"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	var fileLocalVarFormFileName string
	var fileLocalVarFileName     string
	var fileLocalVarFileBytes    []byte

	fileLocalVarFormFileName = "file"


	fileLocalVarFile := r.file

	if fileLocalVarFile != nil {
		fbs, _ := io.ReadAll(fileLocalVarFile)

		fileLocalVarFileBytes = fbs
		fileLocalVarFileName = fileLocalVarFile.Name()
		fileLocalVarFile.Close()
		formFiles = append(formFiles, formFile{fileBytes: fileLocalVarFileBytes, fileName: fileLocalVarFileName, formFileName: fileLocalVarFormFileName})
	}
	if r.sha256 != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "sha256", r.sha256, "", "")
	}
	if r.expectedNamespace != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "expected_namespace", r.expectedNamespace, "", "")
	}
	if r.expectedName != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "expected_name", r.expectedName, "", "")
	}
	if r.expectedVersion != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "expected_version", r.expectedVersion, "", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
