/*
Pulp 3 API

Fetch, Upload, Organize, and Distribute Software Packages

API version: v3
Contact: pulp-list@redhat.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package pulpbindings

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"reflect"
)


// PulpAnsibleDefaultPluginAnsibleClientConfigurationAPIService PulpAnsibleDefaultPluginAnsibleClientConfigurationAPI service
type PulpAnsibleDefaultPluginAnsibleClientConfigurationAPIService service

type PulpAnsibleDefaultPluginAnsibleClientConfigurationAPIPulpAnsibleGalaxyDefaultPluginAnsibleClientConfigurationReadRequest struct {
	ctx context.Context
	ApiService *PulpAnsibleDefaultPluginAnsibleClientConfigurationAPIService
	xTaskDiagnostics *[]string
	fields *[]string
	excludeFields *[]string
}

// List of profilers to use on tasks.
func (r PulpAnsibleDefaultPluginAnsibleClientConfigurationAPIPulpAnsibleGalaxyDefaultPluginAnsibleClientConfigurationReadRequest) XTaskDiagnostics(xTaskDiagnostics []string) PulpAnsibleDefaultPluginAnsibleClientConfigurationAPIPulpAnsibleGalaxyDefaultPluginAnsibleClientConfigurationReadRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

// A list of fields to include in the response.
func (r PulpAnsibleDefaultPluginAnsibleClientConfigurationAPIPulpAnsibleGalaxyDefaultPluginAnsibleClientConfigurationReadRequest) Fields(fields []string) PulpAnsibleDefaultPluginAnsibleClientConfigurationAPIPulpAnsibleGalaxyDefaultPluginAnsibleClientConfigurationReadRequest {
	r.fields = &fields
	return r
}

// A list of fields to exclude from the response.
func (r PulpAnsibleDefaultPluginAnsibleClientConfigurationAPIPulpAnsibleGalaxyDefaultPluginAnsibleClientConfigurationReadRequest) ExcludeFields(excludeFields []string) PulpAnsibleDefaultPluginAnsibleClientConfigurationAPIPulpAnsibleGalaxyDefaultPluginAnsibleClientConfigurationReadRequest {
	r.excludeFields = &excludeFields
	return r
}

func (r PulpAnsibleDefaultPluginAnsibleClientConfigurationAPIPulpAnsibleGalaxyDefaultPluginAnsibleClientConfigurationReadRequest) Execute() (*ClientConfigurationResponse, *http.Response, error) {
	return r.ApiService.PulpAnsibleGalaxyDefaultPluginAnsibleClientConfigurationReadExecute(r)
}

/*
PulpAnsibleGalaxyDefaultPluginAnsibleClientConfigurationRead Method for PulpAnsibleGalaxyDefaultPluginAnsibleClientConfigurationRead

Return configurations for the ansible-galaxy client.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return PulpAnsibleDefaultPluginAnsibleClientConfigurationAPIPulpAnsibleGalaxyDefaultPluginAnsibleClientConfigurationReadRequest
*/
func (a *PulpAnsibleDefaultPluginAnsibleClientConfigurationAPIService) PulpAnsibleGalaxyDefaultPluginAnsibleClientConfigurationRead(ctx context.Context) PulpAnsibleDefaultPluginAnsibleClientConfigurationAPIPulpAnsibleGalaxyDefaultPluginAnsibleClientConfigurationReadRequest {
	return PulpAnsibleDefaultPluginAnsibleClientConfigurationAPIPulpAnsibleGalaxyDefaultPluginAnsibleClientConfigurationReadRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ClientConfigurationResponse
func (a *PulpAnsibleDefaultPluginAnsibleClientConfigurationAPIService) PulpAnsibleGalaxyDefaultPluginAnsibleClientConfigurationReadExecute(r PulpAnsibleDefaultPluginAnsibleClientConfigurationAPIPulpAnsibleGalaxyDefaultPluginAnsibleClientConfigurationReadRequest) (*ClientConfigurationResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ClientConfigurationResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PulpAnsibleDefaultPluginAnsibleClientConfigurationAPIService.PulpAnsibleGalaxyDefaultPluginAnsibleClientConfigurationRead")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/pulp_ansible/galaxy/default/api/v3/plugin/ansible/client-configuration/"
	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.fields != nil {
		t := *r.fields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "fields", t, "form", "multi")
		}
	}
	if r.excludeFields != nil {
		t := *r.excludeFields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
