/*
Pulp 3 API

Fetch, Upload, Organize, and Distribute Software Packages

API version: v3
Contact: pulp-list@redhat.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package pulpbindings

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"reflect"
)


// PulpAnsibleDefaultCollectionsAPIService PulpAnsibleDefaultCollectionsAPI service
type PulpAnsibleDefaultCollectionsAPIService service

type PulpAnsibleDefaultCollectionsAPIPulpAnsibleGalaxyDefaultCollectionsDeleteRequest struct {
	ctx context.Context
	ApiService *PulpAnsibleDefaultCollectionsAPIService
	name string
	namespace string
	xTaskDiagnostics *[]string
}

// List of profilers to use on tasks.
func (r PulpAnsibleDefaultCollectionsAPIPulpAnsibleGalaxyDefaultCollectionsDeleteRequest) XTaskDiagnostics(xTaskDiagnostics []string) PulpAnsibleDefaultCollectionsAPIPulpAnsibleGalaxyDefaultCollectionsDeleteRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

func (r PulpAnsibleDefaultCollectionsAPIPulpAnsibleGalaxyDefaultCollectionsDeleteRequest) Execute() (*AsyncOperationResponse, *http.Response, error) {
	return r.ApiService.PulpAnsibleGalaxyDefaultCollectionsDeleteExecute(r)
}

/*
PulpAnsibleGalaxyDefaultCollectionsDelete Method for PulpAnsibleGalaxyDefaultCollectionsDelete

Legacy v3 endpoint.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param name
 @param namespace
 @return PulpAnsibleDefaultCollectionsAPIPulpAnsibleGalaxyDefaultCollectionsDeleteRequest

Deprecated
*/
func (a *PulpAnsibleDefaultCollectionsAPIService) PulpAnsibleGalaxyDefaultCollectionsDelete(ctx context.Context, name string, namespace string) PulpAnsibleDefaultCollectionsAPIPulpAnsibleGalaxyDefaultCollectionsDeleteRequest {
	return PulpAnsibleDefaultCollectionsAPIPulpAnsibleGalaxyDefaultCollectionsDeleteRequest{
		ApiService: a,
		ctx: ctx,
		name: name,
		namespace: namespace,
	}
}

// Execute executes the request
//  @return AsyncOperationResponse
// Deprecated
func (a *PulpAnsibleDefaultCollectionsAPIService) PulpAnsibleGalaxyDefaultCollectionsDeleteExecute(r PulpAnsibleDefaultCollectionsAPIPulpAnsibleGalaxyDefaultCollectionsDeleteRequest) (*AsyncOperationResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AsyncOperationResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PulpAnsibleDefaultCollectionsAPIService.PulpAnsibleGalaxyDefaultCollectionsDelete")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/pulp_ansible/galaxy/default/api/v3/collections/{namespace}/{name}/"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterValueToString(r.name, "name")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarPath = strings.Replace(localVarPath, "{"+"namespace"+"}", url.PathEscape(parameterValueToString(r.namespace, "namespace")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type PulpAnsibleDefaultCollectionsAPIPulpAnsibleGalaxyDefaultCollectionsListRequest struct {
	ctx context.Context
	ApiService *PulpAnsibleDefaultCollectionsAPIService
	xTaskDiagnostics *[]string
	deprecated *bool
	limit *int32
	name *string
	namespace *string
	offset *int32
	ordering *[]string
	prnIn *[]string
	pulpHrefIn *[]string
	pulpIdIn *[]string
	q *string
	fields *[]string
	excludeFields *[]string
}

// List of profilers to use on tasks.
func (r PulpAnsibleDefaultCollectionsAPIPulpAnsibleGalaxyDefaultCollectionsListRequest) XTaskDiagnostics(xTaskDiagnostics []string) PulpAnsibleDefaultCollectionsAPIPulpAnsibleGalaxyDefaultCollectionsListRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

func (r PulpAnsibleDefaultCollectionsAPIPulpAnsibleGalaxyDefaultCollectionsListRequest) Deprecated(deprecated bool) PulpAnsibleDefaultCollectionsAPIPulpAnsibleGalaxyDefaultCollectionsListRequest {
	r.deprecated = &deprecated
	return r
}

// Number of results to return per page.
func (r PulpAnsibleDefaultCollectionsAPIPulpAnsibleGalaxyDefaultCollectionsListRequest) Limit(limit int32) PulpAnsibleDefaultCollectionsAPIPulpAnsibleGalaxyDefaultCollectionsListRequest {
	r.limit = &limit
	return r
}

func (r PulpAnsibleDefaultCollectionsAPIPulpAnsibleGalaxyDefaultCollectionsListRequest) Name(name string) PulpAnsibleDefaultCollectionsAPIPulpAnsibleGalaxyDefaultCollectionsListRequest {
	r.name = &name
	return r
}

func (r PulpAnsibleDefaultCollectionsAPIPulpAnsibleGalaxyDefaultCollectionsListRequest) Namespace(namespace string) PulpAnsibleDefaultCollectionsAPIPulpAnsibleGalaxyDefaultCollectionsListRequest {
	r.namespace = &namespace
	return r
}

// The initial index from which to return the results.
func (r PulpAnsibleDefaultCollectionsAPIPulpAnsibleGalaxyDefaultCollectionsListRequest) Offset(offset int32) PulpAnsibleDefaultCollectionsAPIPulpAnsibleGalaxyDefaultCollectionsListRequest {
	r.offset = &offset
	return r
}

// Ordering* &#x60;pulp_id&#x60; - Pulp id* &#x60;-pulp_id&#x60; - Pulp id (descending)* &#x60;pulp_created&#x60; - Pulp created* &#x60;-pulp_created&#x60; - Pulp created (descending)* &#x60;pulp_last_updated&#x60; - Pulp last updated* &#x60;-pulp_last_updated&#x60; - Pulp last updated (descending)* &#x60;namespace&#x60; - Namespace* &#x60;-namespace&#x60; - Namespace (descending)* &#x60;name&#x60; - Name* &#x60;-name&#x60; - Name (descending)* &#x60;pk&#x60; - Pk* &#x60;-pk&#x60; - Pk (descending)
func (r PulpAnsibleDefaultCollectionsAPIPulpAnsibleGalaxyDefaultCollectionsListRequest) Ordering(ordering []string) PulpAnsibleDefaultCollectionsAPIPulpAnsibleGalaxyDefaultCollectionsListRequest {
	r.ordering = &ordering
	return r
}

// Multiple values may be separated by commas.
func (r PulpAnsibleDefaultCollectionsAPIPulpAnsibleGalaxyDefaultCollectionsListRequest) PrnIn(prnIn []string) PulpAnsibleDefaultCollectionsAPIPulpAnsibleGalaxyDefaultCollectionsListRequest {
	r.prnIn = &prnIn
	return r
}

// Multiple values may be separated by commas.
func (r PulpAnsibleDefaultCollectionsAPIPulpAnsibleGalaxyDefaultCollectionsListRequest) PulpHrefIn(pulpHrefIn []string) PulpAnsibleDefaultCollectionsAPIPulpAnsibleGalaxyDefaultCollectionsListRequest {
	r.pulpHrefIn = &pulpHrefIn
	return r
}

// Multiple values may be separated by commas.
func (r PulpAnsibleDefaultCollectionsAPIPulpAnsibleGalaxyDefaultCollectionsListRequest) PulpIdIn(pulpIdIn []string) PulpAnsibleDefaultCollectionsAPIPulpAnsibleGalaxyDefaultCollectionsListRequest {
	r.pulpIdIn = &pulpIdIn
	return r
}

// Filter results by using NOT, AND and OR operations on other filters
func (r PulpAnsibleDefaultCollectionsAPIPulpAnsibleGalaxyDefaultCollectionsListRequest) Q(q string) PulpAnsibleDefaultCollectionsAPIPulpAnsibleGalaxyDefaultCollectionsListRequest {
	r.q = &q
	return r
}

// A list of fields to include in the response.
func (r PulpAnsibleDefaultCollectionsAPIPulpAnsibleGalaxyDefaultCollectionsListRequest) Fields(fields []string) PulpAnsibleDefaultCollectionsAPIPulpAnsibleGalaxyDefaultCollectionsListRequest {
	r.fields = &fields
	return r
}

// A list of fields to exclude from the response.
func (r PulpAnsibleDefaultCollectionsAPIPulpAnsibleGalaxyDefaultCollectionsListRequest) ExcludeFields(excludeFields []string) PulpAnsibleDefaultCollectionsAPIPulpAnsibleGalaxyDefaultCollectionsListRequest {
	r.excludeFields = &excludeFields
	return r
}

func (r PulpAnsibleDefaultCollectionsAPIPulpAnsibleGalaxyDefaultCollectionsListRequest) Execute() (*PaginatedCollectionResponseList, *http.Response, error) {
	return r.ApiService.PulpAnsibleGalaxyDefaultCollectionsListExecute(r)
}

/*
PulpAnsibleGalaxyDefaultCollectionsList Method for PulpAnsibleGalaxyDefaultCollectionsList

Legacy v3 endpoint.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return PulpAnsibleDefaultCollectionsAPIPulpAnsibleGalaxyDefaultCollectionsListRequest

Deprecated
*/
func (a *PulpAnsibleDefaultCollectionsAPIService) PulpAnsibleGalaxyDefaultCollectionsList(ctx context.Context) PulpAnsibleDefaultCollectionsAPIPulpAnsibleGalaxyDefaultCollectionsListRequest {
	return PulpAnsibleDefaultCollectionsAPIPulpAnsibleGalaxyDefaultCollectionsListRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return PaginatedCollectionResponseList
// Deprecated
func (a *PulpAnsibleDefaultCollectionsAPIService) PulpAnsibleGalaxyDefaultCollectionsListExecute(r PulpAnsibleDefaultCollectionsAPIPulpAnsibleGalaxyDefaultCollectionsListRequest) (*PaginatedCollectionResponseList, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PaginatedCollectionResponseList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PulpAnsibleDefaultCollectionsAPIService.PulpAnsibleGalaxyDefaultCollectionsList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/pulp_ansible/galaxy/default/api/v3/collections/"
	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.deprecated != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deprecated", r.deprecated, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.name != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "form", "")
	}
	if r.namespace != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "namespace", r.namespace, "form", "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	}
	if r.ordering != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ordering", r.ordering, "form", "csv")
	}
	if r.prnIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "prn__in", r.prnIn, "form", "csv")
	}
	if r.pulpHrefIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pulp_href__in", r.pulpHrefIn, "form", "csv")
	}
	if r.pulpIdIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pulp_id__in", r.pulpIdIn, "form", "csv")
	}
	if r.q != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "q", r.q, "form", "")
	}
	if r.fields != nil {
		t := *r.fields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "fields", t, "form", "multi")
		}
	}
	if r.excludeFields != nil {
		t := *r.excludeFields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type PulpAnsibleDefaultCollectionsAPIPulpAnsibleGalaxyDefaultCollectionsReadRequest struct {
	ctx context.Context
	ApiService *PulpAnsibleDefaultCollectionsAPIService
	name string
	namespace string
	xTaskDiagnostics *[]string
	fields *[]string
	excludeFields *[]string
}

// List of profilers to use on tasks.
func (r PulpAnsibleDefaultCollectionsAPIPulpAnsibleGalaxyDefaultCollectionsReadRequest) XTaskDiagnostics(xTaskDiagnostics []string) PulpAnsibleDefaultCollectionsAPIPulpAnsibleGalaxyDefaultCollectionsReadRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

// A list of fields to include in the response.
func (r PulpAnsibleDefaultCollectionsAPIPulpAnsibleGalaxyDefaultCollectionsReadRequest) Fields(fields []string) PulpAnsibleDefaultCollectionsAPIPulpAnsibleGalaxyDefaultCollectionsReadRequest {
	r.fields = &fields
	return r
}

// A list of fields to exclude from the response.
func (r PulpAnsibleDefaultCollectionsAPIPulpAnsibleGalaxyDefaultCollectionsReadRequest) ExcludeFields(excludeFields []string) PulpAnsibleDefaultCollectionsAPIPulpAnsibleGalaxyDefaultCollectionsReadRequest {
	r.excludeFields = &excludeFields
	return r
}

func (r PulpAnsibleDefaultCollectionsAPIPulpAnsibleGalaxyDefaultCollectionsReadRequest) Execute() (*CollectionResponse, *http.Response, error) {
	return r.ApiService.PulpAnsibleGalaxyDefaultCollectionsReadExecute(r)
}

/*
PulpAnsibleGalaxyDefaultCollectionsRead Method for PulpAnsibleGalaxyDefaultCollectionsRead

Legacy v3 endpoint.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param name
 @param namespace
 @return PulpAnsibleDefaultCollectionsAPIPulpAnsibleGalaxyDefaultCollectionsReadRequest

Deprecated
*/
func (a *PulpAnsibleDefaultCollectionsAPIService) PulpAnsibleGalaxyDefaultCollectionsRead(ctx context.Context, name string, namespace string) PulpAnsibleDefaultCollectionsAPIPulpAnsibleGalaxyDefaultCollectionsReadRequest {
	return PulpAnsibleDefaultCollectionsAPIPulpAnsibleGalaxyDefaultCollectionsReadRequest{
		ApiService: a,
		ctx: ctx,
		name: name,
		namespace: namespace,
	}
}

// Execute executes the request
//  @return CollectionResponse
// Deprecated
func (a *PulpAnsibleDefaultCollectionsAPIService) PulpAnsibleGalaxyDefaultCollectionsReadExecute(r PulpAnsibleDefaultCollectionsAPIPulpAnsibleGalaxyDefaultCollectionsReadRequest) (*CollectionResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CollectionResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PulpAnsibleDefaultCollectionsAPIService.PulpAnsibleGalaxyDefaultCollectionsRead")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/pulp_ansible/galaxy/default/api/v3/collections/{namespace}/{name}/"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterValueToString(r.name, "name")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarPath = strings.Replace(localVarPath, "{"+"namespace"+"}", url.PathEscape(parameterValueToString(r.namespace, "namespace")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.fields != nil {
		t := *r.fields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "fields", t, "form", "multi")
		}
	}
	if r.excludeFields != nil {
		t := *r.excludeFields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type PulpAnsibleDefaultCollectionsAPIPulpAnsibleGalaxyDefaultCollectionsUpdateRequest struct {
	ctx context.Context
	ApiService *PulpAnsibleDefaultCollectionsAPIService
	name string
	namespace string
	patchedCollection *PatchedCollection
	xTaskDiagnostics *[]string
}

func (r PulpAnsibleDefaultCollectionsAPIPulpAnsibleGalaxyDefaultCollectionsUpdateRequest) PatchedCollection(patchedCollection PatchedCollection) PulpAnsibleDefaultCollectionsAPIPulpAnsibleGalaxyDefaultCollectionsUpdateRequest {
	r.patchedCollection = &patchedCollection
	return r
}

// List of profilers to use on tasks.
func (r PulpAnsibleDefaultCollectionsAPIPulpAnsibleGalaxyDefaultCollectionsUpdateRequest) XTaskDiagnostics(xTaskDiagnostics []string) PulpAnsibleDefaultCollectionsAPIPulpAnsibleGalaxyDefaultCollectionsUpdateRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

func (r PulpAnsibleDefaultCollectionsAPIPulpAnsibleGalaxyDefaultCollectionsUpdateRequest) Execute() (*AsyncOperationResponse, *http.Response, error) {
	return r.ApiService.PulpAnsibleGalaxyDefaultCollectionsUpdateExecute(r)
}

/*
PulpAnsibleGalaxyDefaultCollectionsUpdate Method for PulpAnsibleGalaxyDefaultCollectionsUpdate

Legacy v3 endpoint.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param name
 @param namespace
 @return PulpAnsibleDefaultCollectionsAPIPulpAnsibleGalaxyDefaultCollectionsUpdateRequest

Deprecated
*/
func (a *PulpAnsibleDefaultCollectionsAPIService) PulpAnsibleGalaxyDefaultCollectionsUpdate(ctx context.Context, name string, namespace string) PulpAnsibleDefaultCollectionsAPIPulpAnsibleGalaxyDefaultCollectionsUpdateRequest {
	return PulpAnsibleDefaultCollectionsAPIPulpAnsibleGalaxyDefaultCollectionsUpdateRequest{
		ApiService: a,
		ctx: ctx,
		name: name,
		namespace: namespace,
	}
}

// Execute executes the request
//  @return AsyncOperationResponse
// Deprecated
func (a *PulpAnsibleDefaultCollectionsAPIService) PulpAnsibleGalaxyDefaultCollectionsUpdateExecute(r PulpAnsibleDefaultCollectionsAPIPulpAnsibleGalaxyDefaultCollectionsUpdateRequest) (*AsyncOperationResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AsyncOperationResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PulpAnsibleDefaultCollectionsAPIService.PulpAnsibleGalaxyDefaultCollectionsUpdate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/pulp_ansible/galaxy/default/api/v3/collections/{namespace}/{name}/"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterValueToString(r.name, "name")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarPath = strings.Replace(localVarPath, "{"+"namespace"+"}", url.PathEscape(parameterValueToString(r.namespace, "namespace")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.patchedCollection == nil {
		return localVarReturnValue, nil, reportError("patchedCollection is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	// body params
	localVarPostBody = r.patchedCollection
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
