/*
Pulp 3 API

Fetch, Upload, Organize, and Distribute Software Packages

API version: v3
Contact: pulp-list@redhat.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package pulpbindings

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"reflect"
)


// ContentCollectionMarksAPIService ContentCollectionMarksAPI service
type ContentCollectionMarksAPIService service

type ContentCollectionMarksAPIContentAnsibleCollectionMarksCreateRequest struct {
	ctx context.Context
	ApiService *ContentCollectionMarksAPIService
	ansibleCollectionVersionMark *AnsibleCollectionVersionMark
	xTaskDiagnostics *[]string
}

func (r ContentCollectionMarksAPIContentAnsibleCollectionMarksCreateRequest) AnsibleCollectionVersionMark(ansibleCollectionVersionMark AnsibleCollectionVersionMark) ContentCollectionMarksAPIContentAnsibleCollectionMarksCreateRequest {
	r.ansibleCollectionVersionMark = &ansibleCollectionVersionMark
	return r
}

// List of profilers to use on tasks.
func (r ContentCollectionMarksAPIContentAnsibleCollectionMarksCreateRequest) XTaskDiagnostics(xTaskDiagnostics []string) ContentCollectionMarksAPIContentAnsibleCollectionMarksCreateRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

func (r ContentCollectionMarksAPIContentAnsibleCollectionMarksCreateRequest) Execute() (*AnsibleCollectionVersionMarkResponse, *http.Response, error) {
	return r.ApiService.ContentAnsibleCollectionMarksCreateExecute(r)
}

/*
ContentAnsibleCollectionMarksCreate Create a collection version mark

ViewSet for looking at mark objects for CollectionVersion content.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ContentCollectionMarksAPIContentAnsibleCollectionMarksCreateRequest
*/
func (a *ContentCollectionMarksAPIService) ContentAnsibleCollectionMarksCreate(ctx context.Context) ContentCollectionMarksAPIContentAnsibleCollectionMarksCreateRequest {
	return ContentCollectionMarksAPIContentAnsibleCollectionMarksCreateRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return AnsibleCollectionVersionMarkResponse
func (a *ContentCollectionMarksAPIService) ContentAnsibleCollectionMarksCreateExecute(r ContentCollectionMarksAPIContentAnsibleCollectionMarksCreateRequest) (*AnsibleCollectionVersionMarkResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AnsibleCollectionVersionMarkResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentCollectionMarksAPIService.ContentAnsibleCollectionMarksCreate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v3/content/ansible/collection_marks/"
	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.ansibleCollectionVersionMark == nil {
		return localVarReturnValue, nil, reportError("ansibleCollectionVersionMark is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	// body params
	localVarPostBody = r.ansibleCollectionVersionMark
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ContentCollectionMarksAPIContentAnsibleCollectionMarksListRequest struct {
	ctx context.Context
	ApiService *ContentCollectionMarksAPIService
	xTaskDiagnostics *[]string
	limit *int32
	markedCollection *string
	offset *int32
	ordering *[]string
	orphanedFor *float32
	prnIn *[]string
	pulpHrefIn *[]string
	pulpIdIn *[]string
	pulpLabelSelect *string
	q *string
	repositoryVersion *string
	repositoryVersionAdded *string
	repositoryVersionRemoved *string
	value *string
	valueIn *[]string
	fields *[]string
	excludeFields *[]string
}

// List of profilers to use on tasks.
func (r ContentCollectionMarksAPIContentAnsibleCollectionMarksListRequest) XTaskDiagnostics(xTaskDiagnostics []string) ContentCollectionMarksAPIContentAnsibleCollectionMarksListRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

// Number of results to return per page.
func (r ContentCollectionMarksAPIContentAnsibleCollectionMarksListRequest) Limit(limit int32) ContentCollectionMarksAPIContentAnsibleCollectionMarksListRequest {
	r.limit = &limit
	return r
}

// Filter marks for collection version
func (r ContentCollectionMarksAPIContentAnsibleCollectionMarksListRequest) MarkedCollection(markedCollection string) ContentCollectionMarksAPIContentAnsibleCollectionMarksListRequest {
	r.markedCollection = &markedCollection
	return r
}

// The initial index from which to return the results.
func (r ContentCollectionMarksAPIContentAnsibleCollectionMarksListRequest) Offset(offset int32) ContentCollectionMarksAPIContentAnsibleCollectionMarksListRequest {
	r.offset = &offset
	return r
}

// Ordering* &#x60;pulp_id&#x60; - Pulp id* &#x60;-pulp_id&#x60; - Pulp id (descending)* &#x60;pulp_created&#x60; - Pulp created* &#x60;-pulp_created&#x60; - Pulp created (descending)* &#x60;pulp_last_updated&#x60; - Pulp last updated* &#x60;-pulp_last_updated&#x60; - Pulp last updated (descending)* &#x60;pulp_type&#x60; - Pulp type* &#x60;-pulp_type&#x60; - Pulp type (descending)* &#x60;upstream_id&#x60; - Upstream id* &#x60;-upstream_id&#x60; - Upstream id (descending)* &#x60;pulp_labels&#x60; - Pulp labels* &#x60;-pulp_labels&#x60; - Pulp labels (descending)* &#x60;timestamp_of_interest&#x60; - Timestamp of interest* &#x60;-timestamp_of_interest&#x60; - Timestamp of interest (descending)* &#x60;value&#x60; - Value* &#x60;-value&#x60; - Value (descending)* &#x60;pk&#x60; - Pk* &#x60;-pk&#x60; - Pk (descending)
func (r ContentCollectionMarksAPIContentAnsibleCollectionMarksListRequest) Ordering(ordering []string) ContentCollectionMarksAPIContentAnsibleCollectionMarksListRequest {
	r.ordering = &ordering
	return r
}

// Minutes Content has been orphaned for. -1 uses ORPHAN_PROTECTION_TIME.
func (r ContentCollectionMarksAPIContentAnsibleCollectionMarksListRequest) OrphanedFor(orphanedFor float32) ContentCollectionMarksAPIContentAnsibleCollectionMarksListRequest {
	r.orphanedFor = &orphanedFor
	return r
}

// Multiple values may be separated by commas.
func (r ContentCollectionMarksAPIContentAnsibleCollectionMarksListRequest) PrnIn(prnIn []string) ContentCollectionMarksAPIContentAnsibleCollectionMarksListRequest {
	r.prnIn = &prnIn
	return r
}

// Multiple values may be separated by commas.
func (r ContentCollectionMarksAPIContentAnsibleCollectionMarksListRequest) PulpHrefIn(pulpHrefIn []string) ContentCollectionMarksAPIContentAnsibleCollectionMarksListRequest {
	r.pulpHrefIn = &pulpHrefIn
	return r
}

// Multiple values may be separated by commas.
func (r ContentCollectionMarksAPIContentAnsibleCollectionMarksListRequest) PulpIdIn(pulpIdIn []string) ContentCollectionMarksAPIContentAnsibleCollectionMarksListRequest {
	r.pulpIdIn = &pulpIdIn
	return r
}

// Filter labels by search string
func (r ContentCollectionMarksAPIContentAnsibleCollectionMarksListRequest) PulpLabelSelect(pulpLabelSelect string) ContentCollectionMarksAPIContentAnsibleCollectionMarksListRequest {
	r.pulpLabelSelect = &pulpLabelSelect
	return r
}

// Filter results by using NOT, AND and OR operations on other filters
func (r ContentCollectionMarksAPIContentAnsibleCollectionMarksListRequest) Q(q string) ContentCollectionMarksAPIContentAnsibleCollectionMarksListRequest {
	r.q = &q
	return r
}

// Repository Version referenced by HREF/PRN
func (r ContentCollectionMarksAPIContentAnsibleCollectionMarksListRequest) RepositoryVersion(repositoryVersion string) ContentCollectionMarksAPIContentAnsibleCollectionMarksListRequest {
	r.repositoryVersion = &repositoryVersion
	return r
}

// Repository Version referenced by HREF/PRN
func (r ContentCollectionMarksAPIContentAnsibleCollectionMarksListRequest) RepositoryVersionAdded(repositoryVersionAdded string) ContentCollectionMarksAPIContentAnsibleCollectionMarksListRequest {
	r.repositoryVersionAdded = &repositoryVersionAdded
	return r
}

// Repository Version referenced by HREF/PRN
func (r ContentCollectionMarksAPIContentAnsibleCollectionMarksListRequest) RepositoryVersionRemoved(repositoryVersionRemoved string) ContentCollectionMarksAPIContentAnsibleCollectionMarksListRequest {
	r.repositoryVersionRemoved = &repositoryVersionRemoved
	return r
}

// Filter marks by value
func (r ContentCollectionMarksAPIContentAnsibleCollectionMarksListRequest) Value(value string) ContentCollectionMarksAPIContentAnsibleCollectionMarksListRequest {
	r.value = &value
	return r
}

// Filter results where value is in a comma-separated list of values
func (r ContentCollectionMarksAPIContentAnsibleCollectionMarksListRequest) ValueIn(valueIn []string) ContentCollectionMarksAPIContentAnsibleCollectionMarksListRequest {
	r.valueIn = &valueIn
	return r
}

// A list of fields to include in the response.
func (r ContentCollectionMarksAPIContentAnsibleCollectionMarksListRequest) Fields(fields []string) ContentCollectionMarksAPIContentAnsibleCollectionMarksListRequest {
	r.fields = &fields
	return r
}

// A list of fields to exclude from the response.
func (r ContentCollectionMarksAPIContentAnsibleCollectionMarksListRequest) ExcludeFields(excludeFields []string) ContentCollectionMarksAPIContentAnsibleCollectionMarksListRequest {
	r.excludeFields = &excludeFields
	return r
}

func (r ContentCollectionMarksAPIContentAnsibleCollectionMarksListRequest) Execute() (*PaginatedansibleCollectionVersionMarkResponseList, *http.Response, error) {
	return r.ApiService.ContentAnsibleCollectionMarksListExecute(r)
}

/*
ContentAnsibleCollectionMarksList List collection version marks

ViewSet for looking at mark objects for CollectionVersion content.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ContentCollectionMarksAPIContentAnsibleCollectionMarksListRequest
*/
func (a *ContentCollectionMarksAPIService) ContentAnsibleCollectionMarksList(ctx context.Context) ContentCollectionMarksAPIContentAnsibleCollectionMarksListRequest {
	return ContentCollectionMarksAPIContentAnsibleCollectionMarksListRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return PaginatedansibleCollectionVersionMarkResponseList
func (a *ContentCollectionMarksAPIService) ContentAnsibleCollectionMarksListExecute(r ContentCollectionMarksAPIContentAnsibleCollectionMarksListRequest) (*PaginatedansibleCollectionVersionMarkResponseList, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PaginatedansibleCollectionVersionMarkResponseList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentCollectionMarksAPIService.ContentAnsibleCollectionMarksList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v3/content/ansible/collection_marks/"
	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.markedCollection != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "marked_collection", r.markedCollection, "form", "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	}
	if r.ordering != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ordering", r.ordering, "form", "csv")
	}
	if r.orphanedFor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "orphaned_for", r.orphanedFor, "form", "")
	}
	if r.prnIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "prn__in", r.prnIn, "form", "csv")
	}
	if r.pulpHrefIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pulp_href__in", r.pulpHrefIn, "form", "csv")
	}
	if r.pulpIdIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pulp_id__in", r.pulpIdIn, "form", "csv")
	}
	if r.pulpLabelSelect != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pulp_label_select", r.pulpLabelSelect, "form", "")
	}
	if r.q != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "q", r.q, "form", "")
	}
	if r.repositoryVersion != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repository_version", r.repositoryVersion, "form", "")
	}
	if r.repositoryVersionAdded != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repository_version_added", r.repositoryVersionAdded, "form", "")
	}
	if r.repositoryVersionRemoved != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repository_version_removed", r.repositoryVersionRemoved, "form", "")
	}
	if r.value != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "value", r.value, "form", "")
	}
	if r.valueIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "value__in", r.valueIn, "form", "csv")
	}
	if r.fields != nil {
		t := *r.fields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "fields", t, "form", "multi")
		}
	}
	if r.excludeFields != nil {
		t := *r.excludeFields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ContentCollectionMarksAPIContentAnsibleCollectionMarksReadRequest struct {
	ctx context.Context
	ApiService *ContentCollectionMarksAPIService
	ansibleCollectionVersionMarkHref string
	xTaskDiagnostics *[]string
	fields *[]string
	excludeFields *[]string
}

// List of profilers to use on tasks.
func (r ContentCollectionMarksAPIContentAnsibleCollectionMarksReadRequest) XTaskDiagnostics(xTaskDiagnostics []string) ContentCollectionMarksAPIContentAnsibleCollectionMarksReadRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

// A list of fields to include in the response.
func (r ContentCollectionMarksAPIContentAnsibleCollectionMarksReadRequest) Fields(fields []string) ContentCollectionMarksAPIContentAnsibleCollectionMarksReadRequest {
	r.fields = &fields
	return r
}

// A list of fields to exclude from the response.
func (r ContentCollectionMarksAPIContentAnsibleCollectionMarksReadRequest) ExcludeFields(excludeFields []string) ContentCollectionMarksAPIContentAnsibleCollectionMarksReadRequest {
	r.excludeFields = &excludeFields
	return r
}

func (r ContentCollectionMarksAPIContentAnsibleCollectionMarksReadRequest) Execute() (*AnsibleCollectionVersionMarkResponse, *http.Response, error) {
	return r.ApiService.ContentAnsibleCollectionMarksReadExecute(r)
}

/*
ContentAnsibleCollectionMarksRead Inspect a collection version mark

ViewSet for looking at mark objects for CollectionVersion content.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param ansibleCollectionVersionMarkHref
 @return ContentCollectionMarksAPIContentAnsibleCollectionMarksReadRequest
*/
func (a *ContentCollectionMarksAPIService) ContentAnsibleCollectionMarksRead(ctx context.Context, ansibleCollectionVersionMarkHref string) ContentCollectionMarksAPIContentAnsibleCollectionMarksReadRequest {
	return ContentCollectionMarksAPIContentAnsibleCollectionMarksReadRequest{
		ApiService: a,
		ctx: ctx,
		ansibleCollectionVersionMarkHref: ansibleCollectionVersionMarkHref,
	}
}

// Execute executes the request
//  @return AnsibleCollectionVersionMarkResponse
func (a *ContentCollectionMarksAPIService) ContentAnsibleCollectionMarksReadExecute(r ContentCollectionMarksAPIContentAnsibleCollectionMarksReadRequest) (*AnsibleCollectionVersionMarkResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AnsibleCollectionVersionMarkResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentCollectionMarksAPIService.ContentAnsibleCollectionMarksRead")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{ansible_collection_version_mark_href}"
	localVarPath = strings.Replace(localVarPath, "{"+"ansible_collection_version_mark_href"+"}", url.PathEscape(parameterValueToString(r.ansibleCollectionVersionMarkHref, "ansibleCollectionVersionMarkHref")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.fields != nil {
		t := *r.fields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "fields", t, "form", "multi")
		}
	}
	if r.excludeFields != nil {
		t := *r.excludeFields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ContentCollectionMarksAPIContentAnsibleCollectionMarksSetLabelRequest struct {
	ctx context.Context
	ApiService *ContentCollectionMarksAPIService
	ansibleCollectionVersionMarkHref string
	setLabel *SetLabel
	xTaskDiagnostics *[]string
}

func (r ContentCollectionMarksAPIContentAnsibleCollectionMarksSetLabelRequest) SetLabel(setLabel SetLabel) ContentCollectionMarksAPIContentAnsibleCollectionMarksSetLabelRequest {
	r.setLabel = &setLabel
	return r
}

// List of profilers to use on tasks.
func (r ContentCollectionMarksAPIContentAnsibleCollectionMarksSetLabelRequest) XTaskDiagnostics(xTaskDiagnostics []string) ContentCollectionMarksAPIContentAnsibleCollectionMarksSetLabelRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

func (r ContentCollectionMarksAPIContentAnsibleCollectionMarksSetLabelRequest) Execute() (*SetLabelResponse, *http.Response, error) {
	return r.ApiService.ContentAnsibleCollectionMarksSetLabelExecute(r)
}

/*
ContentAnsibleCollectionMarksSetLabel Set a label

Set a single pulp_label on the object to a specific value or null.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param ansibleCollectionVersionMarkHref
 @return ContentCollectionMarksAPIContentAnsibleCollectionMarksSetLabelRequest
*/
func (a *ContentCollectionMarksAPIService) ContentAnsibleCollectionMarksSetLabel(ctx context.Context, ansibleCollectionVersionMarkHref string) ContentCollectionMarksAPIContentAnsibleCollectionMarksSetLabelRequest {
	return ContentCollectionMarksAPIContentAnsibleCollectionMarksSetLabelRequest{
		ApiService: a,
		ctx: ctx,
		ansibleCollectionVersionMarkHref: ansibleCollectionVersionMarkHref,
	}
}

// Execute executes the request
//  @return SetLabelResponse
func (a *ContentCollectionMarksAPIService) ContentAnsibleCollectionMarksSetLabelExecute(r ContentCollectionMarksAPIContentAnsibleCollectionMarksSetLabelRequest) (*SetLabelResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SetLabelResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentCollectionMarksAPIService.ContentAnsibleCollectionMarksSetLabel")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{ansible_collection_version_mark_href}set_label/"
	localVarPath = strings.Replace(localVarPath, "{"+"ansible_collection_version_mark_href"+"}", url.PathEscape(parameterValueToString(r.ansibleCollectionVersionMarkHref, "ansibleCollectionVersionMarkHref")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.setLabel == nil {
		return localVarReturnValue, nil, reportError("setLabel is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	// body params
	localVarPostBody = r.setLabel
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ContentCollectionMarksAPIContentAnsibleCollectionMarksUnsetLabelRequest struct {
	ctx context.Context
	ApiService *ContentCollectionMarksAPIService
	ansibleCollectionVersionMarkHref string
	unsetLabel *UnsetLabel
	xTaskDiagnostics *[]string
}

func (r ContentCollectionMarksAPIContentAnsibleCollectionMarksUnsetLabelRequest) UnsetLabel(unsetLabel UnsetLabel) ContentCollectionMarksAPIContentAnsibleCollectionMarksUnsetLabelRequest {
	r.unsetLabel = &unsetLabel
	return r
}

// List of profilers to use on tasks.
func (r ContentCollectionMarksAPIContentAnsibleCollectionMarksUnsetLabelRequest) XTaskDiagnostics(xTaskDiagnostics []string) ContentCollectionMarksAPIContentAnsibleCollectionMarksUnsetLabelRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

func (r ContentCollectionMarksAPIContentAnsibleCollectionMarksUnsetLabelRequest) Execute() (*UnsetLabelResponse, *http.Response, error) {
	return r.ApiService.ContentAnsibleCollectionMarksUnsetLabelExecute(r)
}

/*
ContentAnsibleCollectionMarksUnsetLabel Unset a label

Unset a single pulp_label on the object.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param ansibleCollectionVersionMarkHref
 @return ContentCollectionMarksAPIContentAnsibleCollectionMarksUnsetLabelRequest
*/
func (a *ContentCollectionMarksAPIService) ContentAnsibleCollectionMarksUnsetLabel(ctx context.Context, ansibleCollectionVersionMarkHref string) ContentCollectionMarksAPIContentAnsibleCollectionMarksUnsetLabelRequest {
	return ContentCollectionMarksAPIContentAnsibleCollectionMarksUnsetLabelRequest{
		ApiService: a,
		ctx: ctx,
		ansibleCollectionVersionMarkHref: ansibleCollectionVersionMarkHref,
	}
}

// Execute executes the request
//  @return UnsetLabelResponse
func (a *ContentCollectionMarksAPIService) ContentAnsibleCollectionMarksUnsetLabelExecute(r ContentCollectionMarksAPIContentAnsibleCollectionMarksUnsetLabelRequest) (*UnsetLabelResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *UnsetLabelResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentCollectionMarksAPIService.ContentAnsibleCollectionMarksUnsetLabel")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{ansible_collection_version_mark_href}unset_label/"
	localVarPath = strings.Replace(localVarPath, "{"+"ansible_collection_version_mark_href"+"}", url.PathEscape(parameterValueToString(r.ansibleCollectionVersionMarkHref, "ansibleCollectionVersionMarkHref")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.unsetLabel == nil {
		return localVarReturnValue, nil, reportError("unsetLabel is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	// body params
	localVarPostBody = r.unsetLabel
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
