/*
Pulp 3 API

Fetch, Upload, Organize, and Distribute Software Packages

API version: v3
Contact: pulp-list@redhat.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package pulpbindings

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"reflect"
)


// ContentReleasesAPIService ContentReleasesAPI service
type ContentReleasesAPIService service

type ContentReleasesAPIContentDebReleasesCreateRequest struct {
	ctx context.Context
	ApiService *ContentReleasesAPIService
	debRelease *DebRelease
	xTaskDiagnostics *[]string
}

func (r ContentReleasesAPIContentDebReleasesCreateRequest) DebRelease(debRelease DebRelease) ContentReleasesAPIContentDebReleasesCreateRequest {
	r.debRelease = &debRelease
	return r
}

// List of profilers to use on tasks.
func (r ContentReleasesAPIContentDebReleasesCreateRequest) XTaskDiagnostics(xTaskDiagnostics []string) ContentReleasesAPIContentDebReleasesCreateRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

func (r ContentReleasesAPIContentDebReleasesCreateRequest) Execute() (*AsyncOperationResponse, *http.Response, error) {
	return r.ApiService.ContentDebReleasesCreateExecute(r)
}

/*
ContentDebReleasesCreate Create a release

Trigger an asynchronous task to create content,optionally create new repository version.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ContentReleasesAPIContentDebReleasesCreateRequest
*/
func (a *ContentReleasesAPIService) ContentDebReleasesCreate(ctx context.Context) ContentReleasesAPIContentDebReleasesCreateRequest {
	return ContentReleasesAPIContentDebReleasesCreateRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return AsyncOperationResponse
func (a *ContentReleasesAPIService) ContentDebReleasesCreateExecute(r ContentReleasesAPIContentDebReleasesCreateRequest) (*AsyncOperationResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AsyncOperationResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentReleasesAPIService.ContentDebReleasesCreate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v3/content/deb/releases/"
	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.debRelease == nil {
		return localVarReturnValue, nil, reportError("debRelease is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	// body params
	localVarPostBody = r.debRelease
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ContentReleasesAPIContentDebReleasesListRequest struct {
	ctx context.Context
	ApiService *ContentReleasesAPIService
	xTaskDiagnostics *[]string
	codename *string
	distribution *string
	label *string
	limit *int32
	offset *int32
	ordering *[]string
	origin *string
	orphanedFor *float32
	package_ *string
	prnIn *[]string
	pulpHrefIn *[]string
	pulpIdIn *[]string
	pulpLabelSelect *string
	q *string
	repositoryVersion *string
	repositoryVersionAdded *string
	repositoryVersionRemoved *string
	suite *string
	version *string
	fields *[]string
	excludeFields *[]string
}

// List of profilers to use on tasks.
func (r ContentReleasesAPIContentDebReleasesListRequest) XTaskDiagnostics(xTaskDiagnostics []string) ContentReleasesAPIContentDebReleasesListRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

// Filter results where codename matches value
func (r ContentReleasesAPIContentDebReleasesListRequest) Codename(codename string) ContentReleasesAPIContentDebReleasesListRequest {
	r.codename = &codename
	return r
}

// Filter results where distribution matches value
func (r ContentReleasesAPIContentDebReleasesListRequest) Distribution(distribution string) ContentReleasesAPIContentDebReleasesListRequest {
	r.distribution = &distribution
	return r
}

// Filter results where label matches value
func (r ContentReleasesAPIContentDebReleasesListRequest) Label(label string) ContentReleasesAPIContentDebReleasesListRequest {
	r.label = &label
	return r
}

// Number of results to return per page.
func (r ContentReleasesAPIContentDebReleasesListRequest) Limit(limit int32) ContentReleasesAPIContentDebReleasesListRequest {
	r.limit = &limit
	return r
}

// The initial index from which to return the results.
func (r ContentReleasesAPIContentDebReleasesListRequest) Offset(offset int32) ContentReleasesAPIContentDebReleasesListRequest {
	r.offset = &offset
	return r
}

// Ordering* &#x60;pulp_id&#x60; - Pulp id* &#x60;-pulp_id&#x60; - Pulp id (descending)* &#x60;pulp_created&#x60; - Pulp created* &#x60;-pulp_created&#x60; - Pulp created (descending)* &#x60;pulp_last_updated&#x60; - Pulp last updated* &#x60;-pulp_last_updated&#x60; - Pulp last updated (descending)* &#x60;pulp_type&#x60; - Pulp type* &#x60;-pulp_type&#x60; - Pulp type (descending)* &#x60;upstream_id&#x60; - Upstream id* &#x60;-upstream_id&#x60; - Upstream id (descending)* &#x60;pulp_labels&#x60; - Pulp labels* &#x60;-pulp_labels&#x60; - Pulp labels (descending)* &#x60;timestamp_of_interest&#x60; - Timestamp of interest* &#x60;-timestamp_of_interest&#x60; - Timestamp of interest (descending)* &#x60;codename&#x60; - Codename* &#x60;-codename&#x60; - Codename (descending)* &#x60;suite&#x60; - Suite* &#x60;-suite&#x60; - Suite (descending)* &#x60;distribution&#x60; - Distribution* &#x60;-distribution&#x60; - Distribution (descending)* &#x60;version&#x60; - Version* &#x60;-version&#x60; - Version (descending)* &#x60;origin&#x60; - Origin* &#x60;-origin&#x60; - Origin (descending)* &#x60;label&#x60; - Label* &#x60;-label&#x60; - Label (descending)* &#x60;description&#x60; - Description* &#x60;-description&#x60; - Description (descending)* &#x60;pk&#x60; - Pk* &#x60;-pk&#x60; - Pk (descending)
func (r ContentReleasesAPIContentDebReleasesListRequest) Ordering(ordering []string) ContentReleasesAPIContentDebReleasesListRequest {
	r.ordering = &ordering
	return r
}

// Filter results where origin matches value
func (r ContentReleasesAPIContentDebReleasesListRequest) Origin(origin string) ContentReleasesAPIContentDebReleasesListRequest {
	r.origin = &origin
	return r
}

// Minutes Content has been orphaned for. -1 uses ORPHAN_PROTECTION_TIME.
func (r ContentReleasesAPIContentDebReleasesListRequest) OrphanedFor(orphanedFor float32) ContentReleasesAPIContentDebReleasesListRequest {
	r.orphanedFor = &orphanedFor
	return r
}

//     Must be a comma-separated string: \&quot;package_href,repository_or_repository_version_href\&quot;    package_href: Filter results where Release contains Package    repository_or_repository_version_href: The RepositoryVersion href to filter by, or Repository        href (assume latest version)    
func (r ContentReleasesAPIContentDebReleasesListRequest) Package_(package_ string) ContentReleasesAPIContentDebReleasesListRequest {
	r.package_ = &package_
	return r
}

// Multiple values may be separated by commas.
func (r ContentReleasesAPIContentDebReleasesListRequest) PrnIn(prnIn []string) ContentReleasesAPIContentDebReleasesListRequest {
	r.prnIn = &prnIn
	return r
}

// Multiple values may be separated by commas.
func (r ContentReleasesAPIContentDebReleasesListRequest) PulpHrefIn(pulpHrefIn []string) ContentReleasesAPIContentDebReleasesListRequest {
	r.pulpHrefIn = &pulpHrefIn
	return r
}

// Multiple values may be separated by commas.
func (r ContentReleasesAPIContentDebReleasesListRequest) PulpIdIn(pulpIdIn []string) ContentReleasesAPIContentDebReleasesListRequest {
	r.pulpIdIn = &pulpIdIn
	return r
}

// Filter labels by search string
func (r ContentReleasesAPIContentDebReleasesListRequest) PulpLabelSelect(pulpLabelSelect string) ContentReleasesAPIContentDebReleasesListRequest {
	r.pulpLabelSelect = &pulpLabelSelect
	return r
}

// Filter results by using NOT, AND and OR operations on other filters
func (r ContentReleasesAPIContentDebReleasesListRequest) Q(q string) ContentReleasesAPIContentDebReleasesListRequest {
	r.q = &q
	return r
}

// Repository Version referenced by HREF/PRN
func (r ContentReleasesAPIContentDebReleasesListRequest) RepositoryVersion(repositoryVersion string) ContentReleasesAPIContentDebReleasesListRequest {
	r.repositoryVersion = &repositoryVersion
	return r
}

// Repository Version referenced by HREF/PRN
func (r ContentReleasesAPIContentDebReleasesListRequest) RepositoryVersionAdded(repositoryVersionAdded string) ContentReleasesAPIContentDebReleasesListRequest {
	r.repositoryVersionAdded = &repositoryVersionAdded
	return r
}

// Repository Version referenced by HREF/PRN
func (r ContentReleasesAPIContentDebReleasesListRequest) RepositoryVersionRemoved(repositoryVersionRemoved string) ContentReleasesAPIContentDebReleasesListRequest {
	r.repositoryVersionRemoved = &repositoryVersionRemoved
	return r
}

// Filter results where suite matches value
func (r ContentReleasesAPIContentDebReleasesListRequest) Suite(suite string) ContentReleasesAPIContentDebReleasesListRequest {
	r.suite = &suite
	return r
}

// Filter results where version matches value
func (r ContentReleasesAPIContentDebReleasesListRequest) Version(version string) ContentReleasesAPIContentDebReleasesListRequest {
	r.version = &version
	return r
}

// A list of fields to include in the response.
func (r ContentReleasesAPIContentDebReleasesListRequest) Fields(fields []string) ContentReleasesAPIContentDebReleasesListRequest {
	r.fields = &fields
	return r
}

// A list of fields to exclude from the response.
func (r ContentReleasesAPIContentDebReleasesListRequest) ExcludeFields(excludeFields []string) ContentReleasesAPIContentDebReleasesListRequest {
	r.excludeFields = &excludeFields
	return r
}

func (r ContentReleasesAPIContentDebReleasesListRequest) Execute() (*PaginateddebReleaseResponseList, *http.Response, error) {
	return r.ApiService.ContentDebReleasesListExecute(r)
}

/*
ContentDebReleasesList List releases

The Release contains release file fields, that are not relevant to the APT repo structure.Associated artifacts: None; contains only metadata.By non-structure relevant release file fields, we mean anything other than the Components andArchitectures fields. These are handled by their own models and are not part of this model.Note that the distribution field is part of this model, but is not added to any publishedrelease files. The "distribution" is defined as the path between 'dists/' and some 'Release'file. As such, it encodes the path to the relevant release file within the APT repository.It is often (but not always) equal to the "codename" or the "suite".

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ContentReleasesAPIContentDebReleasesListRequest
*/
func (a *ContentReleasesAPIService) ContentDebReleasesList(ctx context.Context) ContentReleasesAPIContentDebReleasesListRequest {
	return ContentReleasesAPIContentDebReleasesListRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return PaginateddebReleaseResponseList
func (a *ContentReleasesAPIService) ContentDebReleasesListExecute(r ContentReleasesAPIContentDebReleasesListRequest) (*PaginateddebReleaseResponseList, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PaginateddebReleaseResponseList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentReleasesAPIService.ContentDebReleasesList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v3/content/deb/releases/"
	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.codename != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "codename", r.codename, "form", "")
	}
	if r.distribution != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "distribution", r.distribution, "form", "")
	}
	if r.label != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "label", r.label, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	}
	if r.ordering != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ordering", r.ordering, "form", "csv")
	}
	if r.origin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "origin", r.origin, "form", "")
	}
	if r.orphanedFor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "orphaned_for", r.orphanedFor, "form", "")
	}
	if r.package_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "package", r.package_, "form", "")
	}
	if r.prnIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "prn__in", r.prnIn, "form", "csv")
	}
	if r.pulpHrefIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pulp_href__in", r.pulpHrefIn, "form", "csv")
	}
	if r.pulpIdIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pulp_id__in", r.pulpIdIn, "form", "csv")
	}
	if r.pulpLabelSelect != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pulp_label_select", r.pulpLabelSelect, "form", "")
	}
	if r.q != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "q", r.q, "form", "")
	}
	if r.repositoryVersion != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repository_version", r.repositoryVersion, "form", "")
	}
	if r.repositoryVersionAdded != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repository_version_added", r.repositoryVersionAdded, "form", "")
	}
	if r.repositoryVersionRemoved != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repository_version_removed", r.repositoryVersionRemoved, "form", "")
	}
	if r.suite != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "suite", r.suite, "form", "")
	}
	if r.version != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "version", r.version, "form", "")
	}
	if r.fields != nil {
		t := *r.fields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "fields", t, "form", "multi")
		}
	}
	if r.excludeFields != nil {
		t := *r.excludeFields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ContentReleasesAPIContentDebReleasesReadRequest struct {
	ctx context.Context
	ApiService *ContentReleasesAPIService
	debReleaseHref string
	xTaskDiagnostics *[]string
	fields *[]string
	excludeFields *[]string
}

// List of profilers to use on tasks.
func (r ContentReleasesAPIContentDebReleasesReadRequest) XTaskDiagnostics(xTaskDiagnostics []string) ContentReleasesAPIContentDebReleasesReadRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

// A list of fields to include in the response.
func (r ContentReleasesAPIContentDebReleasesReadRequest) Fields(fields []string) ContentReleasesAPIContentDebReleasesReadRequest {
	r.fields = &fields
	return r
}

// A list of fields to exclude from the response.
func (r ContentReleasesAPIContentDebReleasesReadRequest) ExcludeFields(excludeFields []string) ContentReleasesAPIContentDebReleasesReadRequest {
	r.excludeFields = &excludeFields
	return r
}

func (r ContentReleasesAPIContentDebReleasesReadRequest) Execute() (*DebReleaseResponse, *http.Response, error) {
	return r.ApiService.ContentDebReleasesReadExecute(r)
}

/*
ContentDebReleasesRead Inspect a release

The Release contains release file fields, that are not relevant to the APT repo structure.Associated artifacts: None; contains only metadata.By non-structure relevant release file fields, we mean anything other than the Components andArchitectures fields. These are handled by their own models and are not part of this model.Note that the distribution field is part of this model, but is not added to any publishedrelease files. The "distribution" is defined as the path between 'dists/' and some 'Release'file. As such, it encodes the path to the relevant release file within the APT repository.It is often (but not always) equal to the "codename" or the "suite".

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param debReleaseHref
 @return ContentReleasesAPIContentDebReleasesReadRequest
*/
func (a *ContentReleasesAPIService) ContentDebReleasesRead(ctx context.Context, debReleaseHref string) ContentReleasesAPIContentDebReleasesReadRequest {
	return ContentReleasesAPIContentDebReleasesReadRequest{
		ApiService: a,
		ctx: ctx,
		debReleaseHref: debReleaseHref,
	}
}

// Execute executes the request
//  @return DebReleaseResponse
func (a *ContentReleasesAPIService) ContentDebReleasesReadExecute(r ContentReleasesAPIContentDebReleasesReadRequest) (*DebReleaseResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *DebReleaseResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentReleasesAPIService.ContentDebReleasesRead")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{deb_release_href}"
	localVarPath = strings.Replace(localVarPath, "{"+"deb_release_href"+"}", url.PathEscape(parameterValueToString(r.debReleaseHref, "debReleaseHref")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.fields != nil {
		t := *r.fields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "fields", t, "form", "multi")
		}
	}
	if r.excludeFields != nil {
		t := *r.excludeFields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ContentReleasesAPIContentDebReleasesSetLabelRequest struct {
	ctx context.Context
	ApiService *ContentReleasesAPIService
	debReleaseHref string
	setLabel *SetLabel
	xTaskDiagnostics *[]string
}

func (r ContentReleasesAPIContentDebReleasesSetLabelRequest) SetLabel(setLabel SetLabel) ContentReleasesAPIContentDebReleasesSetLabelRequest {
	r.setLabel = &setLabel
	return r
}

// List of profilers to use on tasks.
func (r ContentReleasesAPIContentDebReleasesSetLabelRequest) XTaskDiagnostics(xTaskDiagnostics []string) ContentReleasesAPIContentDebReleasesSetLabelRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

func (r ContentReleasesAPIContentDebReleasesSetLabelRequest) Execute() (*SetLabelResponse, *http.Response, error) {
	return r.ApiService.ContentDebReleasesSetLabelExecute(r)
}

/*
ContentDebReleasesSetLabel Set a label

Set a single pulp_label on the object to a specific value or null.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param debReleaseHref
 @return ContentReleasesAPIContentDebReleasesSetLabelRequest
*/
func (a *ContentReleasesAPIService) ContentDebReleasesSetLabel(ctx context.Context, debReleaseHref string) ContentReleasesAPIContentDebReleasesSetLabelRequest {
	return ContentReleasesAPIContentDebReleasesSetLabelRequest{
		ApiService: a,
		ctx: ctx,
		debReleaseHref: debReleaseHref,
	}
}

// Execute executes the request
//  @return SetLabelResponse
func (a *ContentReleasesAPIService) ContentDebReleasesSetLabelExecute(r ContentReleasesAPIContentDebReleasesSetLabelRequest) (*SetLabelResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SetLabelResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentReleasesAPIService.ContentDebReleasesSetLabel")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{deb_release_href}set_label/"
	localVarPath = strings.Replace(localVarPath, "{"+"deb_release_href"+"}", url.PathEscape(parameterValueToString(r.debReleaseHref, "debReleaseHref")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.setLabel == nil {
		return localVarReturnValue, nil, reportError("setLabel is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	// body params
	localVarPostBody = r.setLabel
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ContentReleasesAPIContentDebReleasesUnsetLabelRequest struct {
	ctx context.Context
	ApiService *ContentReleasesAPIService
	debReleaseHref string
	unsetLabel *UnsetLabel
	xTaskDiagnostics *[]string
}

func (r ContentReleasesAPIContentDebReleasesUnsetLabelRequest) UnsetLabel(unsetLabel UnsetLabel) ContentReleasesAPIContentDebReleasesUnsetLabelRequest {
	r.unsetLabel = &unsetLabel
	return r
}

// List of profilers to use on tasks.
func (r ContentReleasesAPIContentDebReleasesUnsetLabelRequest) XTaskDiagnostics(xTaskDiagnostics []string) ContentReleasesAPIContentDebReleasesUnsetLabelRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

func (r ContentReleasesAPIContentDebReleasesUnsetLabelRequest) Execute() (*UnsetLabelResponse, *http.Response, error) {
	return r.ApiService.ContentDebReleasesUnsetLabelExecute(r)
}

/*
ContentDebReleasesUnsetLabel Unset a label

Unset a single pulp_label on the object.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param debReleaseHref
 @return ContentReleasesAPIContentDebReleasesUnsetLabelRequest
*/
func (a *ContentReleasesAPIService) ContentDebReleasesUnsetLabel(ctx context.Context, debReleaseHref string) ContentReleasesAPIContentDebReleasesUnsetLabelRequest {
	return ContentReleasesAPIContentDebReleasesUnsetLabelRequest{
		ApiService: a,
		ctx: ctx,
		debReleaseHref: debReleaseHref,
	}
}

// Execute executes the request
//  @return UnsetLabelResponse
func (a *ContentReleasesAPIService) ContentDebReleasesUnsetLabelExecute(r ContentReleasesAPIContentDebReleasesUnsetLabelRequest) (*UnsetLabelResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *UnsetLabelResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentReleasesAPIService.ContentDebReleasesUnsetLabel")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{deb_release_href}unset_label/"
	localVarPath = strings.Replace(localVarPath, "{"+"deb_release_href"+"}", url.PathEscape(parameterValueToString(r.debReleaseHref, "debReleaseHref")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.unsetLabel == nil {
		return localVarReturnValue, nil, reportError("unsetLabel is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	// body params
	localVarPostBody = r.unsetLabel
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
