/*
Pulp 3 API

Fetch, Upload, Organize, and Distribute Software Packages

API version: v3
Contact: pulp-list@redhat.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package pulpbindings

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"time"
	"reflect"
)


// PublicationsVerbatimAPIService PublicationsVerbatimAPI service
type PublicationsVerbatimAPIService service

type PublicationsVerbatimAPIPublicationsDebVerbatimAddRoleRequest struct {
	ctx context.Context
	ApiService *PublicationsVerbatimAPIService
	debVerbatimPublicationHref string
	nestedRole *NestedRole
	xTaskDiagnostics *[]string
}

func (r PublicationsVerbatimAPIPublicationsDebVerbatimAddRoleRequest) NestedRole(nestedRole NestedRole) PublicationsVerbatimAPIPublicationsDebVerbatimAddRoleRequest {
	r.nestedRole = &nestedRole
	return r
}

// List of profilers to use on tasks.
func (r PublicationsVerbatimAPIPublicationsDebVerbatimAddRoleRequest) XTaskDiagnostics(xTaskDiagnostics []string) PublicationsVerbatimAPIPublicationsDebVerbatimAddRoleRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

func (r PublicationsVerbatimAPIPublicationsDebVerbatimAddRoleRequest) Execute() (*NestedRoleResponse, *http.Response, error) {
	return r.ApiService.PublicationsDebVerbatimAddRoleExecute(r)
}

/*
PublicationsDebVerbatimAddRole Add a role

Add a role for this object to users/groups.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param debVerbatimPublicationHref
 @return PublicationsVerbatimAPIPublicationsDebVerbatimAddRoleRequest
*/
func (a *PublicationsVerbatimAPIService) PublicationsDebVerbatimAddRole(ctx context.Context, debVerbatimPublicationHref string) PublicationsVerbatimAPIPublicationsDebVerbatimAddRoleRequest {
	return PublicationsVerbatimAPIPublicationsDebVerbatimAddRoleRequest{
		ApiService: a,
		ctx: ctx,
		debVerbatimPublicationHref: debVerbatimPublicationHref,
	}
}

// Execute executes the request
//  @return NestedRoleResponse
func (a *PublicationsVerbatimAPIService) PublicationsDebVerbatimAddRoleExecute(r PublicationsVerbatimAPIPublicationsDebVerbatimAddRoleRequest) (*NestedRoleResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *NestedRoleResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PublicationsVerbatimAPIService.PublicationsDebVerbatimAddRole")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{deb_verbatim_publication_href}add_role/"
	localVarPath = strings.Replace(localVarPath, "{"+"deb_verbatim_publication_href"+"}", url.PathEscape(parameterValueToString(r.debVerbatimPublicationHref, "debVerbatimPublicationHref")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.nestedRole == nil {
		return localVarReturnValue, nil, reportError("nestedRole is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	// body params
	localVarPostBody = r.nestedRole
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type PublicationsVerbatimAPIPublicationsDebVerbatimCreateRequest struct {
	ctx context.Context
	ApiService *PublicationsVerbatimAPIService
	debVerbatimPublication *DebVerbatimPublication
	xTaskDiagnostics *[]string
}

func (r PublicationsVerbatimAPIPublicationsDebVerbatimCreateRequest) DebVerbatimPublication(debVerbatimPublication DebVerbatimPublication) PublicationsVerbatimAPIPublicationsDebVerbatimCreateRequest {
	r.debVerbatimPublication = &debVerbatimPublication
	return r
}

// List of profilers to use on tasks.
func (r PublicationsVerbatimAPIPublicationsDebVerbatimCreateRequest) XTaskDiagnostics(xTaskDiagnostics []string) PublicationsVerbatimAPIPublicationsDebVerbatimCreateRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

func (r PublicationsVerbatimAPIPublicationsDebVerbatimCreateRequest) Execute() (*AsyncOperationResponse, *http.Response, error) {
	return r.ApiService.PublicationsDebVerbatimCreateExecute(r)
}

/*
PublicationsDebVerbatimCreate Create a verbatim publication

Trigger an asynchronous task to publish content

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return PublicationsVerbatimAPIPublicationsDebVerbatimCreateRequest
*/
func (a *PublicationsVerbatimAPIService) PublicationsDebVerbatimCreate(ctx context.Context) PublicationsVerbatimAPIPublicationsDebVerbatimCreateRequest {
	return PublicationsVerbatimAPIPublicationsDebVerbatimCreateRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return AsyncOperationResponse
func (a *PublicationsVerbatimAPIService) PublicationsDebVerbatimCreateExecute(r PublicationsVerbatimAPIPublicationsDebVerbatimCreateRequest) (*AsyncOperationResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AsyncOperationResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PublicationsVerbatimAPIService.PublicationsDebVerbatimCreate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v3/publications/deb/verbatim/"
	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.debVerbatimPublication == nil {
		return localVarReturnValue, nil, reportError("debVerbatimPublication is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	// body params
	localVarPostBody = r.debVerbatimPublication
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type PublicationsVerbatimAPIPublicationsDebVerbatimDeleteRequest struct {
	ctx context.Context
	ApiService *PublicationsVerbatimAPIService
	debVerbatimPublicationHref string
	xTaskDiagnostics *[]string
}

// List of profilers to use on tasks.
func (r PublicationsVerbatimAPIPublicationsDebVerbatimDeleteRequest) XTaskDiagnostics(xTaskDiagnostics []string) PublicationsVerbatimAPIPublicationsDebVerbatimDeleteRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

func (r PublicationsVerbatimAPIPublicationsDebVerbatimDeleteRequest) Execute() (*http.Response, error) {
	return r.ApiService.PublicationsDebVerbatimDeleteExecute(r)
}

/*
PublicationsDebVerbatimDelete Delete a verbatim publication

An VerbatimPublication is the Pulp-internal representation of a "mirrored" AptRepositoryVersion.In other words, the verbatim publisher will recreate the synced subset of some a APTrepository using the exact same metadata files and signatures as used by the upstream original.Once a Pulp publication has been created, it can be served by creating a Pulp distribution (ina near atomic action).

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param debVerbatimPublicationHref
 @return PublicationsVerbatimAPIPublicationsDebVerbatimDeleteRequest
*/
func (a *PublicationsVerbatimAPIService) PublicationsDebVerbatimDelete(ctx context.Context, debVerbatimPublicationHref string) PublicationsVerbatimAPIPublicationsDebVerbatimDeleteRequest {
	return PublicationsVerbatimAPIPublicationsDebVerbatimDeleteRequest{
		ApiService: a,
		ctx: ctx,
		debVerbatimPublicationHref: debVerbatimPublicationHref,
	}
}

// Execute executes the request
func (a *PublicationsVerbatimAPIService) PublicationsDebVerbatimDeleteExecute(r PublicationsVerbatimAPIPublicationsDebVerbatimDeleteRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PublicationsVerbatimAPIService.PublicationsDebVerbatimDelete")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{deb_verbatim_publication_href}"
	localVarPath = strings.Replace(localVarPath, "{"+"deb_verbatim_publication_href"+"}", url.PathEscape(parameterValueToString(r.debVerbatimPublicationHref, "debVerbatimPublicationHref")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type PublicationsVerbatimAPIPublicationsDebVerbatimListRequest struct {
	ctx context.Context
	ApiService *PublicationsVerbatimAPIService
	xTaskDiagnostics *[]string
	checkpoint *bool
	content *string
	contentIn *[]string
	limit *int32
	offset *int32
	ordering *[]string
	prnIn *[]string
	pulpCreated *time.Time
	pulpCreatedGt *time.Time
	pulpCreatedGte *time.Time
	pulpCreatedIsnull *bool
	pulpCreatedLt *time.Time
	pulpCreatedLte *time.Time
	pulpCreatedRange *[]time.Time
	pulpHrefIn *[]string
	pulpIdIn *[]string
	q *string
	repository *string
	repositoryVersion *string
	fields *[]string
	excludeFields *[]string
}

// List of profilers to use on tasks.
func (r PublicationsVerbatimAPIPublicationsDebVerbatimListRequest) XTaskDiagnostics(xTaskDiagnostics []string) PublicationsVerbatimAPIPublicationsDebVerbatimListRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

// Filter results where checkpoint matches value
func (r PublicationsVerbatimAPIPublicationsDebVerbatimListRequest) Checkpoint(checkpoint bool) PublicationsVerbatimAPIPublicationsDebVerbatimListRequest {
	r.checkpoint = &checkpoint
	return r
}

// Content Unit referenced by HREF/PRN
func (r PublicationsVerbatimAPIPublicationsDebVerbatimListRequest) Content(content string) PublicationsVerbatimAPIPublicationsDebVerbatimListRequest {
	r.content = &content
	return r
}

// Multiple values may be separated by commas.
func (r PublicationsVerbatimAPIPublicationsDebVerbatimListRequest) ContentIn(contentIn []string) PublicationsVerbatimAPIPublicationsDebVerbatimListRequest {
	r.contentIn = &contentIn
	return r
}

// Number of results to return per page.
func (r PublicationsVerbatimAPIPublicationsDebVerbatimListRequest) Limit(limit int32) PublicationsVerbatimAPIPublicationsDebVerbatimListRequest {
	r.limit = &limit
	return r
}

// The initial index from which to return the results.
func (r PublicationsVerbatimAPIPublicationsDebVerbatimListRequest) Offset(offset int32) PublicationsVerbatimAPIPublicationsDebVerbatimListRequest {
	r.offset = &offset
	return r
}

// Ordering* &#x60;pulp_id&#x60; - Pulp id* &#x60;-pulp_id&#x60; - Pulp id (descending)* &#x60;pulp_created&#x60; - Pulp created* &#x60;-pulp_created&#x60; - Pulp created (descending)* &#x60;pulp_last_updated&#x60; - Pulp last updated* &#x60;-pulp_last_updated&#x60; - Pulp last updated (descending)* &#x60;pulp_type&#x60; - Pulp type* &#x60;-pulp_type&#x60; - Pulp type (descending)* &#x60;complete&#x60; - Complete* &#x60;-complete&#x60; - Complete (descending)* &#x60;pass_through&#x60; - Pass through* &#x60;-pass_through&#x60; - Pass through (descending)* &#x60;checkpoint&#x60; - Checkpoint* &#x60;-checkpoint&#x60; - Checkpoint (descending)* &#x60;pk&#x60; - Pk* &#x60;-pk&#x60; - Pk (descending)
func (r PublicationsVerbatimAPIPublicationsDebVerbatimListRequest) Ordering(ordering []string) PublicationsVerbatimAPIPublicationsDebVerbatimListRequest {
	r.ordering = &ordering
	return r
}

// Multiple values may be separated by commas.
func (r PublicationsVerbatimAPIPublicationsDebVerbatimListRequest) PrnIn(prnIn []string) PublicationsVerbatimAPIPublicationsDebVerbatimListRequest {
	r.prnIn = &prnIn
	return r
}

// Filter results where pulp_created matches value
func (r PublicationsVerbatimAPIPublicationsDebVerbatimListRequest) PulpCreated(pulpCreated time.Time) PublicationsVerbatimAPIPublicationsDebVerbatimListRequest {
	r.pulpCreated = &pulpCreated
	return r
}

// Filter results where pulp_created is greater than value
func (r PublicationsVerbatimAPIPublicationsDebVerbatimListRequest) PulpCreatedGt(pulpCreatedGt time.Time) PublicationsVerbatimAPIPublicationsDebVerbatimListRequest {
	r.pulpCreatedGt = &pulpCreatedGt
	return r
}

// Filter results where pulp_created is greater than or equal to value
func (r PublicationsVerbatimAPIPublicationsDebVerbatimListRequest) PulpCreatedGte(pulpCreatedGte time.Time) PublicationsVerbatimAPIPublicationsDebVerbatimListRequest {
	r.pulpCreatedGte = &pulpCreatedGte
	return r
}

// Filter results where pulp_created has a null value
func (r PublicationsVerbatimAPIPublicationsDebVerbatimListRequest) PulpCreatedIsnull(pulpCreatedIsnull bool) PublicationsVerbatimAPIPublicationsDebVerbatimListRequest {
	r.pulpCreatedIsnull = &pulpCreatedIsnull
	return r
}

// Filter results where pulp_created is less than value
func (r PublicationsVerbatimAPIPublicationsDebVerbatimListRequest) PulpCreatedLt(pulpCreatedLt time.Time) PublicationsVerbatimAPIPublicationsDebVerbatimListRequest {
	r.pulpCreatedLt = &pulpCreatedLt
	return r
}

// Filter results where pulp_created is less than or equal to value
func (r PublicationsVerbatimAPIPublicationsDebVerbatimListRequest) PulpCreatedLte(pulpCreatedLte time.Time) PublicationsVerbatimAPIPublicationsDebVerbatimListRequest {
	r.pulpCreatedLte = &pulpCreatedLte
	return r
}

// Filter results where pulp_created is between two comma separated values
func (r PublicationsVerbatimAPIPublicationsDebVerbatimListRequest) PulpCreatedRange(pulpCreatedRange []time.Time) PublicationsVerbatimAPIPublicationsDebVerbatimListRequest {
	r.pulpCreatedRange = &pulpCreatedRange
	return r
}

// Multiple values may be separated by commas.
func (r PublicationsVerbatimAPIPublicationsDebVerbatimListRequest) PulpHrefIn(pulpHrefIn []string) PublicationsVerbatimAPIPublicationsDebVerbatimListRequest {
	r.pulpHrefIn = &pulpHrefIn
	return r
}

// Multiple values may be separated by commas.
func (r PublicationsVerbatimAPIPublicationsDebVerbatimListRequest) PulpIdIn(pulpIdIn []string) PublicationsVerbatimAPIPublicationsDebVerbatimListRequest {
	r.pulpIdIn = &pulpIdIn
	return r
}

// Filter results by using NOT, AND and OR operations on other filters
func (r PublicationsVerbatimAPIPublicationsDebVerbatimListRequest) Q(q string) PublicationsVerbatimAPIPublicationsDebVerbatimListRequest {
	r.q = &q
	return r
}

// Repository referenced by HREF/PRN
func (r PublicationsVerbatimAPIPublicationsDebVerbatimListRequest) Repository(repository string) PublicationsVerbatimAPIPublicationsDebVerbatimListRequest {
	r.repository = &repository
	return r
}

// Repository Version referenced by HREF/PRN
func (r PublicationsVerbatimAPIPublicationsDebVerbatimListRequest) RepositoryVersion(repositoryVersion string) PublicationsVerbatimAPIPublicationsDebVerbatimListRequest {
	r.repositoryVersion = &repositoryVersion
	return r
}

// A list of fields to include in the response.
func (r PublicationsVerbatimAPIPublicationsDebVerbatimListRequest) Fields(fields []string) PublicationsVerbatimAPIPublicationsDebVerbatimListRequest {
	r.fields = &fields
	return r
}

// A list of fields to exclude from the response.
func (r PublicationsVerbatimAPIPublicationsDebVerbatimListRequest) ExcludeFields(excludeFields []string) PublicationsVerbatimAPIPublicationsDebVerbatimListRequest {
	r.excludeFields = &excludeFields
	return r
}

func (r PublicationsVerbatimAPIPublicationsDebVerbatimListRequest) Execute() (*PaginateddebVerbatimPublicationResponseList, *http.Response, error) {
	return r.ApiService.PublicationsDebVerbatimListExecute(r)
}

/*
PublicationsDebVerbatimList List verbatim publications

An VerbatimPublication is the Pulp-internal representation of a "mirrored" AptRepositoryVersion.In other words, the verbatim publisher will recreate the synced subset of some a APTrepository using the exact same metadata files and signatures as used by the upstream original.Once a Pulp publication has been created, it can be served by creating a Pulp distribution (ina near atomic action).

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return PublicationsVerbatimAPIPublicationsDebVerbatimListRequest
*/
func (a *PublicationsVerbatimAPIService) PublicationsDebVerbatimList(ctx context.Context) PublicationsVerbatimAPIPublicationsDebVerbatimListRequest {
	return PublicationsVerbatimAPIPublicationsDebVerbatimListRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return PaginateddebVerbatimPublicationResponseList
func (a *PublicationsVerbatimAPIService) PublicationsDebVerbatimListExecute(r PublicationsVerbatimAPIPublicationsDebVerbatimListRequest) (*PaginateddebVerbatimPublicationResponseList, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PaginateddebVerbatimPublicationResponseList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PublicationsVerbatimAPIService.PublicationsDebVerbatimList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v3/publications/deb/verbatim/"
	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.checkpoint != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "checkpoint", r.checkpoint, "form", "")
	}
	if r.content != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "content", r.content, "form", "")
	}
	if r.contentIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "content__in", r.contentIn, "form", "csv")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	}
	if r.ordering != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ordering", r.ordering, "form", "csv")
	}
	if r.prnIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "prn__in", r.prnIn, "form", "csv")
	}
	if r.pulpCreated != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pulp_created", r.pulpCreated, "form", "")
	}
	if r.pulpCreatedGt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pulp_created__gt", r.pulpCreatedGt, "form", "")
	}
	if r.pulpCreatedGte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pulp_created__gte", r.pulpCreatedGte, "form", "")
	}
	if r.pulpCreatedIsnull != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pulp_created__isnull", r.pulpCreatedIsnull, "form", "")
	}
	if r.pulpCreatedLt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pulp_created__lt", r.pulpCreatedLt, "form", "")
	}
	if r.pulpCreatedLte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pulp_created__lte", r.pulpCreatedLte, "form", "")
	}
	if r.pulpCreatedRange != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pulp_created__range", r.pulpCreatedRange, "form", "csv")
	}
	if r.pulpHrefIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pulp_href__in", r.pulpHrefIn, "form", "csv")
	}
	if r.pulpIdIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pulp_id__in", r.pulpIdIn, "form", "csv")
	}
	if r.q != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "q", r.q, "form", "")
	}
	if r.repository != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repository", r.repository, "form", "")
	}
	if r.repositoryVersion != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repository_version", r.repositoryVersion, "form", "")
	}
	if r.fields != nil {
		t := *r.fields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "fields", t, "form", "multi")
		}
	}
	if r.excludeFields != nil {
		t := *r.excludeFields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type PublicationsVerbatimAPIPublicationsDebVerbatimListRolesRequest struct {
	ctx context.Context
	ApiService *PublicationsVerbatimAPIService
	debVerbatimPublicationHref string
	xTaskDiagnostics *[]string
	fields *[]string
	excludeFields *[]string
}

// List of profilers to use on tasks.
func (r PublicationsVerbatimAPIPublicationsDebVerbatimListRolesRequest) XTaskDiagnostics(xTaskDiagnostics []string) PublicationsVerbatimAPIPublicationsDebVerbatimListRolesRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

// A list of fields to include in the response.
func (r PublicationsVerbatimAPIPublicationsDebVerbatimListRolesRequest) Fields(fields []string) PublicationsVerbatimAPIPublicationsDebVerbatimListRolesRequest {
	r.fields = &fields
	return r
}

// A list of fields to exclude from the response.
func (r PublicationsVerbatimAPIPublicationsDebVerbatimListRolesRequest) ExcludeFields(excludeFields []string) PublicationsVerbatimAPIPublicationsDebVerbatimListRolesRequest {
	r.excludeFields = &excludeFields
	return r
}

func (r PublicationsVerbatimAPIPublicationsDebVerbatimListRolesRequest) Execute() (*ObjectRolesResponse, *http.Response, error) {
	return r.ApiService.PublicationsDebVerbatimListRolesExecute(r)
}

/*
PublicationsDebVerbatimListRoles List roles

List roles assigned to this object.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param debVerbatimPublicationHref
 @return PublicationsVerbatimAPIPublicationsDebVerbatimListRolesRequest
*/
func (a *PublicationsVerbatimAPIService) PublicationsDebVerbatimListRoles(ctx context.Context, debVerbatimPublicationHref string) PublicationsVerbatimAPIPublicationsDebVerbatimListRolesRequest {
	return PublicationsVerbatimAPIPublicationsDebVerbatimListRolesRequest{
		ApiService: a,
		ctx: ctx,
		debVerbatimPublicationHref: debVerbatimPublicationHref,
	}
}

// Execute executes the request
//  @return ObjectRolesResponse
func (a *PublicationsVerbatimAPIService) PublicationsDebVerbatimListRolesExecute(r PublicationsVerbatimAPIPublicationsDebVerbatimListRolesRequest) (*ObjectRolesResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ObjectRolesResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PublicationsVerbatimAPIService.PublicationsDebVerbatimListRoles")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{deb_verbatim_publication_href}list_roles/"
	localVarPath = strings.Replace(localVarPath, "{"+"deb_verbatim_publication_href"+"}", url.PathEscape(parameterValueToString(r.debVerbatimPublicationHref, "debVerbatimPublicationHref")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.fields != nil {
		t := *r.fields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "fields", t, "form", "multi")
		}
	}
	if r.excludeFields != nil {
		t := *r.excludeFields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type PublicationsVerbatimAPIPublicationsDebVerbatimMyPermissionsRequest struct {
	ctx context.Context
	ApiService *PublicationsVerbatimAPIService
	debVerbatimPublicationHref string
	xTaskDiagnostics *[]string
	fields *[]string
	excludeFields *[]string
}

// List of profilers to use on tasks.
func (r PublicationsVerbatimAPIPublicationsDebVerbatimMyPermissionsRequest) XTaskDiagnostics(xTaskDiagnostics []string) PublicationsVerbatimAPIPublicationsDebVerbatimMyPermissionsRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

// A list of fields to include in the response.
func (r PublicationsVerbatimAPIPublicationsDebVerbatimMyPermissionsRequest) Fields(fields []string) PublicationsVerbatimAPIPublicationsDebVerbatimMyPermissionsRequest {
	r.fields = &fields
	return r
}

// A list of fields to exclude from the response.
func (r PublicationsVerbatimAPIPublicationsDebVerbatimMyPermissionsRequest) ExcludeFields(excludeFields []string) PublicationsVerbatimAPIPublicationsDebVerbatimMyPermissionsRequest {
	r.excludeFields = &excludeFields
	return r
}

func (r PublicationsVerbatimAPIPublicationsDebVerbatimMyPermissionsRequest) Execute() (*MyPermissionsResponse, *http.Response, error) {
	return r.ApiService.PublicationsDebVerbatimMyPermissionsExecute(r)
}

/*
PublicationsDebVerbatimMyPermissions List user permissions

List permissions available to the current user on this object.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param debVerbatimPublicationHref
 @return PublicationsVerbatimAPIPublicationsDebVerbatimMyPermissionsRequest
*/
func (a *PublicationsVerbatimAPIService) PublicationsDebVerbatimMyPermissions(ctx context.Context, debVerbatimPublicationHref string) PublicationsVerbatimAPIPublicationsDebVerbatimMyPermissionsRequest {
	return PublicationsVerbatimAPIPublicationsDebVerbatimMyPermissionsRequest{
		ApiService: a,
		ctx: ctx,
		debVerbatimPublicationHref: debVerbatimPublicationHref,
	}
}

// Execute executes the request
//  @return MyPermissionsResponse
func (a *PublicationsVerbatimAPIService) PublicationsDebVerbatimMyPermissionsExecute(r PublicationsVerbatimAPIPublicationsDebVerbatimMyPermissionsRequest) (*MyPermissionsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *MyPermissionsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PublicationsVerbatimAPIService.PublicationsDebVerbatimMyPermissions")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{deb_verbatim_publication_href}my_permissions/"
	localVarPath = strings.Replace(localVarPath, "{"+"deb_verbatim_publication_href"+"}", url.PathEscape(parameterValueToString(r.debVerbatimPublicationHref, "debVerbatimPublicationHref")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.fields != nil {
		t := *r.fields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "fields", t, "form", "multi")
		}
	}
	if r.excludeFields != nil {
		t := *r.excludeFields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type PublicationsVerbatimAPIPublicationsDebVerbatimReadRequest struct {
	ctx context.Context
	ApiService *PublicationsVerbatimAPIService
	debVerbatimPublicationHref string
	xTaskDiagnostics *[]string
	fields *[]string
	excludeFields *[]string
}

// List of profilers to use on tasks.
func (r PublicationsVerbatimAPIPublicationsDebVerbatimReadRequest) XTaskDiagnostics(xTaskDiagnostics []string) PublicationsVerbatimAPIPublicationsDebVerbatimReadRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

// A list of fields to include in the response.
func (r PublicationsVerbatimAPIPublicationsDebVerbatimReadRequest) Fields(fields []string) PublicationsVerbatimAPIPublicationsDebVerbatimReadRequest {
	r.fields = &fields
	return r
}

// A list of fields to exclude from the response.
func (r PublicationsVerbatimAPIPublicationsDebVerbatimReadRequest) ExcludeFields(excludeFields []string) PublicationsVerbatimAPIPublicationsDebVerbatimReadRequest {
	r.excludeFields = &excludeFields
	return r
}

func (r PublicationsVerbatimAPIPublicationsDebVerbatimReadRequest) Execute() (*DebVerbatimPublicationResponse, *http.Response, error) {
	return r.ApiService.PublicationsDebVerbatimReadExecute(r)
}

/*
PublicationsDebVerbatimRead Inspect a verbatim publication

An VerbatimPublication is the Pulp-internal representation of a "mirrored" AptRepositoryVersion.In other words, the verbatim publisher will recreate the synced subset of some a APTrepository using the exact same metadata files and signatures as used by the upstream original.Once a Pulp publication has been created, it can be served by creating a Pulp distribution (ina near atomic action).

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param debVerbatimPublicationHref
 @return PublicationsVerbatimAPIPublicationsDebVerbatimReadRequest
*/
func (a *PublicationsVerbatimAPIService) PublicationsDebVerbatimRead(ctx context.Context, debVerbatimPublicationHref string) PublicationsVerbatimAPIPublicationsDebVerbatimReadRequest {
	return PublicationsVerbatimAPIPublicationsDebVerbatimReadRequest{
		ApiService: a,
		ctx: ctx,
		debVerbatimPublicationHref: debVerbatimPublicationHref,
	}
}

// Execute executes the request
//  @return DebVerbatimPublicationResponse
func (a *PublicationsVerbatimAPIService) PublicationsDebVerbatimReadExecute(r PublicationsVerbatimAPIPublicationsDebVerbatimReadRequest) (*DebVerbatimPublicationResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *DebVerbatimPublicationResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PublicationsVerbatimAPIService.PublicationsDebVerbatimRead")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{deb_verbatim_publication_href}"
	localVarPath = strings.Replace(localVarPath, "{"+"deb_verbatim_publication_href"+"}", url.PathEscape(parameterValueToString(r.debVerbatimPublicationHref, "debVerbatimPublicationHref")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.fields != nil {
		t := *r.fields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "fields", t, "form", "multi")
		}
	}
	if r.excludeFields != nil {
		t := *r.excludeFields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type PublicationsVerbatimAPIPublicationsDebVerbatimRemoveRoleRequest struct {
	ctx context.Context
	ApiService *PublicationsVerbatimAPIService
	debVerbatimPublicationHref string
	nestedRole *NestedRole
	xTaskDiagnostics *[]string
}

func (r PublicationsVerbatimAPIPublicationsDebVerbatimRemoveRoleRequest) NestedRole(nestedRole NestedRole) PublicationsVerbatimAPIPublicationsDebVerbatimRemoveRoleRequest {
	r.nestedRole = &nestedRole
	return r
}

// List of profilers to use on tasks.
func (r PublicationsVerbatimAPIPublicationsDebVerbatimRemoveRoleRequest) XTaskDiagnostics(xTaskDiagnostics []string) PublicationsVerbatimAPIPublicationsDebVerbatimRemoveRoleRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

func (r PublicationsVerbatimAPIPublicationsDebVerbatimRemoveRoleRequest) Execute() (*NestedRoleResponse, *http.Response, error) {
	return r.ApiService.PublicationsDebVerbatimRemoveRoleExecute(r)
}

/*
PublicationsDebVerbatimRemoveRole Remove a role

Remove a role for this object from users/groups.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param debVerbatimPublicationHref
 @return PublicationsVerbatimAPIPublicationsDebVerbatimRemoveRoleRequest
*/
func (a *PublicationsVerbatimAPIService) PublicationsDebVerbatimRemoveRole(ctx context.Context, debVerbatimPublicationHref string) PublicationsVerbatimAPIPublicationsDebVerbatimRemoveRoleRequest {
	return PublicationsVerbatimAPIPublicationsDebVerbatimRemoveRoleRequest{
		ApiService: a,
		ctx: ctx,
		debVerbatimPublicationHref: debVerbatimPublicationHref,
	}
}

// Execute executes the request
//  @return NestedRoleResponse
func (a *PublicationsVerbatimAPIService) PublicationsDebVerbatimRemoveRoleExecute(r PublicationsVerbatimAPIPublicationsDebVerbatimRemoveRoleRequest) (*NestedRoleResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *NestedRoleResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PublicationsVerbatimAPIService.PublicationsDebVerbatimRemoveRole")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{deb_verbatim_publication_href}remove_role/"
	localVarPath = strings.Replace(localVarPath, "{"+"deb_verbatim_publication_href"+"}", url.PathEscape(parameterValueToString(r.debVerbatimPublicationHref, "debVerbatimPublicationHref")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.nestedRole == nil {
		return localVarReturnValue, nil, reportError("nestedRole is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	// body params
	localVarPostBody = r.nestedRole
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
