/*
Pulp 3 API

Fetch, Upload, Organize, and Distribute Software Packages

API version: v3
Contact: pulp-list@redhat.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package pulpbindings

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"reflect"
)


// PulpAnsiblePluginAnsibleContentCollectionsIndexAPIService PulpAnsiblePluginAnsibleContentCollectionsIndexAPI service
type PulpAnsiblePluginAnsibleContentCollectionsIndexAPIService service

type PulpAnsiblePluginAnsibleContentCollectionsIndexAPIPulpAnsibleGalaxyPluginAnsibleContentCollectionsIndexDeleteRequest struct {
	ctx context.Context
	ApiService *PulpAnsiblePluginAnsibleContentCollectionsIndexAPIService
	distroBasePath string
	name string
	namespace string
	path string
	xTaskDiagnostics *[]string
}

// List of profilers to use on tasks.
func (r PulpAnsiblePluginAnsibleContentCollectionsIndexAPIPulpAnsibleGalaxyPluginAnsibleContentCollectionsIndexDeleteRequest) XTaskDiagnostics(xTaskDiagnostics []string) PulpAnsiblePluginAnsibleContentCollectionsIndexAPIPulpAnsibleGalaxyPluginAnsibleContentCollectionsIndexDeleteRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

func (r PulpAnsiblePluginAnsibleContentCollectionsIndexAPIPulpAnsibleGalaxyPluginAnsibleContentCollectionsIndexDeleteRequest) Execute() (*AsyncOperationResponse, *http.Response, error) {
	return r.ApiService.PulpAnsibleGalaxyPluginAnsibleContentCollectionsIndexDeleteExecute(r)
}

/*
PulpAnsibleGalaxyPluginAnsibleContentCollectionsIndexDelete Method for PulpAnsibleGalaxyPluginAnsibleContentCollectionsIndexDelete

Trigger an asynchronous delete task

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param distroBasePath
 @param name
 @param namespace
 @param path
 @return PulpAnsiblePluginAnsibleContentCollectionsIndexAPIPulpAnsibleGalaxyPluginAnsibleContentCollectionsIndexDeleteRequest
*/
func (a *PulpAnsiblePluginAnsibleContentCollectionsIndexAPIService) PulpAnsibleGalaxyPluginAnsibleContentCollectionsIndexDelete(ctx context.Context, distroBasePath string, name string, namespace string, path string) PulpAnsiblePluginAnsibleContentCollectionsIndexAPIPulpAnsibleGalaxyPluginAnsibleContentCollectionsIndexDeleteRequest {
	return PulpAnsiblePluginAnsibleContentCollectionsIndexAPIPulpAnsibleGalaxyPluginAnsibleContentCollectionsIndexDeleteRequest{
		ApiService: a,
		ctx: ctx,
		distroBasePath: distroBasePath,
		name: name,
		namespace: namespace,
		path: path,
	}
}

// Execute executes the request
//  @return AsyncOperationResponse
func (a *PulpAnsiblePluginAnsibleContentCollectionsIndexAPIService) PulpAnsibleGalaxyPluginAnsibleContentCollectionsIndexDeleteExecute(r PulpAnsiblePluginAnsibleContentCollectionsIndexAPIPulpAnsibleGalaxyPluginAnsibleContentCollectionsIndexDeleteRequest) (*AsyncOperationResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AsyncOperationResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PulpAnsiblePluginAnsibleContentCollectionsIndexAPIService.PulpAnsibleGalaxyPluginAnsibleContentCollectionsIndexDelete")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/pulp_ansible/galaxy/{path}/api/v3/plugin/ansible/content/{distro_base_path}/collections/index/{namespace}/{name}/"
	localVarPath = strings.Replace(localVarPath, "{"+"distro_base_path"+"}", url.PathEscape(parameterValueToString(r.distroBasePath, "distroBasePath")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterValueToString(r.name, "name")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarPath = strings.Replace(localVarPath, "{"+"namespace"+"}", url.PathEscape(parameterValueToString(r.namespace, "namespace")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarPath = strings.Replace(localVarPath, "{"+"path"+"}", url.PathEscape(parameterValueToString(r.path, "path")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type PulpAnsiblePluginAnsibleContentCollectionsIndexAPIPulpAnsibleGalaxyPluginAnsibleContentCollectionsIndexListRequest struct {
	ctx context.Context
	ApiService *PulpAnsiblePluginAnsibleContentCollectionsIndexAPIService
	distroBasePath string
	path string
	xTaskDiagnostics *[]string
	deprecated *bool
	limit *int32
	name *string
	namespace *string
	offset *int32
	ordering *[]string
	prnIn *[]string
	pulpHrefIn *[]string
	pulpIdIn *[]string
	q *string
	fields *[]string
	excludeFields *[]string
}

// List of profilers to use on tasks.
func (r PulpAnsiblePluginAnsibleContentCollectionsIndexAPIPulpAnsibleGalaxyPluginAnsibleContentCollectionsIndexListRequest) XTaskDiagnostics(xTaskDiagnostics []string) PulpAnsiblePluginAnsibleContentCollectionsIndexAPIPulpAnsibleGalaxyPluginAnsibleContentCollectionsIndexListRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

func (r PulpAnsiblePluginAnsibleContentCollectionsIndexAPIPulpAnsibleGalaxyPluginAnsibleContentCollectionsIndexListRequest) Deprecated(deprecated bool) PulpAnsiblePluginAnsibleContentCollectionsIndexAPIPulpAnsibleGalaxyPluginAnsibleContentCollectionsIndexListRequest {
	r.deprecated = &deprecated
	return r
}

// Number of results to return per page.
func (r PulpAnsiblePluginAnsibleContentCollectionsIndexAPIPulpAnsibleGalaxyPluginAnsibleContentCollectionsIndexListRequest) Limit(limit int32) PulpAnsiblePluginAnsibleContentCollectionsIndexAPIPulpAnsibleGalaxyPluginAnsibleContentCollectionsIndexListRequest {
	r.limit = &limit
	return r
}

func (r PulpAnsiblePluginAnsibleContentCollectionsIndexAPIPulpAnsibleGalaxyPluginAnsibleContentCollectionsIndexListRequest) Name(name string) PulpAnsiblePluginAnsibleContentCollectionsIndexAPIPulpAnsibleGalaxyPluginAnsibleContentCollectionsIndexListRequest {
	r.name = &name
	return r
}

func (r PulpAnsiblePluginAnsibleContentCollectionsIndexAPIPulpAnsibleGalaxyPluginAnsibleContentCollectionsIndexListRequest) Namespace(namespace string) PulpAnsiblePluginAnsibleContentCollectionsIndexAPIPulpAnsibleGalaxyPluginAnsibleContentCollectionsIndexListRequest {
	r.namespace = &namespace
	return r
}

// The initial index from which to return the results.
func (r PulpAnsiblePluginAnsibleContentCollectionsIndexAPIPulpAnsibleGalaxyPluginAnsibleContentCollectionsIndexListRequest) Offset(offset int32) PulpAnsiblePluginAnsibleContentCollectionsIndexAPIPulpAnsibleGalaxyPluginAnsibleContentCollectionsIndexListRequest {
	r.offset = &offset
	return r
}

// Ordering* &#x60;pulp_id&#x60; - Pulp id* &#x60;-pulp_id&#x60; - Pulp id (descending)* &#x60;pulp_created&#x60; - Pulp created* &#x60;-pulp_created&#x60; - Pulp created (descending)* &#x60;pulp_last_updated&#x60; - Pulp last updated* &#x60;-pulp_last_updated&#x60; - Pulp last updated (descending)* &#x60;namespace&#x60; - Namespace* &#x60;-namespace&#x60; - Namespace (descending)* &#x60;name&#x60; - Name* &#x60;-name&#x60; - Name (descending)* &#x60;pk&#x60; - Pk* &#x60;-pk&#x60; - Pk (descending)
func (r PulpAnsiblePluginAnsibleContentCollectionsIndexAPIPulpAnsibleGalaxyPluginAnsibleContentCollectionsIndexListRequest) Ordering(ordering []string) PulpAnsiblePluginAnsibleContentCollectionsIndexAPIPulpAnsibleGalaxyPluginAnsibleContentCollectionsIndexListRequest {
	r.ordering = &ordering
	return r
}

// Multiple values may be separated by commas.
func (r PulpAnsiblePluginAnsibleContentCollectionsIndexAPIPulpAnsibleGalaxyPluginAnsibleContentCollectionsIndexListRequest) PrnIn(prnIn []string) PulpAnsiblePluginAnsibleContentCollectionsIndexAPIPulpAnsibleGalaxyPluginAnsibleContentCollectionsIndexListRequest {
	r.prnIn = &prnIn
	return r
}

// Multiple values may be separated by commas.
func (r PulpAnsiblePluginAnsibleContentCollectionsIndexAPIPulpAnsibleGalaxyPluginAnsibleContentCollectionsIndexListRequest) PulpHrefIn(pulpHrefIn []string) PulpAnsiblePluginAnsibleContentCollectionsIndexAPIPulpAnsibleGalaxyPluginAnsibleContentCollectionsIndexListRequest {
	r.pulpHrefIn = &pulpHrefIn
	return r
}

// Multiple values may be separated by commas.
func (r PulpAnsiblePluginAnsibleContentCollectionsIndexAPIPulpAnsibleGalaxyPluginAnsibleContentCollectionsIndexListRequest) PulpIdIn(pulpIdIn []string) PulpAnsiblePluginAnsibleContentCollectionsIndexAPIPulpAnsibleGalaxyPluginAnsibleContentCollectionsIndexListRequest {
	r.pulpIdIn = &pulpIdIn
	return r
}

// Filter results by using NOT, AND and OR operations on other filters
func (r PulpAnsiblePluginAnsibleContentCollectionsIndexAPIPulpAnsibleGalaxyPluginAnsibleContentCollectionsIndexListRequest) Q(q string) PulpAnsiblePluginAnsibleContentCollectionsIndexAPIPulpAnsibleGalaxyPluginAnsibleContentCollectionsIndexListRequest {
	r.q = &q
	return r
}

// A list of fields to include in the response.
func (r PulpAnsiblePluginAnsibleContentCollectionsIndexAPIPulpAnsibleGalaxyPluginAnsibleContentCollectionsIndexListRequest) Fields(fields []string) PulpAnsiblePluginAnsibleContentCollectionsIndexAPIPulpAnsibleGalaxyPluginAnsibleContentCollectionsIndexListRequest {
	r.fields = &fields
	return r
}

// A list of fields to exclude from the response.
func (r PulpAnsiblePluginAnsibleContentCollectionsIndexAPIPulpAnsibleGalaxyPluginAnsibleContentCollectionsIndexListRequest) ExcludeFields(excludeFields []string) PulpAnsiblePluginAnsibleContentCollectionsIndexAPIPulpAnsibleGalaxyPluginAnsibleContentCollectionsIndexListRequest {
	r.excludeFields = &excludeFields
	return r
}

func (r PulpAnsiblePluginAnsibleContentCollectionsIndexAPIPulpAnsibleGalaxyPluginAnsibleContentCollectionsIndexListRequest) Execute() (*PaginatedCollectionResponseList, *http.Response, error) {
	return r.ApiService.PulpAnsibleGalaxyPluginAnsibleContentCollectionsIndexListExecute(r)
}

/*
PulpAnsibleGalaxyPluginAnsibleContentCollectionsIndexList Method for PulpAnsibleGalaxyPluginAnsibleContentCollectionsIndexList

ViewSet for Collections.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param distroBasePath
 @param path
 @return PulpAnsiblePluginAnsibleContentCollectionsIndexAPIPulpAnsibleGalaxyPluginAnsibleContentCollectionsIndexListRequest
*/
func (a *PulpAnsiblePluginAnsibleContentCollectionsIndexAPIService) PulpAnsibleGalaxyPluginAnsibleContentCollectionsIndexList(ctx context.Context, distroBasePath string, path string) PulpAnsiblePluginAnsibleContentCollectionsIndexAPIPulpAnsibleGalaxyPluginAnsibleContentCollectionsIndexListRequest {
	return PulpAnsiblePluginAnsibleContentCollectionsIndexAPIPulpAnsibleGalaxyPluginAnsibleContentCollectionsIndexListRequest{
		ApiService: a,
		ctx: ctx,
		distroBasePath: distroBasePath,
		path: path,
	}
}

// Execute executes the request
//  @return PaginatedCollectionResponseList
func (a *PulpAnsiblePluginAnsibleContentCollectionsIndexAPIService) PulpAnsibleGalaxyPluginAnsibleContentCollectionsIndexListExecute(r PulpAnsiblePluginAnsibleContentCollectionsIndexAPIPulpAnsibleGalaxyPluginAnsibleContentCollectionsIndexListRequest) (*PaginatedCollectionResponseList, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PaginatedCollectionResponseList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PulpAnsiblePluginAnsibleContentCollectionsIndexAPIService.PulpAnsibleGalaxyPluginAnsibleContentCollectionsIndexList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/pulp_ansible/galaxy/{path}/api/v3/plugin/ansible/content/{distro_base_path}/collections/index/"
	localVarPath = strings.Replace(localVarPath, "{"+"distro_base_path"+"}", url.PathEscape(parameterValueToString(r.distroBasePath, "distroBasePath")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarPath = strings.Replace(localVarPath, "{"+"path"+"}", url.PathEscape(parameterValueToString(r.path, "path")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.deprecated != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deprecated", r.deprecated, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.name != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "form", "")
	}
	if r.namespace != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "namespace", r.namespace, "form", "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	}
	if r.ordering != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ordering", r.ordering, "form", "csv")
	}
	if r.prnIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "prn__in", r.prnIn, "form", "csv")
	}
	if r.pulpHrefIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pulp_href__in", r.pulpHrefIn, "form", "csv")
	}
	if r.pulpIdIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pulp_id__in", r.pulpIdIn, "form", "csv")
	}
	if r.q != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "q", r.q, "form", "")
	}
	if r.fields != nil {
		t := *r.fields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "fields", t, "form", "multi")
		}
	}
	if r.excludeFields != nil {
		t := *r.excludeFields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type PulpAnsiblePluginAnsibleContentCollectionsIndexAPIPulpAnsibleGalaxyPluginAnsibleContentCollectionsIndexReadRequest struct {
	ctx context.Context
	ApiService *PulpAnsiblePluginAnsibleContentCollectionsIndexAPIService
	distroBasePath string
	name string
	namespace string
	path string
	xTaskDiagnostics *[]string
	fields *[]string
	excludeFields *[]string
}

// List of profilers to use on tasks.
func (r PulpAnsiblePluginAnsibleContentCollectionsIndexAPIPulpAnsibleGalaxyPluginAnsibleContentCollectionsIndexReadRequest) XTaskDiagnostics(xTaskDiagnostics []string) PulpAnsiblePluginAnsibleContentCollectionsIndexAPIPulpAnsibleGalaxyPluginAnsibleContentCollectionsIndexReadRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

// A list of fields to include in the response.
func (r PulpAnsiblePluginAnsibleContentCollectionsIndexAPIPulpAnsibleGalaxyPluginAnsibleContentCollectionsIndexReadRequest) Fields(fields []string) PulpAnsiblePluginAnsibleContentCollectionsIndexAPIPulpAnsibleGalaxyPluginAnsibleContentCollectionsIndexReadRequest {
	r.fields = &fields
	return r
}

// A list of fields to exclude from the response.
func (r PulpAnsiblePluginAnsibleContentCollectionsIndexAPIPulpAnsibleGalaxyPluginAnsibleContentCollectionsIndexReadRequest) ExcludeFields(excludeFields []string) PulpAnsiblePluginAnsibleContentCollectionsIndexAPIPulpAnsibleGalaxyPluginAnsibleContentCollectionsIndexReadRequest {
	r.excludeFields = &excludeFields
	return r
}

func (r PulpAnsiblePluginAnsibleContentCollectionsIndexAPIPulpAnsibleGalaxyPluginAnsibleContentCollectionsIndexReadRequest) Execute() (*CollectionResponse, *http.Response, error) {
	return r.ApiService.PulpAnsibleGalaxyPluginAnsibleContentCollectionsIndexReadExecute(r)
}

/*
PulpAnsibleGalaxyPluginAnsibleContentCollectionsIndexRead Method for PulpAnsibleGalaxyPluginAnsibleContentCollectionsIndexRead

ViewSet for Collections.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param distroBasePath
 @param name
 @param namespace
 @param path
 @return PulpAnsiblePluginAnsibleContentCollectionsIndexAPIPulpAnsibleGalaxyPluginAnsibleContentCollectionsIndexReadRequest
*/
func (a *PulpAnsiblePluginAnsibleContentCollectionsIndexAPIService) PulpAnsibleGalaxyPluginAnsibleContentCollectionsIndexRead(ctx context.Context, distroBasePath string, name string, namespace string, path string) PulpAnsiblePluginAnsibleContentCollectionsIndexAPIPulpAnsibleGalaxyPluginAnsibleContentCollectionsIndexReadRequest {
	return PulpAnsiblePluginAnsibleContentCollectionsIndexAPIPulpAnsibleGalaxyPluginAnsibleContentCollectionsIndexReadRequest{
		ApiService: a,
		ctx: ctx,
		distroBasePath: distroBasePath,
		name: name,
		namespace: namespace,
		path: path,
	}
}

// Execute executes the request
//  @return CollectionResponse
func (a *PulpAnsiblePluginAnsibleContentCollectionsIndexAPIService) PulpAnsibleGalaxyPluginAnsibleContentCollectionsIndexReadExecute(r PulpAnsiblePluginAnsibleContentCollectionsIndexAPIPulpAnsibleGalaxyPluginAnsibleContentCollectionsIndexReadRequest) (*CollectionResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CollectionResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PulpAnsiblePluginAnsibleContentCollectionsIndexAPIService.PulpAnsibleGalaxyPluginAnsibleContentCollectionsIndexRead")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/pulp_ansible/galaxy/{path}/api/v3/plugin/ansible/content/{distro_base_path}/collections/index/{namespace}/{name}/"
	localVarPath = strings.Replace(localVarPath, "{"+"distro_base_path"+"}", url.PathEscape(parameterValueToString(r.distroBasePath, "distroBasePath")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterValueToString(r.name, "name")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarPath = strings.Replace(localVarPath, "{"+"namespace"+"}", url.PathEscape(parameterValueToString(r.namespace, "namespace")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarPath = strings.Replace(localVarPath, "{"+"path"+"}", url.PathEscape(parameterValueToString(r.path, "path")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.fields != nil {
		t := *r.fields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "fields", t, "form", "multi")
		}
	}
	if r.excludeFields != nil {
		t := *r.excludeFields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type PulpAnsiblePluginAnsibleContentCollectionsIndexAPIPulpAnsibleGalaxyPluginAnsibleContentCollectionsIndexUpdateRequest struct {
	ctx context.Context
	ApiService *PulpAnsiblePluginAnsibleContentCollectionsIndexAPIService
	distroBasePath string
	name string
	namespace string
	path string
	patchedCollection *PatchedCollection
	xTaskDiagnostics *[]string
}

func (r PulpAnsiblePluginAnsibleContentCollectionsIndexAPIPulpAnsibleGalaxyPluginAnsibleContentCollectionsIndexUpdateRequest) PatchedCollection(patchedCollection PatchedCollection) PulpAnsiblePluginAnsibleContentCollectionsIndexAPIPulpAnsibleGalaxyPluginAnsibleContentCollectionsIndexUpdateRequest {
	r.patchedCollection = &patchedCollection
	return r
}

// List of profilers to use on tasks.
func (r PulpAnsiblePluginAnsibleContentCollectionsIndexAPIPulpAnsibleGalaxyPluginAnsibleContentCollectionsIndexUpdateRequest) XTaskDiagnostics(xTaskDiagnostics []string) PulpAnsiblePluginAnsibleContentCollectionsIndexAPIPulpAnsibleGalaxyPluginAnsibleContentCollectionsIndexUpdateRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

func (r PulpAnsiblePluginAnsibleContentCollectionsIndexAPIPulpAnsibleGalaxyPluginAnsibleContentCollectionsIndexUpdateRequest) Execute() (*AsyncOperationResponse, *http.Response, error) {
	return r.ApiService.PulpAnsibleGalaxyPluginAnsibleContentCollectionsIndexUpdateExecute(r)
}

/*
PulpAnsibleGalaxyPluginAnsibleContentCollectionsIndexUpdate Method for PulpAnsibleGalaxyPluginAnsibleContentCollectionsIndexUpdate

Trigger an asynchronous update task

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param distroBasePath
 @param name
 @param namespace
 @param path
 @return PulpAnsiblePluginAnsibleContentCollectionsIndexAPIPulpAnsibleGalaxyPluginAnsibleContentCollectionsIndexUpdateRequest
*/
func (a *PulpAnsiblePluginAnsibleContentCollectionsIndexAPIService) PulpAnsibleGalaxyPluginAnsibleContentCollectionsIndexUpdate(ctx context.Context, distroBasePath string, name string, namespace string, path string) PulpAnsiblePluginAnsibleContentCollectionsIndexAPIPulpAnsibleGalaxyPluginAnsibleContentCollectionsIndexUpdateRequest {
	return PulpAnsiblePluginAnsibleContentCollectionsIndexAPIPulpAnsibleGalaxyPluginAnsibleContentCollectionsIndexUpdateRequest{
		ApiService: a,
		ctx: ctx,
		distroBasePath: distroBasePath,
		name: name,
		namespace: namespace,
		path: path,
	}
}

// Execute executes the request
//  @return AsyncOperationResponse
func (a *PulpAnsiblePluginAnsibleContentCollectionsIndexAPIService) PulpAnsibleGalaxyPluginAnsibleContentCollectionsIndexUpdateExecute(r PulpAnsiblePluginAnsibleContentCollectionsIndexAPIPulpAnsibleGalaxyPluginAnsibleContentCollectionsIndexUpdateRequest) (*AsyncOperationResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AsyncOperationResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PulpAnsiblePluginAnsibleContentCollectionsIndexAPIService.PulpAnsibleGalaxyPluginAnsibleContentCollectionsIndexUpdate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/pulp_ansible/galaxy/{path}/api/v3/plugin/ansible/content/{distro_base_path}/collections/index/{namespace}/{name}/"
	localVarPath = strings.Replace(localVarPath, "{"+"distro_base_path"+"}", url.PathEscape(parameterValueToString(r.distroBasePath, "distroBasePath")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterValueToString(r.name, "name")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarPath = strings.Replace(localVarPath, "{"+"namespace"+"}", url.PathEscape(parameterValueToString(r.namespace, "namespace")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarPath = strings.Replace(localVarPath, "{"+"path"+"}", url.PathEscape(parameterValueToString(r.path, "path")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.patchedCollection == nil {
		return localVarReturnValue, nil, reportError("patchedCollection is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	// body params
	localVarPostBody = r.patchedCollection
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
