/*
Pulp 3 API

Fetch, Upload, Organize, and Distribute Software Packages

API version: v3
Contact: pulp-list@redhat.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package pulpbindings

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"os"
	"reflect"
)


// PulpAnsiblePluginAnsibleContentNamespacesAPIService PulpAnsiblePluginAnsibleContentNamespacesAPI service
type PulpAnsiblePluginAnsibleContentNamespacesAPIService service

type PulpAnsiblePluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyPluginAnsibleContentNamespacesCreateRequest struct {
	ctx context.Context
	ApiService *PulpAnsiblePluginAnsibleContentNamespacesAPIService
	distroBasePath string
	path string
	name *string
	xTaskDiagnostics *[]string
	company *string
	email *string
	description *string
	resources *string
	links *[]NamespaceLink
	avatar *os.File
}

// Required named, only accepts lowercase, numbers and underscores.
func (r PulpAnsiblePluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyPluginAnsibleContentNamespacesCreateRequest) Name(name string) PulpAnsiblePluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyPluginAnsibleContentNamespacesCreateRequest {
	r.name = &name
	return r
}

// List of profilers to use on tasks.
func (r PulpAnsiblePluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyPluginAnsibleContentNamespacesCreateRequest) XTaskDiagnostics(xTaskDiagnostics []string) PulpAnsiblePluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyPluginAnsibleContentNamespacesCreateRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

// Optional namespace company owner.
func (r PulpAnsiblePluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyPluginAnsibleContentNamespacesCreateRequest) Company(company string) PulpAnsiblePluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyPluginAnsibleContentNamespacesCreateRequest {
	r.company = &company
	return r
}

// Optional namespace contact email.
func (r PulpAnsiblePluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyPluginAnsibleContentNamespacesCreateRequest) Email(email string) PulpAnsiblePluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyPluginAnsibleContentNamespacesCreateRequest {
	r.email = &email
	return r
}

// Optional short description.
func (r PulpAnsiblePluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyPluginAnsibleContentNamespacesCreateRequest) Description(description string) PulpAnsiblePluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyPluginAnsibleContentNamespacesCreateRequest {
	r.description = &description
	return r
}

// Optional resource page in markdown format.
func (r PulpAnsiblePluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyPluginAnsibleContentNamespacesCreateRequest) Resources(resources string) PulpAnsiblePluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyPluginAnsibleContentNamespacesCreateRequest {
	r.resources = &resources
	return r
}

// Labeled related links.
func (r PulpAnsiblePluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyPluginAnsibleContentNamespacesCreateRequest) Links(links []NamespaceLink) PulpAnsiblePluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyPluginAnsibleContentNamespacesCreateRequest {
	r.links = &links
	return r
}

// Optional avatar image for Namespace
func (r PulpAnsiblePluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyPluginAnsibleContentNamespacesCreateRequest) Avatar(avatar *os.File) PulpAnsiblePluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyPluginAnsibleContentNamespacesCreateRequest {
	r.avatar = avatar
	return r
}

func (r PulpAnsiblePluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyPluginAnsibleContentNamespacesCreateRequest) Execute() (*AsyncOperationResponse, *http.Response, error) {
	return r.ApiService.PulpAnsibleGalaxyPluginAnsibleContentNamespacesCreateExecute(r)
}

/*
PulpAnsibleGalaxyPluginAnsibleContentNamespacesCreate Method for PulpAnsibleGalaxyPluginAnsibleContentNamespacesCreate

Provides the authentication and permission classes from settings.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param distroBasePath
 @param path
 @return PulpAnsiblePluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyPluginAnsibleContentNamespacesCreateRequest
*/
func (a *PulpAnsiblePluginAnsibleContentNamespacesAPIService) PulpAnsibleGalaxyPluginAnsibleContentNamespacesCreate(ctx context.Context, distroBasePath string, path string) PulpAnsiblePluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyPluginAnsibleContentNamespacesCreateRequest {
	return PulpAnsiblePluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyPluginAnsibleContentNamespacesCreateRequest{
		ApiService: a,
		ctx: ctx,
		distroBasePath: distroBasePath,
		path: path,
	}
}

// Execute executes the request
//  @return AsyncOperationResponse
func (a *PulpAnsiblePluginAnsibleContentNamespacesAPIService) PulpAnsibleGalaxyPluginAnsibleContentNamespacesCreateExecute(r PulpAnsiblePluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyPluginAnsibleContentNamespacesCreateRequest) (*AsyncOperationResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AsyncOperationResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PulpAnsiblePluginAnsibleContentNamespacesAPIService.PulpAnsibleGalaxyPluginAnsibleContentNamespacesCreate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/pulp_ansible/galaxy/{path}/api/v3/plugin/ansible/content/{distro_base_path}/namespaces/"
	localVarPath = strings.Replace(localVarPath, "{"+"distro_base_path"+"}", url.PathEscape(parameterValueToString(r.distroBasePath, "distroBasePath")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarPath = strings.Replace(localVarPath, "{"+"path"+"}", url.PathEscape(parameterValueToString(r.path, "path")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.name == nil {
		return localVarReturnValue, nil, reportError("name is required and must be specified")
	}
	if strlen(*r.name) < 3 {
		return localVarReturnValue, nil, reportError("name must have at least 3 elements")
	}
	if strlen(*r.name) > 64 {
		return localVarReturnValue, nil, reportError("name must have less than 64 elements")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"multipart/form-data", "application/x-www-form-urlencoded"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	parameterAddToHeaderOrQuery(localVarFormParams, "name", r.name, "", "")
	if r.company != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "company", r.company, "", "")
	}
	if r.email != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "email", r.email, "", "")
	}
	if r.description != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "description", r.description, "", "")
	}
	if r.resources != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "resources", r.resources, "", "")
	}
	if r.links != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "links", r.links, "", "csv")
	}
	var avatarLocalVarFormFileName string
	var avatarLocalVarFileName     string
	var avatarLocalVarFileBytes    []byte

	avatarLocalVarFormFileName = "avatar"


	avatarLocalVarFile := r.avatar

	if avatarLocalVarFile != nil {
		fbs, _ := io.ReadAll(avatarLocalVarFile)

		avatarLocalVarFileBytes = fbs
		avatarLocalVarFileName = avatarLocalVarFile.Name()
		avatarLocalVarFile.Close()
		formFiles = append(formFiles, formFile{fileBytes: avatarLocalVarFileBytes, fileName: avatarLocalVarFileName, formFileName: avatarLocalVarFormFileName})
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type PulpAnsiblePluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyPluginAnsibleContentNamespacesDeleteRequest struct {
	ctx context.Context
	ApiService *PulpAnsiblePluginAnsibleContentNamespacesAPIService
	distroBasePath string
	name string
	path string
	xTaskDiagnostics *[]string
}

// List of profilers to use on tasks.
func (r PulpAnsiblePluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyPluginAnsibleContentNamespacesDeleteRequest) XTaskDiagnostics(xTaskDiagnostics []string) PulpAnsiblePluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyPluginAnsibleContentNamespacesDeleteRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

func (r PulpAnsiblePluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyPluginAnsibleContentNamespacesDeleteRequest) Execute() (*AsyncOperationResponse, *http.Response, error) {
	return r.ApiService.PulpAnsibleGalaxyPluginAnsibleContentNamespacesDeleteExecute(r)
}

/*
PulpAnsibleGalaxyPluginAnsibleContentNamespacesDelete Method for PulpAnsibleGalaxyPluginAnsibleContentNamespacesDelete

Try to remove the Namespace if no Collections under Namespace are present.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param distroBasePath
 @param name
 @param path
 @return PulpAnsiblePluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyPluginAnsibleContentNamespacesDeleteRequest
*/
func (a *PulpAnsiblePluginAnsibleContentNamespacesAPIService) PulpAnsibleGalaxyPluginAnsibleContentNamespacesDelete(ctx context.Context, distroBasePath string, name string, path string) PulpAnsiblePluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyPluginAnsibleContentNamespacesDeleteRequest {
	return PulpAnsiblePluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyPluginAnsibleContentNamespacesDeleteRequest{
		ApiService: a,
		ctx: ctx,
		distroBasePath: distroBasePath,
		name: name,
		path: path,
	}
}

// Execute executes the request
//  @return AsyncOperationResponse
func (a *PulpAnsiblePluginAnsibleContentNamespacesAPIService) PulpAnsibleGalaxyPluginAnsibleContentNamespacesDeleteExecute(r PulpAnsiblePluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyPluginAnsibleContentNamespacesDeleteRequest) (*AsyncOperationResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AsyncOperationResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PulpAnsiblePluginAnsibleContentNamespacesAPIService.PulpAnsibleGalaxyPluginAnsibleContentNamespacesDelete")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/pulp_ansible/galaxy/{path}/api/v3/plugin/ansible/content/{distro_base_path}/namespaces/{name}/"
	localVarPath = strings.Replace(localVarPath, "{"+"distro_base_path"+"}", url.PathEscape(parameterValueToString(r.distroBasePath, "distroBasePath")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterValueToString(r.name, "name")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarPath = strings.Replace(localVarPath, "{"+"path"+"}", url.PathEscape(parameterValueToString(r.path, "path")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type PulpAnsiblePluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyPluginAnsibleContentNamespacesListRequest struct {
	ctx context.Context
	ApiService *PulpAnsiblePluginAnsibleContentNamespacesAPIService
	distroBasePath string
	path string
	xTaskDiagnostics *[]string
	company *string
	companyContains *string
	companyIcontains *string
	companyIexact *string
	companyIn *[]string
	companyIregex *string
	companyIstartswith *string
	companyRegex *string
	companyStartswith *string
	limit *int32
	metadataSha256 *string
	metadataSha256In *[]string
	name *string
	nameContains *string
	nameIcontains *string
	nameIexact *string
	nameIn *[]string
	nameIregex *string
	nameIstartswith *string
	nameRegex *string
	nameStartswith *string
	offset *int32
	ordering *[]string
	prnIn *[]string
	pulpHrefIn *[]string
	pulpIdIn *[]string
	q *string
	fields *[]string
	excludeFields *[]string
}

// List of profilers to use on tasks.
func (r PulpAnsiblePluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyPluginAnsibleContentNamespacesListRequest) XTaskDiagnostics(xTaskDiagnostics []string) PulpAnsiblePluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyPluginAnsibleContentNamespacesListRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

// Filter results where company matches value
func (r PulpAnsiblePluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyPluginAnsibleContentNamespacesListRequest) Company(company string) PulpAnsiblePluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyPluginAnsibleContentNamespacesListRequest {
	r.company = &company
	return r
}

// Filter results where company contains value
func (r PulpAnsiblePluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyPluginAnsibleContentNamespacesListRequest) CompanyContains(companyContains string) PulpAnsiblePluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyPluginAnsibleContentNamespacesListRequest {
	r.companyContains = &companyContains
	return r
}

// Filter results where company contains value
func (r PulpAnsiblePluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyPluginAnsibleContentNamespacesListRequest) CompanyIcontains(companyIcontains string) PulpAnsiblePluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyPluginAnsibleContentNamespacesListRequest {
	r.companyIcontains = &companyIcontains
	return r
}

// Filter results where company matches value
func (r PulpAnsiblePluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyPluginAnsibleContentNamespacesListRequest) CompanyIexact(companyIexact string) PulpAnsiblePluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyPluginAnsibleContentNamespacesListRequest {
	r.companyIexact = &companyIexact
	return r
}

// Filter results where company is in a comma-separated list of values
func (r PulpAnsiblePluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyPluginAnsibleContentNamespacesListRequest) CompanyIn(companyIn []string) PulpAnsiblePluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyPluginAnsibleContentNamespacesListRequest {
	r.companyIn = &companyIn
	return r
}

// Filter results where company matches regex value
func (r PulpAnsiblePluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyPluginAnsibleContentNamespacesListRequest) CompanyIregex(companyIregex string) PulpAnsiblePluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyPluginAnsibleContentNamespacesListRequest {
	r.companyIregex = &companyIregex
	return r
}

// Filter results where company starts with value
func (r PulpAnsiblePluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyPluginAnsibleContentNamespacesListRequest) CompanyIstartswith(companyIstartswith string) PulpAnsiblePluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyPluginAnsibleContentNamespacesListRequest {
	r.companyIstartswith = &companyIstartswith
	return r
}

// Filter results where company matches regex value
func (r PulpAnsiblePluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyPluginAnsibleContentNamespacesListRequest) CompanyRegex(companyRegex string) PulpAnsiblePluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyPluginAnsibleContentNamespacesListRequest {
	r.companyRegex = &companyRegex
	return r
}

// Filter results where company starts with value
func (r PulpAnsiblePluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyPluginAnsibleContentNamespacesListRequest) CompanyStartswith(companyStartswith string) PulpAnsiblePluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyPluginAnsibleContentNamespacesListRequest {
	r.companyStartswith = &companyStartswith
	return r
}

// Number of results to return per page.
func (r PulpAnsiblePluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyPluginAnsibleContentNamespacesListRequest) Limit(limit int32) PulpAnsiblePluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyPluginAnsibleContentNamespacesListRequest {
	r.limit = &limit
	return r
}

// Filter results where metadata_sha256 matches value
func (r PulpAnsiblePluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyPluginAnsibleContentNamespacesListRequest) MetadataSha256(metadataSha256 string) PulpAnsiblePluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyPluginAnsibleContentNamespacesListRequest {
	r.metadataSha256 = &metadataSha256
	return r
}

// Filter results where metadata_sha256 is in a comma-separated list of values
func (r PulpAnsiblePluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyPluginAnsibleContentNamespacesListRequest) MetadataSha256In(metadataSha256In []string) PulpAnsiblePluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyPluginAnsibleContentNamespacesListRequest {
	r.metadataSha256In = &metadataSha256In
	return r
}

// Filter results where name matches value
func (r PulpAnsiblePluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyPluginAnsibleContentNamespacesListRequest) Name(name string) PulpAnsiblePluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyPluginAnsibleContentNamespacesListRequest {
	r.name = &name
	return r
}

// Filter results where name contains value
func (r PulpAnsiblePluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyPluginAnsibleContentNamespacesListRequest) NameContains(nameContains string) PulpAnsiblePluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyPluginAnsibleContentNamespacesListRequest {
	r.nameContains = &nameContains
	return r
}

// Filter results where name contains value
func (r PulpAnsiblePluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyPluginAnsibleContentNamespacesListRequest) NameIcontains(nameIcontains string) PulpAnsiblePluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyPluginAnsibleContentNamespacesListRequest {
	r.nameIcontains = &nameIcontains
	return r
}

// Filter results where name matches value
func (r PulpAnsiblePluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyPluginAnsibleContentNamespacesListRequest) NameIexact(nameIexact string) PulpAnsiblePluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyPluginAnsibleContentNamespacesListRequest {
	r.nameIexact = &nameIexact
	return r
}

// Filter results where name is in a comma-separated list of values
func (r PulpAnsiblePluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyPluginAnsibleContentNamespacesListRequest) NameIn(nameIn []string) PulpAnsiblePluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyPluginAnsibleContentNamespacesListRequest {
	r.nameIn = &nameIn
	return r
}

// Filter results where name matches regex value
func (r PulpAnsiblePluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyPluginAnsibleContentNamespacesListRequest) NameIregex(nameIregex string) PulpAnsiblePluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyPluginAnsibleContentNamespacesListRequest {
	r.nameIregex = &nameIregex
	return r
}

// Filter results where name starts with value
func (r PulpAnsiblePluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyPluginAnsibleContentNamespacesListRequest) NameIstartswith(nameIstartswith string) PulpAnsiblePluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyPluginAnsibleContentNamespacesListRequest {
	r.nameIstartswith = &nameIstartswith
	return r
}

// Filter results where name matches regex value
func (r PulpAnsiblePluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyPluginAnsibleContentNamespacesListRequest) NameRegex(nameRegex string) PulpAnsiblePluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyPluginAnsibleContentNamespacesListRequest {
	r.nameRegex = &nameRegex
	return r
}

// Filter results where name starts with value
func (r PulpAnsiblePluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyPluginAnsibleContentNamespacesListRequest) NameStartswith(nameStartswith string) PulpAnsiblePluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyPluginAnsibleContentNamespacesListRequest {
	r.nameStartswith = &nameStartswith
	return r
}

// The initial index from which to return the results.
func (r PulpAnsiblePluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyPluginAnsibleContentNamespacesListRequest) Offset(offset int32) PulpAnsiblePluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyPluginAnsibleContentNamespacesListRequest {
	r.offset = &offset
	return r
}

// Ordering* &#x60;pulp_id&#x60; - Pulp id* &#x60;-pulp_id&#x60; - Pulp id (descending)* &#x60;pulp_created&#x60; - Pulp created* &#x60;-pulp_created&#x60; - Pulp created (descending)* &#x60;pulp_last_updated&#x60; - Pulp last updated* &#x60;-pulp_last_updated&#x60; - Pulp last updated (descending)* &#x60;pulp_type&#x60; - Pulp type* &#x60;-pulp_type&#x60; - Pulp type (descending)* &#x60;upstream_id&#x60; - Upstream id* &#x60;-upstream_id&#x60; - Upstream id (descending)* &#x60;pulp_labels&#x60; - Pulp labels* &#x60;-pulp_labels&#x60; - Pulp labels (descending)* &#x60;timestamp_of_interest&#x60; - Timestamp of interest* &#x60;-timestamp_of_interest&#x60; - Timestamp of interest (descending)* &#x60;name&#x60; - Name* &#x60;-name&#x60; - Name (descending)* &#x60;company&#x60; - Company* &#x60;-company&#x60; - Company (descending)* &#x60;email&#x60; - Email* &#x60;-email&#x60; - Email (descending)* &#x60;description&#x60; - Description* &#x60;-description&#x60; - Description (descending)* &#x60;resources&#x60; - Resources* &#x60;-resources&#x60; - Resources (descending)* &#x60;links&#x60; - Links* &#x60;-links&#x60; - Links (descending)* &#x60;avatar_sha256&#x60; - Avatar sha256* &#x60;-avatar_sha256&#x60; - Avatar sha256 (descending)* &#x60;metadata_sha256&#x60; - Metadata sha256* &#x60;-metadata_sha256&#x60; - Metadata sha256 (descending)* &#x60;pk&#x60; - Pk* &#x60;-pk&#x60; - Pk (descending)
func (r PulpAnsiblePluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyPluginAnsibleContentNamespacesListRequest) Ordering(ordering []string) PulpAnsiblePluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyPluginAnsibleContentNamespacesListRequest {
	r.ordering = &ordering
	return r
}

// Multiple values may be separated by commas.
func (r PulpAnsiblePluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyPluginAnsibleContentNamespacesListRequest) PrnIn(prnIn []string) PulpAnsiblePluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyPluginAnsibleContentNamespacesListRequest {
	r.prnIn = &prnIn
	return r
}

// Multiple values may be separated by commas.
func (r PulpAnsiblePluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyPluginAnsibleContentNamespacesListRequest) PulpHrefIn(pulpHrefIn []string) PulpAnsiblePluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyPluginAnsibleContentNamespacesListRequest {
	r.pulpHrefIn = &pulpHrefIn
	return r
}

// Multiple values may be separated by commas.
func (r PulpAnsiblePluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyPluginAnsibleContentNamespacesListRequest) PulpIdIn(pulpIdIn []string) PulpAnsiblePluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyPluginAnsibleContentNamespacesListRequest {
	r.pulpIdIn = &pulpIdIn
	return r
}

// Filter results by using NOT, AND and OR operations on other filters
func (r PulpAnsiblePluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyPluginAnsibleContentNamespacesListRequest) Q(q string) PulpAnsiblePluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyPluginAnsibleContentNamespacesListRequest {
	r.q = &q
	return r
}

// A list of fields to include in the response.
func (r PulpAnsiblePluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyPluginAnsibleContentNamespacesListRequest) Fields(fields []string) PulpAnsiblePluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyPluginAnsibleContentNamespacesListRequest {
	r.fields = &fields
	return r
}

// A list of fields to exclude from the response.
func (r PulpAnsiblePluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyPluginAnsibleContentNamespacesListRequest) ExcludeFields(excludeFields []string) PulpAnsiblePluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyPluginAnsibleContentNamespacesListRequest {
	r.excludeFields = &excludeFields
	return r
}

func (r PulpAnsiblePluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyPluginAnsibleContentNamespacesListRequest) Execute() (*PaginatedansibleAnsibleNamespaceMetadataResponseList, *http.Response, error) {
	return r.ApiService.PulpAnsibleGalaxyPluginAnsibleContentNamespacesListExecute(r)
}

/*
PulpAnsibleGalaxyPluginAnsibleContentNamespacesList Method for PulpAnsibleGalaxyPluginAnsibleContentNamespacesList

Provides the authentication and permission classes from settings.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param distroBasePath
 @param path
 @return PulpAnsiblePluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyPluginAnsibleContentNamespacesListRequest
*/
func (a *PulpAnsiblePluginAnsibleContentNamespacesAPIService) PulpAnsibleGalaxyPluginAnsibleContentNamespacesList(ctx context.Context, distroBasePath string, path string) PulpAnsiblePluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyPluginAnsibleContentNamespacesListRequest {
	return PulpAnsiblePluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyPluginAnsibleContentNamespacesListRequest{
		ApiService: a,
		ctx: ctx,
		distroBasePath: distroBasePath,
		path: path,
	}
}

// Execute executes the request
//  @return PaginatedansibleAnsibleNamespaceMetadataResponseList
func (a *PulpAnsiblePluginAnsibleContentNamespacesAPIService) PulpAnsibleGalaxyPluginAnsibleContentNamespacesListExecute(r PulpAnsiblePluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyPluginAnsibleContentNamespacesListRequest) (*PaginatedansibleAnsibleNamespaceMetadataResponseList, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PaginatedansibleAnsibleNamespaceMetadataResponseList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PulpAnsiblePluginAnsibleContentNamespacesAPIService.PulpAnsibleGalaxyPluginAnsibleContentNamespacesList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/pulp_ansible/galaxy/{path}/api/v3/plugin/ansible/content/{distro_base_path}/namespaces/"
	localVarPath = strings.Replace(localVarPath, "{"+"distro_base_path"+"}", url.PathEscape(parameterValueToString(r.distroBasePath, "distroBasePath")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarPath = strings.Replace(localVarPath, "{"+"path"+"}", url.PathEscape(parameterValueToString(r.path, "path")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.company != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "company", r.company, "form", "")
	}
	if r.companyContains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "company__contains", r.companyContains, "form", "")
	}
	if r.companyIcontains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "company__icontains", r.companyIcontains, "form", "")
	}
	if r.companyIexact != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "company__iexact", r.companyIexact, "form", "")
	}
	if r.companyIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "company__in", r.companyIn, "form", "csv")
	}
	if r.companyIregex != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "company__iregex", r.companyIregex, "form", "")
	}
	if r.companyIstartswith != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "company__istartswith", r.companyIstartswith, "form", "")
	}
	if r.companyRegex != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "company__regex", r.companyRegex, "form", "")
	}
	if r.companyStartswith != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "company__startswith", r.companyStartswith, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.metadataSha256 != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "metadata_sha256", r.metadataSha256, "form", "")
	}
	if r.metadataSha256In != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "metadata_sha256__in", r.metadataSha256In, "form", "csv")
	}
	if r.name != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "form", "")
	}
	if r.nameContains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name__contains", r.nameContains, "form", "")
	}
	if r.nameIcontains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name__icontains", r.nameIcontains, "form", "")
	}
	if r.nameIexact != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name__iexact", r.nameIexact, "form", "")
	}
	if r.nameIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name__in", r.nameIn, "form", "csv")
	}
	if r.nameIregex != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name__iregex", r.nameIregex, "form", "")
	}
	if r.nameIstartswith != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name__istartswith", r.nameIstartswith, "form", "")
	}
	if r.nameRegex != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name__regex", r.nameRegex, "form", "")
	}
	if r.nameStartswith != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name__startswith", r.nameStartswith, "form", "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	}
	if r.ordering != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ordering", r.ordering, "form", "csv")
	}
	if r.prnIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "prn__in", r.prnIn, "form", "csv")
	}
	if r.pulpHrefIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pulp_href__in", r.pulpHrefIn, "form", "csv")
	}
	if r.pulpIdIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pulp_id__in", r.pulpIdIn, "form", "csv")
	}
	if r.q != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "q", r.q, "form", "")
	}
	if r.fields != nil {
		t := *r.fields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "fields", t, "form", "multi")
		}
	}
	if r.excludeFields != nil {
		t := *r.excludeFields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type PulpAnsiblePluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyPluginAnsibleContentNamespacesPartialUpdateRequest struct {
	ctx context.Context
	ApiService *PulpAnsiblePluginAnsibleContentNamespacesAPIService
	distroBasePath string
	name string
	path string
	xTaskDiagnostics *[]string
	name2 *string
	company *string
	email *string
	description *string
	resources *string
	links *[]NamespaceLink
	avatar *os.File
}

// List of profilers to use on tasks.
func (r PulpAnsiblePluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyPluginAnsibleContentNamespacesPartialUpdateRequest) XTaskDiagnostics(xTaskDiagnostics []string) PulpAnsiblePluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyPluginAnsibleContentNamespacesPartialUpdateRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

// Required named, only accepts lowercase, numbers and underscores.
func (r PulpAnsiblePluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyPluginAnsibleContentNamespacesPartialUpdateRequest) Name2(name2 string) PulpAnsiblePluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyPluginAnsibleContentNamespacesPartialUpdateRequest {
	r.name2 = &name2
	return r
}

// Optional namespace company owner.
func (r PulpAnsiblePluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyPluginAnsibleContentNamespacesPartialUpdateRequest) Company(company string) PulpAnsiblePluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyPluginAnsibleContentNamespacesPartialUpdateRequest {
	r.company = &company
	return r
}

// Optional namespace contact email.
func (r PulpAnsiblePluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyPluginAnsibleContentNamespacesPartialUpdateRequest) Email(email string) PulpAnsiblePluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyPluginAnsibleContentNamespacesPartialUpdateRequest {
	r.email = &email
	return r
}

// Optional short description.
func (r PulpAnsiblePluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyPluginAnsibleContentNamespacesPartialUpdateRequest) Description(description string) PulpAnsiblePluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyPluginAnsibleContentNamespacesPartialUpdateRequest {
	r.description = &description
	return r
}

// Optional resource page in markdown format.
func (r PulpAnsiblePluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyPluginAnsibleContentNamespacesPartialUpdateRequest) Resources(resources string) PulpAnsiblePluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyPluginAnsibleContentNamespacesPartialUpdateRequest {
	r.resources = &resources
	return r
}

// Labeled related links.
func (r PulpAnsiblePluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyPluginAnsibleContentNamespacesPartialUpdateRequest) Links(links []NamespaceLink) PulpAnsiblePluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyPluginAnsibleContentNamespacesPartialUpdateRequest {
	r.links = &links
	return r
}

// Optional avatar image for Namespace
func (r PulpAnsiblePluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyPluginAnsibleContentNamespacesPartialUpdateRequest) Avatar(avatar *os.File) PulpAnsiblePluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyPluginAnsibleContentNamespacesPartialUpdateRequest {
	r.avatar = avatar
	return r
}

func (r PulpAnsiblePluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyPluginAnsibleContentNamespacesPartialUpdateRequest) Execute() (*AsyncOperationResponse, *http.Response, error) {
	return r.ApiService.PulpAnsibleGalaxyPluginAnsibleContentNamespacesPartialUpdateExecute(r)
}

/*
PulpAnsibleGalaxyPluginAnsibleContentNamespacesPartialUpdate Method for PulpAnsibleGalaxyPluginAnsibleContentNamespacesPartialUpdate

Provides the authentication and permission classes from settings.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param distroBasePath
 @param name
 @param path
 @return PulpAnsiblePluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyPluginAnsibleContentNamespacesPartialUpdateRequest
*/
func (a *PulpAnsiblePluginAnsibleContentNamespacesAPIService) PulpAnsibleGalaxyPluginAnsibleContentNamespacesPartialUpdate(ctx context.Context, distroBasePath string, name string, path string) PulpAnsiblePluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyPluginAnsibleContentNamespacesPartialUpdateRequest {
	return PulpAnsiblePluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyPluginAnsibleContentNamespacesPartialUpdateRequest{
		ApiService: a,
		ctx: ctx,
		distroBasePath: distroBasePath,
		name: name,
		path: path,
	}
}

// Execute executes the request
//  @return AsyncOperationResponse
func (a *PulpAnsiblePluginAnsibleContentNamespacesAPIService) PulpAnsibleGalaxyPluginAnsibleContentNamespacesPartialUpdateExecute(r PulpAnsiblePluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyPluginAnsibleContentNamespacesPartialUpdateRequest) (*AsyncOperationResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AsyncOperationResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PulpAnsiblePluginAnsibleContentNamespacesAPIService.PulpAnsibleGalaxyPluginAnsibleContentNamespacesPartialUpdate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/pulp_ansible/galaxy/{path}/api/v3/plugin/ansible/content/{distro_base_path}/namespaces/{name}/"
	localVarPath = strings.Replace(localVarPath, "{"+"distro_base_path"+"}", url.PathEscape(parameterValueToString(r.distroBasePath, "distroBasePath")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterValueToString(r.name, "name")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarPath = strings.Replace(localVarPath, "{"+"path"+"}", url.PathEscape(parameterValueToString(r.path, "path")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"multipart/form-data", "application/x-www-form-urlencoded"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	if r.name2 != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "name", r.name2, "", "")
	}
	if r.company != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "company", r.company, "", "")
	}
	if r.email != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "email", r.email, "", "")
	}
	if r.description != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "description", r.description, "", "")
	}
	if r.resources != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "resources", r.resources, "", "")
	}
	if r.links != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "links", r.links, "", "csv")
	}
	var avatarLocalVarFormFileName string
	var avatarLocalVarFileName     string
	var avatarLocalVarFileBytes    []byte

	avatarLocalVarFormFileName = "avatar"


	avatarLocalVarFile := r.avatar

	if avatarLocalVarFile != nil {
		fbs, _ := io.ReadAll(avatarLocalVarFile)

		avatarLocalVarFileBytes = fbs
		avatarLocalVarFileName = avatarLocalVarFile.Name()
		avatarLocalVarFile.Close()
		formFiles = append(formFiles, formFile{fileBytes: avatarLocalVarFileBytes, fileName: avatarLocalVarFileName, formFileName: avatarLocalVarFormFileName})
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type PulpAnsiblePluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyPluginAnsibleContentNamespacesReadRequest struct {
	ctx context.Context
	ApiService *PulpAnsiblePluginAnsibleContentNamespacesAPIService
	distroBasePath string
	name string
	path string
	xTaskDiagnostics *[]string
	fields *[]string
	excludeFields *[]string
}

// List of profilers to use on tasks.
func (r PulpAnsiblePluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyPluginAnsibleContentNamespacesReadRequest) XTaskDiagnostics(xTaskDiagnostics []string) PulpAnsiblePluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyPluginAnsibleContentNamespacesReadRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

// A list of fields to include in the response.
func (r PulpAnsiblePluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyPluginAnsibleContentNamespacesReadRequest) Fields(fields []string) PulpAnsiblePluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyPluginAnsibleContentNamespacesReadRequest {
	r.fields = &fields
	return r
}

// A list of fields to exclude from the response.
func (r PulpAnsiblePluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyPluginAnsibleContentNamespacesReadRequest) ExcludeFields(excludeFields []string) PulpAnsiblePluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyPluginAnsibleContentNamespacesReadRequest {
	r.excludeFields = &excludeFields
	return r
}

func (r PulpAnsiblePluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyPluginAnsibleContentNamespacesReadRequest) Execute() (*AnsibleAnsibleNamespaceMetadataResponse, *http.Response, error) {
	return r.ApiService.PulpAnsibleGalaxyPluginAnsibleContentNamespacesReadExecute(r)
}

/*
PulpAnsibleGalaxyPluginAnsibleContentNamespacesRead Method for PulpAnsibleGalaxyPluginAnsibleContentNamespacesRead

Provides the authentication and permission classes from settings.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param distroBasePath
 @param name
 @param path
 @return PulpAnsiblePluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyPluginAnsibleContentNamespacesReadRequest
*/
func (a *PulpAnsiblePluginAnsibleContentNamespacesAPIService) PulpAnsibleGalaxyPluginAnsibleContentNamespacesRead(ctx context.Context, distroBasePath string, name string, path string) PulpAnsiblePluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyPluginAnsibleContentNamespacesReadRequest {
	return PulpAnsiblePluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyPluginAnsibleContentNamespacesReadRequest{
		ApiService: a,
		ctx: ctx,
		distroBasePath: distroBasePath,
		name: name,
		path: path,
	}
}

// Execute executes the request
//  @return AnsibleAnsibleNamespaceMetadataResponse
func (a *PulpAnsiblePluginAnsibleContentNamespacesAPIService) PulpAnsibleGalaxyPluginAnsibleContentNamespacesReadExecute(r PulpAnsiblePluginAnsibleContentNamespacesAPIPulpAnsibleGalaxyPluginAnsibleContentNamespacesReadRequest) (*AnsibleAnsibleNamespaceMetadataResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AnsibleAnsibleNamespaceMetadataResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PulpAnsiblePluginAnsibleContentNamespacesAPIService.PulpAnsibleGalaxyPluginAnsibleContentNamespacesRead")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/pulp_ansible/galaxy/{path}/api/v3/plugin/ansible/content/{distro_base_path}/namespaces/{name}/"
	localVarPath = strings.Replace(localVarPath, "{"+"distro_base_path"+"}", url.PathEscape(parameterValueToString(r.distroBasePath, "distroBasePath")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterValueToString(r.name, "name")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarPath = strings.Replace(localVarPath, "{"+"path"+"}", url.PathEscape(parameterValueToString(r.path, "path")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.fields != nil {
		t := *r.fields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "fields", t, "form", "multi")
		}
	}
	if r.excludeFields != nil {
		t := *r.excludeFields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
