/*
Pulp 3 API

Fetch, Upload, Organize, and Distribute Software Packages

API version: v3
Contact: pulp-list@redhat.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package pulpbindings

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"reflect"
)


// ContentPackageIndicesAPIService ContentPackageIndicesAPI service
type ContentPackageIndicesAPIService service

type ContentPackageIndicesAPIContentDebPackageIndicesCreateRequest struct {
	ctx context.Context
	ApiService *ContentPackageIndicesAPIService
	debPackageIndex *DebPackageIndex
	xTaskDiagnostics *[]string
}

func (r ContentPackageIndicesAPIContentDebPackageIndicesCreateRequest) DebPackageIndex(debPackageIndex DebPackageIndex) ContentPackageIndicesAPIContentDebPackageIndicesCreateRequest {
	r.debPackageIndex = &debPackageIndex
	return r
}

// List of profilers to use on tasks.
func (r ContentPackageIndicesAPIContentDebPackageIndicesCreateRequest) XTaskDiagnostics(xTaskDiagnostics []string) ContentPackageIndicesAPIContentDebPackageIndicesCreateRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

func (r ContentPackageIndicesAPIContentDebPackageIndicesCreateRequest) Execute() (*DebPackageIndexResponse, *http.Response, error) {
	return r.ApiService.ContentDebPackageIndicesCreateExecute(r)
}

/*
ContentDebPackageIndicesCreate Create a package index

A PackageIndex represents the package indices of a single component-architecture combination.Associated artifacts: Exactly one 'Packages' file. May optionally include one or more of'Packages.gz', 'Packages.xz', 'Release'. If included, the 'Release' file is a legacyper-component-and-architecture Release file.Note: The verbatim publisher will republish all associated artifacts, while the APT publisher(both simple and structured mode) will generate any 'Packages' files it needs when creating thepublication. It does not make use of PackageIndex content.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ContentPackageIndicesAPIContentDebPackageIndicesCreateRequest
*/
func (a *ContentPackageIndicesAPIService) ContentDebPackageIndicesCreate(ctx context.Context) ContentPackageIndicesAPIContentDebPackageIndicesCreateRequest {
	return ContentPackageIndicesAPIContentDebPackageIndicesCreateRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return DebPackageIndexResponse
func (a *ContentPackageIndicesAPIService) ContentDebPackageIndicesCreateExecute(r ContentPackageIndicesAPIContentDebPackageIndicesCreateRequest) (*DebPackageIndexResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *DebPackageIndexResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentPackageIndicesAPIService.ContentDebPackageIndicesCreate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v3/content/deb/package_indices/"
	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.debPackageIndex == nil {
		return localVarReturnValue, nil, reportError("debPackageIndex is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	// body params
	localVarPostBody = r.debPackageIndex
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ContentPackageIndicesAPIContentDebPackageIndicesListRequest struct {
	ctx context.Context
	ApiService *ContentPackageIndicesAPIService
	xTaskDiagnostics *[]string
	architecture *string
	component *string
	limit *int32
	offset *int32
	ordering *[]string
	orphanedFor *float32
	prnIn *[]string
	pulpHrefIn *[]string
	pulpIdIn *[]string
	pulpLabelSelect *string
	q *string
	relativePath *string
	repositoryVersion *string
	repositoryVersionAdded *string
	repositoryVersionRemoved *string
	sha256 *string
	fields *[]string
	excludeFields *[]string
}

// List of profilers to use on tasks.
func (r ContentPackageIndicesAPIContentDebPackageIndicesListRequest) XTaskDiagnostics(xTaskDiagnostics []string) ContentPackageIndicesAPIContentDebPackageIndicesListRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

// Filter results where architecture matches value
func (r ContentPackageIndicesAPIContentDebPackageIndicesListRequest) Architecture(architecture string) ContentPackageIndicesAPIContentDebPackageIndicesListRequest {
	r.architecture = &architecture
	return r
}

// Filter results where component matches value
func (r ContentPackageIndicesAPIContentDebPackageIndicesListRequest) Component(component string) ContentPackageIndicesAPIContentDebPackageIndicesListRequest {
	r.component = &component
	return r
}

// Number of results to return per page.
func (r ContentPackageIndicesAPIContentDebPackageIndicesListRequest) Limit(limit int32) ContentPackageIndicesAPIContentDebPackageIndicesListRequest {
	r.limit = &limit
	return r
}

// The initial index from which to return the results.
func (r ContentPackageIndicesAPIContentDebPackageIndicesListRequest) Offset(offset int32) ContentPackageIndicesAPIContentDebPackageIndicesListRequest {
	r.offset = &offset
	return r
}

// Ordering* &#x60;pulp_id&#x60; - Pulp id* &#x60;-pulp_id&#x60; - Pulp id (descending)* &#x60;pulp_created&#x60; - Pulp created* &#x60;-pulp_created&#x60; - Pulp created (descending)* &#x60;pulp_last_updated&#x60; - Pulp last updated* &#x60;-pulp_last_updated&#x60; - Pulp last updated (descending)* &#x60;pulp_type&#x60; - Pulp type* &#x60;-pulp_type&#x60; - Pulp type (descending)* &#x60;upstream_id&#x60; - Upstream id* &#x60;-upstream_id&#x60; - Upstream id (descending)* &#x60;pulp_labels&#x60; - Pulp labels* &#x60;-pulp_labels&#x60; - Pulp labels (descending)* &#x60;timestamp_of_interest&#x60; - Timestamp of interest* &#x60;-timestamp_of_interest&#x60; - Timestamp of interest (descending)* &#x60;component&#x60; - Component* &#x60;-component&#x60; - Component (descending)* &#x60;architecture&#x60; - Architecture* &#x60;-architecture&#x60; - Architecture (descending)* &#x60;relative_path&#x60; - Relative path* &#x60;-relative_path&#x60; - Relative path (descending)* &#x60;sha256&#x60; - Sha256* &#x60;-sha256&#x60; - Sha256 (descending)* &#x60;artifact_set_sha256&#x60; - Artifact set sha256* &#x60;-artifact_set_sha256&#x60; - Artifact set sha256 (descending)* &#x60;pk&#x60; - Pk* &#x60;-pk&#x60; - Pk (descending)
func (r ContentPackageIndicesAPIContentDebPackageIndicesListRequest) Ordering(ordering []string) ContentPackageIndicesAPIContentDebPackageIndicesListRequest {
	r.ordering = &ordering
	return r
}

// Minutes Content has been orphaned for. -1 uses ORPHAN_PROTECTION_TIME.
func (r ContentPackageIndicesAPIContentDebPackageIndicesListRequest) OrphanedFor(orphanedFor float32) ContentPackageIndicesAPIContentDebPackageIndicesListRequest {
	r.orphanedFor = &orphanedFor
	return r
}

// Multiple values may be separated by commas.
func (r ContentPackageIndicesAPIContentDebPackageIndicesListRequest) PrnIn(prnIn []string) ContentPackageIndicesAPIContentDebPackageIndicesListRequest {
	r.prnIn = &prnIn
	return r
}

// Multiple values may be separated by commas.
func (r ContentPackageIndicesAPIContentDebPackageIndicesListRequest) PulpHrefIn(pulpHrefIn []string) ContentPackageIndicesAPIContentDebPackageIndicesListRequest {
	r.pulpHrefIn = &pulpHrefIn
	return r
}

// Multiple values may be separated by commas.
func (r ContentPackageIndicesAPIContentDebPackageIndicesListRequest) PulpIdIn(pulpIdIn []string) ContentPackageIndicesAPIContentDebPackageIndicesListRequest {
	r.pulpIdIn = &pulpIdIn
	return r
}

// Filter labels by search string
func (r ContentPackageIndicesAPIContentDebPackageIndicesListRequest) PulpLabelSelect(pulpLabelSelect string) ContentPackageIndicesAPIContentDebPackageIndicesListRequest {
	r.pulpLabelSelect = &pulpLabelSelect
	return r
}

// Filter results by using NOT, AND and OR operations on other filters
func (r ContentPackageIndicesAPIContentDebPackageIndicesListRequest) Q(q string) ContentPackageIndicesAPIContentDebPackageIndicesListRequest {
	r.q = &q
	return r
}

// Filter results where relative_path matches value
func (r ContentPackageIndicesAPIContentDebPackageIndicesListRequest) RelativePath(relativePath string) ContentPackageIndicesAPIContentDebPackageIndicesListRequest {
	r.relativePath = &relativePath
	return r
}

// Repository Version referenced by HREF/PRN
func (r ContentPackageIndicesAPIContentDebPackageIndicesListRequest) RepositoryVersion(repositoryVersion string) ContentPackageIndicesAPIContentDebPackageIndicesListRequest {
	r.repositoryVersion = &repositoryVersion
	return r
}

// Repository Version referenced by HREF/PRN
func (r ContentPackageIndicesAPIContentDebPackageIndicesListRequest) RepositoryVersionAdded(repositoryVersionAdded string) ContentPackageIndicesAPIContentDebPackageIndicesListRequest {
	r.repositoryVersionAdded = &repositoryVersionAdded
	return r
}

// Repository Version referenced by HREF/PRN
func (r ContentPackageIndicesAPIContentDebPackageIndicesListRequest) RepositoryVersionRemoved(repositoryVersionRemoved string) ContentPackageIndicesAPIContentDebPackageIndicesListRequest {
	r.repositoryVersionRemoved = &repositoryVersionRemoved
	return r
}

// Filter results where sha256 matches value
func (r ContentPackageIndicesAPIContentDebPackageIndicesListRequest) Sha256(sha256 string) ContentPackageIndicesAPIContentDebPackageIndicesListRequest {
	r.sha256 = &sha256
	return r
}

// A list of fields to include in the response.
func (r ContentPackageIndicesAPIContentDebPackageIndicesListRequest) Fields(fields []string) ContentPackageIndicesAPIContentDebPackageIndicesListRequest {
	r.fields = &fields
	return r
}

// A list of fields to exclude from the response.
func (r ContentPackageIndicesAPIContentDebPackageIndicesListRequest) ExcludeFields(excludeFields []string) ContentPackageIndicesAPIContentDebPackageIndicesListRequest {
	r.excludeFields = &excludeFields
	return r
}

func (r ContentPackageIndicesAPIContentDebPackageIndicesListRequest) Execute() (*PaginateddebPackageIndexResponseList, *http.Response, error) {
	return r.ApiService.ContentDebPackageIndicesListExecute(r)
}

/*
ContentDebPackageIndicesList List PackageIndices

A PackageIndex represents the package indices of a single component-architecture combination.Associated artifacts: Exactly one 'Packages' file. May optionally include one or more of'Packages.gz', 'Packages.xz', 'Release'. If included, the 'Release' file is a legacyper-component-and-architecture Release file.Note: The verbatim publisher will republish all associated artifacts, while the APT publisher(both simple and structured mode) will generate any 'Packages' files it needs when creating thepublication. It does not make use of PackageIndex content.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ContentPackageIndicesAPIContentDebPackageIndicesListRequest
*/
func (a *ContentPackageIndicesAPIService) ContentDebPackageIndicesList(ctx context.Context) ContentPackageIndicesAPIContentDebPackageIndicesListRequest {
	return ContentPackageIndicesAPIContentDebPackageIndicesListRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return PaginateddebPackageIndexResponseList
func (a *ContentPackageIndicesAPIService) ContentDebPackageIndicesListExecute(r ContentPackageIndicesAPIContentDebPackageIndicesListRequest) (*PaginateddebPackageIndexResponseList, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PaginateddebPackageIndexResponseList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentPackageIndicesAPIService.ContentDebPackageIndicesList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v3/content/deb/package_indices/"
	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.architecture != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "architecture", r.architecture, "form", "")
	}
	if r.component != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "component", r.component, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	}
	if r.ordering != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ordering", r.ordering, "form", "csv")
	}
	if r.orphanedFor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "orphaned_for", r.orphanedFor, "form", "")
	}
	if r.prnIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "prn__in", r.prnIn, "form", "csv")
	}
	if r.pulpHrefIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pulp_href__in", r.pulpHrefIn, "form", "csv")
	}
	if r.pulpIdIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pulp_id__in", r.pulpIdIn, "form", "csv")
	}
	if r.pulpLabelSelect != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pulp_label_select", r.pulpLabelSelect, "form", "")
	}
	if r.q != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "q", r.q, "form", "")
	}
	if r.relativePath != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "relative_path", r.relativePath, "form", "")
	}
	if r.repositoryVersion != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repository_version", r.repositoryVersion, "form", "")
	}
	if r.repositoryVersionAdded != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repository_version_added", r.repositoryVersionAdded, "form", "")
	}
	if r.repositoryVersionRemoved != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repository_version_removed", r.repositoryVersionRemoved, "form", "")
	}
	if r.sha256 != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sha256", r.sha256, "form", "")
	}
	if r.fields != nil {
		t := *r.fields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "fields", t, "form", "multi")
		}
	}
	if r.excludeFields != nil {
		t := *r.excludeFields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ContentPackageIndicesAPIContentDebPackageIndicesReadRequest struct {
	ctx context.Context
	ApiService *ContentPackageIndicesAPIService
	debPackageIndexHref string
	xTaskDiagnostics *[]string
	fields *[]string
	excludeFields *[]string
}

// List of profilers to use on tasks.
func (r ContentPackageIndicesAPIContentDebPackageIndicesReadRequest) XTaskDiagnostics(xTaskDiagnostics []string) ContentPackageIndicesAPIContentDebPackageIndicesReadRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

// A list of fields to include in the response.
func (r ContentPackageIndicesAPIContentDebPackageIndicesReadRequest) Fields(fields []string) ContentPackageIndicesAPIContentDebPackageIndicesReadRequest {
	r.fields = &fields
	return r
}

// A list of fields to exclude from the response.
func (r ContentPackageIndicesAPIContentDebPackageIndicesReadRequest) ExcludeFields(excludeFields []string) ContentPackageIndicesAPIContentDebPackageIndicesReadRequest {
	r.excludeFields = &excludeFields
	return r
}

func (r ContentPackageIndicesAPIContentDebPackageIndicesReadRequest) Execute() (*DebPackageIndexResponse, *http.Response, error) {
	return r.ApiService.ContentDebPackageIndicesReadExecute(r)
}

/*
ContentDebPackageIndicesRead Inspect a package index

A PackageIndex represents the package indices of a single component-architecture combination.Associated artifacts: Exactly one 'Packages' file. May optionally include one or more of'Packages.gz', 'Packages.xz', 'Release'. If included, the 'Release' file is a legacyper-component-and-architecture Release file.Note: The verbatim publisher will republish all associated artifacts, while the APT publisher(both simple and structured mode) will generate any 'Packages' files it needs when creating thepublication. It does not make use of PackageIndex content.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param debPackageIndexHref
 @return ContentPackageIndicesAPIContentDebPackageIndicesReadRequest
*/
func (a *ContentPackageIndicesAPIService) ContentDebPackageIndicesRead(ctx context.Context, debPackageIndexHref string) ContentPackageIndicesAPIContentDebPackageIndicesReadRequest {
	return ContentPackageIndicesAPIContentDebPackageIndicesReadRequest{
		ApiService: a,
		ctx: ctx,
		debPackageIndexHref: debPackageIndexHref,
	}
}

// Execute executes the request
//  @return DebPackageIndexResponse
func (a *ContentPackageIndicesAPIService) ContentDebPackageIndicesReadExecute(r ContentPackageIndicesAPIContentDebPackageIndicesReadRequest) (*DebPackageIndexResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *DebPackageIndexResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentPackageIndicesAPIService.ContentDebPackageIndicesRead")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{deb_package_index_href}"
	localVarPath = strings.Replace(localVarPath, "{"+"deb_package_index_href"+"}", url.PathEscape(parameterValueToString(r.debPackageIndexHref, "debPackageIndexHref")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.fields != nil {
		t := *r.fields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "fields", t, "form", "multi")
		}
	}
	if r.excludeFields != nil {
		t := *r.excludeFields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ContentPackageIndicesAPIContentDebPackageIndicesSetLabelRequest struct {
	ctx context.Context
	ApiService *ContentPackageIndicesAPIService
	debPackageIndexHref string
	setLabel *SetLabel
	xTaskDiagnostics *[]string
}

func (r ContentPackageIndicesAPIContentDebPackageIndicesSetLabelRequest) SetLabel(setLabel SetLabel) ContentPackageIndicesAPIContentDebPackageIndicesSetLabelRequest {
	r.setLabel = &setLabel
	return r
}

// List of profilers to use on tasks.
func (r ContentPackageIndicesAPIContentDebPackageIndicesSetLabelRequest) XTaskDiagnostics(xTaskDiagnostics []string) ContentPackageIndicesAPIContentDebPackageIndicesSetLabelRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

func (r ContentPackageIndicesAPIContentDebPackageIndicesSetLabelRequest) Execute() (*SetLabelResponse, *http.Response, error) {
	return r.ApiService.ContentDebPackageIndicesSetLabelExecute(r)
}

/*
ContentDebPackageIndicesSetLabel Set a label

Set a single pulp_label on the object to a specific value or null.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param debPackageIndexHref
 @return ContentPackageIndicesAPIContentDebPackageIndicesSetLabelRequest
*/
func (a *ContentPackageIndicesAPIService) ContentDebPackageIndicesSetLabel(ctx context.Context, debPackageIndexHref string) ContentPackageIndicesAPIContentDebPackageIndicesSetLabelRequest {
	return ContentPackageIndicesAPIContentDebPackageIndicesSetLabelRequest{
		ApiService: a,
		ctx: ctx,
		debPackageIndexHref: debPackageIndexHref,
	}
}

// Execute executes the request
//  @return SetLabelResponse
func (a *ContentPackageIndicesAPIService) ContentDebPackageIndicesSetLabelExecute(r ContentPackageIndicesAPIContentDebPackageIndicesSetLabelRequest) (*SetLabelResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SetLabelResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentPackageIndicesAPIService.ContentDebPackageIndicesSetLabel")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{deb_package_index_href}set_label/"
	localVarPath = strings.Replace(localVarPath, "{"+"deb_package_index_href"+"}", url.PathEscape(parameterValueToString(r.debPackageIndexHref, "debPackageIndexHref")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.setLabel == nil {
		return localVarReturnValue, nil, reportError("setLabel is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	// body params
	localVarPostBody = r.setLabel
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ContentPackageIndicesAPIContentDebPackageIndicesUnsetLabelRequest struct {
	ctx context.Context
	ApiService *ContentPackageIndicesAPIService
	debPackageIndexHref string
	unsetLabel *UnsetLabel
	xTaskDiagnostics *[]string
}

func (r ContentPackageIndicesAPIContentDebPackageIndicesUnsetLabelRequest) UnsetLabel(unsetLabel UnsetLabel) ContentPackageIndicesAPIContentDebPackageIndicesUnsetLabelRequest {
	r.unsetLabel = &unsetLabel
	return r
}

// List of profilers to use on tasks.
func (r ContentPackageIndicesAPIContentDebPackageIndicesUnsetLabelRequest) XTaskDiagnostics(xTaskDiagnostics []string) ContentPackageIndicesAPIContentDebPackageIndicesUnsetLabelRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

func (r ContentPackageIndicesAPIContentDebPackageIndicesUnsetLabelRequest) Execute() (*UnsetLabelResponse, *http.Response, error) {
	return r.ApiService.ContentDebPackageIndicesUnsetLabelExecute(r)
}

/*
ContentDebPackageIndicesUnsetLabel Unset a label

Unset a single pulp_label on the object.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param debPackageIndexHref
 @return ContentPackageIndicesAPIContentDebPackageIndicesUnsetLabelRequest
*/
func (a *ContentPackageIndicesAPIService) ContentDebPackageIndicesUnsetLabel(ctx context.Context, debPackageIndexHref string) ContentPackageIndicesAPIContentDebPackageIndicesUnsetLabelRequest {
	return ContentPackageIndicesAPIContentDebPackageIndicesUnsetLabelRequest{
		ApiService: a,
		ctx: ctx,
		debPackageIndexHref: debPackageIndexHref,
	}
}

// Execute executes the request
//  @return UnsetLabelResponse
func (a *ContentPackageIndicesAPIService) ContentDebPackageIndicesUnsetLabelExecute(r ContentPackageIndicesAPIContentDebPackageIndicesUnsetLabelRequest) (*UnsetLabelResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *UnsetLabelResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentPackageIndicesAPIService.ContentDebPackageIndicesUnsetLabel")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{deb_package_index_href}unset_label/"
	localVarPath = strings.Replace(localVarPath, "{"+"deb_package_index_href"+"}", url.PathEscape(parameterValueToString(r.debPackageIndexHref, "debPackageIndexHref")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.unsetLabel == nil {
		return localVarReturnValue, nil, reportError("unsetLabel is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	// body params
	localVarPostBody = r.unsetLabel
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
