/*
Pulp 3 API

Fetch, Upload, Organize, and Distribute Software Packages

API version: v3
Contact: pulp-list@redhat.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package pulpbindings

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"reflect"
)


// ContentSourceReleaseComponentsAPIService ContentSourceReleaseComponentsAPI service
type ContentSourceReleaseComponentsAPIService service

type ContentSourceReleaseComponentsAPIContentDebSourceReleaseComponentsCreateRequest struct {
	ctx context.Context
	ApiService *ContentSourceReleaseComponentsAPIService
	debSourcePackageReleaseComponent *DebSourcePackageReleaseComponent
	xTaskDiagnostics *[]string
}

func (r ContentSourceReleaseComponentsAPIContentDebSourceReleaseComponentsCreateRequest) DebSourcePackageReleaseComponent(debSourcePackageReleaseComponent DebSourcePackageReleaseComponent) ContentSourceReleaseComponentsAPIContentDebSourceReleaseComponentsCreateRequest {
	r.debSourcePackageReleaseComponent = &debSourcePackageReleaseComponent
	return r
}

// List of profilers to use on tasks.
func (r ContentSourceReleaseComponentsAPIContentDebSourceReleaseComponentsCreateRequest) XTaskDiagnostics(xTaskDiagnostics []string) ContentSourceReleaseComponentsAPIContentDebSourceReleaseComponentsCreateRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

func (r ContentSourceReleaseComponentsAPIContentDebSourceReleaseComponentsCreateRequest) Execute() (*DebSourcePackageReleaseComponentResponse, *http.Response, error) {
	return r.ApiService.ContentDebSourceReleaseComponentsCreateExecute(r)
}

/*
ContentDebSourceReleaseComponentsCreate Create a source package release component

A SourcePackageReleaseComponent associates a SourcePackage with a ReleaseComponent.Associated artifacts: None; contains only metadata.This simply stores the information on which source packages are part of which components.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ContentSourceReleaseComponentsAPIContentDebSourceReleaseComponentsCreateRequest
*/
func (a *ContentSourceReleaseComponentsAPIService) ContentDebSourceReleaseComponentsCreate(ctx context.Context) ContentSourceReleaseComponentsAPIContentDebSourceReleaseComponentsCreateRequest {
	return ContentSourceReleaseComponentsAPIContentDebSourceReleaseComponentsCreateRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return DebSourcePackageReleaseComponentResponse
func (a *ContentSourceReleaseComponentsAPIService) ContentDebSourceReleaseComponentsCreateExecute(r ContentSourceReleaseComponentsAPIContentDebSourceReleaseComponentsCreateRequest) (*DebSourcePackageReleaseComponentResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *DebSourcePackageReleaseComponentResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentSourceReleaseComponentsAPIService.ContentDebSourceReleaseComponentsCreate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v3/content/deb/source_release_components/"
	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.debSourcePackageReleaseComponent == nil {
		return localVarReturnValue, nil, reportError("debSourcePackageReleaseComponent is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	// body params
	localVarPostBody = r.debSourcePackageReleaseComponent
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ContentSourceReleaseComponentsAPIContentDebSourceReleaseComponentsListRequest struct {
	ctx context.Context
	ApiService *ContentSourceReleaseComponentsAPIService
	xTaskDiagnostics *[]string
	limit *int32
	offset *int32
	ordering *[]string
	orphanedFor *float32
	prnIn *[]string
	pulpHrefIn *[]string
	pulpIdIn *[]string
	pulpLabelSelect *string
	q *string
	releaseComponent *string
	repositoryVersion *string
	repositoryVersionAdded *string
	repositoryVersionRemoved *string
	sourcePackage *string
	fields *[]string
	excludeFields *[]string
}

// List of profilers to use on tasks.
func (r ContentSourceReleaseComponentsAPIContentDebSourceReleaseComponentsListRequest) XTaskDiagnostics(xTaskDiagnostics []string) ContentSourceReleaseComponentsAPIContentDebSourceReleaseComponentsListRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

// Number of results to return per page.
func (r ContentSourceReleaseComponentsAPIContentDebSourceReleaseComponentsListRequest) Limit(limit int32) ContentSourceReleaseComponentsAPIContentDebSourceReleaseComponentsListRequest {
	r.limit = &limit
	return r
}

// The initial index from which to return the results.
func (r ContentSourceReleaseComponentsAPIContentDebSourceReleaseComponentsListRequest) Offset(offset int32) ContentSourceReleaseComponentsAPIContentDebSourceReleaseComponentsListRequest {
	r.offset = &offset
	return r
}

// Ordering* &#x60;pulp_id&#x60; - Pulp id* &#x60;-pulp_id&#x60; - Pulp id (descending)* &#x60;pulp_created&#x60; - Pulp created* &#x60;-pulp_created&#x60; - Pulp created (descending)* &#x60;pulp_last_updated&#x60; - Pulp last updated* &#x60;-pulp_last_updated&#x60; - Pulp last updated (descending)* &#x60;pulp_type&#x60; - Pulp type* &#x60;-pulp_type&#x60; - Pulp type (descending)* &#x60;upstream_id&#x60; - Upstream id* &#x60;-upstream_id&#x60; - Upstream id (descending)* &#x60;pulp_labels&#x60; - Pulp labels* &#x60;-pulp_labels&#x60; - Pulp labels (descending)* &#x60;timestamp_of_interest&#x60; - Timestamp of interest* &#x60;-timestamp_of_interest&#x60; - Timestamp of interest (descending)* &#x60;pk&#x60; - Pk* &#x60;-pk&#x60; - Pk (descending)
func (r ContentSourceReleaseComponentsAPIContentDebSourceReleaseComponentsListRequest) Ordering(ordering []string) ContentSourceReleaseComponentsAPIContentDebSourceReleaseComponentsListRequest {
	r.ordering = &ordering
	return r
}

// Minutes Content has been orphaned for. -1 uses ORPHAN_PROTECTION_TIME.
func (r ContentSourceReleaseComponentsAPIContentDebSourceReleaseComponentsListRequest) OrphanedFor(orphanedFor float32) ContentSourceReleaseComponentsAPIContentDebSourceReleaseComponentsListRequest {
	r.orphanedFor = &orphanedFor
	return r
}

// Multiple values may be separated by commas.
func (r ContentSourceReleaseComponentsAPIContentDebSourceReleaseComponentsListRequest) PrnIn(prnIn []string) ContentSourceReleaseComponentsAPIContentDebSourceReleaseComponentsListRequest {
	r.prnIn = &prnIn
	return r
}

// Multiple values may be separated by commas.
func (r ContentSourceReleaseComponentsAPIContentDebSourceReleaseComponentsListRequest) PulpHrefIn(pulpHrefIn []string) ContentSourceReleaseComponentsAPIContentDebSourceReleaseComponentsListRequest {
	r.pulpHrefIn = &pulpHrefIn
	return r
}

// Multiple values may be separated by commas.
func (r ContentSourceReleaseComponentsAPIContentDebSourceReleaseComponentsListRequest) PulpIdIn(pulpIdIn []string) ContentSourceReleaseComponentsAPIContentDebSourceReleaseComponentsListRequest {
	r.pulpIdIn = &pulpIdIn
	return r
}

// Filter labels by search string
func (r ContentSourceReleaseComponentsAPIContentDebSourceReleaseComponentsListRequest) PulpLabelSelect(pulpLabelSelect string) ContentSourceReleaseComponentsAPIContentDebSourceReleaseComponentsListRequest {
	r.pulpLabelSelect = &pulpLabelSelect
	return r
}

// Filter results by using NOT, AND and OR operations on other filters
func (r ContentSourceReleaseComponentsAPIContentDebSourceReleaseComponentsListRequest) Q(q string) ContentSourceReleaseComponentsAPIContentDebSourceReleaseComponentsListRequest {
	r.q = &q
	return r
}

// Filter results where release_component matches value
func (r ContentSourceReleaseComponentsAPIContentDebSourceReleaseComponentsListRequest) ReleaseComponent(releaseComponent string) ContentSourceReleaseComponentsAPIContentDebSourceReleaseComponentsListRequest {
	r.releaseComponent = &releaseComponent
	return r
}

// Repository Version referenced by HREF/PRN
func (r ContentSourceReleaseComponentsAPIContentDebSourceReleaseComponentsListRequest) RepositoryVersion(repositoryVersion string) ContentSourceReleaseComponentsAPIContentDebSourceReleaseComponentsListRequest {
	r.repositoryVersion = &repositoryVersion
	return r
}

// Repository Version referenced by HREF/PRN
func (r ContentSourceReleaseComponentsAPIContentDebSourceReleaseComponentsListRequest) RepositoryVersionAdded(repositoryVersionAdded string) ContentSourceReleaseComponentsAPIContentDebSourceReleaseComponentsListRequest {
	r.repositoryVersionAdded = &repositoryVersionAdded
	return r
}

// Repository Version referenced by HREF/PRN
func (r ContentSourceReleaseComponentsAPIContentDebSourceReleaseComponentsListRequest) RepositoryVersionRemoved(repositoryVersionRemoved string) ContentSourceReleaseComponentsAPIContentDebSourceReleaseComponentsListRequest {
	r.repositoryVersionRemoved = &repositoryVersionRemoved
	return r
}

// Filter results where source_package matches value
func (r ContentSourceReleaseComponentsAPIContentDebSourceReleaseComponentsListRequest) SourcePackage(sourcePackage string) ContentSourceReleaseComponentsAPIContentDebSourceReleaseComponentsListRequest {
	r.sourcePackage = &sourcePackage
	return r
}

// A list of fields to include in the response.
func (r ContentSourceReleaseComponentsAPIContentDebSourceReleaseComponentsListRequest) Fields(fields []string) ContentSourceReleaseComponentsAPIContentDebSourceReleaseComponentsListRequest {
	r.fields = &fields
	return r
}

// A list of fields to exclude from the response.
func (r ContentSourceReleaseComponentsAPIContentDebSourceReleaseComponentsListRequest) ExcludeFields(excludeFields []string) ContentSourceReleaseComponentsAPIContentDebSourceReleaseComponentsListRequest {
	r.excludeFields = &excludeFields
	return r
}

func (r ContentSourceReleaseComponentsAPIContentDebSourceReleaseComponentsListRequest) Execute() (*PaginateddebSourcePackageReleaseComponentResponseList, *http.Response, error) {
	return r.ApiService.ContentDebSourceReleaseComponentsListExecute(r)
}

/*
ContentDebSourceReleaseComponentsList List source package release components

A SourcePackageReleaseComponent associates a SourcePackage with a ReleaseComponent.Associated artifacts: None; contains only metadata.This simply stores the information on which source packages are part of which components.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ContentSourceReleaseComponentsAPIContentDebSourceReleaseComponentsListRequest
*/
func (a *ContentSourceReleaseComponentsAPIService) ContentDebSourceReleaseComponentsList(ctx context.Context) ContentSourceReleaseComponentsAPIContentDebSourceReleaseComponentsListRequest {
	return ContentSourceReleaseComponentsAPIContentDebSourceReleaseComponentsListRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return PaginateddebSourcePackageReleaseComponentResponseList
func (a *ContentSourceReleaseComponentsAPIService) ContentDebSourceReleaseComponentsListExecute(r ContentSourceReleaseComponentsAPIContentDebSourceReleaseComponentsListRequest) (*PaginateddebSourcePackageReleaseComponentResponseList, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PaginateddebSourcePackageReleaseComponentResponseList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentSourceReleaseComponentsAPIService.ContentDebSourceReleaseComponentsList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v3/content/deb/source_release_components/"
	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	}
	if r.ordering != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ordering", r.ordering, "form", "csv")
	}
	if r.orphanedFor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "orphaned_for", r.orphanedFor, "form", "")
	}
	if r.prnIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "prn__in", r.prnIn, "form", "csv")
	}
	if r.pulpHrefIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pulp_href__in", r.pulpHrefIn, "form", "csv")
	}
	if r.pulpIdIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pulp_id__in", r.pulpIdIn, "form", "csv")
	}
	if r.pulpLabelSelect != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pulp_label_select", r.pulpLabelSelect, "form", "")
	}
	if r.q != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "q", r.q, "form", "")
	}
	if r.releaseComponent != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "release_component", r.releaseComponent, "form", "")
	}
	if r.repositoryVersion != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repository_version", r.repositoryVersion, "form", "")
	}
	if r.repositoryVersionAdded != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repository_version_added", r.repositoryVersionAdded, "form", "")
	}
	if r.repositoryVersionRemoved != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repository_version_removed", r.repositoryVersionRemoved, "form", "")
	}
	if r.sourcePackage != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "source_package", r.sourcePackage, "form", "")
	}
	if r.fields != nil {
		t := *r.fields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "fields", t, "form", "multi")
		}
	}
	if r.excludeFields != nil {
		t := *r.excludeFields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ContentSourceReleaseComponentsAPIContentDebSourceReleaseComponentsReadRequest struct {
	ctx context.Context
	ApiService *ContentSourceReleaseComponentsAPIService
	debSourcePackageReleaseComponentHref string
	xTaskDiagnostics *[]string
	fields *[]string
	excludeFields *[]string
}

// List of profilers to use on tasks.
func (r ContentSourceReleaseComponentsAPIContentDebSourceReleaseComponentsReadRequest) XTaskDiagnostics(xTaskDiagnostics []string) ContentSourceReleaseComponentsAPIContentDebSourceReleaseComponentsReadRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

// A list of fields to include in the response.
func (r ContentSourceReleaseComponentsAPIContentDebSourceReleaseComponentsReadRequest) Fields(fields []string) ContentSourceReleaseComponentsAPIContentDebSourceReleaseComponentsReadRequest {
	r.fields = &fields
	return r
}

// A list of fields to exclude from the response.
func (r ContentSourceReleaseComponentsAPIContentDebSourceReleaseComponentsReadRequest) ExcludeFields(excludeFields []string) ContentSourceReleaseComponentsAPIContentDebSourceReleaseComponentsReadRequest {
	r.excludeFields = &excludeFields
	return r
}

func (r ContentSourceReleaseComponentsAPIContentDebSourceReleaseComponentsReadRequest) Execute() (*DebSourcePackageReleaseComponentResponse, *http.Response, error) {
	return r.ApiService.ContentDebSourceReleaseComponentsReadExecute(r)
}

/*
ContentDebSourceReleaseComponentsRead Inspect a source package release component

A SourcePackageReleaseComponent associates a SourcePackage with a ReleaseComponent.Associated artifacts: None; contains only metadata.This simply stores the information on which source packages are part of which components.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param debSourcePackageReleaseComponentHref
 @return ContentSourceReleaseComponentsAPIContentDebSourceReleaseComponentsReadRequest
*/
func (a *ContentSourceReleaseComponentsAPIService) ContentDebSourceReleaseComponentsRead(ctx context.Context, debSourcePackageReleaseComponentHref string) ContentSourceReleaseComponentsAPIContentDebSourceReleaseComponentsReadRequest {
	return ContentSourceReleaseComponentsAPIContentDebSourceReleaseComponentsReadRequest{
		ApiService: a,
		ctx: ctx,
		debSourcePackageReleaseComponentHref: debSourcePackageReleaseComponentHref,
	}
}

// Execute executes the request
//  @return DebSourcePackageReleaseComponentResponse
func (a *ContentSourceReleaseComponentsAPIService) ContentDebSourceReleaseComponentsReadExecute(r ContentSourceReleaseComponentsAPIContentDebSourceReleaseComponentsReadRequest) (*DebSourcePackageReleaseComponentResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *DebSourcePackageReleaseComponentResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentSourceReleaseComponentsAPIService.ContentDebSourceReleaseComponentsRead")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{deb_source_package_release_component_href}"
	localVarPath = strings.Replace(localVarPath, "{"+"deb_source_package_release_component_href"+"}", url.PathEscape(parameterValueToString(r.debSourcePackageReleaseComponentHref, "debSourcePackageReleaseComponentHref")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.fields != nil {
		t := *r.fields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "fields", t, "form", "multi")
		}
	}
	if r.excludeFields != nil {
		t := *r.excludeFields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ContentSourceReleaseComponentsAPIContentDebSourceReleaseComponentsSetLabelRequest struct {
	ctx context.Context
	ApiService *ContentSourceReleaseComponentsAPIService
	debSourcePackageReleaseComponentHref string
	setLabel *SetLabel
	xTaskDiagnostics *[]string
}

func (r ContentSourceReleaseComponentsAPIContentDebSourceReleaseComponentsSetLabelRequest) SetLabel(setLabel SetLabel) ContentSourceReleaseComponentsAPIContentDebSourceReleaseComponentsSetLabelRequest {
	r.setLabel = &setLabel
	return r
}

// List of profilers to use on tasks.
func (r ContentSourceReleaseComponentsAPIContentDebSourceReleaseComponentsSetLabelRequest) XTaskDiagnostics(xTaskDiagnostics []string) ContentSourceReleaseComponentsAPIContentDebSourceReleaseComponentsSetLabelRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

func (r ContentSourceReleaseComponentsAPIContentDebSourceReleaseComponentsSetLabelRequest) Execute() (*SetLabelResponse, *http.Response, error) {
	return r.ApiService.ContentDebSourceReleaseComponentsSetLabelExecute(r)
}

/*
ContentDebSourceReleaseComponentsSetLabel Set a label

Set a single pulp_label on the object to a specific value or null.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param debSourcePackageReleaseComponentHref
 @return ContentSourceReleaseComponentsAPIContentDebSourceReleaseComponentsSetLabelRequest
*/
func (a *ContentSourceReleaseComponentsAPIService) ContentDebSourceReleaseComponentsSetLabel(ctx context.Context, debSourcePackageReleaseComponentHref string) ContentSourceReleaseComponentsAPIContentDebSourceReleaseComponentsSetLabelRequest {
	return ContentSourceReleaseComponentsAPIContentDebSourceReleaseComponentsSetLabelRequest{
		ApiService: a,
		ctx: ctx,
		debSourcePackageReleaseComponentHref: debSourcePackageReleaseComponentHref,
	}
}

// Execute executes the request
//  @return SetLabelResponse
func (a *ContentSourceReleaseComponentsAPIService) ContentDebSourceReleaseComponentsSetLabelExecute(r ContentSourceReleaseComponentsAPIContentDebSourceReleaseComponentsSetLabelRequest) (*SetLabelResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SetLabelResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentSourceReleaseComponentsAPIService.ContentDebSourceReleaseComponentsSetLabel")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{deb_source_package_release_component_href}set_label/"
	localVarPath = strings.Replace(localVarPath, "{"+"deb_source_package_release_component_href"+"}", url.PathEscape(parameterValueToString(r.debSourcePackageReleaseComponentHref, "debSourcePackageReleaseComponentHref")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.setLabel == nil {
		return localVarReturnValue, nil, reportError("setLabel is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	// body params
	localVarPostBody = r.setLabel
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ContentSourceReleaseComponentsAPIContentDebSourceReleaseComponentsUnsetLabelRequest struct {
	ctx context.Context
	ApiService *ContentSourceReleaseComponentsAPIService
	debSourcePackageReleaseComponentHref string
	unsetLabel *UnsetLabel
	xTaskDiagnostics *[]string
}

func (r ContentSourceReleaseComponentsAPIContentDebSourceReleaseComponentsUnsetLabelRequest) UnsetLabel(unsetLabel UnsetLabel) ContentSourceReleaseComponentsAPIContentDebSourceReleaseComponentsUnsetLabelRequest {
	r.unsetLabel = &unsetLabel
	return r
}

// List of profilers to use on tasks.
func (r ContentSourceReleaseComponentsAPIContentDebSourceReleaseComponentsUnsetLabelRequest) XTaskDiagnostics(xTaskDiagnostics []string) ContentSourceReleaseComponentsAPIContentDebSourceReleaseComponentsUnsetLabelRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

func (r ContentSourceReleaseComponentsAPIContentDebSourceReleaseComponentsUnsetLabelRequest) Execute() (*UnsetLabelResponse, *http.Response, error) {
	return r.ApiService.ContentDebSourceReleaseComponentsUnsetLabelExecute(r)
}

/*
ContentDebSourceReleaseComponentsUnsetLabel Unset a label

Unset a single pulp_label on the object.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param debSourcePackageReleaseComponentHref
 @return ContentSourceReleaseComponentsAPIContentDebSourceReleaseComponentsUnsetLabelRequest
*/
func (a *ContentSourceReleaseComponentsAPIService) ContentDebSourceReleaseComponentsUnsetLabel(ctx context.Context, debSourcePackageReleaseComponentHref string) ContentSourceReleaseComponentsAPIContentDebSourceReleaseComponentsUnsetLabelRequest {
	return ContentSourceReleaseComponentsAPIContentDebSourceReleaseComponentsUnsetLabelRequest{
		ApiService: a,
		ctx: ctx,
		debSourcePackageReleaseComponentHref: debSourcePackageReleaseComponentHref,
	}
}

// Execute executes the request
//  @return UnsetLabelResponse
func (a *ContentSourceReleaseComponentsAPIService) ContentDebSourceReleaseComponentsUnsetLabelExecute(r ContentSourceReleaseComponentsAPIContentDebSourceReleaseComponentsUnsetLabelRequest) (*UnsetLabelResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *UnsetLabelResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentSourceReleaseComponentsAPIService.ContentDebSourceReleaseComponentsUnsetLabel")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{deb_source_package_release_component_href}unset_label/"
	localVarPath = strings.Replace(localVarPath, "{"+"deb_source_package_release_component_href"+"}", url.PathEscape(parameterValueToString(r.debSourcePackageReleaseComponentHref, "debSourcePackageReleaseComponentHref")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.unsetLabel == nil {
		return localVarReturnValue, nil, reportError("unsetLabel is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	// body params
	localVarPostBody = r.unsetLabel
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
