/*
Pulp 3 API

Fetch, Upload, Organize, and Distribute Software Packages

API version: v3
Contact: pulp-list@redhat.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package pulpbindings

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"reflect"
)


// ContentObjectsAPIService ContentObjectsAPI service
type ContentObjectsAPIService service

type ContentObjectsAPIContentOstreeObjectsListRequest struct {
	ctx context.Context
	ApiService *ContentObjectsAPIService
	xTaskDiagnostics *[]string
	checksum *string
	limit *int32
	offset *int32
	ordering *[]string
	orphanedFor *float32
	prnIn *[]string
	pulpHrefIn *[]string
	pulpIdIn *[]string
	pulpLabelSelect *string
	q *string
	repositoryVersion *string
	repositoryVersionAdded *string
	repositoryVersionRemoved *string
	fields *[]string
	excludeFields *[]string
}

// List of profilers to use on tasks.
func (r ContentObjectsAPIContentOstreeObjectsListRequest) XTaskDiagnostics(xTaskDiagnostics []string) ContentObjectsAPIContentOstreeObjectsListRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

// Filter results where checksum matches value
func (r ContentObjectsAPIContentOstreeObjectsListRequest) Checksum(checksum string) ContentObjectsAPIContentOstreeObjectsListRequest {
	r.checksum = &checksum
	return r
}

// Number of results to return per page.
func (r ContentObjectsAPIContentOstreeObjectsListRequest) Limit(limit int32) ContentObjectsAPIContentOstreeObjectsListRequest {
	r.limit = &limit
	return r
}

// The initial index from which to return the results.
func (r ContentObjectsAPIContentOstreeObjectsListRequest) Offset(offset int32) ContentObjectsAPIContentOstreeObjectsListRequest {
	r.offset = &offset
	return r
}

// Ordering* &#x60;pulp_id&#x60; - Pulp id* &#x60;-pulp_id&#x60; - Pulp id (descending)* &#x60;pulp_created&#x60; - Pulp created* &#x60;-pulp_created&#x60; - Pulp created (descending)* &#x60;pulp_last_updated&#x60; - Pulp last updated* &#x60;-pulp_last_updated&#x60; - Pulp last updated (descending)* &#x60;pulp_type&#x60; - Pulp type* &#x60;-pulp_type&#x60; - Pulp type (descending)* &#x60;upstream_id&#x60; - Upstream id* &#x60;-upstream_id&#x60; - Upstream id (descending)* &#x60;pulp_labels&#x60; - Pulp labels* &#x60;-pulp_labels&#x60; - Pulp labels (descending)* &#x60;timestamp_of_interest&#x60; - Timestamp of interest* &#x60;-timestamp_of_interest&#x60; - Timestamp of interest (descending)* &#x60;typ&#x60; - Typ* &#x60;-typ&#x60; - Typ (descending)* &#x60;checksum&#x60; - Checksum* &#x60;-checksum&#x60; - Checksum (descending)* &#x60;relative_path&#x60; - Relative path* &#x60;-relative_path&#x60; - Relative path (descending)* &#x60;pk&#x60; - Pk* &#x60;-pk&#x60; - Pk (descending)
func (r ContentObjectsAPIContentOstreeObjectsListRequest) Ordering(ordering []string) ContentObjectsAPIContentOstreeObjectsListRequest {
	r.ordering = &ordering
	return r
}

// Minutes Content has been orphaned for. -1 uses ORPHAN_PROTECTION_TIME.
func (r ContentObjectsAPIContentOstreeObjectsListRequest) OrphanedFor(orphanedFor float32) ContentObjectsAPIContentOstreeObjectsListRequest {
	r.orphanedFor = &orphanedFor
	return r
}

// Multiple values may be separated by commas.
func (r ContentObjectsAPIContentOstreeObjectsListRequest) PrnIn(prnIn []string) ContentObjectsAPIContentOstreeObjectsListRequest {
	r.prnIn = &prnIn
	return r
}

// Multiple values may be separated by commas.
func (r ContentObjectsAPIContentOstreeObjectsListRequest) PulpHrefIn(pulpHrefIn []string) ContentObjectsAPIContentOstreeObjectsListRequest {
	r.pulpHrefIn = &pulpHrefIn
	return r
}

// Multiple values may be separated by commas.
func (r ContentObjectsAPIContentOstreeObjectsListRequest) PulpIdIn(pulpIdIn []string) ContentObjectsAPIContentOstreeObjectsListRequest {
	r.pulpIdIn = &pulpIdIn
	return r
}

// Filter labels by search string
func (r ContentObjectsAPIContentOstreeObjectsListRequest) PulpLabelSelect(pulpLabelSelect string) ContentObjectsAPIContentOstreeObjectsListRequest {
	r.pulpLabelSelect = &pulpLabelSelect
	return r
}

// Filter results by using NOT, AND and OR operations on other filters
func (r ContentObjectsAPIContentOstreeObjectsListRequest) Q(q string) ContentObjectsAPIContentOstreeObjectsListRequest {
	r.q = &q
	return r
}

// Repository Version referenced by HREF/PRN
func (r ContentObjectsAPIContentOstreeObjectsListRequest) RepositoryVersion(repositoryVersion string) ContentObjectsAPIContentOstreeObjectsListRequest {
	r.repositoryVersion = &repositoryVersion
	return r
}

// Repository Version referenced by HREF/PRN
func (r ContentObjectsAPIContentOstreeObjectsListRequest) RepositoryVersionAdded(repositoryVersionAdded string) ContentObjectsAPIContentOstreeObjectsListRequest {
	r.repositoryVersionAdded = &repositoryVersionAdded
	return r
}

// Repository Version referenced by HREF/PRN
func (r ContentObjectsAPIContentOstreeObjectsListRequest) RepositoryVersionRemoved(repositoryVersionRemoved string) ContentObjectsAPIContentOstreeObjectsListRequest {
	r.repositoryVersionRemoved = &repositoryVersionRemoved
	return r
}

// A list of fields to include in the response.
func (r ContentObjectsAPIContentOstreeObjectsListRequest) Fields(fields []string) ContentObjectsAPIContentOstreeObjectsListRequest {
	r.fields = &fields
	return r
}

// A list of fields to exclude from the response.
func (r ContentObjectsAPIContentOstreeObjectsListRequest) ExcludeFields(excludeFields []string) ContentObjectsAPIContentOstreeObjectsListRequest {
	r.excludeFields = &excludeFields
	return r
}

func (r ContentObjectsAPIContentOstreeObjectsListRequest) Execute() (*PaginatedostreeOstreeObjectResponseList, *http.Response, error) {
	return r.ApiService.ContentOstreeObjectsListExecute(r)
}

/*
ContentOstreeObjectsList List ostree objects

A ViewSet class for OSTree objects (e.g., dirtree, dirmeta, file).

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ContentObjectsAPIContentOstreeObjectsListRequest
*/
func (a *ContentObjectsAPIService) ContentOstreeObjectsList(ctx context.Context) ContentObjectsAPIContentOstreeObjectsListRequest {
	return ContentObjectsAPIContentOstreeObjectsListRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return PaginatedostreeOstreeObjectResponseList
func (a *ContentObjectsAPIService) ContentOstreeObjectsListExecute(r ContentObjectsAPIContentOstreeObjectsListRequest) (*PaginatedostreeOstreeObjectResponseList, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PaginatedostreeOstreeObjectResponseList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentObjectsAPIService.ContentOstreeObjectsList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v3/content/ostree/objects/"
	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.checksum != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "checksum", r.checksum, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	}
	if r.ordering != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ordering", r.ordering, "form", "csv")
	}
	if r.orphanedFor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "orphaned_for", r.orphanedFor, "form", "")
	}
	if r.prnIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "prn__in", r.prnIn, "form", "csv")
	}
	if r.pulpHrefIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pulp_href__in", r.pulpHrefIn, "form", "csv")
	}
	if r.pulpIdIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pulp_id__in", r.pulpIdIn, "form", "csv")
	}
	if r.pulpLabelSelect != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pulp_label_select", r.pulpLabelSelect, "form", "")
	}
	if r.q != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "q", r.q, "form", "")
	}
	if r.repositoryVersion != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repository_version", r.repositoryVersion, "form", "")
	}
	if r.repositoryVersionAdded != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repository_version_added", r.repositoryVersionAdded, "form", "")
	}
	if r.repositoryVersionRemoved != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repository_version_removed", r.repositoryVersionRemoved, "form", "")
	}
	if r.fields != nil {
		t := *r.fields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "fields", t, "form", "multi")
		}
	}
	if r.excludeFields != nil {
		t := *r.excludeFields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ContentObjectsAPIContentOstreeObjectsReadRequest struct {
	ctx context.Context
	ApiService *ContentObjectsAPIService
	ostreeOstreeObjectHref string
	xTaskDiagnostics *[]string
	fields *[]string
	excludeFields *[]string
}

// List of profilers to use on tasks.
func (r ContentObjectsAPIContentOstreeObjectsReadRequest) XTaskDiagnostics(xTaskDiagnostics []string) ContentObjectsAPIContentOstreeObjectsReadRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

// A list of fields to include in the response.
func (r ContentObjectsAPIContentOstreeObjectsReadRequest) Fields(fields []string) ContentObjectsAPIContentOstreeObjectsReadRequest {
	r.fields = &fields
	return r
}

// A list of fields to exclude from the response.
func (r ContentObjectsAPIContentOstreeObjectsReadRequest) ExcludeFields(excludeFields []string) ContentObjectsAPIContentOstreeObjectsReadRequest {
	r.excludeFields = &excludeFields
	return r
}

func (r ContentObjectsAPIContentOstreeObjectsReadRequest) Execute() (*OstreeOstreeObjectResponse, *http.Response, error) {
	return r.ApiService.ContentOstreeObjectsReadExecute(r)
}

/*
ContentOstreeObjectsRead Inspect an ostree object

A ViewSet class for OSTree objects (e.g., dirtree, dirmeta, file).

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param ostreeOstreeObjectHref
 @return ContentObjectsAPIContentOstreeObjectsReadRequest
*/
func (a *ContentObjectsAPIService) ContentOstreeObjectsRead(ctx context.Context, ostreeOstreeObjectHref string) ContentObjectsAPIContentOstreeObjectsReadRequest {
	return ContentObjectsAPIContentOstreeObjectsReadRequest{
		ApiService: a,
		ctx: ctx,
		ostreeOstreeObjectHref: ostreeOstreeObjectHref,
	}
}

// Execute executes the request
//  @return OstreeOstreeObjectResponse
func (a *ContentObjectsAPIService) ContentOstreeObjectsReadExecute(r ContentObjectsAPIContentOstreeObjectsReadRequest) (*OstreeOstreeObjectResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OstreeOstreeObjectResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentObjectsAPIService.ContentOstreeObjectsRead")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{ostree_ostree_object_href}"
	localVarPath = strings.Replace(localVarPath, "{"+"ostree_ostree_object_href"+"}", url.PathEscape(parameterValueToString(r.ostreeOstreeObjectHref, "ostreeOstreeObjectHref")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.fields != nil {
		t := *r.fields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "fields", t, "form", "multi")
		}
	}
	if r.excludeFields != nil {
		t := *r.excludeFields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ContentObjectsAPIContentOstreeObjectsSetLabelRequest struct {
	ctx context.Context
	ApiService *ContentObjectsAPIService
	ostreeOstreeObjectHref string
	setLabel *SetLabel
	xTaskDiagnostics *[]string
}

func (r ContentObjectsAPIContentOstreeObjectsSetLabelRequest) SetLabel(setLabel SetLabel) ContentObjectsAPIContentOstreeObjectsSetLabelRequest {
	r.setLabel = &setLabel
	return r
}

// List of profilers to use on tasks.
func (r ContentObjectsAPIContentOstreeObjectsSetLabelRequest) XTaskDiagnostics(xTaskDiagnostics []string) ContentObjectsAPIContentOstreeObjectsSetLabelRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

func (r ContentObjectsAPIContentOstreeObjectsSetLabelRequest) Execute() (*SetLabelResponse, *http.Response, error) {
	return r.ApiService.ContentOstreeObjectsSetLabelExecute(r)
}

/*
ContentOstreeObjectsSetLabel Set a label

Set a single pulp_label on the object to a specific value or null.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param ostreeOstreeObjectHref
 @return ContentObjectsAPIContentOstreeObjectsSetLabelRequest
*/
func (a *ContentObjectsAPIService) ContentOstreeObjectsSetLabel(ctx context.Context, ostreeOstreeObjectHref string) ContentObjectsAPIContentOstreeObjectsSetLabelRequest {
	return ContentObjectsAPIContentOstreeObjectsSetLabelRequest{
		ApiService: a,
		ctx: ctx,
		ostreeOstreeObjectHref: ostreeOstreeObjectHref,
	}
}

// Execute executes the request
//  @return SetLabelResponse
func (a *ContentObjectsAPIService) ContentOstreeObjectsSetLabelExecute(r ContentObjectsAPIContentOstreeObjectsSetLabelRequest) (*SetLabelResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SetLabelResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentObjectsAPIService.ContentOstreeObjectsSetLabel")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{ostree_ostree_object_href}set_label/"
	localVarPath = strings.Replace(localVarPath, "{"+"ostree_ostree_object_href"+"}", url.PathEscape(parameterValueToString(r.ostreeOstreeObjectHref, "ostreeOstreeObjectHref")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.setLabel == nil {
		return localVarReturnValue, nil, reportError("setLabel is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	// body params
	localVarPostBody = r.setLabel
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ContentObjectsAPIContentOstreeObjectsUnsetLabelRequest struct {
	ctx context.Context
	ApiService *ContentObjectsAPIService
	ostreeOstreeObjectHref string
	unsetLabel *UnsetLabel
	xTaskDiagnostics *[]string
}

func (r ContentObjectsAPIContentOstreeObjectsUnsetLabelRequest) UnsetLabel(unsetLabel UnsetLabel) ContentObjectsAPIContentOstreeObjectsUnsetLabelRequest {
	r.unsetLabel = &unsetLabel
	return r
}

// List of profilers to use on tasks.
func (r ContentObjectsAPIContentOstreeObjectsUnsetLabelRequest) XTaskDiagnostics(xTaskDiagnostics []string) ContentObjectsAPIContentOstreeObjectsUnsetLabelRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

func (r ContentObjectsAPIContentOstreeObjectsUnsetLabelRequest) Execute() (*UnsetLabelResponse, *http.Response, error) {
	return r.ApiService.ContentOstreeObjectsUnsetLabelExecute(r)
}

/*
ContentOstreeObjectsUnsetLabel Unset a label

Unset a single pulp_label on the object.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param ostreeOstreeObjectHref
 @return ContentObjectsAPIContentOstreeObjectsUnsetLabelRequest
*/
func (a *ContentObjectsAPIService) ContentOstreeObjectsUnsetLabel(ctx context.Context, ostreeOstreeObjectHref string) ContentObjectsAPIContentOstreeObjectsUnsetLabelRequest {
	return ContentObjectsAPIContentOstreeObjectsUnsetLabelRequest{
		ApiService: a,
		ctx: ctx,
		ostreeOstreeObjectHref: ostreeOstreeObjectHref,
	}
}

// Execute executes the request
//  @return UnsetLabelResponse
func (a *ContentObjectsAPIService) ContentOstreeObjectsUnsetLabelExecute(r ContentObjectsAPIContentOstreeObjectsUnsetLabelRequest) (*UnsetLabelResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *UnsetLabelResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentObjectsAPIService.ContentOstreeObjectsUnsetLabel")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{ostree_ostree_object_href}unset_label/"
	localVarPath = strings.Replace(localVarPath, "{"+"ostree_ostree_object_href"+"}", url.PathEscape(parameterValueToString(r.ostreeOstreeObjectHref, "ostreeOstreeObjectHref")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.unsetLabel == nil {
		return localVarReturnValue, nil, reportError("unsetLabel is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	// body params
	localVarPostBody = r.unsetLabel
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
