/*
Pulp 3 API

Fetch, Upload, Organize, and Distribute Software Packages

API version: v3
Contact: pulp-list@redhat.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package pulpbindings

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"reflect"
)


// ContentSourceIndicesAPIService ContentSourceIndicesAPI service
type ContentSourceIndicesAPIService service

type ContentSourceIndicesAPIContentDebSourceIndicesCreateRequest struct {
	ctx context.Context
	ApiService *ContentSourceIndicesAPIService
	debSourceIndex *DebSourceIndex
	xTaskDiagnostics *[]string
}

func (r ContentSourceIndicesAPIContentDebSourceIndicesCreateRequest) DebSourceIndex(debSourceIndex DebSourceIndex) ContentSourceIndicesAPIContentDebSourceIndicesCreateRequest {
	r.debSourceIndex = &debSourceIndex
	return r
}

// List of profilers to use on tasks.
func (r ContentSourceIndicesAPIContentDebSourceIndicesCreateRequest) XTaskDiagnostics(xTaskDiagnostics []string) ContentSourceIndicesAPIContentDebSourceIndicesCreateRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

func (r ContentSourceIndicesAPIContentDebSourceIndicesCreateRequest) Execute() (*DebSourceIndexResponse, *http.Response, error) {
	return r.ApiService.ContentDebSourceIndicesCreateExecute(r)
}

/*
ContentDebSourceIndicesCreate Create a source index

A SourceIndex represents the source indices of a single component.Associated artifacts: Exactly one 'Sources' file. May optionally include one or more of'Sources.gz', 'Sources.xz', 'Release'. If included, the 'Release' file is a legacyper-component-and-architecture Release file (with architecture always being 'source').Note: The verbatim publisher will republish all associated artifacts, while the APT publisher(both simple and structured mode) will generate any 'Sources' files it needs when creating thepublication. It does not make use of SourceIndex content.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ContentSourceIndicesAPIContentDebSourceIndicesCreateRequest
*/
func (a *ContentSourceIndicesAPIService) ContentDebSourceIndicesCreate(ctx context.Context) ContentSourceIndicesAPIContentDebSourceIndicesCreateRequest {
	return ContentSourceIndicesAPIContentDebSourceIndicesCreateRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return DebSourceIndexResponse
func (a *ContentSourceIndicesAPIService) ContentDebSourceIndicesCreateExecute(r ContentSourceIndicesAPIContentDebSourceIndicesCreateRequest) (*DebSourceIndexResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *DebSourceIndexResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentSourceIndicesAPIService.ContentDebSourceIndicesCreate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v3/content/deb/source_indices/"
	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.debSourceIndex == nil {
		return localVarReturnValue, nil, reportError("debSourceIndex is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	// body params
	localVarPostBody = r.debSourceIndex
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ContentSourceIndicesAPIContentDebSourceIndicesListRequest struct {
	ctx context.Context
	ApiService *ContentSourceIndicesAPIService
	xTaskDiagnostics *[]string
	component *string
	limit *int32
	offset *int32
	ordering *[]string
	orphanedFor *float32
	prnIn *[]string
	pulpHrefIn *[]string
	pulpIdIn *[]string
	pulpLabelSelect *string
	q *string
	relativePath *string
	repositoryVersion *string
	repositoryVersionAdded *string
	repositoryVersionRemoved *string
	sha256 *string
	fields *[]string
	excludeFields *[]string
}

// List of profilers to use on tasks.
func (r ContentSourceIndicesAPIContentDebSourceIndicesListRequest) XTaskDiagnostics(xTaskDiagnostics []string) ContentSourceIndicesAPIContentDebSourceIndicesListRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

// Filter results where component matches value
func (r ContentSourceIndicesAPIContentDebSourceIndicesListRequest) Component(component string) ContentSourceIndicesAPIContentDebSourceIndicesListRequest {
	r.component = &component
	return r
}

// Number of results to return per page.
func (r ContentSourceIndicesAPIContentDebSourceIndicesListRequest) Limit(limit int32) ContentSourceIndicesAPIContentDebSourceIndicesListRequest {
	r.limit = &limit
	return r
}

// The initial index from which to return the results.
func (r ContentSourceIndicesAPIContentDebSourceIndicesListRequest) Offset(offset int32) ContentSourceIndicesAPIContentDebSourceIndicesListRequest {
	r.offset = &offset
	return r
}

// Ordering* &#x60;pulp_id&#x60; - Pulp id* &#x60;-pulp_id&#x60; - Pulp id (descending)* &#x60;pulp_created&#x60; - Pulp created* &#x60;-pulp_created&#x60; - Pulp created (descending)* &#x60;pulp_last_updated&#x60; - Pulp last updated* &#x60;-pulp_last_updated&#x60; - Pulp last updated (descending)* &#x60;pulp_type&#x60; - Pulp type* &#x60;-pulp_type&#x60; - Pulp type (descending)* &#x60;upstream_id&#x60; - Upstream id* &#x60;-upstream_id&#x60; - Upstream id (descending)* &#x60;pulp_labels&#x60; - Pulp labels* &#x60;-pulp_labels&#x60; - Pulp labels (descending)* &#x60;timestamp_of_interest&#x60; - Timestamp of interest* &#x60;-timestamp_of_interest&#x60; - Timestamp of interest (descending)* &#x60;component&#x60; - Component* &#x60;-component&#x60; - Component (descending)* &#x60;relative_path&#x60; - Relative path* &#x60;-relative_path&#x60; - Relative path (descending)* &#x60;sha256&#x60; - Sha256* &#x60;-sha256&#x60; - Sha256 (descending)* &#x60;pk&#x60; - Pk* &#x60;-pk&#x60; - Pk (descending)
func (r ContentSourceIndicesAPIContentDebSourceIndicesListRequest) Ordering(ordering []string) ContentSourceIndicesAPIContentDebSourceIndicesListRequest {
	r.ordering = &ordering
	return r
}

// Minutes Content has been orphaned for. -1 uses ORPHAN_PROTECTION_TIME.
func (r ContentSourceIndicesAPIContentDebSourceIndicesListRequest) OrphanedFor(orphanedFor float32) ContentSourceIndicesAPIContentDebSourceIndicesListRequest {
	r.orphanedFor = &orphanedFor
	return r
}

// Multiple values may be separated by commas.
func (r ContentSourceIndicesAPIContentDebSourceIndicesListRequest) PrnIn(prnIn []string) ContentSourceIndicesAPIContentDebSourceIndicesListRequest {
	r.prnIn = &prnIn
	return r
}

// Multiple values may be separated by commas.
func (r ContentSourceIndicesAPIContentDebSourceIndicesListRequest) PulpHrefIn(pulpHrefIn []string) ContentSourceIndicesAPIContentDebSourceIndicesListRequest {
	r.pulpHrefIn = &pulpHrefIn
	return r
}

// Multiple values may be separated by commas.
func (r ContentSourceIndicesAPIContentDebSourceIndicesListRequest) PulpIdIn(pulpIdIn []string) ContentSourceIndicesAPIContentDebSourceIndicesListRequest {
	r.pulpIdIn = &pulpIdIn
	return r
}

// Filter labels by search string
func (r ContentSourceIndicesAPIContentDebSourceIndicesListRequest) PulpLabelSelect(pulpLabelSelect string) ContentSourceIndicesAPIContentDebSourceIndicesListRequest {
	r.pulpLabelSelect = &pulpLabelSelect
	return r
}

// Filter results by using NOT, AND and OR operations on other filters
func (r ContentSourceIndicesAPIContentDebSourceIndicesListRequest) Q(q string) ContentSourceIndicesAPIContentDebSourceIndicesListRequest {
	r.q = &q
	return r
}

// Filter results where relative_path matches value
func (r ContentSourceIndicesAPIContentDebSourceIndicesListRequest) RelativePath(relativePath string) ContentSourceIndicesAPIContentDebSourceIndicesListRequest {
	r.relativePath = &relativePath
	return r
}

// Repository Version referenced by HREF/PRN
func (r ContentSourceIndicesAPIContentDebSourceIndicesListRequest) RepositoryVersion(repositoryVersion string) ContentSourceIndicesAPIContentDebSourceIndicesListRequest {
	r.repositoryVersion = &repositoryVersion
	return r
}

// Repository Version referenced by HREF/PRN
func (r ContentSourceIndicesAPIContentDebSourceIndicesListRequest) RepositoryVersionAdded(repositoryVersionAdded string) ContentSourceIndicesAPIContentDebSourceIndicesListRequest {
	r.repositoryVersionAdded = &repositoryVersionAdded
	return r
}

// Repository Version referenced by HREF/PRN
func (r ContentSourceIndicesAPIContentDebSourceIndicesListRequest) RepositoryVersionRemoved(repositoryVersionRemoved string) ContentSourceIndicesAPIContentDebSourceIndicesListRequest {
	r.repositoryVersionRemoved = &repositoryVersionRemoved
	return r
}

// Filter results where sha256 matches value
func (r ContentSourceIndicesAPIContentDebSourceIndicesListRequest) Sha256(sha256 string) ContentSourceIndicesAPIContentDebSourceIndicesListRequest {
	r.sha256 = &sha256
	return r
}

// A list of fields to include in the response.
func (r ContentSourceIndicesAPIContentDebSourceIndicesListRequest) Fields(fields []string) ContentSourceIndicesAPIContentDebSourceIndicesListRequest {
	r.fields = &fields
	return r
}

// A list of fields to exclude from the response.
func (r ContentSourceIndicesAPIContentDebSourceIndicesListRequest) ExcludeFields(excludeFields []string) ContentSourceIndicesAPIContentDebSourceIndicesListRequest {
	r.excludeFields = &excludeFields
	return r
}

func (r ContentSourceIndicesAPIContentDebSourceIndicesListRequest) Execute() (*PaginateddebSourceIndexResponseList, *http.Response, error) {
	return r.ApiService.ContentDebSourceIndicesListExecute(r)
}

/*
ContentDebSourceIndicesList List SourceIndices

A SourceIndex represents the source indices of a single component.Associated artifacts: Exactly one 'Sources' file. May optionally include one or more of'Sources.gz', 'Sources.xz', 'Release'. If included, the 'Release' file is a legacyper-component-and-architecture Release file (with architecture always being 'source').Note: The verbatim publisher will republish all associated artifacts, while the APT publisher(both simple and structured mode) will generate any 'Sources' files it needs when creating thepublication. It does not make use of SourceIndex content.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ContentSourceIndicesAPIContentDebSourceIndicesListRequest
*/
func (a *ContentSourceIndicesAPIService) ContentDebSourceIndicesList(ctx context.Context) ContentSourceIndicesAPIContentDebSourceIndicesListRequest {
	return ContentSourceIndicesAPIContentDebSourceIndicesListRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return PaginateddebSourceIndexResponseList
func (a *ContentSourceIndicesAPIService) ContentDebSourceIndicesListExecute(r ContentSourceIndicesAPIContentDebSourceIndicesListRequest) (*PaginateddebSourceIndexResponseList, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PaginateddebSourceIndexResponseList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentSourceIndicesAPIService.ContentDebSourceIndicesList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v3/content/deb/source_indices/"
	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.component != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "component", r.component, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	}
	if r.ordering != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ordering", r.ordering, "form", "csv")
	}
	if r.orphanedFor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "orphaned_for", r.orphanedFor, "form", "")
	}
	if r.prnIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "prn__in", r.prnIn, "form", "csv")
	}
	if r.pulpHrefIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pulp_href__in", r.pulpHrefIn, "form", "csv")
	}
	if r.pulpIdIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pulp_id__in", r.pulpIdIn, "form", "csv")
	}
	if r.pulpLabelSelect != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pulp_label_select", r.pulpLabelSelect, "form", "")
	}
	if r.q != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "q", r.q, "form", "")
	}
	if r.relativePath != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "relative_path", r.relativePath, "form", "")
	}
	if r.repositoryVersion != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repository_version", r.repositoryVersion, "form", "")
	}
	if r.repositoryVersionAdded != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repository_version_added", r.repositoryVersionAdded, "form", "")
	}
	if r.repositoryVersionRemoved != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repository_version_removed", r.repositoryVersionRemoved, "form", "")
	}
	if r.sha256 != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sha256", r.sha256, "form", "")
	}
	if r.fields != nil {
		t := *r.fields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "fields", t, "form", "multi")
		}
	}
	if r.excludeFields != nil {
		t := *r.excludeFields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ContentSourceIndicesAPIContentDebSourceIndicesReadRequest struct {
	ctx context.Context
	ApiService *ContentSourceIndicesAPIService
	debSourceIndexHref string
	xTaskDiagnostics *[]string
	fields *[]string
	excludeFields *[]string
}

// List of profilers to use on tasks.
func (r ContentSourceIndicesAPIContentDebSourceIndicesReadRequest) XTaskDiagnostics(xTaskDiagnostics []string) ContentSourceIndicesAPIContentDebSourceIndicesReadRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

// A list of fields to include in the response.
func (r ContentSourceIndicesAPIContentDebSourceIndicesReadRequest) Fields(fields []string) ContentSourceIndicesAPIContentDebSourceIndicesReadRequest {
	r.fields = &fields
	return r
}

// A list of fields to exclude from the response.
func (r ContentSourceIndicesAPIContentDebSourceIndicesReadRequest) ExcludeFields(excludeFields []string) ContentSourceIndicesAPIContentDebSourceIndicesReadRequest {
	r.excludeFields = &excludeFields
	return r
}

func (r ContentSourceIndicesAPIContentDebSourceIndicesReadRequest) Execute() (*DebSourceIndexResponse, *http.Response, error) {
	return r.ApiService.ContentDebSourceIndicesReadExecute(r)
}

/*
ContentDebSourceIndicesRead Inspect a source index

A SourceIndex represents the source indices of a single component.Associated artifacts: Exactly one 'Sources' file. May optionally include one or more of'Sources.gz', 'Sources.xz', 'Release'. If included, the 'Release' file is a legacyper-component-and-architecture Release file (with architecture always being 'source').Note: The verbatim publisher will republish all associated artifacts, while the APT publisher(both simple and structured mode) will generate any 'Sources' files it needs when creating thepublication. It does not make use of SourceIndex content.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param debSourceIndexHref
 @return ContentSourceIndicesAPIContentDebSourceIndicesReadRequest
*/
func (a *ContentSourceIndicesAPIService) ContentDebSourceIndicesRead(ctx context.Context, debSourceIndexHref string) ContentSourceIndicesAPIContentDebSourceIndicesReadRequest {
	return ContentSourceIndicesAPIContentDebSourceIndicesReadRequest{
		ApiService: a,
		ctx: ctx,
		debSourceIndexHref: debSourceIndexHref,
	}
}

// Execute executes the request
//  @return DebSourceIndexResponse
func (a *ContentSourceIndicesAPIService) ContentDebSourceIndicesReadExecute(r ContentSourceIndicesAPIContentDebSourceIndicesReadRequest) (*DebSourceIndexResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *DebSourceIndexResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentSourceIndicesAPIService.ContentDebSourceIndicesRead")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{deb_source_index_href}"
	localVarPath = strings.Replace(localVarPath, "{"+"deb_source_index_href"+"}", url.PathEscape(parameterValueToString(r.debSourceIndexHref, "debSourceIndexHref")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.fields != nil {
		t := *r.fields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "fields", t, "form", "multi")
		}
	}
	if r.excludeFields != nil {
		t := *r.excludeFields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ContentSourceIndicesAPIContentDebSourceIndicesSetLabelRequest struct {
	ctx context.Context
	ApiService *ContentSourceIndicesAPIService
	debSourceIndexHref string
	setLabel *SetLabel
	xTaskDiagnostics *[]string
}

func (r ContentSourceIndicesAPIContentDebSourceIndicesSetLabelRequest) SetLabel(setLabel SetLabel) ContentSourceIndicesAPIContentDebSourceIndicesSetLabelRequest {
	r.setLabel = &setLabel
	return r
}

// List of profilers to use on tasks.
func (r ContentSourceIndicesAPIContentDebSourceIndicesSetLabelRequest) XTaskDiagnostics(xTaskDiagnostics []string) ContentSourceIndicesAPIContentDebSourceIndicesSetLabelRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

func (r ContentSourceIndicesAPIContentDebSourceIndicesSetLabelRequest) Execute() (*SetLabelResponse, *http.Response, error) {
	return r.ApiService.ContentDebSourceIndicesSetLabelExecute(r)
}

/*
ContentDebSourceIndicesSetLabel Set a label

Set a single pulp_label on the object to a specific value or null.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param debSourceIndexHref
 @return ContentSourceIndicesAPIContentDebSourceIndicesSetLabelRequest
*/
func (a *ContentSourceIndicesAPIService) ContentDebSourceIndicesSetLabel(ctx context.Context, debSourceIndexHref string) ContentSourceIndicesAPIContentDebSourceIndicesSetLabelRequest {
	return ContentSourceIndicesAPIContentDebSourceIndicesSetLabelRequest{
		ApiService: a,
		ctx: ctx,
		debSourceIndexHref: debSourceIndexHref,
	}
}

// Execute executes the request
//  @return SetLabelResponse
func (a *ContentSourceIndicesAPIService) ContentDebSourceIndicesSetLabelExecute(r ContentSourceIndicesAPIContentDebSourceIndicesSetLabelRequest) (*SetLabelResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SetLabelResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentSourceIndicesAPIService.ContentDebSourceIndicesSetLabel")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{deb_source_index_href}set_label/"
	localVarPath = strings.Replace(localVarPath, "{"+"deb_source_index_href"+"}", url.PathEscape(parameterValueToString(r.debSourceIndexHref, "debSourceIndexHref")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.setLabel == nil {
		return localVarReturnValue, nil, reportError("setLabel is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	// body params
	localVarPostBody = r.setLabel
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ContentSourceIndicesAPIContentDebSourceIndicesUnsetLabelRequest struct {
	ctx context.Context
	ApiService *ContentSourceIndicesAPIService
	debSourceIndexHref string
	unsetLabel *UnsetLabel
	xTaskDiagnostics *[]string
}

func (r ContentSourceIndicesAPIContentDebSourceIndicesUnsetLabelRequest) UnsetLabel(unsetLabel UnsetLabel) ContentSourceIndicesAPIContentDebSourceIndicesUnsetLabelRequest {
	r.unsetLabel = &unsetLabel
	return r
}

// List of profilers to use on tasks.
func (r ContentSourceIndicesAPIContentDebSourceIndicesUnsetLabelRequest) XTaskDiagnostics(xTaskDiagnostics []string) ContentSourceIndicesAPIContentDebSourceIndicesUnsetLabelRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

func (r ContentSourceIndicesAPIContentDebSourceIndicesUnsetLabelRequest) Execute() (*UnsetLabelResponse, *http.Response, error) {
	return r.ApiService.ContentDebSourceIndicesUnsetLabelExecute(r)
}

/*
ContentDebSourceIndicesUnsetLabel Unset a label

Unset a single pulp_label on the object.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param debSourceIndexHref
 @return ContentSourceIndicesAPIContentDebSourceIndicesUnsetLabelRequest
*/
func (a *ContentSourceIndicesAPIService) ContentDebSourceIndicesUnsetLabel(ctx context.Context, debSourceIndexHref string) ContentSourceIndicesAPIContentDebSourceIndicesUnsetLabelRequest {
	return ContentSourceIndicesAPIContentDebSourceIndicesUnsetLabelRequest{
		ApiService: a,
		ctx: ctx,
		debSourceIndexHref: debSourceIndexHref,
	}
}

// Execute executes the request
//  @return UnsetLabelResponse
func (a *ContentSourceIndicesAPIService) ContentDebSourceIndicesUnsetLabelExecute(r ContentSourceIndicesAPIContentDebSourceIndicesUnsetLabelRequest) (*UnsetLabelResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *UnsetLabelResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentSourceIndicesAPIService.ContentDebSourceIndicesUnsetLabel")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{deb_source_index_href}unset_label/"
	localVarPath = strings.Replace(localVarPath, "{"+"deb_source_index_href"+"}", url.PathEscape(parameterValueToString(r.debSourceIndexHref, "debSourceIndexHref")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.unsetLabel == nil {
		return localVarReturnValue, nil, reportError("unsetLabel is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	// body params
	localVarPostBody = r.unsetLabel
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
