/*
Pulp 3 API

Fetch, Upload, Organize, and Distribute Software Packages

API version: v3
Contact: pulp-list@redhat.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package pulpbindings

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"reflect"
)


// RepositoriesOstreeAPIService RepositoriesOstreeAPI service
type RepositoriesOstreeAPIService service

type RepositoriesOstreeAPIRepositoriesOstreeOstreeAddRoleRequest struct {
	ctx context.Context
	ApiService *RepositoriesOstreeAPIService
	ostreeOstreeRepositoryHref string
	nestedRole *NestedRole
	xTaskDiagnostics *[]string
}

func (r RepositoriesOstreeAPIRepositoriesOstreeOstreeAddRoleRequest) NestedRole(nestedRole NestedRole) RepositoriesOstreeAPIRepositoriesOstreeOstreeAddRoleRequest {
	r.nestedRole = &nestedRole
	return r
}

// List of profilers to use on tasks.
func (r RepositoriesOstreeAPIRepositoriesOstreeOstreeAddRoleRequest) XTaskDiagnostics(xTaskDiagnostics []string) RepositoriesOstreeAPIRepositoriesOstreeOstreeAddRoleRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

func (r RepositoriesOstreeAPIRepositoriesOstreeOstreeAddRoleRequest) Execute() (*NestedRoleResponse, *http.Response, error) {
	return r.ApiService.RepositoriesOstreeOstreeAddRoleExecute(r)
}

/*
RepositoriesOstreeOstreeAddRole Add a role

Add a role for this object to users/groups.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param ostreeOstreeRepositoryHref
 @return RepositoriesOstreeAPIRepositoriesOstreeOstreeAddRoleRequest
*/
func (a *RepositoriesOstreeAPIService) RepositoriesOstreeOstreeAddRole(ctx context.Context, ostreeOstreeRepositoryHref string) RepositoriesOstreeAPIRepositoriesOstreeOstreeAddRoleRequest {
	return RepositoriesOstreeAPIRepositoriesOstreeOstreeAddRoleRequest{
		ApiService: a,
		ctx: ctx,
		ostreeOstreeRepositoryHref: ostreeOstreeRepositoryHref,
	}
}

// Execute executes the request
//  @return NestedRoleResponse
func (a *RepositoriesOstreeAPIService) RepositoriesOstreeOstreeAddRoleExecute(r RepositoriesOstreeAPIRepositoriesOstreeOstreeAddRoleRequest) (*NestedRoleResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *NestedRoleResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RepositoriesOstreeAPIService.RepositoriesOstreeOstreeAddRole")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{ostree_ostree_repository_href}add_role/"
	localVarPath = strings.Replace(localVarPath, "{"+"ostree_ostree_repository_href"+"}", url.PathEscape(parameterValueToString(r.ostreeOstreeRepositoryHref, "ostreeOstreeRepositoryHref")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.nestedRole == nil {
		return localVarReturnValue, nil, reportError("nestedRole is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	// body params
	localVarPostBody = r.nestedRole
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type RepositoriesOstreeAPIRepositoriesOstreeOstreeCreateRequest struct {
	ctx context.Context
	ApiService *RepositoriesOstreeAPIService
	ostreeOstreeRepository *OstreeOstreeRepository
	xTaskDiagnostics *[]string
}

func (r RepositoriesOstreeAPIRepositoriesOstreeOstreeCreateRequest) OstreeOstreeRepository(ostreeOstreeRepository OstreeOstreeRepository) RepositoriesOstreeAPIRepositoriesOstreeOstreeCreateRequest {
	r.ostreeOstreeRepository = &ostreeOstreeRepository
	return r
}

// List of profilers to use on tasks.
func (r RepositoriesOstreeAPIRepositoriesOstreeOstreeCreateRequest) XTaskDiagnostics(xTaskDiagnostics []string) RepositoriesOstreeAPIRepositoriesOstreeOstreeCreateRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

func (r RepositoriesOstreeAPIRepositoriesOstreeOstreeCreateRequest) Execute() (*OstreeOstreeRepositoryResponse, *http.Response, error) {
	return r.ApiService.RepositoriesOstreeOstreeCreateExecute(r)
}

/*
RepositoriesOstreeOstreeCreate Create an ostree repository

A ViewSet class for OSTree repositories.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return RepositoriesOstreeAPIRepositoriesOstreeOstreeCreateRequest
*/
func (a *RepositoriesOstreeAPIService) RepositoriesOstreeOstreeCreate(ctx context.Context) RepositoriesOstreeAPIRepositoriesOstreeOstreeCreateRequest {
	return RepositoriesOstreeAPIRepositoriesOstreeOstreeCreateRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return OstreeOstreeRepositoryResponse
func (a *RepositoriesOstreeAPIService) RepositoriesOstreeOstreeCreateExecute(r RepositoriesOstreeAPIRepositoriesOstreeOstreeCreateRequest) (*OstreeOstreeRepositoryResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OstreeOstreeRepositoryResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RepositoriesOstreeAPIService.RepositoriesOstreeOstreeCreate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v3/repositories/ostree/ostree/"
	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.ostreeOstreeRepository == nil {
		return localVarReturnValue, nil, reportError("ostreeOstreeRepository is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	// body params
	localVarPostBody = r.ostreeOstreeRepository
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type RepositoriesOstreeAPIRepositoriesOstreeOstreeDeleteRequest struct {
	ctx context.Context
	ApiService *RepositoriesOstreeAPIService
	ostreeOstreeRepositoryHref string
	xTaskDiagnostics *[]string
}

// List of profilers to use on tasks.
func (r RepositoriesOstreeAPIRepositoriesOstreeOstreeDeleteRequest) XTaskDiagnostics(xTaskDiagnostics []string) RepositoriesOstreeAPIRepositoriesOstreeOstreeDeleteRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

func (r RepositoriesOstreeAPIRepositoriesOstreeOstreeDeleteRequest) Execute() (*AsyncOperationResponse, *http.Response, error) {
	return r.ApiService.RepositoriesOstreeOstreeDeleteExecute(r)
}

/*
RepositoriesOstreeOstreeDelete Delete an ostree repository

Trigger an asynchronous delete task

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param ostreeOstreeRepositoryHref
 @return RepositoriesOstreeAPIRepositoriesOstreeOstreeDeleteRequest
*/
func (a *RepositoriesOstreeAPIService) RepositoriesOstreeOstreeDelete(ctx context.Context, ostreeOstreeRepositoryHref string) RepositoriesOstreeAPIRepositoriesOstreeOstreeDeleteRequest {
	return RepositoriesOstreeAPIRepositoriesOstreeOstreeDeleteRequest{
		ApiService: a,
		ctx: ctx,
		ostreeOstreeRepositoryHref: ostreeOstreeRepositoryHref,
	}
}

// Execute executes the request
//  @return AsyncOperationResponse
func (a *RepositoriesOstreeAPIService) RepositoriesOstreeOstreeDeleteExecute(r RepositoriesOstreeAPIRepositoriesOstreeOstreeDeleteRequest) (*AsyncOperationResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AsyncOperationResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RepositoriesOstreeAPIService.RepositoriesOstreeOstreeDelete")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{ostree_ostree_repository_href}"
	localVarPath = strings.Replace(localVarPath, "{"+"ostree_ostree_repository_href"+"}", url.PathEscape(parameterValueToString(r.ostreeOstreeRepositoryHref, "ostreeOstreeRepositoryHref")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type RepositoriesOstreeAPIRepositoriesOstreeOstreeImportAllRequest struct {
	ctx context.Context
	ApiService *RepositoriesOstreeAPIService
	ostreeOstreeRepositoryHref string
	ostreeImportAll *OstreeImportAll
	xTaskDiagnostics *[]string
}

func (r RepositoriesOstreeAPIRepositoriesOstreeOstreeImportAllRequest) OstreeImportAll(ostreeImportAll OstreeImportAll) RepositoriesOstreeAPIRepositoriesOstreeOstreeImportAllRequest {
	r.ostreeImportAll = &ostreeImportAll
	return r
}

// List of profilers to use on tasks.
func (r RepositoriesOstreeAPIRepositoriesOstreeOstreeImportAllRequest) XTaskDiagnostics(xTaskDiagnostics []string) RepositoriesOstreeAPIRepositoriesOstreeOstreeImportAllRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

func (r RepositoriesOstreeAPIRepositoriesOstreeOstreeImportAllRequest) Execute() (*AsyncOperationResponse, *http.Response, error) {
	return r.ApiService.RepositoriesOstreeOstreeImportAllExecute(r)
}

/*
RepositoriesOstreeOstreeImportAll Import refs and commits to a repository

Trigger an asynchronous task to import all refs and commits to a repository.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param ostreeOstreeRepositoryHref
 @return RepositoriesOstreeAPIRepositoriesOstreeOstreeImportAllRequest
*/
func (a *RepositoriesOstreeAPIService) RepositoriesOstreeOstreeImportAll(ctx context.Context, ostreeOstreeRepositoryHref string) RepositoriesOstreeAPIRepositoriesOstreeOstreeImportAllRequest {
	return RepositoriesOstreeAPIRepositoriesOstreeOstreeImportAllRequest{
		ApiService: a,
		ctx: ctx,
		ostreeOstreeRepositoryHref: ostreeOstreeRepositoryHref,
	}
}

// Execute executes the request
//  @return AsyncOperationResponse
func (a *RepositoriesOstreeAPIService) RepositoriesOstreeOstreeImportAllExecute(r RepositoriesOstreeAPIRepositoriesOstreeOstreeImportAllRequest) (*AsyncOperationResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AsyncOperationResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RepositoriesOstreeAPIService.RepositoriesOstreeOstreeImportAll")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{ostree_ostree_repository_href}import_all/"
	localVarPath = strings.Replace(localVarPath, "{"+"ostree_ostree_repository_href"+"}", url.PathEscape(parameterValueToString(r.ostreeOstreeRepositoryHref, "ostreeOstreeRepositoryHref")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.ostreeImportAll == nil {
		return localVarReturnValue, nil, reportError("ostreeImportAll is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	// body params
	localVarPostBody = r.ostreeImportAll
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type RepositoriesOstreeAPIRepositoriesOstreeOstreeImportCommitsRequest struct {
	ctx context.Context
	ApiService *RepositoriesOstreeAPIService
	ostreeOstreeRepositoryHref string
	ostreeImportCommitsToRef *OstreeImportCommitsToRef
	xTaskDiagnostics *[]string
}

func (r RepositoriesOstreeAPIRepositoriesOstreeOstreeImportCommitsRequest) OstreeImportCommitsToRef(ostreeImportCommitsToRef OstreeImportCommitsToRef) RepositoriesOstreeAPIRepositoriesOstreeOstreeImportCommitsRequest {
	r.ostreeImportCommitsToRef = &ostreeImportCommitsToRef
	return r
}

// List of profilers to use on tasks.
func (r RepositoriesOstreeAPIRepositoriesOstreeOstreeImportCommitsRequest) XTaskDiagnostics(xTaskDiagnostics []string) RepositoriesOstreeAPIRepositoriesOstreeOstreeImportCommitsRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

func (r RepositoriesOstreeAPIRepositoriesOstreeOstreeImportCommitsRequest) Execute() (*AsyncOperationResponse, *http.Response, error) {
	return r.ApiService.RepositoriesOstreeOstreeImportCommitsExecute(r)
}

/*
RepositoriesOstreeOstreeImportCommits Append child commits to a repository

Trigger an asynchronous task to append child commits to a repository.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param ostreeOstreeRepositoryHref
 @return RepositoriesOstreeAPIRepositoriesOstreeOstreeImportCommitsRequest
*/
func (a *RepositoriesOstreeAPIService) RepositoriesOstreeOstreeImportCommits(ctx context.Context, ostreeOstreeRepositoryHref string) RepositoriesOstreeAPIRepositoriesOstreeOstreeImportCommitsRequest {
	return RepositoriesOstreeAPIRepositoriesOstreeOstreeImportCommitsRequest{
		ApiService: a,
		ctx: ctx,
		ostreeOstreeRepositoryHref: ostreeOstreeRepositoryHref,
	}
}

// Execute executes the request
//  @return AsyncOperationResponse
func (a *RepositoriesOstreeAPIService) RepositoriesOstreeOstreeImportCommitsExecute(r RepositoriesOstreeAPIRepositoriesOstreeOstreeImportCommitsRequest) (*AsyncOperationResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AsyncOperationResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RepositoriesOstreeAPIService.RepositoriesOstreeOstreeImportCommits")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{ostree_ostree_repository_href}import_commits/"
	localVarPath = strings.Replace(localVarPath, "{"+"ostree_ostree_repository_href"+"}", url.PathEscape(parameterValueToString(r.ostreeOstreeRepositoryHref, "ostreeOstreeRepositoryHref")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.ostreeImportCommitsToRef == nil {
		return localVarReturnValue, nil, reportError("ostreeImportCommitsToRef is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	// body params
	localVarPostBody = r.ostreeImportCommitsToRef
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type RepositoriesOstreeAPIRepositoriesOstreeOstreeListRequest struct {
	ctx context.Context
	ApiService *RepositoriesOstreeAPIService
	xTaskDiagnostics *[]string
	latestWithContent *string
	limit *int32
	name *string
	nameContains *string
	nameIcontains *string
	nameIexact *string
	nameIn *[]string
	nameIregex *string
	nameIstartswith *string
	nameRegex *string
	nameStartswith *string
	offset *int32
	ordering *[]string
	prnIn *[]string
	pulpHrefIn *[]string
	pulpIdIn *[]string
	pulpLabelSelect *string
	q *string
	remote *string
	retainRepoVersions *int32
	retainRepoVersionsGt *int32
	retainRepoVersionsGte *int32
	retainRepoVersionsIsnull *bool
	retainRepoVersionsLt *int32
	retainRepoVersionsLte *int32
	retainRepoVersionsNe *int32
	retainRepoVersionsRange *[]int32
	withContent *string
	fields *[]string
	excludeFields *[]string
}

// List of profilers to use on tasks.
func (r RepositoriesOstreeAPIRepositoriesOstreeOstreeListRequest) XTaskDiagnostics(xTaskDiagnostics []string) RepositoriesOstreeAPIRepositoriesOstreeOstreeListRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

// Content Unit referenced by HREF/PRN
func (r RepositoriesOstreeAPIRepositoriesOstreeOstreeListRequest) LatestWithContent(latestWithContent string) RepositoriesOstreeAPIRepositoriesOstreeOstreeListRequest {
	r.latestWithContent = &latestWithContent
	return r
}

// Number of results to return per page.
func (r RepositoriesOstreeAPIRepositoriesOstreeOstreeListRequest) Limit(limit int32) RepositoriesOstreeAPIRepositoriesOstreeOstreeListRequest {
	r.limit = &limit
	return r
}

// Filter results where name matches value
func (r RepositoriesOstreeAPIRepositoriesOstreeOstreeListRequest) Name(name string) RepositoriesOstreeAPIRepositoriesOstreeOstreeListRequest {
	r.name = &name
	return r
}

// Filter results where name contains value
func (r RepositoriesOstreeAPIRepositoriesOstreeOstreeListRequest) NameContains(nameContains string) RepositoriesOstreeAPIRepositoriesOstreeOstreeListRequest {
	r.nameContains = &nameContains
	return r
}

// Filter results where name contains value
func (r RepositoriesOstreeAPIRepositoriesOstreeOstreeListRequest) NameIcontains(nameIcontains string) RepositoriesOstreeAPIRepositoriesOstreeOstreeListRequest {
	r.nameIcontains = &nameIcontains
	return r
}

// Filter results where name matches value
func (r RepositoriesOstreeAPIRepositoriesOstreeOstreeListRequest) NameIexact(nameIexact string) RepositoriesOstreeAPIRepositoriesOstreeOstreeListRequest {
	r.nameIexact = &nameIexact
	return r
}

// Filter results where name is in a comma-separated list of values
func (r RepositoriesOstreeAPIRepositoriesOstreeOstreeListRequest) NameIn(nameIn []string) RepositoriesOstreeAPIRepositoriesOstreeOstreeListRequest {
	r.nameIn = &nameIn
	return r
}

// Filter results where name matches regex value
func (r RepositoriesOstreeAPIRepositoriesOstreeOstreeListRequest) NameIregex(nameIregex string) RepositoriesOstreeAPIRepositoriesOstreeOstreeListRequest {
	r.nameIregex = &nameIregex
	return r
}

// Filter results where name starts with value
func (r RepositoriesOstreeAPIRepositoriesOstreeOstreeListRequest) NameIstartswith(nameIstartswith string) RepositoriesOstreeAPIRepositoriesOstreeOstreeListRequest {
	r.nameIstartswith = &nameIstartswith
	return r
}

// Filter results where name matches regex value
func (r RepositoriesOstreeAPIRepositoriesOstreeOstreeListRequest) NameRegex(nameRegex string) RepositoriesOstreeAPIRepositoriesOstreeOstreeListRequest {
	r.nameRegex = &nameRegex
	return r
}

// Filter results where name starts with value
func (r RepositoriesOstreeAPIRepositoriesOstreeOstreeListRequest) NameStartswith(nameStartswith string) RepositoriesOstreeAPIRepositoriesOstreeOstreeListRequest {
	r.nameStartswith = &nameStartswith
	return r
}

// The initial index from which to return the results.
func (r RepositoriesOstreeAPIRepositoriesOstreeOstreeListRequest) Offset(offset int32) RepositoriesOstreeAPIRepositoriesOstreeOstreeListRequest {
	r.offset = &offset
	return r
}

// Ordering* &#x60;pulp_id&#x60; - Pulp id* &#x60;-pulp_id&#x60; - Pulp id (descending)* &#x60;pulp_created&#x60; - Pulp created* &#x60;-pulp_created&#x60; - Pulp created (descending)* &#x60;pulp_last_updated&#x60; - Pulp last updated* &#x60;-pulp_last_updated&#x60; - Pulp last updated (descending)* &#x60;pulp_type&#x60; - Pulp type* &#x60;-pulp_type&#x60; - Pulp type (descending)* &#x60;name&#x60; - Name* &#x60;-name&#x60; - Name (descending)* &#x60;pulp_labels&#x60; - Pulp labels* &#x60;-pulp_labels&#x60; - Pulp labels (descending)* &#x60;description&#x60; - Description* &#x60;-description&#x60; - Description (descending)* &#x60;next_version&#x60; - Next version* &#x60;-next_version&#x60; - Next version (descending)* &#x60;retain_repo_versions&#x60; - Retain repo versions* &#x60;-retain_repo_versions&#x60; - Retain repo versions (descending)* &#x60;user_hidden&#x60; - User hidden* &#x60;-user_hidden&#x60; - User hidden (descending)* &#x60;pk&#x60; - Pk* &#x60;-pk&#x60; - Pk (descending)
func (r RepositoriesOstreeAPIRepositoriesOstreeOstreeListRequest) Ordering(ordering []string) RepositoriesOstreeAPIRepositoriesOstreeOstreeListRequest {
	r.ordering = &ordering
	return r
}

// Multiple values may be separated by commas.
func (r RepositoriesOstreeAPIRepositoriesOstreeOstreeListRequest) PrnIn(prnIn []string) RepositoriesOstreeAPIRepositoriesOstreeOstreeListRequest {
	r.prnIn = &prnIn
	return r
}

// Multiple values may be separated by commas.
func (r RepositoriesOstreeAPIRepositoriesOstreeOstreeListRequest) PulpHrefIn(pulpHrefIn []string) RepositoriesOstreeAPIRepositoriesOstreeOstreeListRequest {
	r.pulpHrefIn = &pulpHrefIn
	return r
}

// Multiple values may be separated by commas.
func (r RepositoriesOstreeAPIRepositoriesOstreeOstreeListRequest) PulpIdIn(pulpIdIn []string) RepositoriesOstreeAPIRepositoriesOstreeOstreeListRequest {
	r.pulpIdIn = &pulpIdIn
	return r
}

// Filter labels by search string
func (r RepositoriesOstreeAPIRepositoriesOstreeOstreeListRequest) PulpLabelSelect(pulpLabelSelect string) RepositoriesOstreeAPIRepositoriesOstreeOstreeListRequest {
	r.pulpLabelSelect = &pulpLabelSelect
	return r
}

// Filter results by using NOT, AND and OR operations on other filters
func (r RepositoriesOstreeAPIRepositoriesOstreeOstreeListRequest) Q(q string) RepositoriesOstreeAPIRepositoriesOstreeOstreeListRequest {
	r.q = &q
	return r
}

// Foreign Key referenced by HREF
func (r RepositoriesOstreeAPIRepositoriesOstreeOstreeListRequest) Remote(remote string) RepositoriesOstreeAPIRepositoriesOstreeOstreeListRequest {
	r.remote = &remote
	return r
}

// Filter results where retain_repo_versions matches value
func (r RepositoriesOstreeAPIRepositoriesOstreeOstreeListRequest) RetainRepoVersions(retainRepoVersions int32) RepositoriesOstreeAPIRepositoriesOstreeOstreeListRequest {
	r.retainRepoVersions = &retainRepoVersions
	return r
}

// Filter results where retain_repo_versions is greater than value
func (r RepositoriesOstreeAPIRepositoriesOstreeOstreeListRequest) RetainRepoVersionsGt(retainRepoVersionsGt int32) RepositoriesOstreeAPIRepositoriesOstreeOstreeListRequest {
	r.retainRepoVersionsGt = &retainRepoVersionsGt
	return r
}

// Filter results where retain_repo_versions is greater than or equal to value
func (r RepositoriesOstreeAPIRepositoriesOstreeOstreeListRequest) RetainRepoVersionsGte(retainRepoVersionsGte int32) RepositoriesOstreeAPIRepositoriesOstreeOstreeListRequest {
	r.retainRepoVersionsGte = &retainRepoVersionsGte
	return r
}

// Filter results where retain_repo_versions has a null value
func (r RepositoriesOstreeAPIRepositoriesOstreeOstreeListRequest) RetainRepoVersionsIsnull(retainRepoVersionsIsnull bool) RepositoriesOstreeAPIRepositoriesOstreeOstreeListRequest {
	r.retainRepoVersionsIsnull = &retainRepoVersionsIsnull
	return r
}

// Filter results where retain_repo_versions is less than value
func (r RepositoriesOstreeAPIRepositoriesOstreeOstreeListRequest) RetainRepoVersionsLt(retainRepoVersionsLt int32) RepositoriesOstreeAPIRepositoriesOstreeOstreeListRequest {
	r.retainRepoVersionsLt = &retainRepoVersionsLt
	return r
}

// Filter results where retain_repo_versions is less than or equal to value
func (r RepositoriesOstreeAPIRepositoriesOstreeOstreeListRequest) RetainRepoVersionsLte(retainRepoVersionsLte int32) RepositoriesOstreeAPIRepositoriesOstreeOstreeListRequest {
	r.retainRepoVersionsLte = &retainRepoVersionsLte
	return r
}

// Filter results where retain_repo_versions not equal to value
func (r RepositoriesOstreeAPIRepositoriesOstreeOstreeListRequest) RetainRepoVersionsNe(retainRepoVersionsNe int32) RepositoriesOstreeAPIRepositoriesOstreeOstreeListRequest {
	r.retainRepoVersionsNe = &retainRepoVersionsNe
	return r
}

// Filter results where retain_repo_versions is between two comma separated values
func (r RepositoriesOstreeAPIRepositoriesOstreeOstreeListRequest) RetainRepoVersionsRange(retainRepoVersionsRange []int32) RepositoriesOstreeAPIRepositoriesOstreeOstreeListRequest {
	r.retainRepoVersionsRange = &retainRepoVersionsRange
	return r
}

// Content Unit referenced by HREF/PRN
func (r RepositoriesOstreeAPIRepositoriesOstreeOstreeListRequest) WithContent(withContent string) RepositoriesOstreeAPIRepositoriesOstreeOstreeListRequest {
	r.withContent = &withContent
	return r
}

// A list of fields to include in the response.
func (r RepositoriesOstreeAPIRepositoriesOstreeOstreeListRequest) Fields(fields []string) RepositoriesOstreeAPIRepositoriesOstreeOstreeListRequest {
	r.fields = &fields
	return r
}

// A list of fields to exclude from the response.
func (r RepositoriesOstreeAPIRepositoriesOstreeOstreeListRequest) ExcludeFields(excludeFields []string) RepositoriesOstreeAPIRepositoriesOstreeOstreeListRequest {
	r.excludeFields = &excludeFields
	return r
}

func (r RepositoriesOstreeAPIRepositoriesOstreeOstreeListRequest) Execute() (*PaginatedostreeOstreeRepositoryResponseList, *http.Response, error) {
	return r.ApiService.RepositoriesOstreeOstreeListExecute(r)
}

/*
RepositoriesOstreeOstreeList List ostree repositorys

A ViewSet class for OSTree repositories.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return RepositoriesOstreeAPIRepositoriesOstreeOstreeListRequest
*/
func (a *RepositoriesOstreeAPIService) RepositoriesOstreeOstreeList(ctx context.Context) RepositoriesOstreeAPIRepositoriesOstreeOstreeListRequest {
	return RepositoriesOstreeAPIRepositoriesOstreeOstreeListRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return PaginatedostreeOstreeRepositoryResponseList
func (a *RepositoriesOstreeAPIService) RepositoriesOstreeOstreeListExecute(r RepositoriesOstreeAPIRepositoriesOstreeOstreeListRequest) (*PaginatedostreeOstreeRepositoryResponseList, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PaginatedostreeOstreeRepositoryResponseList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RepositoriesOstreeAPIService.RepositoriesOstreeOstreeList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v3/repositories/ostree/ostree/"
	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.latestWithContent != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "latest_with_content", r.latestWithContent, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.name != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "form", "")
	}
	if r.nameContains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name__contains", r.nameContains, "form", "")
	}
	if r.nameIcontains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name__icontains", r.nameIcontains, "form", "")
	}
	if r.nameIexact != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name__iexact", r.nameIexact, "form", "")
	}
	if r.nameIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name__in", r.nameIn, "form", "csv")
	}
	if r.nameIregex != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name__iregex", r.nameIregex, "form", "")
	}
	if r.nameIstartswith != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name__istartswith", r.nameIstartswith, "form", "")
	}
	if r.nameRegex != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name__regex", r.nameRegex, "form", "")
	}
	if r.nameStartswith != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name__startswith", r.nameStartswith, "form", "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	}
	if r.ordering != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ordering", r.ordering, "form", "csv")
	}
	if r.prnIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "prn__in", r.prnIn, "form", "csv")
	}
	if r.pulpHrefIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pulp_href__in", r.pulpHrefIn, "form", "csv")
	}
	if r.pulpIdIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pulp_id__in", r.pulpIdIn, "form", "csv")
	}
	if r.pulpLabelSelect != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pulp_label_select", r.pulpLabelSelect, "form", "")
	}
	if r.q != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "q", r.q, "form", "")
	}
	if r.remote != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "remote", r.remote, "form", "")
	}
	if r.retainRepoVersions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "retain_repo_versions", r.retainRepoVersions, "form", "")
	}
	if r.retainRepoVersionsGt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "retain_repo_versions__gt", r.retainRepoVersionsGt, "form", "")
	}
	if r.retainRepoVersionsGte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "retain_repo_versions__gte", r.retainRepoVersionsGte, "form", "")
	}
	if r.retainRepoVersionsIsnull != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "retain_repo_versions__isnull", r.retainRepoVersionsIsnull, "form", "")
	}
	if r.retainRepoVersionsLt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "retain_repo_versions__lt", r.retainRepoVersionsLt, "form", "")
	}
	if r.retainRepoVersionsLte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "retain_repo_versions__lte", r.retainRepoVersionsLte, "form", "")
	}
	if r.retainRepoVersionsNe != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "retain_repo_versions__ne", r.retainRepoVersionsNe, "form", "")
	}
	if r.retainRepoVersionsRange != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "retain_repo_versions__range", r.retainRepoVersionsRange, "form", "csv")
	}
	if r.withContent != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "with_content", r.withContent, "form", "")
	}
	if r.fields != nil {
		t := *r.fields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "fields", t, "form", "multi")
		}
	}
	if r.excludeFields != nil {
		t := *r.excludeFields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type RepositoriesOstreeAPIRepositoriesOstreeOstreeListRolesRequest struct {
	ctx context.Context
	ApiService *RepositoriesOstreeAPIService
	ostreeOstreeRepositoryHref string
	xTaskDiagnostics *[]string
	fields *[]string
	excludeFields *[]string
}

// List of profilers to use on tasks.
func (r RepositoriesOstreeAPIRepositoriesOstreeOstreeListRolesRequest) XTaskDiagnostics(xTaskDiagnostics []string) RepositoriesOstreeAPIRepositoriesOstreeOstreeListRolesRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

// A list of fields to include in the response.
func (r RepositoriesOstreeAPIRepositoriesOstreeOstreeListRolesRequest) Fields(fields []string) RepositoriesOstreeAPIRepositoriesOstreeOstreeListRolesRequest {
	r.fields = &fields
	return r
}

// A list of fields to exclude from the response.
func (r RepositoriesOstreeAPIRepositoriesOstreeOstreeListRolesRequest) ExcludeFields(excludeFields []string) RepositoriesOstreeAPIRepositoriesOstreeOstreeListRolesRequest {
	r.excludeFields = &excludeFields
	return r
}

func (r RepositoriesOstreeAPIRepositoriesOstreeOstreeListRolesRequest) Execute() (*ObjectRolesResponse, *http.Response, error) {
	return r.ApiService.RepositoriesOstreeOstreeListRolesExecute(r)
}

/*
RepositoriesOstreeOstreeListRoles List roles

List roles assigned to this object.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param ostreeOstreeRepositoryHref
 @return RepositoriesOstreeAPIRepositoriesOstreeOstreeListRolesRequest
*/
func (a *RepositoriesOstreeAPIService) RepositoriesOstreeOstreeListRoles(ctx context.Context, ostreeOstreeRepositoryHref string) RepositoriesOstreeAPIRepositoriesOstreeOstreeListRolesRequest {
	return RepositoriesOstreeAPIRepositoriesOstreeOstreeListRolesRequest{
		ApiService: a,
		ctx: ctx,
		ostreeOstreeRepositoryHref: ostreeOstreeRepositoryHref,
	}
}

// Execute executes the request
//  @return ObjectRolesResponse
func (a *RepositoriesOstreeAPIService) RepositoriesOstreeOstreeListRolesExecute(r RepositoriesOstreeAPIRepositoriesOstreeOstreeListRolesRequest) (*ObjectRolesResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ObjectRolesResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RepositoriesOstreeAPIService.RepositoriesOstreeOstreeListRoles")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{ostree_ostree_repository_href}list_roles/"
	localVarPath = strings.Replace(localVarPath, "{"+"ostree_ostree_repository_href"+"}", url.PathEscape(parameterValueToString(r.ostreeOstreeRepositoryHref, "ostreeOstreeRepositoryHref")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.fields != nil {
		t := *r.fields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "fields", t, "form", "multi")
		}
	}
	if r.excludeFields != nil {
		t := *r.excludeFields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type RepositoriesOstreeAPIRepositoriesOstreeOstreeModifyRequest struct {
	ctx context.Context
	ApiService *RepositoriesOstreeAPIService
	ostreeOstreeRepositoryHref string
	repositoryAddRemoveContent *RepositoryAddRemoveContent
	xTaskDiagnostics *[]string
}

func (r RepositoriesOstreeAPIRepositoriesOstreeOstreeModifyRequest) RepositoryAddRemoveContent(repositoryAddRemoveContent RepositoryAddRemoveContent) RepositoriesOstreeAPIRepositoriesOstreeOstreeModifyRequest {
	r.repositoryAddRemoveContent = &repositoryAddRemoveContent
	return r
}

// List of profilers to use on tasks.
func (r RepositoriesOstreeAPIRepositoriesOstreeOstreeModifyRequest) XTaskDiagnostics(xTaskDiagnostics []string) RepositoriesOstreeAPIRepositoriesOstreeOstreeModifyRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

func (r RepositoriesOstreeAPIRepositoriesOstreeOstreeModifyRequest) Execute() (*AsyncOperationResponse, *http.Response, error) {
	return r.ApiService.RepositoriesOstreeOstreeModifyExecute(r)
}

/*
RepositoriesOstreeOstreeModify Modify repository

Trigger an asynchronous task to modify content.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param ostreeOstreeRepositoryHref
 @return RepositoriesOstreeAPIRepositoriesOstreeOstreeModifyRequest
*/
func (a *RepositoriesOstreeAPIService) RepositoriesOstreeOstreeModify(ctx context.Context, ostreeOstreeRepositoryHref string) RepositoriesOstreeAPIRepositoriesOstreeOstreeModifyRequest {
	return RepositoriesOstreeAPIRepositoriesOstreeOstreeModifyRequest{
		ApiService: a,
		ctx: ctx,
		ostreeOstreeRepositoryHref: ostreeOstreeRepositoryHref,
	}
}

// Execute executes the request
//  @return AsyncOperationResponse
func (a *RepositoriesOstreeAPIService) RepositoriesOstreeOstreeModifyExecute(r RepositoriesOstreeAPIRepositoriesOstreeOstreeModifyRequest) (*AsyncOperationResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AsyncOperationResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RepositoriesOstreeAPIService.RepositoriesOstreeOstreeModify")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{ostree_ostree_repository_href}modify/"
	localVarPath = strings.Replace(localVarPath, "{"+"ostree_ostree_repository_href"+"}", url.PathEscape(parameterValueToString(r.ostreeOstreeRepositoryHref, "ostreeOstreeRepositoryHref")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.repositoryAddRemoveContent == nil {
		return localVarReturnValue, nil, reportError("repositoryAddRemoveContent is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	// body params
	localVarPostBody = r.repositoryAddRemoveContent
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type RepositoriesOstreeAPIRepositoriesOstreeOstreeMyPermissionsRequest struct {
	ctx context.Context
	ApiService *RepositoriesOstreeAPIService
	ostreeOstreeRepositoryHref string
	xTaskDiagnostics *[]string
	fields *[]string
	excludeFields *[]string
}

// List of profilers to use on tasks.
func (r RepositoriesOstreeAPIRepositoriesOstreeOstreeMyPermissionsRequest) XTaskDiagnostics(xTaskDiagnostics []string) RepositoriesOstreeAPIRepositoriesOstreeOstreeMyPermissionsRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

// A list of fields to include in the response.
func (r RepositoriesOstreeAPIRepositoriesOstreeOstreeMyPermissionsRequest) Fields(fields []string) RepositoriesOstreeAPIRepositoriesOstreeOstreeMyPermissionsRequest {
	r.fields = &fields
	return r
}

// A list of fields to exclude from the response.
func (r RepositoriesOstreeAPIRepositoriesOstreeOstreeMyPermissionsRequest) ExcludeFields(excludeFields []string) RepositoriesOstreeAPIRepositoriesOstreeOstreeMyPermissionsRequest {
	r.excludeFields = &excludeFields
	return r
}

func (r RepositoriesOstreeAPIRepositoriesOstreeOstreeMyPermissionsRequest) Execute() (*MyPermissionsResponse, *http.Response, error) {
	return r.ApiService.RepositoriesOstreeOstreeMyPermissionsExecute(r)
}

/*
RepositoriesOstreeOstreeMyPermissions List user permissions

List permissions available to the current user on this object.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param ostreeOstreeRepositoryHref
 @return RepositoriesOstreeAPIRepositoriesOstreeOstreeMyPermissionsRequest
*/
func (a *RepositoriesOstreeAPIService) RepositoriesOstreeOstreeMyPermissions(ctx context.Context, ostreeOstreeRepositoryHref string) RepositoriesOstreeAPIRepositoriesOstreeOstreeMyPermissionsRequest {
	return RepositoriesOstreeAPIRepositoriesOstreeOstreeMyPermissionsRequest{
		ApiService: a,
		ctx: ctx,
		ostreeOstreeRepositoryHref: ostreeOstreeRepositoryHref,
	}
}

// Execute executes the request
//  @return MyPermissionsResponse
func (a *RepositoriesOstreeAPIService) RepositoriesOstreeOstreeMyPermissionsExecute(r RepositoriesOstreeAPIRepositoriesOstreeOstreeMyPermissionsRequest) (*MyPermissionsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *MyPermissionsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RepositoriesOstreeAPIService.RepositoriesOstreeOstreeMyPermissions")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{ostree_ostree_repository_href}my_permissions/"
	localVarPath = strings.Replace(localVarPath, "{"+"ostree_ostree_repository_href"+"}", url.PathEscape(parameterValueToString(r.ostreeOstreeRepositoryHref, "ostreeOstreeRepositoryHref")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.fields != nil {
		t := *r.fields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "fields", t, "form", "multi")
		}
	}
	if r.excludeFields != nil {
		t := *r.excludeFields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type RepositoriesOstreeAPIRepositoriesOstreeOstreePartialUpdateRequest struct {
	ctx context.Context
	ApiService *RepositoriesOstreeAPIService
	ostreeOstreeRepositoryHref string
	patchedostreeOstreeRepository *PatchedostreeOstreeRepository
	xTaskDiagnostics *[]string
}

func (r RepositoriesOstreeAPIRepositoriesOstreeOstreePartialUpdateRequest) PatchedostreeOstreeRepository(patchedostreeOstreeRepository PatchedostreeOstreeRepository) RepositoriesOstreeAPIRepositoriesOstreeOstreePartialUpdateRequest {
	r.patchedostreeOstreeRepository = &patchedostreeOstreeRepository
	return r
}

// List of profilers to use on tasks.
func (r RepositoriesOstreeAPIRepositoriesOstreeOstreePartialUpdateRequest) XTaskDiagnostics(xTaskDiagnostics []string) RepositoriesOstreeAPIRepositoriesOstreeOstreePartialUpdateRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

func (r RepositoriesOstreeAPIRepositoriesOstreeOstreePartialUpdateRequest) Execute() (*OstreeOstreeRepositoryResponse, *http.Response, error) {
	return r.ApiService.RepositoriesOstreeOstreePartialUpdateExecute(r)
}

/*
RepositoriesOstreeOstreePartialUpdate Update an ostree repository

Update the entity partially and trigger an asynchronous task if necessary

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param ostreeOstreeRepositoryHref
 @return RepositoriesOstreeAPIRepositoriesOstreeOstreePartialUpdateRequest
*/
func (a *RepositoriesOstreeAPIService) RepositoriesOstreeOstreePartialUpdate(ctx context.Context, ostreeOstreeRepositoryHref string) RepositoriesOstreeAPIRepositoriesOstreeOstreePartialUpdateRequest {
	return RepositoriesOstreeAPIRepositoriesOstreeOstreePartialUpdateRequest{
		ApiService: a,
		ctx: ctx,
		ostreeOstreeRepositoryHref: ostreeOstreeRepositoryHref,
	}
}

// Execute executes the request
//  @return OstreeOstreeRepositoryResponse
func (a *RepositoriesOstreeAPIService) RepositoriesOstreeOstreePartialUpdateExecute(r RepositoriesOstreeAPIRepositoriesOstreeOstreePartialUpdateRequest) (*OstreeOstreeRepositoryResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OstreeOstreeRepositoryResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RepositoriesOstreeAPIService.RepositoriesOstreeOstreePartialUpdate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{ostree_ostree_repository_href}"
	localVarPath = strings.Replace(localVarPath, "{"+"ostree_ostree_repository_href"+"}", url.PathEscape(parameterValueToString(r.ostreeOstreeRepositoryHref, "ostreeOstreeRepositoryHref")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.patchedostreeOstreeRepository == nil {
		return localVarReturnValue, nil, reportError("patchedostreeOstreeRepository is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	// body params
	localVarPostBody = r.patchedostreeOstreeRepository
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type RepositoriesOstreeAPIRepositoriesOstreeOstreeReadRequest struct {
	ctx context.Context
	ApiService *RepositoriesOstreeAPIService
	ostreeOstreeRepositoryHref string
	xTaskDiagnostics *[]string
	fields *[]string
	excludeFields *[]string
}

// List of profilers to use on tasks.
func (r RepositoriesOstreeAPIRepositoriesOstreeOstreeReadRequest) XTaskDiagnostics(xTaskDiagnostics []string) RepositoriesOstreeAPIRepositoriesOstreeOstreeReadRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

// A list of fields to include in the response.
func (r RepositoriesOstreeAPIRepositoriesOstreeOstreeReadRequest) Fields(fields []string) RepositoriesOstreeAPIRepositoriesOstreeOstreeReadRequest {
	r.fields = &fields
	return r
}

// A list of fields to exclude from the response.
func (r RepositoriesOstreeAPIRepositoriesOstreeOstreeReadRequest) ExcludeFields(excludeFields []string) RepositoriesOstreeAPIRepositoriesOstreeOstreeReadRequest {
	r.excludeFields = &excludeFields
	return r
}

func (r RepositoriesOstreeAPIRepositoriesOstreeOstreeReadRequest) Execute() (*OstreeOstreeRepositoryResponse, *http.Response, error) {
	return r.ApiService.RepositoriesOstreeOstreeReadExecute(r)
}

/*
RepositoriesOstreeOstreeRead Inspect an ostree repository

A ViewSet class for OSTree repositories.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param ostreeOstreeRepositoryHref
 @return RepositoriesOstreeAPIRepositoriesOstreeOstreeReadRequest
*/
func (a *RepositoriesOstreeAPIService) RepositoriesOstreeOstreeRead(ctx context.Context, ostreeOstreeRepositoryHref string) RepositoriesOstreeAPIRepositoriesOstreeOstreeReadRequest {
	return RepositoriesOstreeAPIRepositoriesOstreeOstreeReadRequest{
		ApiService: a,
		ctx: ctx,
		ostreeOstreeRepositoryHref: ostreeOstreeRepositoryHref,
	}
}

// Execute executes the request
//  @return OstreeOstreeRepositoryResponse
func (a *RepositoriesOstreeAPIService) RepositoriesOstreeOstreeReadExecute(r RepositoriesOstreeAPIRepositoriesOstreeOstreeReadRequest) (*OstreeOstreeRepositoryResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OstreeOstreeRepositoryResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RepositoriesOstreeAPIService.RepositoriesOstreeOstreeRead")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{ostree_ostree_repository_href}"
	localVarPath = strings.Replace(localVarPath, "{"+"ostree_ostree_repository_href"+"}", url.PathEscape(parameterValueToString(r.ostreeOstreeRepositoryHref, "ostreeOstreeRepositoryHref")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.fields != nil {
		t := *r.fields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "fields", t, "form", "multi")
		}
	}
	if r.excludeFields != nil {
		t := *r.excludeFields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type RepositoriesOstreeAPIRepositoriesOstreeOstreeRemoveRoleRequest struct {
	ctx context.Context
	ApiService *RepositoriesOstreeAPIService
	ostreeOstreeRepositoryHref string
	nestedRole *NestedRole
	xTaskDiagnostics *[]string
}

func (r RepositoriesOstreeAPIRepositoriesOstreeOstreeRemoveRoleRequest) NestedRole(nestedRole NestedRole) RepositoriesOstreeAPIRepositoriesOstreeOstreeRemoveRoleRequest {
	r.nestedRole = &nestedRole
	return r
}

// List of profilers to use on tasks.
func (r RepositoriesOstreeAPIRepositoriesOstreeOstreeRemoveRoleRequest) XTaskDiagnostics(xTaskDiagnostics []string) RepositoriesOstreeAPIRepositoriesOstreeOstreeRemoveRoleRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

func (r RepositoriesOstreeAPIRepositoriesOstreeOstreeRemoveRoleRequest) Execute() (*NestedRoleResponse, *http.Response, error) {
	return r.ApiService.RepositoriesOstreeOstreeRemoveRoleExecute(r)
}

/*
RepositoriesOstreeOstreeRemoveRole Remove a role

Remove a role for this object from users/groups.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param ostreeOstreeRepositoryHref
 @return RepositoriesOstreeAPIRepositoriesOstreeOstreeRemoveRoleRequest
*/
func (a *RepositoriesOstreeAPIService) RepositoriesOstreeOstreeRemoveRole(ctx context.Context, ostreeOstreeRepositoryHref string) RepositoriesOstreeAPIRepositoriesOstreeOstreeRemoveRoleRequest {
	return RepositoriesOstreeAPIRepositoriesOstreeOstreeRemoveRoleRequest{
		ApiService: a,
		ctx: ctx,
		ostreeOstreeRepositoryHref: ostreeOstreeRepositoryHref,
	}
}

// Execute executes the request
//  @return NestedRoleResponse
func (a *RepositoriesOstreeAPIService) RepositoriesOstreeOstreeRemoveRoleExecute(r RepositoriesOstreeAPIRepositoriesOstreeOstreeRemoveRoleRequest) (*NestedRoleResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *NestedRoleResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RepositoriesOstreeAPIService.RepositoriesOstreeOstreeRemoveRole")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{ostree_ostree_repository_href}remove_role/"
	localVarPath = strings.Replace(localVarPath, "{"+"ostree_ostree_repository_href"+"}", url.PathEscape(parameterValueToString(r.ostreeOstreeRepositoryHref, "ostreeOstreeRepositoryHref")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.nestedRole == nil {
		return localVarReturnValue, nil, reportError("nestedRole is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	// body params
	localVarPostBody = r.nestedRole
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type RepositoriesOstreeAPIRepositoriesOstreeOstreeSetLabelRequest struct {
	ctx context.Context
	ApiService *RepositoriesOstreeAPIService
	ostreeOstreeRepositoryHref string
	setLabel *SetLabel
	xTaskDiagnostics *[]string
}

func (r RepositoriesOstreeAPIRepositoriesOstreeOstreeSetLabelRequest) SetLabel(setLabel SetLabel) RepositoriesOstreeAPIRepositoriesOstreeOstreeSetLabelRequest {
	r.setLabel = &setLabel
	return r
}

// List of profilers to use on tasks.
func (r RepositoriesOstreeAPIRepositoriesOstreeOstreeSetLabelRequest) XTaskDiagnostics(xTaskDiagnostics []string) RepositoriesOstreeAPIRepositoriesOstreeOstreeSetLabelRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

func (r RepositoriesOstreeAPIRepositoriesOstreeOstreeSetLabelRequest) Execute() (*SetLabelResponse, *http.Response, error) {
	return r.ApiService.RepositoriesOstreeOstreeSetLabelExecute(r)
}

/*
RepositoriesOstreeOstreeSetLabel Set a label

Set a single pulp_label on the object to a specific value or null.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param ostreeOstreeRepositoryHref
 @return RepositoriesOstreeAPIRepositoriesOstreeOstreeSetLabelRequest
*/
func (a *RepositoriesOstreeAPIService) RepositoriesOstreeOstreeSetLabel(ctx context.Context, ostreeOstreeRepositoryHref string) RepositoriesOstreeAPIRepositoriesOstreeOstreeSetLabelRequest {
	return RepositoriesOstreeAPIRepositoriesOstreeOstreeSetLabelRequest{
		ApiService: a,
		ctx: ctx,
		ostreeOstreeRepositoryHref: ostreeOstreeRepositoryHref,
	}
}

// Execute executes the request
//  @return SetLabelResponse
func (a *RepositoriesOstreeAPIService) RepositoriesOstreeOstreeSetLabelExecute(r RepositoriesOstreeAPIRepositoriesOstreeOstreeSetLabelRequest) (*SetLabelResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SetLabelResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RepositoriesOstreeAPIService.RepositoriesOstreeOstreeSetLabel")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{ostree_ostree_repository_href}set_label/"
	localVarPath = strings.Replace(localVarPath, "{"+"ostree_ostree_repository_href"+"}", url.PathEscape(parameterValueToString(r.ostreeOstreeRepositoryHref, "ostreeOstreeRepositoryHref")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.setLabel == nil {
		return localVarReturnValue, nil, reportError("setLabel is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	// body params
	localVarPostBody = r.setLabel
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type RepositoriesOstreeAPIRepositoriesOstreeOstreeSyncRequest struct {
	ctx context.Context
	ApiService *RepositoriesOstreeAPIService
	ostreeOstreeRepositoryHref string
	repositorySyncURL *RepositorySyncURL
	xTaskDiagnostics *[]string
}

func (r RepositoriesOstreeAPIRepositoriesOstreeOstreeSyncRequest) RepositorySyncURL(repositorySyncURL RepositorySyncURL) RepositoriesOstreeAPIRepositoriesOstreeOstreeSyncRequest {
	r.repositorySyncURL = &repositorySyncURL
	return r
}

// List of profilers to use on tasks.
func (r RepositoriesOstreeAPIRepositoriesOstreeOstreeSyncRequest) XTaskDiagnostics(xTaskDiagnostics []string) RepositoriesOstreeAPIRepositoriesOstreeOstreeSyncRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

func (r RepositoriesOstreeAPIRepositoriesOstreeOstreeSyncRequest) Execute() (*AsyncOperationResponse, *http.Response, error) {
	return r.ApiService.RepositoriesOstreeOstreeSyncExecute(r)
}

/*
RepositoriesOstreeOstreeSync Sync from remote

Trigger an asynchronous task to sync content.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param ostreeOstreeRepositoryHref
 @return RepositoriesOstreeAPIRepositoriesOstreeOstreeSyncRequest
*/
func (a *RepositoriesOstreeAPIService) RepositoriesOstreeOstreeSync(ctx context.Context, ostreeOstreeRepositoryHref string) RepositoriesOstreeAPIRepositoriesOstreeOstreeSyncRequest {
	return RepositoriesOstreeAPIRepositoriesOstreeOstreeSyncRequest{
		ApiService: a,
		ctx: ctx,
		ostreeOstreeRepositoryHref: ostreeOstreeRepositoryHref,
	}
}

// Execute executes the request
//  @return AsyncOperationResponse
func (a *RepositoriesOstreeAPIService) RepositoriesOstreeOstreeSyncExecute(r RepositoriesOstreeAPIRepositoriesOstreeOstreeSyncRequest) (*AsyncOperationResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AsyncOperationResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RepositoriesOstreeAPIService.RepositoriesOstreeOstreeSync")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{ostree_ostree_repository_href}sync/"
	localVarPath = strings.Replace(localVarPath, "{"+"ostree_ostree_repository_href"+"}", url.PathEscape(parameterValueToString(r.ostreeOstreeRepositoryHref, "ostreeOstreeRepositoryHref")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.repositorySyncURL == nil {
		return localVarReturnValue, nil, reportError("repositorySyncURL is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	// body params
	localVarPostBody = r.repositorySyncURL
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type RepositoriesOstreeAPIRepositoriesOstreeOstreeUnsetLabelRequest struct {
	ctx context.Context
	ApiService *RepositoriesOstreeAPIService
	ostreeOstreeRepositoryHref string
	unsetLabel *UnsetLabel
	xTaskDiagnostics *[]string
}

func (r RepositoriesOstreeAPIRepositoriesOstreeOstreeUnsetLabelRequest) UnsetLabel(unsetLabel UnsetLabel) RepositoriesOstreeAPIRepositoriesOstreeOstreeUnsetLabelRequest {
	r.unsetLabel = &unsetLabel
	return r
}

// List of profilers to use on tasks.
func (r RepositoriesOstreeAPIRepositoriesOstreeOstreeUnsetLabelRequest) XTaskDiagnostics(xTaskDiagnostics []string) RepositoriesOstreeAPIRepositoriesOstreeOstreeUnsetLabelRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

func (r RepositoriesOstreeAPIRepositoriesOstreeOstreeUnsetLabelRequest) Execute() (*UnsetLabelResponse, *http.Response, error) {
	return r.ApiService.RepositoriesOstreeOstreeUnsetLabelExecute(r)
}

/*
RepositoriesOstreeOstreeUnsetLabel Unset a label

Unset a single pulp_label on the object.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param ostreeOstreeRepositoryHref
 @return RepositoriesOstreeAPIRepositoriesOstreeOstreeUnsetLabelRequest
*/
func (a *RepositoriesOstreeAPIService) RepositoriesOstreeOstreeUnsetLabel(ctx context.Context, ostreeOstreeRepositoryHref string) RepositoriesOstreeAPIRepositoriesOstreeOstreeUnsetLabelRequest {
	return RepositoriesOstreeAPIRepositoriesOstreeOstreeUnsetLabelRequest{
		ApiService: a,
		ctx: ctx,
		ostreeOstreeRepositoryHref: ostreeOstreeRepositoryHref,
	}
}

// Execute executes the request
//  @return UnsetLabelResponse
func (a *RepositoriesOstreeAPIService) RepositoriesOstreeOstreeUnsetLabelExecute(r RepositoriesOstreeAPIRepositoriesOstreeOstreeUnsetLabelRequest) (*UnsetLabelResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *UnsetLabelResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RepositoriesOstreeAPIService.RepositoriesOstreeOstreeUnsetLabel")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{ostree_ostree_repository_href}unset_label/"
	localVarPath = strings.Replace(localVarPath, "{"+"ostree_ostree_repository_href"+"}", url.PathEscape(parameterValueToString(r.ostreeOstreeRepositoryHref, "ostreeOstreeRepositoryHref")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.unsetLabel == nil {
		return localVarReturnValue, nil, reportError("unsetLabel is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	// body params
	localVarPostBody = r.unsetLabel
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type RepositoriesOstreeAPIRepositoriesOstreeOstreeUpdateRequest struct {
	ctx context.Context
	ApiService *RepositoriesOstreeAPIService
	ostreeOstreeRepositoryHref string
	ostreeOstreeRepository *OstreeOstreeRepository
	xTaskDiagnostics *[]string
}

func (r RepositoriesOstreeAPIRepositoriesOstreeOstreeUpdateRequest) OstreeOstreeRepository(ostreeOstreeRepository OstreeOstreeRepository) RepositoriesOstreeAPIRepositoriesOstreeOstreeUpdateRequest {
	r.ostreeOstreeRepository = &ostreeOstreeRepository
	return r
}

// List of profilers to use on tasks.
func (r RepositoriesOstreeAPIRepositoriesOstreeOstreeUpdateRequest) XTaskDiagnostics(xTaskDiagnostics []string) RepositoriesOstreeAPIRepositoriesOstreeOstreeUpdateRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

func (r RepositoriesOstreeAPIRepositoriesOstreeOstreeUpdateRequest) Execute() (*OstreeOstreeRepositoryResponse, *http.Response, error) {
	return r.ApiService.RepositoriesOstreeOstreeUpdateExecute(r)
}

/*
RepositoriesOstreeOstreeUpdate Update an ostree repository

Update the entity and trigger an asynchronous task if necessary

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param ostreeOstreeRepositoryHref
 @return RepositoriesOstreeAPIRepositoriesOstreeOstreeUpdateRequest
*/
func (a *RepositoriesOstreeAPIService) RepositoriesOstreeOstreeUpdate(ctx context.Context, ostreeOstreeRepositoryHref string) RepositoriesOstreeAPIRepositoriesOstreeOstreeUpdateRequest {
	return RepositoriesOstreeAPIRepositoriesOstreeOstreeUpdateRequest{
		ApiService: a,
		ctx: ctx,
		ostreeOstreeRepositoryHref: ostreeOstreeRepositoryHref,
	}
}

// Execute executes the request
//  @return OstreeOstreeRepositoryResponse
func (a *RepositoriesOstreeAPIService) RepositoriesOstreeOstreeUpdateExecute(r RepositoriesOstreeAPIRepositoriesOstreeOstreeUpdateRequest) (*OstreeOstreeRepositoryResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OstreeOstreeRepositoryResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RepositoriesOstreeAPIService.RepositoriesOstreeOstreeUpdate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{ostree_ostree_repository_href}"
	localVarPath = strings.Replace(localVarPath, "{"+"ostree_ostree_repository_href"+"}", url.PathEscape(parameterValueToString(r.ostreeOstreeRepositoryHref, "ostreeOstreeRepositoryHref")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.ostreeOstreeRepository == nil {
		return localVarReturnValue, nil, reportError("ostreeOstreeRepository is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	// body params
	localVarPostBody = r.ostreeOstreeRepository
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
