/*
Pulp 3 API

Fetch, Upload, Organize, and Distribute Software Packages

API version: v3
Contact: pulp-list@redhat.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package pulpbindings

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"reflect"
)


// PulpAnsibleCollectionsVersionsAPIService PulpAnsibleCollectionsVersionsAPI service
type PulpAnsibleCollectionsVersionsAPIService service

type PulpAnsibleCollectionsVersionsAPIPulpAnsibleGalaxyCollectionsVersionsDeleteRequest struct {
	ctx context.Context
	ApiService *PulpAnsibleCollectionsVersionsAPIService
	name string
	namespace string
	path string
	version string
	xTaskDiagnostics *[]string
}

// List of profilers to use on tasks.
func (r PulpAnsibleCollectionsVersionsAPIPulpAnsibleGalaxyCollectionsVersionsDeleteRequest) XTaskDiagnostics(xTaskDiagnostics []string) PulpAnsibleCollectionsVersionsAPIPulpAnsibleGalaxyCollectionsVersionsDeleteRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

func (r PulpAnsibleCollectionsVersionsAPIPulpAnsibleGalaxyCollectionsVersionsDeleteRequest) Execute() (*AsyncOperationResponse, *http.Response, error) {
	return r.ApiService.PulpAnsibleGalaxyCollectionsVersionsDeleteExecute(r)
}

/*
PulpAnsibleGalaxyCollectionsVersionsDelete Method for PulpAnsibleGalaxyCollectionsVersionsDelete

Legacy v3 endpoint.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param name
 @param namespace
 @param path
 @param version
 @return PulpAnsibleCollectionsVersionsAPIPulpAnsibleGalaxyCollectionsVersionsDeleteRequest

Deprecated
*/
func (a *PulpAnsibleCollectionsVersionsAPIService) PulpAnsibleGalaxyCollectionsVersionsDelete(ctx context.Context, name string, namespace string, path string, version string) PulpAnsibleCollectionsVersionsAPIPulpAnsibleGalaxyCollectionsVersionsDeleteRequest {
	return PulpAnsibleCollectionsVersionsAPIPulpAnsibleGalaxyCollectionsVersionsDeleteRequest{
		ApiService: a,
		ctx: ctx,
		name: name,
		namespace: namespace,
		path: path,
		version: version,
	}
}

// Execute executes the request
//  @return AsyncOperationResponse
// Deprecated
func (a *PulpAnsibleCollectionsVersionsAPIService) PulpAnsibleGalaxyCollectionsVersionsDeleteExecute(r PulpAnsibleCollectionsVersionsAPIPulpAnsibleGalaxyCollectionsVersionsDeleteRequest) (*AsyncOperationResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AsyncOperationResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PulpAnsibleCollectionsVersionsAPIService.PulpAnsibleGalaxyCollectionsVersionsDelete")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/pulp_ansible/galaxy/{path}/api/v3/collections/{namespace}/{name}/versions/{version}/"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterValueToString(r.name, "name")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarPath = strings.Replace(localVarPath, "{"+"namespace"+"}", url.PathEscape(parameterValueToString(r.namespace, "namespace")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarPath = strings.Replace(localVarPath, "{"+"path"+"}", url.PathEscape(parameterValueToString(r.path, "path")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarPath = strings.Replace(localVarPath, "{"+"version"+"}", url.PathEscape(parameterValueToString(r.version, "version")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type PulpAnsibleCollectionsVersionsAPIPulpAnsibleGalaxyCollectionsVersionsListRequest struct {
	ctx context.Context
	ApiService *PulpAnsibleCollectionsVersionsAPIService
	name string
	namespace string
	path string
	xTaskDiagnostics *[]string
	limit *int32
	name2 *string
	namespace2 *string
	offset *int32
	ordering *[]string
	orphanedFor *float32
	prnIn *[]string
	pulpHrefIn *[]string
	pulpIdIn *[]string
	pulpLabelSelect *string
	q *string
	repositoryVersion *string
	repositoryVersionAdded *string
	repositoryVersionRemoved *string
	tags *string
	version *string
	fields *[]string
	excludeFields *[]string
}

// List of profilers to use on tasks.
func (r PulpAnsibleCollectionsVersionsAPIPulpAnsibleGalaxyCollectionsVersionsListRequest) XTaskDiagnostics(xTaskDiagnostics []string) PulpAnsibleCollectionsVersionsAPIPulpAnsibleGalaxyCollectionsVersionsListRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

// Number of results to return per page.
func (r PulpAnsibleCollectionsVersionsAPIPulpAnsibleGalaxyCollectionsVersionsListRequest) Limit(limit int32) PulpAnsibleCollectionsVersionsAPIPulpAnsibleGalaxyCollectionsVersionsListRequest {
	r.limit = &limit
	return r
}

func (r PulpAnsibleCollectionsVersionsAPIPulpAnsibleGalaxyCollectionsVersionsListRequest) Name2(name2 string) PulpAnsibleCollectionsVersionsAPIPulpAnsibleGalaxyCollectionsVersionsListRequest {
	r.name2 = &name2
	return r
}

func (r PulpAnsibleCollectionsVersionsAPIPulpAnsibleGalaxyCollectionsVersionsListRequest) Namespace2(namespace2 string) PulpAnsibleCollectionsVersionsAPIPulpAnsibleGalaxyCollectionsVersionsListRequest {
	r.namespace2 = &namespace2
	return r
}

// The initial index from which to return the results.
func (r PulpAnsibleCollectionsVersionsAPIPulpAnsibleGalaxyCollectionsVersionsListRequest) Offset(offset int32) PulpAnsibleCollectionsVersionsAPIPulpAnsibleGalaxyCollectionsVersionsListRequest {
	r.offset = &offset
	return r
}

// Ordering* &#x60;pulp_id&#x60; - Pulp id* &#x60;-pulp_id&#x60; - Pulp id (descending)* &#x60;pulp_created&#x60; - Pulp created* &#x60;-pulp_created&#x60; - Pulp created (descending)* &#x60;pulp_last_updated&#x60; - Pulp last updated* &#x60;-pulp_last_updated&#x60; - Pulp last updated (descending)* &#x60;pulp_type&#x60; - Pulp type* &#x60;-pulp_type&#x60; - Pulp type (descending)* &#x60;upstream_id&#x60; - Upstream id* &#x60;-upstream_id&#x60; - Upstream id (descending)* &#x60;pulp_labels&#x60; - Pulp labels* &#x60;-pulp_labels&#x60; - Pulp labels (descending)* &#x60;timestamp_of_interest&#x60; - Timestamp of interest* &#x60;-timestamp_of_interest&#x60; - Timestamp of interest (descending)* &#x60;authors&#x60; - Authors* &#x60;-authors&#x60; - Authors (descending)* &#x60;contents&#x60; - Contents* &#x60;-contents&#x60; - Contents (descending)* &#x60;dependencies&#x60; - Dependencies* &#x60;-dependencies&#x60; - Dependencies (descending)* &#x60;description&#x60; - Description* &#x60;-description&#x60; - Description (descending)* &#x60;docs_blob&#x60; - Docs blob* &#x60;-docs_blob&#x60; - Docs blob (descending)* &#x60;manifest&#x60; - Manifest* &#x60;-manifest&#x60; - Manifest (descending)* &#x60;files&#x60; - Files* &#x60;-files&#x60; - Files (descending)* &#x60;documentation&#x60; - Documentation* &#x60;-documentation&#x60; - Documentation (descending)* &#x60;homepage&#x60; - Homepage* &#x60;-homepage&#x60; - Homepage (descending)* &#x60;issues&#x60; - Issues* &#x60;-issues&#x60; - Issues (descending)* &#x60;license&#x60; - License* &#x60;-license&#x60; - License (descending)* &#x60;name&#x60; - Name* &#x60;-name&#x60; - Name (descending)* &#x60;namespace&#x60; - Namespace* &#x60;-namespace&#x60; - Namespace (descending)* &#x60;repository&#x60; - Repository* &#x60;-repository&#x60; - Repository (descending)* &#x60;requires_ansible&#x60; - Requires ansible* &#x60;-requires_ansible&#x60; - Requires ansible (descending)* &#x60;sha256&#x60; - Sha256* &#x60;-sha256&#x60; - Sha256 (descending)* &#x60;version&#x60; - Version* &#x60;-version&#x60; - Version (descending)* &#x60;version_major&#x60; - Version major* &#x60;-version_major&#x60; - Version major (descending)* &#x60;version_minor&#x60; - Version minor* &#x60;-version_minor&#x60; - Version minor (descending)* &#x60;version_patch&#x60; - Version patch* &#x60;-version_patch&#x60; - Version patch (descending)* &#x60;version_prerelease&#x60; - Version prerelease* &#x60;-version_prerelease&#x60; - Version prerelease (descending)* &#x60;tags&#x60; - Tags* &#x60;-tags&#x60; - Tags (descending)* &#x60;search_vector&#x60; - Search vector* &#x60;-search_vector&#x60; - Search vector (descending)* &#x60;pk&#x60; - Pk* &#x60;-pk&#x60; - Pk (descending)
func (r PulpAnsibleCollectionsVersionsAPIPulpAnsibleGalaxyCollectionsVersionsListRequest) Ordering(ordering []string) PulpAnsibleCollectionsVersionsAPIPulpAnsibleGalaxyCollectionsVersionsListRequest {
	r.ordering = &ordering
	return r
}

// Minutes Content has been orphaned for. -1 uses ORPHAN_PROTECTION_TIME.
func (r PulpAnsibleCollectionsVersionsAPIPulpAnsibleGalaxyCollectionsVersionsListRequest) OrphanedFor(orphanedFor float32) PulpAnsibleCollectionsVersionsAPIPulpAnsibleGalaxyCollectionsVersionsListRequest {
	r.orphanedFor = &orphanedFor
	return r
}

// Multiple values may be separated by commas.
func (r PulpAnsibleCollectionsVersionsAPIPulpAnsibleGalaxyCollectionsVersionsListRequest) PrnIn(prnIn []string) PulpAnsibleCollectionsVersionsAPIPulpAnsibleGalaxyCollectionsVersionsListRequest {
	r.prnIn = &prnIn
	return r
}

// Multiple values may be separated by commas.
func (r PulpAnsibleCollectionsVersionsAPIPulpAnsibleGalaxyCollectionsVersionsListRequest) PulpHrefIn(pulpHrefIn []string) PulpAnsibleCollectionsVersionsAPIPulpAnsibleGalaxyCollectionsVersionsListRequest {
	r.pulpHrefIn = &pulpHrefIn
	return r
}

// Multiple values may be separated by commas.
func (r PulpAnsibleCollectionsVersionsAPIPulpAnsibleGalaxyCollectionsVersionsListRequest) PulpIdIn(pulpIdIn []string) PulpAnsibleCollectionsVersionsAPIPulpAnsibleGalaxyCollectionsVersionsListRequest {
	r.pulpIdIn = &pulpIdIn
	return r
}

// Filter labels by search string
func (r PulpAnsibleCollectionsVersionsAPIPulpAnsibleGalaxyCollectionsVersionsListRequest) PulpLabelSelect(pulpLabelSelect string) PulpAnsibleCollectionsVersionsAPIPulpAnsibleGalaxyCollectionsVersionsListRequest {
	r.pulpLabelSelect = &pulpLabelSelect
	return r
}

func (r PulpAnsibleCollectionsVersionsAPIPulpAnsibleGalaxyCollectionsVersionsListRequest) Q(q string) PulpAnsibleCollectionsVersionsAPIPulpAnsibleGalaxyCollectionsVersionsListRequest {
	r.q = &q
	return r
}

// Repository Version referenced by HREF/PRN
func (r PulpAnsibleCollectionsVersionsAPIPulpAnsibleGalaxyCollectionsVersionsListRequest) RepositoryVersion(repositoryVersion string) PulpAnsibleCollectionsVersionsAPIPulpAnsibleGalaxyCollectionsVersionsListRequest {
	r.repositoryVersion = &repositoryVersion
	return r
}

// Repository Version referenced by HREF/PRN
func (r PulpAnsibleCollectionsVersionsAPIPulpAnsibleGalaxyCollectionsVersionsListRequest) RepositoryVersionAdded(repositoryVersionAdded string) PulpAnsibleCollectionsVersionsAPIPulpAnsibleGalaxyCollectionsVersionsListRequest {
	r.repositoryVersionAdded = &repositoryVersionAdded
	return r
}

// Repository Version referenced by HREF/PRN
func (r PulpAnsibleCollectionsVersionsAPIPulpAnsibleGalaxyCollectionsVersionsListRequest) RepositoryVersionRemoved(repositoryVersionRemoved string) PulpAnsibleCollectionsVersionsAPIPulpAnsibleGalaxyCollectionsVersionsListRequest {
	r.repositoryVersionRemoved = &repositoryVersionRemoved
	return r
}

// Filter by comma separate list of tags that must all be matched
func (r PulpAnsibleCollectionsVersionsAPIPulpAnsibleGalaxyCollectionsVersionsListRequest) Tags(tags string) PulpAnsibleCollectionsVersionsAPIPulpAnsibleGalaxyCollectionsVersionsListRequest {
	r.tags = &tags
	return r
}

// Filter results where version matches value
func (r PulpAnsibleCollectionsVersionsAPIPulpAnsibleGalaxyCollectionsVersionsListRequest) Version(version string) PulpAnsibleCollectionsVersionsAPIPulpAnsibleGalaxyCollectionsVersionsListRequest {
	r.version = &version
	return r
}

// A list of fields to include in the response.
func (r PulpAnsibleCollectionsVersionsAPIPulpAnsibleGalaxyCollectionsVersionsListRequest) Fields(fields []string) PulpAnsibleCollectionsVersionsAPIPulpAnsibleGalaxyCollectionsVersionsListRequest {
	r.fields = &fields
	return r
}

// A list of fields to exclude from the response.
func (r PulpAnsibleCollectionsVersionsAPIPulpAnsibleGalaxyCollectionsVersionsListRequest) ExcludeFields(excludeFields []string) PulpAnsibleCollectionsVersionsAPIPulpAnsibleGalaxyCollectionsVersionsListRequest {
	r.excludeFields = &excludeFields
	return r
}

func (r PulpAnsibleCollectionsVersionsAPIPulpAnsibleGalaxyCollectionsVersionsListRequest) Execute() (*PaginatedCollectionVersionListResponseList, *http.Response, error) {
	return r.ApiService.PulpAnsibleGalaxyCollectionsVersionsListExecute(r)
}

/*
PulpAnsibleGalaxyCollectionsVersionsList Method for PulpAnsibleGalaxyCollectionsVersionsList

Legacy v3 endpoint.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param name
 @param namespace
 @param path
 @return PulpAnsibleCollectionsVersionsAPIPulpAnsibleGalaxyCollectionsVersionsListRequest

Deprecated
*/
func (a *PulpAnsibleCollectionsVersionsAPIService) PulpAnsibleGalaxyCollectionsVersionsList(ctx context.Context, name string, namespace string, path string) PulpAnsibleCollectionsVersionsAPIPulpAnsibleGalaxyCollectionsVersionsListRequest {
	return PulpAnsibleCollectionsVersionsAPIPulpAnsibleGalaxyCollectionsVersionsListRequest{
		ApiService: a,
		ctx: ctx,
		name: name,
		namespace: namespace,
		path: path,
	}
}

// Execute executes the request
//  @return PaginatedCollectionVersionListResponseList
// Deprecated
func (a *PulpAnsibleCollectionsVersionsAPIService) PulpAnsibleGalaxyCollectionsVersionsListExecute(r PulpAnsibleCollectionsVersionsAPIPulpAnsibleGalaxyCollectionsVersionsListRequest) (*PaginatedCollectionVersionListResponseList, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PaginatedCollectionVersionListResponseList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PulpAnsibleCollectionsVersionsAPIService.PulpAnsibleGalaxyCollectionsVersionsList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/pulp_ansible/galaxy/{path}/api/v3/collections/{namespace}/{name}/versions/"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterValueToString(r.name, "name")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarPath = strings.Replace(localVarPath, "{"+"namespace"+"}", url.PathEscape(parameterValueToString(r.namespace, "namespace")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarPath = strings.Replace(localVarPath, "{"+"path"+"}", url.PathEscape(parameterValueToString(r.path, "path")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.name2 != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name2, "form", "")
	}
	if r.namespace2 != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "namespace", r.namespace2, "form", "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	}
	if r.ordering != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ordering", r.ordering, "form", "csv")
	}
	if r.orphanedFor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "orphaned_for", r.orphanedFor, "form", "")
	}
	if r.prnIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "prn__in", r.prnIn, "form", "csv")
	}
	if r.pulpHrefIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pulp_href__in", r.pulpHrefIn, "form", "csv")
	}
	if r.pulpIdIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pulp_id__in", r.pulpIdIn, "form", "csv")
	}
	if r.pulpLabelSelect != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pulp_label_select", r.pulpLabelSelect, "form", "")
	}
	if r.q != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "q", r.q, "form", "")
	}
	if r.repositoryVersion != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repository_version", r.repositoryVersion, "form", "")
	}
	if r.repositoryVersionAdded != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repository_version_added", r.repositoryVersionAdded, "form", "")
	}
	if r.repositoryVersionRemoved != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repository_version_removed", r.repositoryVersionRemoved, "form", "")
	}
	if r.tags != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "tags", r.tags, "form", "")
	}
	if r.version != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "version", r.version, "form", "")
	}
	if r.fields != nil {
		t := *r.fields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "fields", t, "form", "multi")
		}
	}
	if r.excludeFields != nil {
		t := *r.excludeFields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type PulpAnsibleCollectionsVersionsAPIPulpAnsibleGalaxyCollectionsVersionsReadRequest struct {
	ctx context.Context
	ApiService *PulpAnsibleCollectionsVersionsAPIService
	name string
	namespace string
	path string
	version string
	xTaskDiagnostics *[]string
	fields *[]string
	excludeFields *[]string
}

// List of profilers to use on tasks.
func (r PulpAnsibleCollectionsVersionsAPIPulpAnsibleGalaxyCollectionsVersionsReadRequest) XTaskDiagnostics(xTaskDiagnostics []string) PulpAnsibleCollectionsVersionsAPIPulpAnsibleGalaxyCollectionsVersionsReadRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

// A list of fields to include in the response.
func (r PulpAnsibleCollectionsVersionsAPIPulpAnsibleGalaxyCollectionsVersionsReadRequest) Fields(fields []string) PulpAnsibleCollectionsVersionsAPIPulpAnsibleGalaxyCollectionsVersionsReadRequest {
	r.fields = &fields
	return r
}

// A list of fields to exclude from the response.
func (r PulpAnsibleCollectionsVersionsAPIPulpAnsibleGalaxyCollectionsVersionsReadRequest) ExcludeFields(excludeFields []string) PulpAnsibleCollectionsVersionsAPIPulpAnsibleGalaxyCollectionsVersionsReadRequest {
	r.excludeFields = &excludeFields
	return r
}

func (r PulpAnsibleCollectionsVersionsAPIPulpAnsibleGalaxyCollectionsVersionsReadRequest) Execute() (*CollectionVersionResponse, *http.Response, error) {
	return r.ApiService.PulpAnsibleGalaxyCollectionsVersionsReadExecute(r)
}

/*
PulpAnsibleGalaxyCollectionsVersionsRead Method for PulpAnsibleGalaxyCollectionsVersionsRead

Legacy v3 endpoint.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param name
 @param namespace
 @param path
 @param version
 @return PulpAnsibleCollectionsVersionsAPIPulpAnsibleGalaxyCollectionsVersionsReadRequest

Deprecated
*/
func (a *PulpAnsibleCollectionsVersionsAPIService) PulpAnsibleGalaxyCollectionsVersionsRead(ctx context.Context, name string, namespace string, path string, version string) PulpAnsibleCollectionsVersionsAPIPulpAnsibleGalaxyCollectionsVersionsReadRequest {
	return PulpAnsibleCollectionsVersionsAPIPulpAnsibleGalaxyCollectionsVersionsReadRequest{
		ApiService: a,
		ctx: ctx,
		name: name,
		namespace: namespace,
		path: path,
		version: version,
	}
}

// Execute executes the request
//  @return CollectionVersionResponse
// Deprecated
func (a *PulpAnsibleCollectionsVersionsAPIService) PulpAnsibleGalaxyCollectionsVersionsReadExecute(r PulpAnsibleCollectionsVersionsAPIPulpAnsibleGalaxyCollectionsVersionsReadRequest) (*CollectionVersionResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CollectionVersionResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PulpAnsibleCollectionsVersionsAPIService.PulpAnsibleGalaxyCollectionsVersionsRead")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/pulp_ansible/galaxy/{path}/api/v3/collections/{namespace}/{name}/versions/{version}/"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterValueToString(r.name, "name")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarPath = strings.Replace(localVarPath, "{"+"namespace"+"}", url.PathEscape(parameterValueToString(r.namespace, "namespace")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarPath = strings.Replace(localVarPath, "{"+"path"+"}", url.PathEscape(parameterValueToString(r.path, "path")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarPath = strings.Replace(localVarPath, "{"+"version"+"}", url.PathEscape(parameterValueToString(r.version, "version")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.fields != nil {
		t := *r.fields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "fields", t, "form", "multi")
		}
	}
	if r.excludeFields != nil {
		t := *r.excludeFields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
