/*
Pulp 3 API

Fetch, Upload, Organize, and Distribute Software Packages

API version: v3
Contact: pulp-list@redhat.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package pulpbindings

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"reflect"
)


// ContentInstallerFileIndicesAPIService ContentInstallerFileIndicesAPI service
type ContentInstallerFileIndicesAPIService service

type ContentInstallerFileIndicesAPIContentDebInstallerFileIndicesCreateRequest struct {
	ctx context.Context
	ApiService *ContentInstallerFileIndicesAPIService
	debInstallerFileIndex *DebInstallerFileIndex
	xTaskDiagnostics *[]string
}

func (r ContentInstallerFileIndicesAPIContentDebInstallerFileIndicesCreateRequest) DebInstallerFileIndex(debInstallerFileIndex DebInstallerFileIndex) ContentInstallerFileIndicesAPIContentDebInstallerFileIndicesCreateRequest {
	r.debInstallerFileIndex = &debInstallerFileIndex
	return r
}

// List of profilers to use on tasks.
func (r ContentInstallerFileIndicesAPIContentDebInstallerFileIndicesCreateRequest) XTaskDiagnostics(xTaskDiagnostics []string) ContentInstallerFileIndicesAPIContentDebInstallerFileIndicesCreateRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

func (r ContentInstallerFileIndicesAPIContentDebInstallerFileIndicesCreateRequest) Execute() (*DebInstallerFileIndexResponse, *http.Response, error) {
	return r.ApiService.ContentDebInstallerFileIndicesCreateExecute(r)
}

/*
ContentDebInstallerFileIndicesCreate Create an installer file index

An InstallerFileIndex represents the indices for a set of installer files.Associated artifacts: Exactly one 'SHA256SUMS' and/or 'MD5SUMS' file.Each InstallerFileIndes is associated with a single component-architecture combination withina single Release. Note that installer files are currently used exclusively for verbatimpublications. The APT publisher (both simple and structured mode) does not make use of installercontent.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ContentInstallerFileIndicesAPIContentDebInstallerFileIndicesCreateRequest
*/
func (a *ContentInstallerFileIndicesAPIService) ContentDebInstallerFileIndicesCreate(ctx context.Context) ContentInstallerFileIndicesAPIContentDebInstallerFileIndicesCreateRequest {
	return ContentInstallerFileIndicesAPIContentDebInstallerFileIndicesCreateRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return DebInstallerFileIndexResponse
func (a *ContentInstallerFileIndicesAPIService) ContentDebInstallerFileIndicesCreateExecute(r ContentInstallerFileIndicesAPIContentDebInstallerFileIndicesCreateRequest) (*DebInstallerFileIndexResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *DebInstallerFileIndexResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentInstallerFileIndicesAPIService.ContentDebInstallerFileIndicesCreate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v3/content/deb/installer_file_indices/"
	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.debInstallerFileIndex == nil {
		return localVarReturnValue, nil, reportError("debInstallerFileIndex is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	// body params
	localVarPostBody = r.debInstallerFileIndex
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ContentInstallerFileIndicesAPIContentDebInstallerFileIndicesListRequest struct {
	ctx context.Context
	ApiService *ContentInstallerFileIndicesAPIService
	xTaskDiagnostics *[]string
	architecture *string
	component *string
	limit *int32
	offset *int32
	ordering *[]string
	orphanedFor *float32
	prnIn *[]string
	pulpHrefIn *[]string
	pulpIdIn *[]string
	pulpLabelSelect *string
	q *string
	relativePath *string
	repositoryVersion *string
	repositoryVersionAdded *string
	repositoryVersionRemoved *string
	sha256 *string
	fields *[]string
	excludeFields *[]string
}

// List of profilers to use on tasks.
func (r ContentInstallerFileIndicesAPIContentDebInstallerFileIndicesListRequest) XTaskDiagnostics(xTaskDiagnostics []string) ContentInstallerFileIndicesAPIContentDebInstallerFileIndicesListRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

// Filter results where architecture matches value
func (r ContentInstallerFileIndicesAPIContentDebInstallerFileIndicesListRequest) Architecture(architecture string) ContentInstallerFileIndicesAPIContentDebInstallerFileIndicesListRequest {
	r.architecture = &architecture
	return r
}

// Filter results where component matches value
func (r ContentInstallerFileIndicesAPIContentDebInstallerFileIndicesListRequest) Component(component string) ContentInstallerFileIndicesAPIContentDebInstallerFileIndicesListRequest {
	r.component = &component
	return r
}

// Number of results to return per page.
func (r ContentInstallerFileIndicesAPIContentDebInstallerFileIndicesListRequest) Limit(limit int32) ContentInstallerFileIndicesAPIContentDebInstallerFileIndicesListRequest {
	r.limit = &limit
	return r
}

// The initial index from which to return the results.
func (r ContentInstallerFileIndicesAPIContentDebInstallerFileIndicesListRequest) Offset(offset int32) ContentInstallerFileIndicesAPIContentDebInstallerFileIndicesListRequest {
	r.offset = &offset
	return r
}

// Ordering* &#x60;pulp_id&#x60; - Pulp id* &#x60;-pulp_id&#x60; - Pulp id (descending)* &#x60;pulp_created&#x60; - Pulp created* &#x60;-pulp_created&#x60; - Pulp created (descending)* &#x60;pulp_last_updated&#x60; - Pulp last updated* &#x60;-pulp_last_updated&#x60; - Pulp last updated (descending)* &#x60;pulp_type&#x60; - Pulp type* &#x60;-pulp_type&#x60; - Pulp type (descending)* &#x60;upstream_id&#x60; - Upstream id* &#x60;-upstream_id&#x60; - Upstream id (descending)* &#x60;pulp_labels&#x60; - Pulp labels* &#x60;-pulp_labels&#x60; - Pulp labels (descending)* &#x60;timestamp_of_interest&#x60; - Timestamp of interest* &#x60;-timestamp_of_interest&#x60; - Timestamp of interest (descending)* &#x60;component&#x60; - Component* &#x60;-component&#x60; - Component (descending)* &#x60;architecture&#x60; - Architecture* &#x60;-architecture&#x60; - Architecture (descending)* &#x60;relative_path&#x60; - Relative path* &#x60;-relative_path&#x60; - Relative path (descending)* &#x60;sha256&#x60; - Sha256* &#x60;-sha256&#x60; - Sha256 (descending)* &#x60;pk&#x60; - Pk* &#x60;-pk&#x60; - Pk (descending)
func (r ContentInstallerFileIndicesAPIContentDebInstallerFileIndicesListRequest) Ordering(ordering []string) ContentInstallerFileIndicesAPIContentDebInstallerFileIndicesListRequest {
	r.ordering = &ordering
	return r
}

// Minutes Content has been orphaned for. -1 uses ORPHAN_PROTECTION_TIME.
func (r ContentInstallerFileIndicesAPIContentDebInstallerFileIndicesListRequest) OrphanedFor(orphanedFor float32) ContentInstallerFileIndicesAPIContentDebInstallerFileIndicesListRequest {
	r.orphanedFor = &orphanedFor
	return r
}

// Multiple values may be separated by commas.
func (r ContentInstallerFileIndicesAPIContentDebInstallerFileIndicesListRequest) PrnIn(prnIn []string) ContentInstallerFileIndicesAPIContentDebInstallerFileIndicesListRequest {
	r.prnIn = &prnIn
	return r
}

// Multiple values may be separated by commas.
func (r ContentInstallerFileIndicesAPIContentDebInstallerFileIndicesListRequest) PulpHrefIn(pulpHrefIn []string) ContentInstallerFileIndicesAPIContentDebInstallerFileIndicesListRequest {
	r.pulpHrefIn = &pulpHrefIn
	return r
}

// Multiple values may be separated by commas.
func (r ContentInstallerFileIndicesAPIContentDebInstallerFileIndicesListRequest) PulpIdIn(pulpIdIn []string) ContentInstallerFileIndicesAPIContentDebInstallerFileIndicesListRequest {
	r.pulpIdIn = &pulpIdIn
	return r
}

// Filter labels by search string
func (r ContentInstallerFileIndicesAPIContentDebInstallerFileIndicesListRequest) PulpLabelSelect(pulpLabelSelect string) ContentInstallerFileIndicesAPIContentDebInstallerFileIndicesListRequest {
	r.pulpLabelSelect = &pulpLabelSelect
	return r
}

// Filter results by using NOT, AND and OR operations on other filters
func (r ContentInstallerFileIndicesAPIContentDebInstallerFileIndicesListRequest) Q(q string) ContentInstallerFileIndicesAPIContentDebInstallerFileIndicesListRequest {
	r.q = &q
	return r
}

// Filter results where relative_path matches value
func (r ContentInstallerFileIndicesAPIContentDebInstallerFileIndicesListRequest) RelativePath(relativePath string) ContentInstallerFileIndicesAPIContentDebInstallerFileIndicesListRequest {
	r.relativePath = &relativePath
	return r
}

// Repository Version referenced by HREF/PRN
func (r ContentInstallerFileIndicesAPIContentDebInstallerFileIndicesListRequest) RepositoryVersion(repositoryVersion string) ContentInstallerFileIndicesAPIContentDebInstallerFileIndicesListRequest {
	r.repositoryVersion = &repositoryVersion
	return r
}

// Repository Version referenced by HREF/PRN
func (r ContentInstallerFileIndicesAPIContentDebInstallerFileIndicesListRequest) RepositoryVersionAdded(repositoryVersionAdded string) ContentInstallerFileIndicesAPIContentDebInstallerFileIndicesListRequest {
	r.repositoryVersionAdded = &repositoryVersionAdded
	return r
}

// Repository Version referenced by HREF/PRN
func (r ContentInstallerFileIndicesAPIContentDebInstallerFileIndicesListRequest) RepositoryVersionRemoved(repositoryVersionRemoved string) ContentInstallerFileIndicesAPIContentDebInstallerFileIndicesListRequest {
	r.repositoryVersionRemoved = &repositoryVersionRemoved
	return r
}

// Filter results where sha256 matches value
func (r ContentInstallerFileIndicesAPIContentDebInstallerFileIndicesListRequest) Sha256(sha256 string) ContentInstallerFileIndicesAPIContentDebInstallerFileIndicesListRequest {
	r.sha256 = &sha256
	return r
}

// A list of fields to include in the response.
func (r ContentInstallerFileIndicesAPIContentDebInstallerFileIndicesListRequest) Fields(fields []string) ContentInstallerFileIndicesAPIContentDebInstallerFileIndicesListRequest {
	r.fields = &fields
	return r
}

// A list of fields to exclude from the response.
func (r ContentInstallerFileIndicesAPIContentDebInstallerFileIndicesListRequest) ExcludeFields(excludeFields []string) ContentInstallerFileIndicesAPIContentDebInstallerFileIndicesListRequest {
	r.excludeFields = &excludeFields
	return r
}

func (r ContentInstallerFileIndicesAPIContentDebInstallerFileIndicesListRequest) Execute() (*PaginateddebInstallerFileIndexResponseList, *http.Response, error) {
	return r.ApiService.ContentDebInstallerFileIndicesListExecute(r)
}

/*
ContentDebInstallerFileIndicesList List InstallerFileIndices

An InstallerFileIndex represents the indices for a set of installer files.Associated artifacts: Exactly one 'SHA256SUMS' and/or 'MD5SUMS' file.Each InstallerFileIndes is associated with a single component-architecture combination withina single Release. Note that installer files are currently used exclusively for verbatimpublications. The APT publisher (both simple and structured mode) does not make use of installercontent.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ContentInstallerFileIndicesAPIContentDebInstallerFileIndicesListRequest
*/
func (a *ContentInstallerFileIndicesAPIService) ContentDebInstallerFileIndicesList(ctx context.Context) ContentInstallerFileIndicesAPIContentDebInstallerFileIndicesListRequest {
	return ContentInstallerFileIndicesAPIContentDebInstallerFileIndicesListRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return PaginateddebInstallerFileIndexResponseList
func (a *ContentInstallerFileIndicesAPIService) ContentDebInstallerFileIndicesListExecute(r ContentInstallerFileIndicesAPIContentDebInstallerFileIndicesListRequest) (*PaginateddebInstallerFileIndexResponseList, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PaginateddebInstallerFileIndexResponseList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentInstallerFileIndicesAPIService.ContentDebInstallerFileIndicesList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v3/content/deb/installer_file_indices/"
	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.architecture != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "architecture", r.architecture, "form", "")
	}
	if r.component != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "component", r.component, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	}
	if r.ordering != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ordering", r.ordering, "form", "csv")
	}
	if r.orphanedFor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "orphaned_for", r.orphanedFor, "form", "")
	}
	if r.prnIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "prn__in", r.prnIn, "form", "csv")
	}
	if r.pulpHrefIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pulp_href__in", r.pulpHrefIn, "form", "csv")
	}
	if r.pulpIdIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pulp_id__in", r.pulpIdIn, "form", "csv")
	}
	if r.pulpLabelSelect != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pulp_label_select", r.pulpLabelSelect, "form", "")
	}
	if r.q != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "q", r.q, "form", "")
	}
	if r.relativePath != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "relative_path", r.relativePath, "form", "")
	}
	if r.repositoryVersion != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repository_version", r.repositoryVersion, "form", "")
	}
	if r.repositoryVersionAdded != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repository_version_added", r.repositoryVersionAdded, "form", "")
	}
	if r.repositoryVersionRemoved != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repository_version_removed", r.repositoryVersionRemoved, "form", "")
	}
	if r.sha256 != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sha256", r.sha256, "form", "")
	}
	if r.fields != nil {
		t := *r.fields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "fields", t, "form", "multi")
		}
	}
	if r.excludeFields != nil {
		t := *r.excludeFields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ContentInstallerFileIndicesAPIContentDebInstallerFileIndicesReadRequest struct {
	ctx context.Context
	ApiService *ContentInstallerFileIndicesAPIService
	debInstallerFileIndexHref string
	xTaskDiagnostics *[]string
	fields *[]string
	excludeFields *[]string
}

// List of profilers to use on tasks.
func (r ContentInstallerFileIndicesAPIContentDebInstallerFileIndicesReadRequest) XTaskDiagnostics(xTaskDiagnostics []string) ContentInstallerFileIndicesAPIContentDebInstallerFileIndicesReadRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

// A list of fields to include in the response.
func (r ContentInstallerFileIndicesAPIContentDebInstallerFileIndicesReadRequest) Fields(fields []string) ContentInstallerFileIndicesAPIContentDebInstallerFileIndicesReadRequest {
	r.fields = &fields
	return r
}

// A list of fields to exclude from the response.
func (r ContentInstallerFileIndicesAPIContentDebInstallerFileIndicesReadRequest) ExcludeFields(excludeFields []string) ContentInstallerFileIndicesAPIContentDebInstallerFileIndicesReadRequest {
	r.excludeFields = &excludeFields
	return r
}

func (r ContentInstallerFileIndicesAPIContentDebInstallerFileIndicesReadRequest) Execute() (*DebInstallerFileIndexResponse, *http.Response, error) {
	return r.ApiService.ContentDebInstallerFileIndicesReadExecute(r)
}

/*
ContentDebInstallerFileIndicesRead Inspect an installer file index

An InstallerFileIndex represents the indices for a set of installer files.Associated artifacts: Exactly one 'SHA256SUMS' and/or 'MD5SUMS' file.Each InstallerFileIndes is associated with a single component-architecture combination withina single Release. Note that installer files are currently used exclusively for verbatimpublications. The APT publisher (both simple and structured mode) does not make use of installercontent.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param debInstallerFileIndexHref
 @return ContentInstallerFileIndicesAPIContentDebInstallerFileIndicesReadRequest
*/
func (a *ContentInstallerFileIndicesAPIService) ContentDebInstallerFileIndicesRead(ctx context.Context, debInstallerFileIndexHref string) ContentInstallerFileIndicesAPIContentDebInstallerFileIndicesReadRequest {
	return ContentInstallerFileIndicesAPIContentDebInstallerFileIndicesReadRequest{
		ApiService: a,
		ctx: ctx,
		debInstallerFileIndexHref: debInstallerFileIndexHref,
	}
}

// Execute executes the request
//  @return DebInstallerFileIndexResponse
func (a *ContentInstallerFileIndicesAPIService) ContentDebInstallerFileIndicesReadExecute(r ContentInstallerFileIndicesAPIContentDebInstallerFileIndicesReadRequest) (*DebInstallerFileIndexResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *DebInstallerFileIndexResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentInstallerFileIndicesAPIService.ContentDebInstallerFileIndicesRead")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{deb_installer_file_index_href}"
	localVarPath = strings.Replace(localVarPath, "{"+"deb_installer_file_index_href"+"}", url.PathEscape(parameterValueToString(r.debInstallerFileIndexHref, "debInstallerFileIndexHref")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.fields != nil {
		t := *r.fields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "fields", t, "form", "multi")
		}
	}
	if r.excludeFields != nil {
		t := *r.excludeFields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ContentInstallerFileIndicesAPIContentDebInstallerFileIndicesSetLabelRequest struct {
	ctx context.Context
	ApiService *ContentInstallerFileIndicesAPIService
	debInstallerFileIndexHref string
	setLabel *SetLabel
	xTaskDiagnostics *[]string
}

func (r ContentInstallerFileIndicesAPIContentDebInstallerFileIndicesSetLabelRequest) SetLabel(setLabel SetLabel) ContentInstallerFileIndicesAPIContentDebInstallerFileIndicesSetLabelRequest {
	r.setLabel = &setLabel
	return r
}

// List of profilers to use on tasks.
func (r ContentInstallerFileIndicesAPIContentDebInstallerFileIndicesSetLabelRequest) XTaskDiagnostics(xTaskDiagnostics []string) ContentInstallerFileIndicesAPIContentDebInstallerFileIndicesSetLabelRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

func (r ContentInstallerFileIndicesAPIContentDebInstallerFileIndicesSetLabelRequest) Execute() (*SetLabelResponse, *http.Response, error) {
	return r.ApiService.ContentDebInstallerFileIndicesSetLabelExecute(r)
}

/*
ContentDebInstallerFileIndicesSetLabel Set a label

Set a single pulp_label on the object to a specific value or null.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param debInstallerFileIndexHref
 @return ContentInstallerFileIndicesAPIContentDebInstallerFileIndicesSetLabelRequest
*/
func (a *ContentInstallerFileIndicesAPIService) ContentDebInstallerFileIndicesSetLabel(ctx context.Context, debInstallerFileIndexHref string) ContentInstallerFileIndicesAPIContentDebInstallerFileIndicesSetLabelRequest {
	return ContentInstallerFileIndicesAPIContentDebInstallerFileIndicesSetLabelRequest{
		ApiService: a,
		ctx: ctx,
		debInstallerFileIndexHref: debInstallerFileIndexHref,
	}
}

// Execute executes the request
//  @return SetLabelResponse
func (a *ContentInstallerFileIndicesAPIService) ContentDebInstallerFileIndicesSetLabelExecute(r ContentInstallerFileIndicesAPIContentDebInstallerFileIndicesSetLabelRequest) (*SetLabelResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SetLabelResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentInstallerFileIndicesAPIService.ContentDebInstallerFileIndicesSetLabel")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{deb_installer_file_index_href}set_label/"
	localVarPath = strings.Replace(localVarPath, "{"+"deb_installer_file_index_href"+"}", url.PathEscape(parameterValueToString(r.debInstallerFileIndexHref, "debInstallerFileIndexHref")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.setLabel == nil {
		return localVarReturnValue, nil, reportError("setLabel is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	// body params
	localVarPostBody = r.setLabel
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ContentInstallerFileIndicesAPIContentDebInstallerFileIndicesUnsetLabelRequest struct {
	ctx context.Context
	ApiService *ContentInstallerFileIndicesAPIService
	debInstallerFileIndexHref string
	unsetLabel *UnsetLabel
	xTaskDiagnostics *[]string
}

func (r ContentInstallerFileIndicesAPIContentDebInstallerFileIndicesUnsetLabelRequest) UnsetLabel(unsetLabel UnsetLabel) ContentInstallerFileIndicesAPIContentDebInstallerFileIndicesUnsetLabelRequest {
	r.unsetLabel = &unsetLabel
	return r
}

// List of profilers to use on tasks.
func (r ContentInstallerFileIndicesAPIContentDebInstallerFileIndicesUnsetLabelRequest) XTaskDiagnostics(xTaskDiagnostics []string) ContentInstallerFileIndicesAPIContentDebInstallerFileIndicesUnsetLabelRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

func (r ContentInstallerFileIndicesAPIContentDebInstallerFileIndicesUnsetLabelRequest) Execute() (*UnsetLabelResponse, *http.Response, error) {
	return r.ApiService.ContentDebInstallerFileIndicesUnsetLabelExecute(r)
}

/*
ContentDebInstallerFileIndicesUnsetLabel Unset a label

Unset a single pulp_label on the object.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param debInstallerFileIndexHref
 @return ContentInstallerFileIndicesAPIContentDebInstallerFileIndicesUnsetLabelRequest
*/
func (a *ContentInstallerFileIndicesAPIService) ContentDebInstallerFileIndicesUnsetLabel(ctx context.Context, debInstallerFileIndexHref string) ContentInstallerFileIndicesAPIContentDebInstallerFileIndicesUnsetLabelRequest {
	return ContentInstallerFileIndicesAPIContentDebInstallerFileIndicesUnsetLabelRequest{
		ApiService: a,
		ctx: ctx,
		debInstallerFileIndexHref: debInstallerFileIndexHref,
	}
}

// Execute executes the request
//  @return UnsetLabelResponse
func (a *ContentInstallerFileIndicesAPIService) ContentDebInstallerFileIndicesUnsetLabelExecute(r ContentInstallerFileIndicesAPIContentDebInstallerFileIndicesUnsetLabelRequest) (*UnsetLabelResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *UnsetLabelResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentInstallerFileIndicesAPIService.ContentDebInstallerFileIndicesUnsetLabel")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{deb_installer_file_index_href}unset_label/"
	localVarPath = strings.Replace(localVarPath, "{"+"deb_installer_file_index_href"+"}", url.PathEscape(parameterValueToString(r.debInstallerFileIndexHref, "debInstallerFileIndexHref")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.unsetLabel == nil {
		return localVarReturnValue, nil, reportError("unsetLabel is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	// body params
	localVarPostBody = r.unsetLabel
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
