/*
Pulp 3 API

Fetch, Upload, Organize, and Distribute Software Packages

API version: v3
Contact: pulp-list@redhat.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package pulpbindings

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"reflect"
)


// ContentSourcePackagesAPIService ContentSourcePackagesAPI service
type ContentSourcePackagesAPIService service

type ContentSourcePackagesAPIContentDebSourcePackagesCreateRequest struct {
	ctx context.Context
	ApiService *ContentSourcePackagesAPIService
	debSourcePackage *DebSourcePackage
	xTaskDiagnostics *[]string
}

func (r ContentSourcePackagesAPIContentDebSourcePackagesCreateRequest) DebSourcePackage(debSourcePackage DebSourcePackage) ContentSourcePackagesAPIContentDebSourcePackagesCreateRequest {
	r.debSourcePackage = &debSourcePackage
	return r
}

// List of profilers to use on tasks.
func (r ContentSourcePackagesAPIContentDebSourcePackagesCreateRequest) XTaskDiagnostics(xTaskDiagnostics []string) ContentSourcePackagesAPIContentDebSourcePackagesCreateRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

func (r ContentSourcePackagesAPIContentDebSourcePackagesCreateRequest) Execute() (*AsyncOperationResponse, *http.Response, error) {
	return r.ApiService.ContentDebSourcePackagesCreateExecute(r)
}

/*
ContentDebSourcePackagesCreate Create a source package

Trigger an asynchronous task to create content,optionally create new repository version.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ContentSourcePackagesAPIContentDebSourcePackagesCreateRequest
*/
func (a *ContentSourcePackagesAPIService) ContentDebSourcePackagesCreate(ctx context.Context) ContentSourcePackagesAPIContentDebSourcePackagesCreateRequest {
	return ContentSourcePackagesAPIContentDebSourcePackagesCreateRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return AsyncOperationResponse
func (a *ContentSourcePackagesAPIService) ContentDebSourcePackagesCreateExecute(r ContentSourcePackagesAPIContentDebSourcePackagesCreateRequest) (*AsyncOperationResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AsyncOperationResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentSourcePackagesAPIService.ContentDebSourcePackagesCreate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v3/content/deb/source_packages/"
	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.debSourcePackage == nil {
		return localVarReturnValue, nil, reportError("debSourcePackage is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	// body params
	localVarPostBody = r.debSourcePackage
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ContentSourcePackagesAPIContentDebSourcePackagesListRequest struct {
	ctx context.Context
	ApiService *ContentSourcePackagesAPIService
	xTaskDiagnostics *[]string
	architecture *string
	binary *string
	buildConflicts *string
	buildConflictsArch *string
	buildConflictsIndep *string
	buildDepends *string
	buildDependsArch *string
	buildDependsIndep *string
	dgit *string
	format *string
	homepage *string
	limit *int32
	maintainer *string
	offset *int32
	ordering *[]string
	orphanedFor *float32
	packageList *string
	prnIn *[]string
	pulpHrefIn *[]string
	pulpIdIn *[]string
	pulpLabelSelect *string
	q *string
	relativePath *string
	release *string
	releaseComponent *string
	repositoryVersion *string
	repositoryVersionAdded *string
	repositoryVersionRemoved *string
	source *string
	standardsVersion *string
	testsuite *string
	uploaders *string
	vcsArch *string
	vcsBrowser *string
	vcsBzr *string
	vcsCvs *string
	vcsDarcs *string
	vcsGit *string
	vcsHg *string
	vcsMtn *string
	vcsSnv *string
	version *string
	fields *[]string
	excludeFields *[]string
}

// List of profilers to use on tasks.
func (r ContentSourcePackagesAPIContentDebSourcePackagesListRequest) XTaskDiagnostics(xTaskDiagnostics []string) ContentSourcePackagesAPIContentDebSourcePackagesListRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

// Filter results where architecture matches value
func (r ContentSourcePackagesAPIContentDebSourcePackagesListRequest) Architecture(architecture string) ContentSourcePackagesAPIContentDebSourcePackagesListRequest {
	r.architecture = &architecture
	return r
}

// Filter results where binary matches value
func (r ContentSourcePackagesAPIContentDebSourcePackagesListRequest) Binary(binary string) ContentSourcePackagesAPIContentDebSourcePackagesListRequest {
	r.binary = &binary
	return r
}

// Filter results where build_conflicts matches value
func (r ContentSourcePackagesAPIContentDebSourcePackagesListRequest) BuildConflicts(buildConflicts string) ContentSourcePackagesAPIContentDebSourcePackagesListRequest {
	r.buildConflicts = &buildConflicts
	return r
}

// Filter results where build_conflicts_arch matches value
func (r ContentSourcePackagesAPIContentDebSourcePackagesListRequest) BuildConflictsArch(buildConflictsArch string) ContentSourcePackagesAPIContentDebSourcePackagesListRequest {
	r.buildConflictsArch = &buildConflictsArch
	return r
}

// Filter results where build_conflicts_indep matches value
func (r ContentSourcePackagesAPIContentDebSourcePackagesListRequest) BuildConflictsIndep(buildConflictsIndep string) ContentSourcePackagesAPIContentDebSourcePackagesListRequest {
	r.buildConflictsIndep = &buildConflictsIndep
	return r
}

// Filter results where build_depends matches value
func (r ContentSourcePackagesAPIContentDebSourcePackagesListRequest) BuildDepends(buildDepends string) ContentSourcePackagesAPIContentDebSourcePackagesListRequest {
	r.buildDepends = &buildDepends
	return r
}

// Filter results where build_depends_arch matches value
func (r ContentSourcePackagesAPIContentDebSourcePackagesListRequest) BuildDependsArch(buildDependsArch string) ContentSourcePackagesAPIContentDebSourcePackagesListRequest {
	r.buildDependsArch = &buildDependsArch
	return r
}

// Filter results where build_depends_indep matches value
func (r ContentSourcePackagesAPIContentDebSourcePackagesListRequest) BuildDependsIndep(buildDependsIndep string) ContentSourcePackagesAPIContentDebSourcePackagesListRequest {
	r.buildDependsIndep = &buildDependsIndep
	return r
}

// Filter results where dgit matches value
func (r ContentSourcePackagesAPIContentDebSourcePackagesListRequest) Dgit(dgit string) ContentSourcePackagesAPIContentDebSourcePackagesListRequest {
	r.dgit = &dgit
	return r
}

// Filter results where format matches value
func (r ContentSourcePackagesAPIContentDebSourcePackagesListRequest) Format(format string) ContentSourcePackagesAPIContentDebSourcePackagesListRequest {
	r.format = &format
	return r
}

// Filter results where homepage matches value
func (r ContentSourcePackagesAPIContentDebSourcePackagesListRequest) Homepage(homepage string) ContentSourcePackagesAPIContentDebSourcePackagesListRequest {
	r.homepage = &homepage
	return r
}

// Number of results to return per page.
func (r ContentSourcePackagesAPIContentDebSourcePackagesListRequest) Limit(limit int32) ContentSourcePackagesAPIContentDebSourcePackagesListRequest {
	r.limit = &limit
	return r
}

// Filter results where maintainer matches value
func (r ContentSourcePackagesAPIContentDebSourcePackagesListRequest) Maintainer(maintainer string) ContentSourcePackagesAPIContentDebSourcePackagesListRequest {
	r.maintainer = &maintainer
	return r
}

// The initial index from which to return the results.
func (r ContentSourcePackagesAPIContentDebSourcePackagesListRequest) Offset(offset int32) ContentSourcePackagesAPIContentDebSourcePackagesListRequest {
	r.offset = &offset
	return r
}

// Ordering* &#x60;pulp_id&#x60; - Pulp id* &#x60;-pulp_id&#x60; - Pulp id (descending)* &#x60;pulp_created&#x60; - Pulp created* &#x60;-pulp_created&#x60; - Pulp created (descending)* &#x60;pulp_last_updated&#x60; - Pulp last updated* &#x60;-pulp_last_updated&#x60; - Pulp last updated (descending)* &#x60;pulp_type&#x60; - Pulp type* &#x60;-pulp_type&#x60; - Pulp type (descending)* &#x60;upstream_id&#x60; - Upstream id* &#x60;-upstream_id&#x60; - Upstream id (descending)* &#x60;pulp_labels&#x60; - Pulp labels* &#x60;-pulp_labels&#x60; - Pulp labels (descending)* &#x60;timestamp_of_interest&#x60; - Timestamp of interest* &#x60;-timestamp_of_interest&#x60; - Timestamp of interest (descending)* &#x60;relative_path&#x60; - Relative path* &#x60;-relative_path&#x60; - Relative path (descending)* &#x60;format&#x60; - Format* &#x60;-format&#x60; - Format (descending)* &#x60;source&#x60; - Source* &#x60;-source&#x60; - Source (descending)* &#x60;binary&#x60; - Binary* &#x60;-binary&#x60; - Binary (descending)* &#x60;architecture&#x60; - Architecture* &#x60;-architecture&#x60; - Architecture (descending)* &#x60;version&#x60; - Version* &#x60;-version&#x60; - Version (descending)* &#x60;maintainer&#x60; - Maintainer* &#x60;-maintainer&#x60; - Maintainer (descending)* &#x60;uploaders&#x60; - Uploaders* &#x60;-uploaders&#x60; - Uploaders (descending)* &#x60;homepage&#x60; - Homepage* &#x60;-homepage&#x60; - Homepage (descending)* &#x60;vcs_browser&#x60; - Vcs browser* &#x60;-vcs_browser&#x60; - Vcs browser (descending)* &#x60;vcs_arch&#x60; - Vcs arch* &#x60;-vcs_arch&#x60; - Vcs arch (descending)* &#x60;vcs_bzr&#x60; - Vcs bzr* &#x60;-vcs_bzr&#x60; - Vcs bzr (descending)* &#x60;vcs_cvs&#x60; - Vcs cvs* &#x60;-vcs_cvs&#x60; - Vcs cvs (descending)* &#x60;vcs_darcs&#x60; - Vcs darcs* &#x60;-vcs_darcs&#x60; - Vcs darcs (descending)* &#x60;vcs_git&#x60; - Vcs git* &#x60;-vcs_git&#x60; - Vcs git (descending)* &#x60;vcs_hg&#x60; - Vcs hg* &#x60;-vcs_hg&#x60; - Vcs hg (descending)* &#x60;vcs_mtn&#x60; - Vcs mtn* &#x60;-vcs_mtn&#x60; - Vcs mtn (descending)* &#x60;vcs_snv&#x60; - Vcs snv* &#x60;-vcs_snv&#x60; - Vcs snv (descending)* &#x60;testsuite&#x60; - Testsuite* &#x60;-testsuite&#x60; - Testsuite (descending)* &#x60;dgit&#x60; - Dgit* &#x60;-dgit&#x60; - Dgit (descending)* &#x60;standards_version&#x60; - Standards version* &#x60;-standards_version&#x60; - Standards version (descending)* &#x60;build_depends&#x60; - Build depends* &#x60;-build_depends&#x60; - Build depends (descending)* &#x60;build_depends_indep&#x60; - Build depends indep* &#x60;-build_depends_indep&#x60; - Build depends indep (descending)* &#x60;build_depends_arch&#x60; - Build depends arch* &#x60;-build_depends_arch&#x60; - Build depends arch (descending)* &#x60;build_conflicts&#x60; - Build conflicts* &#x60;-build_conflicts&#x60; - Build conflicts (descending)* &#x60;build_conflicts_indep&#x60; - Build conflicts indep* &#x60;-build_conflicts_indep&#x60; - Build conflicts indep (descending)* &#x60;build_conflicts_arch&#x60; - Build conflicts arch* &#x60;-build_conflicts_arch&#x60; - Build conflicts arch (descending)* &#x60;package_list&#x60; - Package list* &#x60;-package_list&#x60; - Package list (descending)* &#x60;pk&#x60; - Pk* &#x60;-pk&#x60; - Pk (descending)
func (r ContentSourcePackagesAPIContentDebSourcePackagesListRequest) Ordering(ordering []string) ContentSourcePackagesAPIContentDebSourcePackagesListRequest {
	r.ordering = &ordering
	return r
}

// Minutes Content has been orphaned for. -1 uses ORPHAN_PROTECTION_TIME.
func (r ContentSourcePackagesAPIContentDebSourcePackagesListRequest) OrphanedFor(orphanedFor float32) ContentSourcePackagesAPIContentDebSourcePackagesListRequest {
	r.orphanedFor = &orphanedFor
	return r
}

// Filter results where package_list matches value
func (r ContentSourcePackagesAPIContentDebSourcePackagesListRequest) PackageList(packageList string) ContentSourcePackagesAPIContentDebSourcePackagesListRequest {
	r.packageList = &packageList
	return r
}

// Multiple values may be separated by commas.
func (r ContentSourcePackagesAPIContentDebSourcePackagesListRequest) PrnIn(prnIn []string) ContentSourcePackagesAPIContentDebSourcePackagesListRequest {
	r.prnIn = &prnIn
	return r
}

// Multiple values may be separated by commas.
func (r ContentSourcePackagesAPIContentDebSourcePackagesListRequest) PulpHrefIn(pulpHrefIn []string) ContentSourcePackagesAPIContentDebSourcePackagesListRequest {
	r.pulpHrefIn = &pulpHrefIn
	return r
}

// Multiple values may be separated by commas.
func (r ContentSourcePackagesAPIContentDebSourcePackagesListRequest) PulpIdIn(pulpIdIn []string) ContentSourcePackagesAPIContentDebSourcePackagesListRequest {
	r.pulpIdIn = &pulpIdIn
	return r
}

// Filter labels by search string
func (r ContentSourcePackagesAPIContentDebSourcePackagesListRequest) PulpLabelSelect(pulpLabelSelect string) ContentSourcePackagesAPIContentDebSourcePackagesListRequest {
	r.pulpLabelSelect = &pulpLabelSelect
	return r
}

// Filter results by using NOT, AND and OR operations on other filters
func (r ContentSourcePackagesAPIContentDebSourcePackagesListRequest) Q(q string) ContentSourcePackagesAPIContentDebSourcePackagesListRequest {
	r.q = &q
	return r
}

// Filter results where relative_path matches value
func (r ContentSourcePackagesAPIContentDebSourcePackagesListRequest) RelativePath(relativePath string) ContentSourcePackagesAPIContentDebSourcePackagesListRequest {
	r.relativePath = &relativePath
	return r
}

//     Must be a comma-separated string: \&quot;release_href,repository_or_repository_version_href\&quot;    release_href: Filter results where SourcePackage in Release    repository_or_repository_version_href: The RepositoryVersion href to filter by, or Repository        href (assume latest version)    
func (r ContentSourcePackagesAPIContentDebSourcePackagesListRequest) Release(release string) ContentSourcePackagesAPIContentDebSourcePackagesListRequest {
	r.release = &release
	return r
}

//     Must be a comma-separated string: \&quot;release_component_href,repository_or_repository_version_href\&quot;    release_component_href: Filter results where SourcePackage in ReleaseComponent    repository_or_repository_version_href: The RepositoryVersion href to filter by, or Repository        href (assume latest version)    
func (r ContentSourcePackagesAPIContentDebSourcePackagesListRequest) ReleaseComponent(releaseComponent string) ContentSourcePackagesAPIContentDebSourcePackagesListRequest {
	r.releaseComponent = &releaseComponent
	return r
}

// Repository Version referenced by HREF/PRN
func (r ContentSourcePackagesAPIContentDebSourcePackagesListRequest) RepositoryVersion(repositoryVersion string) ContentSourcePackagesAPIContentDebSourcePackagesListRequest {
	r.repositoryVersion = &repositoryVersion
	return r
}

// Repository Version referenced by HREF/PRN
func (r ContentSourcePackagesAPIContentDebSourcePackagesListRequest) RepositoryVersionAdded(repositoryVersionAdded string) ContentSourcePackagesAPIContentDebSourcePackagesListRequest {
	r.repositoryVersionAdded = &repositoryVersionAdded
	return r
}

// Repository Version referenced by HREF/PRN
func (r ContentSourcePackagesAPIContentDebSourcePackagesListRequest) RepositoryVersionRemoved(repositoryVersionRemoved string) ContentSourcePackagesAPIContentDebSourcePackagesListRequest {
	r.repositoryVersionRemoved = &repositoryVersionRemoved
	return r
}

// Filter results where source matches value
func (r ContentSourcePackagesAPIContentDebSourcePackagesListRequest) Source(source string) ContentSourcePackagesAPIContentDebSourcePackagesListRequest {
	r.source = &source
	return r
}

// Filter results where standards_version matches value
func (r ContentSourcePackagesAPIContentDebSourcePackagesListRequest) StandardsVersion(standardsVersion string) ContentSourcePackagesAPIContentDebSourcePackagesListRequest {
	r.standardsVersion = &standardsVersion
	return r
}

// Filter results where testsuite matches value
func (r ContentSourcePackagesAPIContentDebSourcePackagesListRequest) Testsuite(testsuite string) ContentSourcePackagesAPIContentDebSourcePackagesListRequest {
	r.testsuite = &testsuite
	return r
}

// Filter results where uploaders matches value
func (r ContentSourcePackagesAPIContentDebSourcePackagesListRequest) Uploaders(uploaders string) ContentSourcePackagesAPIContentDebSourcePackagesListRequest {
	r.uploaders = &uploaders
	return r
}

// Filter results where vcs_arch matches value
func (r ContentSourcePackagesAPIContentDebSourcePackagesListRequest) VcsArch(vcsArch string) ContentSourcePackagesAPIContentDebSourcePackagesListRequest {
	r.vcsArch = &vcsArch
	return r
}

// Filter results where vcs_browser matches value
func (r ContentSourcePackagesAPIContentDebSourcePackagesListRequest) VcsBrowser(vcsBrowser string) ContentSourcePackagesAPIContentDebSourcePackagesListRequest {
	r.vcsBrowser = &vcsBrowser
	return r
}

// Filter results where vcs_bzr matches value
func (r ContentSourcePackagesAPIContentDebSourcePackagesListRequest) VcsBzr(vcsBzr string) ContentSourcePackagesAPIContentDebSourcePackagesListRequest {
	r.vcsBzr = &vcsBzr
	return r
}

// Filter results where vcs_cvs matches value
func (r ContentSourcePackagesAPIContentDebSourcePackagesListRequest) VcsCvs(vcsCvs string) ContentSourcePackagesAPIContentDebSourcePackagesListRequest {
	r.vcsCvs = &vcsCvs
	return r
}

// Filter results where vcs_darcs matches value
func (r ContentSourcePackagesAPIContentDebSourcePackagesListRequest) VcsDarcs(vcsDarcs string) ContentSourcePackagesAPIContentDebSourcePackagesListRequest {
	r.vcsDarcs = &vcsDarcs
	return r
}

// Filter results where vcs_git matches value
func (r ContentSourcePackagesAPIContentDebSourcePackagesListRequest) VcsGit(vcsGit string) ContentSourcePackagesAPIContentDebSourcePackagesListRequest {
	r.vcsGit = &vcsGit
	return r
}

// Filter results where vcs_hg matches value
func (r ContentSourcePackagesAPIContentDebSourcePackagesListRequest) VcsHg(vcsHg string) ContentSourcePackagesAPIContentDebSourcePackagesListRequest {
	r.vcsHg = &vcsHg
	return r
}

// Filter results where vcs_mtn matches value
func (r ContentSourcePackagesAPIContentDebSourcePackagesListRequest) VcsMtn(vcsMtn string) ContentSourcePackagesAPIContentDebSourcePackagesListRequest {
	r.vcsMtn = &vcsMtn
	return r
}

// Filter results where vcs_snv matches value
func (r ContentSourcePackagesAPIContentDebSourcePackagesListRequest) VcsSnv(vcsSnv string) ContentSourcePackagesAPIContentDebSourcePackagesListRequest {
	r.vcsSnv = &vcsSnv
	return r
}

// Filter results where version matches value
func (r ContentSourcePackagesAPIContentDebSourcePackagesListRequest) Version(version string) ContentSourcePackagesAPIContentDebSourcePackagesListRequest {
	r.version = &version
	return r
}

// A list of fields to include in the response.
func (r ContentSourcePackagesAPIContentDebSourcePackagesListRequest) Fields(fields []string) ContentSourcePackagesAPIContentDebSourcePackagesListRequest {
	r.fields = &fields
	return r
}

// A list of fields to exclude from the response.
func (r ContentSourcePackagesAPIContentDebSourcePackagesListRequest) ExcludeFields(excludeFields []string) ContentSourcePackagesAPIContentDebSourcePackagesListRequest {
	r.excludeFields = &excludeFields
	return r
}

func (r ContentSourcePackagesAPIContentDebSourcePackagesListRequest) Execute() (*PaginateddebSourcePackageResponseList, *http.Response, error) {
	return r.ApiService.ContentDebSourcePackagesListExecute(r)
}

/*
ContentDebSourcePackagesList List source packages

A Debian Source Package file represents a '.dsc' file along with its associatedartifacts such as orig.tar.gz, debian.tar.gz...Associated artifacts: Exactly one '.dsc' file.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ContentSourcePackagesAPIContentDebSourcePackagesListRequest
*/
func (a *ContentSourcePackagesAPIService) ContentDebSourcePackagesList(ctx context.Context) ContentSourcePackagesAPIContentDebSourcePackagesListRequest {
	return ContentSourcePackagesAPIContentDebSourcePackagesListRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return PaginateddebSourcePackageResponseList
func (a *ContentSourcePackagesAPIService) ContentDebSourcePackagesListExecute(r ContentSourcePackagesAPIContentDebSourcePackagesListRequest) (*PaginateddebSourcePackageResponseList, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PaginateddebSourcePackageResponseList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentSourcePackagesAPIService.ContentDebSourcePackagesList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v3/content/deb/source_packages/"
	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.architecture != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "architecture", r.architecture, "form", "")
	}
	if r.binary != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "binary", r.binary, "form", "")
	}
	if r.buildConflicts != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "build_conflicts", r.buildConflicts, "form", "")
	}
	if r.buildConflictsArch != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "build_conflicts_arch", r.buildConflictsArch, "form", "")
	}
	if r.buildConflictsIndep != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "build_conflicts_indep", r.buildConflictsIndep, "form", "")
	}
	if r.buildDepends != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "build_depends", r.buildDepends, "form", "")
	}
	if r.buildDependsArch != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "build_depends_arch", r.buildDependsArch, "form", "")
	}
	if r.buildDependsIndep != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "build_depends_indep", r.buildDependsIndep, "form", "")
	}
	if r.dgit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "dgit", r.dgit, "form", "")
	}
	if r.format != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "format", r.format, "form", "")
	}
	if r.homepage != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "homepage", r.homepage, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.maintainer != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "maintainer", r.maintainer, "form", "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	}
	if r.ordering != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ordering", r.ordering, "form", "csv")
	}
	if r.orphanedFor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "orphaned_for", r.orphanedFor, "form", "")
	}
	if r.packageList != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "package_list", r.packageList, "form", "")
	}
	if r.prnIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "prn__in", r.prnIn, "form", "csv")
	}
	if r.pulpHrefIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pulp_href__in", r.pulpHrefIn, "form", "csv")
	}
	if r.pulpIdIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pulp_id__in", r.pulpIdIn, "form", "csv")
	}
	if r.pulpLabelSelect != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pulp_label_select", r.pulpLabelSelect, "form", "")
	}
	if r.q != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "q", r.q, "form", "")
	}
	if r.relativePath != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "relative_path", r.relativePath, "form", "")
	}
	if r.release != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "release", r.release, "form", "")
	}
	if r.releaseComponent != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "release_component", r.releaseComponent, "form", "")
	}
	if r.repositoryVersion != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repository_version", r.repositoryVersion, "form", "")
	}
	if r.repositoryVersionAdded != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repository_version_added", r.repositoryVersionAdded, "form", "")
	}
	if r.repositoryVersionRemoved != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repository_version_removed", r.repositoryVersionRemoved, "form", "")
	}
	if r.source != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "source", r.source, "form", "")
	}
	if r.standardsVersion != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "standards_version", r.standardsVersion, "form", "")
	}
	if r.testsuite != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "testsuite", r.testsuite, "form", "")
	}
	if r.uploaders != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "uploaders", r.uploaders, "form", "")
	}
	if r.vcsArch != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "vcs_arch", r.vcsArch, "form", "")
	}
	if r.vcsBrowser != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "vcs_browser", r.vcsBrowser, "form", "")
	}
	if r.vcsBzr != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "vcs_bzr", r.vcsBzr, "form", "")
	}
	if r.vcsCvs != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "vcs_cvs", r.vcsCvs, "form", "")
	}
	if r.vcsDarcs != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "vcs_darcs", r.vcsDarcs, "form", "")
	}
	if r.vcsGit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "vcs_git", r.vcsGit, "form", "")
	}
	if r.vcsHg != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "vcs_hg", r.vcsHg, "form", "")
	}
	if r.vcsMtn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "vcs_mtn", r.vcsMtn, "form", "")
	}
	if r.vcsSnv != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "vcs_snv", r.vcsSnv, "form", "")
	}
	if r.version != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "version", r.version, "form", "")
	}
	if r.fields != nil {
		t := *r.fields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "fields", t, "form", "multi")
		}
	}
	if r.excludeFields != nil {
		t := *r.excludeFields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ContentSourcePackagesAPIContentDebSourcePackagesReadRequest struct {
	ctx context.Context
	ApiService *ContentSourcePackagesAPIService
	debSourcePackageHref string
	xTaskDiagnostics *[]string
	fields *[]string
	excludeFields *[]string
}

// List of profilers to use on tasks.
func (r ContentSourcePackagesAPIContentDebSourcePackagesReadRequest) XTaskDiagnostics(xTaskDiagnostics []string) ContentSourcePackagesAPIContentDebSourcePackagesReadRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

// A list of fields to include in the response.
func (r ContentSourcePackagesAPIContentDebSourcePackagesReadRequest) Fields(fields []string) ContentSourcePackagesAPIContentDebSourcePackagesReadRequest {
	r.fields = &fields
	return r
}

// A list of fields to exclude from the response.
func (r ContentSourcePackagesAPIContentDebSourcePackagesReadRequest) ExcludeFields(excludeFields []string) ContentSourcePackagesAPIContentDebSourcePackagesReadRequest {
	r.excludeFields = &excludeFields
	return r
}

func (r ContentSourcePackagesAPIContentDebSourcePackagesReadRequest) Execute() (*DebSourcePackageResponse, *http.Response, error) {
	return r.ApiService.ContentDebSourcePackagesReadExecute(r)
}

/*
ContentDebSourcePackagesRead Inspect a source package

A Debian Source Package file represents a '.dsc' file along with its associatedartifacts such as orig.tar.gz, debian.tar.gz...Associated artifacts: Exactly one '.dsc' file.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param debSourcePackageHref
 @return ContentSourcePackagesAPIContentDebSourcePackagesReadRequest
*/
func (a *ContentSourcePackagesAPIService) ContentDebSourcePackagesRead(ctx context.Context, debSourcePackageHref string) ContentSourcePackagesAPIContentDebSourcePackagesReadRequest {
	return ContentSourcePackagesAPIContentDebSourcePackagesReadRequest{
		ApiService: a,
		ctx: ctx,
		debSourcePackageHref: debSourcePackageHref,
	}
}

// Execute executes the request
//  @return DebSourcePackageResponse
func (a *ContentSourcePackagesAPIService) ContentDebSourcePackagesReadExecute(r ContentSourcePackagesAPIContentDebSourcePackagesReadRequest) (*DebSourcePackageResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *DebSourcePackageResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentSourcePackagesAPIService.ContentDebSourcePackagesRead")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{deb_source_package_href}"
	localVarPath = strings.Replace(localVarPath, "{"+"deb_source_package_href"+"}", url.PathEscape(parameterValueToString(r.debSourcePackageHref, "debSourcePackageHref")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.fields != nil {
		t := *r.fields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "fields", t, "form", "multi")
		}
	}
	if r.excludeFields != nil {
		t := *r.excludeFields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ContentSourcePackagesAPIContentDebSourcePackagesSetLabelRequest struct {
	ctx context.Context
	ApiService *ContentSourcePackagesAPIService
	debSourcePackageHref string
	setLabel *SetLabel
	xTaskDiagnostics *[]string
}

func (r ContentSourcePackagesAPIContentDebSourcePackagesSetLabelRequest) SetLabel(setLabel SetLabel) ContentSourcePackagesAPIContentDebSourcePackagesSetLabelRequest {
	r.setLabel = &setLabel
	return r
}

// List of profilers to use on tasks.
func (r ContentSourcePackagesAPIContentDebSourcePackagesSetLabelRequest) XTaskDiagnostics(xTaskDiagnostics []string) ContentSourcePackagesAPIContentDebSourcePackagesSetLabelRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

func (r ContentSourcePackagesAPIContentDebSourcePackagesSetLabelRequest) Execute() (*SetLabelResponse, *http.Response, error) {
	return r.ApiService.ContentDebSourcePackagesSetLabelExecute(r)
}

/*
ContentDebSourcePackagesSetLabel Set a label

Set a single pulp_label on the object to a specific value or null.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param debSourcePackageHref
 @return ContentSourcePackagesAPIContentDebSourcePackagesSetLabelRequest
*/
func (a *ContentSourcePackagesAPIService) ContentDebSourcePackagesSetLabel(ctx context.Context, debSourcePackageHref string) ContentSourcePackagesAPIContentDebSourcePackagesSetLabelRequest {
	return ContentSourcePackagesAPIContentDebSourcePackagesSetLabelRequest{
		ApiService: a,
		ctx: ctx,
		debSourcePackageHref: debSourcePackageHref,
	}
}

// Execute executes the request
//  @return SetLabelResponse
func (a *ContentSourcePackagesAPIService) ContentDebSourcePackagesSetLabelExecute(r ContentSourcePackagesAPIContentDebSourcePackagesSetLabelRequest) (*SetLabelResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SetLabelResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentSourcePackagesAPIService.ContentDebSourcePackagesSetLabel")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{deb_source_package_href}set_label/"
	localVarPath = strings.Replace(localVarPath, "{"+"deb_source_package_href"+"}", url.PathEscape(parameterValueToString(r.debSourcePackageHref, "debSourcePackageHref")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.setLabel == nil {
		return localVarReturnValue, nil, reportError("setLabel is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	// body params
	localVarPostBody = r.setLabel
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ContentSourcePackagesAPIContentDebSourcePackagesUnsetLabelRequest struct {
	ctx context.Context
	ApiService *ContentSourcePackagesAPIService
	debSourcePackageHref string
	unsetLabel *UnsetLabel
	xTaskDiagnostics *[]string
}

func (r ContentSourcePackagesAPIContentDebSourcePackagesUnsetLabelRequest) UnsetLabel(unsetLabel UnsetLabel) ContentSourcePackagesAPIContentDebSourcePackagesUnsetLabelRequest {
	r.unsetLabel = &unsetLabel
	return r
}

// List of profilers to use on tasks.
func (r ContentSourcePackagesAPIContentDebSourcePackagesUnsetLabelRequest) XTaskDiagnostics(xTaskDiagnostics []string) ContentSourcePackagesAPIContentDebSourcePackagesUnsetLabelRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

func (r ContentSourcePackagesAPIContentDebSourcePackagesUnsetLabelRequest) Execute() (*UnsetLabelResponse, *http.Response, error) {
	return r.ApiService.ContentDebSourcePackagesUnsetLabelExecute(r)
}

/*
ContentDebSourcePackagesUnsetLabel Unset a label

Unset a single pulp_label on the object.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param debSourcePackageHref
 @return ContentSourcePackagesAPIContentDebSourcePackagesUnsetLabelRequest
*/
func (a *ContentSourcePackagesAPIService) ContentDebSourcePackagesUnsetLabel(ctx context.Context, debSourcePackageHref string) ContentSourcePackagesAPIContentDebSourcePackagesUnsetLabelRequest {
	return ContentSourcePackagesAPIContentDebSourcePackagesUnsetLabelRequest{
		ApiService: a,
		ctx: ctx,
		debSourcePackageHref: debSourcePackageHref,
	}
}

// Execute executes the request
//  @return UnsetLabelResponse
func (a *ContentSourcePackagesAPIService) ContentDebSourcePackagesUnsetLabelExecute(r ContentSourcePackagesAPIContentDebSourcePackagesUnsetLabelRequest) (*UnsetLabelResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *UnsetLabelResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentSourcePackagesAPIService.ContentDebSourcePackagesUnsetLabel")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{deb_source_package_href}unset_label/"
	localVarPath = strings.Replace(localVarPath, "{"+"deb_source_package_href"+"}", url.PathEscape(parameterValueToString(r.debSourcePackageHref, "debSourcePackageHref")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.unsetLabel == nil {
		return localVarReturnValue, nil, reportError("unsetLabel is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	// body params
	localVarPostBody = r.unsetLabel
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
