/*
Pulp 3 API

Fetch, Upload, Organize, and Distribute Software Packages

API version: v3
Contact: pulp-list@redhat.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package pulpbindings

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"reflect"
)


// ContentCollectionDeprecationsAPIService ContentCollectionDeprecationsAPI service
type ContentCollectionDeprecationsAPIService service

type ContentCollectionDeprecationsAPIContentAnsibleCollectionDeprecationsCreateRequest struct {
	ctx context.Context
	ApiService *ContentCollectionDeprecationsAPIService
	ansibleAnsibleCollectionDeprecated *AnsibleAnsibleCollectionDeprecated
	xTaskDiagnostics *[]string
}

func (r ContentCollectionDeprecationsAPIContentAnsibleCollectionDeprecationsCreateRequest) AnsibleAnsibleCollectionDeprecated(ansibleAnsibleCollectionDeprecated AnsibleAnsibleCollectionDeprecated) ContentCollectionDeprecationsAPIContentAnsibleCollectionDeprecationsCreateRequest {
	r.ansibleAnsibleCollectionDeprecated = &ansibleAnsibleCollectionDeprecated
	return r
}

// List of profilers to use on tasks.
func (r ContentCollectionDeprecationsAPIContentAnsibleCollectionDeprecationsCreateRequest) XTaskDiagnostics(xTaskDiagnostics []string) ContentCollectionDeprecationsAPIContentAnsibleCollectionDeprecationsCreateRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

func (r ContentCollectionDeprecationsAPIContentAnsibleCollectionDeprecationsCreateRequest) Execute() (*AsyncOperationResponse, *http.Response, error) {
	return r.ApiService.ContentAnsibleCollectionDeprecationsCreateExecute(r)
}

/*
ContentAnsibleCollectionDeprecationsCreate Create an ansible collection deprecated

Trigger an asynchronous task to create content,optionally create new repository version.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ContentCollectionDeprecationsAPIContentAnsibleCollectionDeprecationsCreateRequest
*/
func (a *ContentCollectionDeprecationsAPIService) ContentAnsibleCollectionDeprecationsCreate(ctx context.Context) ContentCollectionDeprecationsAPIContentAnsibleCollectionDeprecationsCreateRequest {
	return ContentCollectionDeprecationsAPIContentAnsibleCollectionDeprecationsCreateRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return AsyncOperationResponse
func (a *ContentCollectionDeprecationsAPIService) ContentAnsibleCollectionDeprecationsCreateExecute(r ContentCollectionDeprecationsAPIContentAnsibleCollectionDeprecationsCreateRequest) (*AsyncOperationResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AsyncOperationResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentCollectionDeprecationsAPIService.ContentAnsibleCollectionDeprecationsCreate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v3/content/ansible/collection_deprecations/"
	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.ansibleAnsibleCollectionDeprecated == nil {
		return localVarReturnValue, nil, reportError("ansibleAnsibleCollectionDeprecated is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	// body params
	localVarPostBody = r.ansibleAnsibleCollectionDeprecated
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ContentCollectionDeprecationsAPIContentAnsibleCollectionDeprecationsListRequest struct {
	ctx context.Context
	ApiService *ContentCollectionDeprecationsAPIService
	xTaskDiagnostics *[]string
	limit *int32
	offset *int32
	ordering *[]string
	orphanedFor *float32
	prnIn *[]string
	pulpHrefIn *[]string
	pulpIdIn *[]string
	pulpLabelSelect *string
	q *string
	repositoryVersion *string
	repositoryVersionAdded *string
	repositoryVersionRemoved *string
	fields *[]string
	excludeFields *[]string
}

// List of profilers to use on tasks.
func (r ContentCollectionDeprecationsAPIContentAnsibleCollectionDeprecationsListRequest) XTaskDiagnostics(xTaskDiagnostics []string) ContentCollectionDeprecationsAPIContentAnsibleCollectionDeprecationsListRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

// Number of results to return per page.
func (r ContentCollectionDeprecationsAPIContentAnsibleCollectionDeprecationsListRequest) Limit(limit int32) ContentCollectionDeprecationsAPIContentAnsibleCollectionDeprecationsListRequest {
	r.limit = &limit
	return r
}

// The initial index from which to return the results.
func (r ContentCollectionDeprecationsAPIContentAnsibleCollectionDeprecationsListRequest) Offset(offset int32) ContentCollectionDeprecationsAPIContentAnsibleCollectionDeprecationsListRequest {
	r.offset = &offset
	return r
}

// Ordering* &#x60;pk&#x60; - Pk* &#x60;-pk&#x60; - Pk (descending)
func (r ContentCollectionDeprecationsAPIContentAnsibleCollectionDeprecationsListRequest) Ordering(ordering []string) ContentCollectionDeprecationsAPIContentAnsibleCollectionDeprecationsListRequest {
	r.ordering = &ordering
	return r
}

// Minutes Content has been orphaned for. -1 uses ORPHAN_PROTECTION_TIME.
func (r ContentCollectionDeprecationsAPIContentAnsibleCollectionDeprecationsListRequest) OrphanedFor(orphanedFor float32) ContentCollectionDeprecationsAPIContentAnsibleCollectionDeprecationsListRequest {
	r.orphanedFor = &orphanedFor
	return r
}

// Multiple values may be separated by commas.
func (r ContentCollectionDeprecationsAPIContentAnsibleCollectionDeprecationsListRequest) PrnIn(prnIn []string) ContentCollectionDeprecationsAPIContentAnsibleCollectionDeprecationsListRequest {
	r.prnIn = &prnIn
	return r
}

// Multiple values may be separated by commas.
func (r ContentCollectionDeprecationsAPIContentAnsibleCollectionDeprecationsListRequest) PulpHrefIn(pulpHrefIn []string) ContentCollectionDeprecationsAPIContentAnsibleCollectionDeprecationsListRequest {
	r.pulpHrefIn = &pulpHrefIn
	return r
}

// Multiple values may be separated by commas.
func (r ContentCollectionDeprecationsAPIContentAnsibleCollectionDeprecationsListRequest) PulpIdIn(pulpIdIn []string) ContentCollectionDeprecationsAPIContentAnsibleCollectionDeprecationsListRequest {
	r.pulpIdIn = &pulpIdIn
	return r
}

// Filter labels by search string
func (r ContentCollectionDeprecationsAPIContentAnsibleCollectionDeprecationsListRequest) PulpLabelSelect(pulpLabelSelect string) ContentCollectionDeprecationsAPIContentAnsibleCollectionDeprecationsListRequest {
	r.pulpLabelSelect = &pulpLabelSelect
	return r
}

// Filter results by using NOT, AND and OR operations on other filters
func (r ContentCollectionDeprecationsAPIContentAnsibleCollectionDeprecationsListRequest) Q(q string) ContentCollectionDeprecationsAPIContentAnsibleCollectionDeprecationsListRequest {
	r.q = &q
	return r
}

// Repository Version referenced by HREF/PRN
func (r ContentCollectionDeprecationsAPIContentAnsibleCollectionDeprecationsListRequest) RepositoryVersion(repositoryVersion string) ContentCollectionDeprecationsAPIContentAnsibleCollectionDeprecationsListRequest {
	r.repositoryVersion = &repositoryVersion
	return r
}

// Repository Version referenced by HREF/PRN
func (r ContentCollectionDeprecationsAPIContentAnsibleCollectionDeprecationsListRequest) RepositoryVersionAdded(repositoryVersionAdded string) ContentCollectionDeprecationsAPIContentAnsibleCollectionDeprecationsListRequest {
	r.repositoryVersionAdded = &repositoryVersionAdded
	return r
}

// Repository Version referenced by HREF/PRN
func (r ContentCollectionDeprecationsAPIContentAnsibleCollectionDeprecationsListRequest) RepositoryVersionRemoved(repositoryVersionRemoved string) ContentCollectionDeprecationsAPIContentAnsibleCollectionDeprecationsListRequest {
	r.repositoryVersionRemoved = &repositoryVersionRemoved
	return r
}

// A list of fields to include in the response.
func (r ContentCollectionDeprecationsAPIContentAnsibleCollectionDeprecationsListRequest) Fields(fields []string) ContentCollectionDeprecationsAPIContentAnsibleCollectionDeprecationsListRequest {
	r.fields = &fields
	return r
}

// A list of fields to exclude from the response.
func (r ContentCollectionDeprecationsAPIContentAnsibleCollectionDeprecationsListRequest) ExcludeFields(excludeFields []string) ContentCollectionDeprecationsAPIContentAnsibleCollectionDeprecationsListRequest {
	r.excludeFields = &excludeFields
	return r
}

func (r ContentCollectionDeprecationsAPIContentAnsibleCollectionDeprecationsListRequest) Execute() (*PaginatedansibleAnsibleCollectionDeprecatedResponseList, *http.Response, error) {
	return r.ApiService.ContentAnsibleCollectionDeprecationsListExecute(r)
}

/*
ContentAnsibleCollectionDeprecationsList List ansible collection deprecateds

ViewSet for AnsibleCollectionDeprecated.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ContentCollectionDeprecationsAPIContentAnsibleCollectionDeprecationsListRequest
*/
func (a *ContentCollectionDeprecationsAPIService) ContentAnsibleCollectionDeprecationsList(ctx context.Context) ContentCollectionDeprecationsAPIContentAnsibleCollectionDeprecationsListRequest {
	return ContentCollectionDeprecationsAPIContentAnsibleCollectionDeprecationsListRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return PaginatedansibleAnsibleCollectionDeprecatedResponseList
func (a *ContentCollectionDeprecationsAPIService) ContentAnsibleCollectionDeprecationsListExecute(r ContentCollectionDeprecationsAPIContentAnsibleCollectionDeprecationsListRequest) (*PaginatedansibleAnsibleCollectionDeprecatedResponseList, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PaginatedansibleAnsibleCollectionDeprecatedResponseList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentCollectionDeprecationsAPIService.ContentAnsibleCollectionDeprecationsList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v3/content/ansible/collection_deprecations/"
	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	}
	if r.ordering != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ordering", r.ordering, "form", "csv")
	}
	if r.orphanedFor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "orphaned_for", r.orphanedFor, "form", "")
	}
	if r.prnIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "prn__in", r.prnIn, "form", "csv")
	}
	if r.pulpHrefIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pulp_href__in", r.pulpHrefIn, "form", "csv")
	}
	if r.pulpIdIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pulp_id__in", r.pulpIdIn, "form", "csv")
	}
	if r.pulpLabelSelect != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pulp_label_select", r.pulpLabelSelect, "form", "")
	}
	if r.q != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "q", r.q, "form", "")
	}
	if r.repositoryVersion != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repository_version", r.repositoryVersion, "form", "")
	}
	if r.repositoryVersionAdded != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repository_version_added", r.repositoryVersionAdded, "form", "")
	}
	if r.repositoryVersionRemoved != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repository_version_removed", r.repositoryVersionRemoved, "form", "")
	}
	if r.fields != nil {
		t := *r.fields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "fields", t, "form", "multi")
		}
	}
	if r.excludeFields != nil {
		t := *r.excludeFields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ContentCollectionDeprecationsAPIContentAnsibleCollectionDeprecationsReadRequest struct {
	ctx context.Context
	ApiService *ContentCollectionDeprecationsAPIService
	ansibleAnsibleCollectionDeprecatedHref string
	xTaskDiagnostics *[]string
	fields *[]string
	excludeFields *[]string
}

// List of profilers to use on tasks.
func (r ContentCollectionDeprecationsAPIContentAnsibleCollectionDeprecationsReadRequest) XTaskDiagnostics(xTaskDiagnostics []string) ContentCollectionDeprecationsAPIContentAnsibleCollectionDeprecationsReadRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

// A list of fields to include in the response.
func (r ContentCollectionDeprecationsAPIContentAnsibleCollectionDeprecationsReadRequest) Fields(fields []string) ContentCollectionDeprecationsAPIContentAnsibleCollectionDeprecationsReadRequest {
	r.fields = &fields
	return r
}

// A list of fields to exclude from the response.
func (r ContentCollectionDeprecationsAPIContentAnsibleCollectionDeprecationsReadRequest) ExcludeFields(excludeFields []string) ContentCollectionDeprecationsAPIContentAnsibleCollectionDeprecationsReadRequest {
	r.excludeFields = &excludeFields
	return r
}

func (r ContentCollectionDeprecationsAPIContentAnsibleCollectionDeprecationsReadRequest) Execute() (*AnsibleAnsibleCollectionDeprecatedResponse, *http.Response, error) {
	return r.ApiService.ContentAnsibleCollectionDeprecationsReadExecute(r)
}

/*
ContentAnsibleCollectionDeprecationsRead Inspect an ansible collection deprecated

ViewSet for AnsibleCollectionDeprecated.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param ansibleAnsibleCollectionDeprecatedHref
 @return ContentCollectionDeprecationsAPIContentAnsibleCollectionDeprecationsReadRequest
*/
func (a *ContentCollectionDeprecationsAPIService) ContentAnsibleCollectionDeprecationsRead(ctx context.Context, ansibleAnsibleCollectionDeprecatedHref string) ContentCollectionDeprecationsAPIContentAnsibleCollectionDeprecationsReadRequest {
	return ContentCollectionDeprecationsAPIContentAnsibleCollectionDeprecationsReadRequest{
		ApiService: a,
		ctx: ctx,
		ansibleAnsibleCollectionDeprecatedHref: ansibleAnsibleCollectionDeprecatedHref,
	}
}

// Execute executes the request
//  @return AnsibleAnsibleCollectionDeprecatedResponse
func (a *ContentCollectionDeprecationsAPIService) ContentAnsibleCollectionDeprecationsReadExecute(r ContentCollectionDeprecationsAPIContentAnsibleCollectionDeprecationsReadRequest) (*AnsibleAnsibleCollectionDeprecatedResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AnsibleAnsibleCollectionDeprecatedResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentCollectionDeprecationsAPIService.ContentAnsibleCollectionDeprecationsRead")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{ansible_ansible_collection_deprecated_href}"
	localVarPath = strings.Replace(localVarPath, "{"+"ansible_ansible_collection_deprecated_href"+"}", url.PathEscape(parameterValueToString(r.ansibleAnsibleCollectionDeprecatedHref, "ansibleAnsibleCollectionDeprecatedHref")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.fields != nil {
		t := *r.fields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "fields", t, "form", "multi")
		}
	}
	if r.excludeFields != nil {
		t := *r.excludeFields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ContentCollectionDeprecationsAPIContentAnsibleCollectionDeprecationsSetLabelRequest struct {
	ctx context.Context
	ApiService *ContentCollectionDeprecationsAPIService
	ansibleAnsibleCollectionDeprecatedHref string
	setLabel *SetLabel
	xTaskDiagnostics *[]string
}

func (r ContentCollectionDeprecationsAPIContentAnsibleCollectionDeprecationsSetLabelRequest) SetLabel(setLabel SetLabel) ContentCollectionDeprecationsAPIContentAnsibleCollectionDeprecationsSetLabelRequest {
	r.setLabel = &setLabel
	return r
}

// List of profilers to use on tasks.
func (r ContentCollectionDeprecationsAPIContentAnsibleCollectionDeprecationsSetLabelRequest) XTaskDiagnostics(xTaskDiagnostics []string) ContentCollectionDeprecationsAPIContentAnsibleCollectionDeprecationsSetLabelRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

func (r ContentCollectionDeprecationsAPIContentAnsibleCollectionDeprecationsSetLabelRequest) Execute() (*SetLabelResponse, *http.Response, error) {
	return r.ApiService.ContentAnsibleCollectionDeprecationsSetLabelExecute(r)
}

/*
ContentAnsibleCollectionDeprecationsSetLabel Set a label

Set a single pulp_label on the object to a specific value or null.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param ansibleAnsibleCollectionDeprecatedHref
 @return ContentCollectionDeprecationsAPIContentAnsibleCollectionDeprecationsSetLabelRequest
*/
func (a *ContentCollectionDeprecationsAPIService) ContentAnsibleCollectionDeprecationsSetLabel(ctx context.Context, ansibleAnsibleCollectionDeprecatedHref string) ContentCollectionDeprecationsAPIContentAnsibleCollectionDeprecationsSetLabelRequest {
	return ContentCollectionDeprecationsAPIContentAnsibleCollectionDeprecationsSetLabelRequest{
		ApiService: a,
		ctx: ctx,
		ansibleAnsibleCollectionDeprecatedHref: ansibleAnsibleCollectionDeprecatedHref,
	}
}

// Execute executes the request
//  @return SetLabelResponse
func (a *ContentCollectionDeprecationsAPIService) ContentAnsibleCollectionDeprecationsSetLabelExecute(r ContentCollectionDeprecationsAPIContentAnsibleCollectionDeprecationsSetLabelRequest) (*SetLabelResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SetLabelResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentCollectionDeprecationsAPIService.ContentAnsibleCollectionDeprecationsSetLabel")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{ansible_ansible_collection_deprecated_href}set_label/"
	localVarPath = strings.Replace(localVarPath, "{"+"ansible_ansible_collection_deprecated_href"+"}", url.PathEscape(parameterValueToString(r.ansibleAnsibleCollectionDeprecatedHref, "ansibleAnsibleCollectionDeprecatedHref")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.setLabel == nil {
		return localVarReturnValue, nil, reportError("setLabel is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	// body params
	localVarPostBody = r.setLabel
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ContentCollectionDeprecationsAPIContentAnsibleCollectionDeprecationsUnsetLabelRequest struct {
	ctx context.Context
	ApiService *ContentCollectionDeprecationsAPIService
	ansibleAnsibleCollectionDeprecatedHref string
	unsetLabel *UnsetLabel
	xTaskDiagnostics *[]string
}

func (r ContentCollectionDeprecationsAPIContentAnsibleCollectionDeprecationsUnsetLabelRequest) UnsetLabel(unsetLabel UnsetLabel) ContentCollectionDeprecationsAPIContentAnsibleCollectionDeprecationsUnsetLabelRequest {
	r.unsetLabel = &unsetLabel
	return r
}

// List of profilers to use on tasks.
func (r ContentCollectionDeprecationsAPIContentAnsibleCollectionDeprecationsUnsetLabelRequest) XTaskDiagnostics(xTaskDiagnostics []string) ContentCollectionDeprecationsAPIContentAnsibleCollectionDeprecationsUnsetLabelRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

func (r ContentCollectionDeprecationsAPIContentAnsibleCollectionDeprecationsUnsetLabelRequest) Execute() (*UnsetLabelResponse, *http.Response, error) {
	return r.ApiService.ContentAnsibleCollectionDeprecationsUnsetLabelExecute(r)
}

/*
ContentAnsibleCollectionDeprecationsUnsetLabel Unset a label

Unset a single pulp_label on the object.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param ansibleAnsibleCollectionDeprecatedHref
 @return ContentCollectionDeprecationsAPIContentAnsibleCollectionDeprecationsUnsetLabelRequest
*/
func (a *ContentCollectionDeprecationsAPIService) ContentAnsibleCollectionDeprecationsUnsetLabel(ctx context.Context, ansibleAnsibleCollectionDeprecatedHref string) ContentCollectionDeprecationsAPIContentAnsibleCollectionDeprecationsUnsetLabelRequest {
	return ContentCollectionDeprecationsAPIContentAnsibleCollectionDeprecationsUnsetLabelRequest{
		ApiService: a,
		ctx: ctx,
		ansibleAnsibleCollectionDeprecatedHref: ansibleAnsibleCollectionDeprecatedHref,
	}
}

// Execute executes the request
//  @return UnsetLabelResponse
func (a *ContentCollectionDeprecationsAPIService) ContentAnsibleCollectionDeprecationsUnsetLabelExecute(r ContentCollectionDeprecationsAPIContentAnsibleCollectionDeprecationsUnsetLabelRequest) (*UnsetLabelResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *UnsetLabelResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentCollectionDeprecationsAPIService.ContentAnsibleCollectionDeprecationsUnsetLabel")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{ansible_ansible_collection_deprecated_href}unset_label/"
	localVarPath = strings.Replace(localVarPath, "{"+"ansible_ansible_collection_deprecated_href"+"}", url.PathEscape(parameterValueToString(r.ansibleAnsibleCollectionDeprecatedHref, "ansibleAnsibleCollectionDeprecatedHref")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.unsetLabel == nil {
		return localVarReturnValue, nil, reportError("unsetLabel is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	// body params
	localVarPostBody = r.unsetLabel
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
